In [2]:
## Scraping census code from american census' api in two lots (limit on how many fields can be extraced in a single api call) 
## In addition, this code is scraping crime data from city's opendata and joining it to the census data.
## US Census source: Community 5 year Survey: ACS/ACS5/Profile.html 
## https://api.census.gov/data/2018/acs/acs5/profile/groups.html


import requests
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)



HOST = "https://api.census.gov/data"
year = "2018"
dataset = "acs/acs5/profile.html" ## has census tract groups only; not census block groups 
key = "27d6154de64a12d9b06727be7177fe46e7c4eee1"
base_url = "/".join([HOST, year, dataset])

## ACS Detailed table request
get_vars = ["DP05_0001E","DP02_0001E", "DP02_0002E","DP02_0008PE", "DP02_0010PE", 
            "DP02_0015E", "DP02_0016E", "DP02_0022PE", "DP02_0038E", "DP02_0046PE",
            "DP02_0048PE","DP02_0060PE","DP02_0063PE","DP02_0079PE","DP02_0085PE",
            "DP02_0088PE","DP02_0112PE","DP02_0134PE",
            "DP03_0009PE","DP03_0027PE","DP03_0028PE","DP03_0037PE","DP03_0040PE",
            "DP03_0041PE","DP03_0050PE","DP03_0052PE", "DP03_0054PE","DP03_0058PE",
            "DP03_0061PE","DP03_0065E","DP03_0066PE","DP03_0072PE","DP03_0074PE",
            "DP03_0085PE","DP03_0092E","DP03_0093E","DP03_0094E",
            "DP03_0097PE","DP03_0097PE",
            "DP03_0099PE","DP03_0119PE","DP03_0121PE","DP03_0126PE","DP04_0001PE",
            "DP04_0002PE","DP04_0004E","DP04_0005E","DP04_0006E"] # total housing units  

get_vars = ["NAME"] + get_vars


dfs = []
items = ["031", "043"] 

for item in items:
    predicates = {}
    predicates["get"] = ",".join(get_vars)
    predicates["for"] = "tract:*"
    predicates["in"] = "state:17;county:"+item  ## Chicago in Illinois State (17) 
    predicates["key"]="27d6154de64a12d9b06727be7177fe46e7c4eee1"
    r8 = requests.get(base_url, params=predicates)
    col_names = ["NAME", "DP05_0001E-T Popo","DP02_0001E-T HHs","DP02_0002E-T Fam HHs",
                 "DP02_0008PE-%F-led HHs No H","DP02_0010PE-% Non-Fam HHs", "DP02_0015E-Avg HH Size",
                 "DP02_0016E-Avg Fam Size", "DP02_0022PE-%Non Rel in Hs","DP02_0038E-per1000-F-U-RecentPreg", 
                 "DP02_0046PE-%GPwParent&Gc1-2yrs", "DP02_0048PE--%GPwParent&Gc>5yrs", "DP02_0060PE-%NoSchDiploma",
                 "DP02_0063PE-%AssDeg","DP02_0079PE-% SameHouse_1YrAgo","DP02_0085PE-%LivAbroad1YrAgo",
                 "DP02_0088PE-%BornUS", "DP02_0112PE-HomeLangNotEng", "DP02_0134PE-%IrishAnc", 
                 "DP03_0009PE-%Unemploy",
                 "DP03_0027PE-%WorkingMgt,Bus,Sc,Arts","DP03_0028PE%WorkingService","DP03_0037PE-Retail", 
                 "DP03_0040PE-%Fin&Ins","DP03_0041PE-%ProfSc,Mgt,Admin","DP03_0050PE-%UnpaidFamilyWk",
                 "DP03_0052PE-Inc<10k", "DP03_0054PE-Inc15-24k", "DP03_0058PE-Inc75-99k", "DP03_0061PE-Inc200k>",
                 "DP03_0065E-HH-MeanEarnings","DP03_0066PE-%HHsWithSocSec","DP03_0072PE-%HH Inc with Cash public Ass",
                 "DP03_0074PE-%HH Inc with Food Stamps SNAP","DP03_0085PE-%Families Inc>200k", 
                 "DP03_0092E-Median Earning Workers","DP03_0093E-Median Earnings Male FT Workers",
                 "DP03_0094E-Median Earnings Female FT Workers",
                 "DP03_0097PE-%PHI-Priv","DP03_0098PE-%PHI-Pub","DP03_0099PE-No PHI","DP03_0119PE-% Fam <Pov", 
                 "DP03_0121PE-%Fam with child U18&U5 <pov","DP03_0126PE-%F-Led Families with u18 <pov",
                 "DP04_0001E-T H U", "DP04_0002PE-%Occ H U","DP04_0004E-%Ow Vac Rate", "DP04_0005E-%Rn Vac Rate",
                 "DP04_0006E-T HU",
                 "State","County", "Tract"]
    print("county:", item)
    df_collect = pd.DataFrame(columns=col_names, data=r8.json()[1:])
    rows = len(df_collect)
    print("rows in r", rows)
    dfs.append(df_collect)

Chicago1 = pd.concat(dfs)            # examine the response


Chicago1.shape
from datetime import date
print("Today's date is:", date.today())
Chicago1.head() #1535 rows

county: 031
rows in r 1319
county: 043
rows in r 216
Today's date is: 2021-02-12

,NAME,DP05_0001E-T Popo,DP02_0001E-T HHs,DP02_0002E-T Fam HHs,DP02_0008PE-%F-led HHs No H,DP02_0010PE-% Non-Fam HHs,DP02_0015E-Avg HH Size,DP02_0016E-Avg Fam Size,DP02_0022PE-%Non Rel in Hs,DP02_0038E-per1000-F-U-RecentPreg,DP02_0046PE-%GPwParent&Gc1-2yrs,DP02_0048PE--%GPwParent&Gc>5yrs,DP02_0060PE-%NoSchDiploma,DP02_0063PE-%AssDeg,DP02_0079PE-% SameHouse_1YrAgo,DP02_0085PE-%LivAbroad1YrAgo,DP02_0088PE-%BornUS,DP02_0112PE-HomeLangNotEng,DP02_0134PE-%IrishAnc,DP03_0009PE-%Unemploy,"DP03_0027PE-%WorkingMgt,Bus,Sc,Arts",DP03_0028PE%WorkingService,DP03_0037PE-Retail,DP03_0040PE-%Fin&Ins,"DP03_0041PE-%ProfSc,Mgt,Admin",DP03_0050PE-%UnpaidFamilyWk,DP03_0052PE-Inc<10k,DP03_0054PE-Inc15-24k,DP03_0058PE-Inc75-99k,DP03_0061PE-Inc200k>,DP03_0065E-HH-MeanEarnings,DP03_0066PE-%HHsWithSocSec,DP03_0072PE-%HH Inc with Cash public Ass,DP03_0074PE-%HH Inc with Food Stamps SNAP,DP03_0085PE-%Families Inc>200k,DP03_0092E-Median Earning Workers,DP03_0093E-Median Earnings Male FT Workers,DP03_0094E-Median Earnings Female FT Workers,DP03_0097PE-%PHI-Priv,DP03_0098PE-%PHI-Pub,DP03_0099PE-No PHI,DP03_0119PE-% Fam <Pov,DP03_0121PE-%Fam with child U18&U5 <pov,DP03_0126PE-%F-Led Families with u18 <pov,DP04_0001E-T H U,DP04_0002PE-%Occ H U,DP04_0004E-%Ow Vac Rate,DP04_0005E-%Rn Vac Rate,DP04_0006E-T HU,State,County,Tract
0,"Census Tract 3109, Cook County, Illinois",5391,1685,1123,24.5,33.4,3.20,3.80,10.5,60,0.0,46.4,17.1,3.4,97.2,0.0,66.0,75.0,3.5,11.1,26.5,23.4,9.9,3.6,9.4,0.0,7.3,14.2,10.3,1.2,57481,14.8,8.2,16.8,1.2,26763,36508,35990,47.0,47.0,16.8,26.0,0.0,43.2,1818,92.7,0.0,5.2,1818,17,031,310900
1,"Census Tract 4205, Cook County, Illinois",1659,799,369,23.8,53.8,2.08,3.15,4.0,0,0.0,23.5,10.1,14.4,92.9,0.0,93.5,14.4,0.0,25.8,41.1,30.8,9.0,3.3,22.9,1.0,16.8,15.4,15.4,0.0,45341,41.3,6.1,30.4,0.0,29367,49018,29495,45.0,45.0,7.5,11.4,25.8,25.3,1136,70.3,14.7,12.5,1136,17,031,420500
2,"Census Tract 4304, Cook County, Illinois",2756,1087,537,39.6,50.6,2.43,3.81,1.9,70,10.5,0.0,7.7,7.9,80.8,0.0,96.9,2.1,2.0,16.7,29.5,30.8,5.2,7.2,7.9,0.0,27.0,8.4,7.3,0.0,42317,24.0,3.3,39.5,0.0,30331,34407,31659,40.7,40.7,5.2,26.1,18.2,28.3,1430,76.0,20.4,15.9,1430,17,031,430400
3,"Census Tract 4306, Cook County, Illinois",1920,753,439,37.8,41.7,2.53,3.51,2.7,62,0.0,5.3,3.8,9.7,91.1,0.3,97.1,3.0,1.7,25.0,37.0,21.4,2.1,12.4,8.5,0.0,18.5,23.6,2.0,4.8,60571,42.1,5.8,30.7,8.2,26369,70517,44569,49.3,49.3,4.7,16.6,41.2,28.2,883,85.3,0.0,15.2,883,17,031,430600
4,"Census Tract 4409, Cook County, Illinois",2547,932,588,40.9,36.9,2.73,3.51,5.3,217,0.0,19.4,12.7,8.5,90.0,0.0,97.9,0.9,0.0,10.5,32.5,28.1,5.5,2.4,10.1,0.0,15.1,17.0,3.4,1.7,55120,40.0,5.2,50.6,0.0,36157,43125,45139,42.6,42.6,10.5,24.1,0.0,38.2,1168,79.8,0.0,10.0,1168,17,031,440900

In [3]:
## other variables same as for Chicago
## ACS Detailed table request
get_vars = ["DP04_0013PE","DP04_0017PE","DP04_0029PE","DP04_0039PE","DP04_0045PE", "DP04_0046PE",
           "DP04_0047E","DP04_0048E","DP04_0051PE", "DP04_0054PE", "DP04_0082PE","DP04_0083PE",
            "DP04_0084PE","DP04_0087PE","DP04_0101E", "DP04_0134E","DP05_0005PE","DP05_0023PE",
           "DP05_0059PE","DP05_0061PE","DP05_0064PE", "DP05_0070PE"]
get_vars = ["NAME"] + get_vars
dfs2 = []
for item in items:
    predicates = {}
    predicates["get"] = ",".join(get_vars)
    predicates["for"] = "tract:*"
    predicates["in"] = "state:17;county:"+item  ## Chicago Illinois State 17
    predicates["key"]="27d6154de64a12d9b06727be7177fe46e7c4eee1"
    r7 = requests.get(base_url, params=predicates)
# print(' \n ', r3.text)
    col_names = ["NAME","DP04_0013PE-%20+HU","DP04_0017PE-%Built2014+", "DP04_0029PE-%2rooms_only_HU",
                 "DP04_0039PE-Zero bedrooms","DP04_0045PE-%Occup HU","DP04_0046PE-%Owner Occup HU",
                 "DP04_0048E-Owner Ave Household size","DP04_0049E-Renter Ave Household size",
                 "DP04_0051PE-%moved since 2017+","DP04_0054PE-%moved 2000 to 2009",
                 "DP04_0082PE-%Value 50-99k","DP04_0083PE-%Value 100-149k","DP04_0084PE-%Value 150-199k",
                 "DP04_0087PE-%Value 500k-1m","DP04_0101E-Med Onwer Monthly Mortgage",
                 "DP04_0134E-Median Gross Rent","DP05_0005PE-%under 5 yrs", "DP05_0023PE-%62 yrs+",
                 "DP05_0058PE-% w & B or AM","DP05_0061PE-%White & Asian","DP05_0064PE-%White with others",
                 "DP05_0070PE-%H&L race",
                 "State","County", "Tract"]
    print("county:", item)
    df_collect = pd.DataFrame(columns=col_names, data=r7.json()[1:])
    rows = len(df_collect)
    print("rows in r", rows)
    dfs2.append(df_collect)

Chicago2 = pd.concat(dfs2)            # examine the response

Chicago2.shape
print("Today's date is:", date.today())
Chicago2.head()

county: 031
rows in r 1319
county: 043
rows in r 216
Today's date is: 2021-02-12

                                       NAME DP04_0013PE-%20+HU DP04_0017PE-%Built2014+ DP04_0029PE-%2rooms_only_HU DP04_0039PE-Zero bedrooms DP04_0045PE-%Occup HU DP04_0046PE-%Owner Occup HU DP04_0048E-Owner Ave Household size DP04_0049E-Renter Ave Household size DP04_0051PE-%moved since 2017+ DP04_0054PE-%moved 2000 to 2009 DP04_0082PE-%Value 50-99k DP04_0083PE-%Value 100-149k DP04_0084PE-%Value 150-199k DP04_0087PE-%Value 500k-1m DP04_0101E-Med Onwer Monthly Mortgage DP04_0134E-Median Gross Rent DP05_0005PE-%under 5 yrs DP05_0023PE-%62 yrs+ DP05_0058PE-% w & B or AM DP05_0061PE-%White & Asian DP05_0064PE-%White with others DP05_0070PE-%H&L race State County   Tract
0  Census Tract 3109, Cook County, Illinois                0.0                     0.0                         1.2                       0.7                  1685                        35.4                                1088                                 3.28                            2.9                            17.3                       8.5                        13.1                        17.8                        0.0                                  1677                          976                      6.3                 12.9                       0.0                        0.4                           50.7                  5391    17    031  310900
1  Census Tract 4205, Cook County, Illinois               37.1                     4.5                         2.2                       2.5                   799                        18.9                                 648                                 1.80                            1.3                            24.0                       2.6                        21.2                        39.1                        0.0                                  1205                          939                      5.2                 24.2                       1.0                        0.0                            1.0                  1659    17    031  420500
2  Census Tract 4304, Cook County, Illinois                8.4                     0.0                         2.4                       7.8                  1087                        27.4                                 789                                 2.55                           14.4                            15.5                      36.9                        18.5                        17.4                        0.0                                  1511                          946                      5.9                 13.7                       0.0                        0.0                            4.0                  2756    17    031  430400
3  Census Tract 4306, Cook County, Illinois               14.6                     0.0                         0.0                      13.3                   753                        35.7                                 484                                 3.75                            1.5                            16.7                       8.6                        16.4                         5.9                       11.2                                  2164                          748                      7.1                 26.3                       0.9                        0.0                            6.0                  1920    17    031  430600
4  Census Tract 4409, Cook County, Illinois                0.8                     0.0                         0.0                       1.8                   932                        44.1                                 521                                 2.64                            1.1                            23.1                      19.0                        44.8                        23.6                        0.0                                  1195                          897                      7.2                 20.7                       0.0                        0.0                            0.1                  2547    17    031  440900

In [4]:
import pandas as pd
### join Chicago1 and Chicago2 
## Notes on joining - https://stackoverflow.com/questions/40468069/merge-two-dataframes-by-index
ChicagoAll = pd.merge(left = Chicago1, right = Chicago2, how = 'right', left_on = ['NAME','State','County','Tract'], right_on = ['NAME','State','County','Tract'])
ChicagoAll.head()

,NAME,DP05_0001E-T Popo,DP02_0001E-T HHs,DP02_0002E-T Fam HHs,DP02_0008PE-%F-led HHs No H,DP02_0010PE-% Non-Fam HHs,DP02_0015E-Avg HH Size,DP02_0016E-Avg Fam Size,DP02_0022PE-%Non Rel in Hs,DP02_0038E-per1000-F-U-RecentPreg,DP02_0046PE-%GPwParent&Gc1-2yrs,DP02_0048PE--%GPwParent&Gc>5yrs,DP02_0060PE-%NoSchDiploma,DP02_0063PE-%AssDeg,DP02_0079PE-% SameHouse_1YrAgo,DP02_0085PE-%LivAbroad1YrAgo,DP02_0088PE-%BornUS,DP02_0112PE-HomeLangNotEng,DP02_0134PE-%IrishAnc,DP03_0009PE-%Unemploy,"DP03_0027PE-%WorkingMgt,Bus,Sc,Arts",DP03_0028PE%WorkingService,DP03_0037PE-Retail,DP03_0040PE-%Fin&Ins,"DP03_0041PE-%ProfSc,Mgt,Admin",DP03_0050PE-%UnpaidFamilyWk,DP03_0052PE-Inc<10k,DP03_0054PE-Inc15-24k,DP03_0058PE-Inc75-99k,DP03_0061PE-Inc200k>,DP03_0065E-HH-MeanEarnings,DP03_0066PE-%HHsWithSocSec,DP03_0072PE-%HH Inc with Cash public Ass,DP03_0074PE-%HH Inc with Food Stamps SNAP,DP03_0085PE-%Families Inc>200k,DP03_0092E-Median Earning Workers,DP03_0093E-Median Earnings Male FT Workers,DP03_0094E-Median Earnings Female FT Workers,DP03_0097PE-%PHI-Priv,DP03_0098PE-%PHI-Pub,DP03_0099PE-No PHI,DP03_0119PE-% Fam <Pov,DP03_0121PE-%Fam with child U18&U5 <pov,DP03_0126PE-%F-Led Families with u18 <pov,DP04_0001E-T H U,DP04_0002PE-%Occ H U,DP04_0004E-%Ow Vac Rate,DP04_0005E-%Rn Vac Rate,DP04_0006E-T HU,State,County,Tract,DP04_0013PE-%20+HU,DP04_0017PE-%Built2014+,DP04_0029PE-%2rooms_only_HU,DP04_0039PE-Zero bedrooms,DP04_0045PE-%Occup HU,DP04_0046PE-%Owner Occup HU,DP04_0048E-Owner Ave Household size,DP04_0049E-Renter Ave Household size,DP04_0051PE-%moved since 2017+,DP04_0054PE-%moved 2000 to 2009,DP04_0082PE-%Value 50-99k,DP04_0083PE-%Value 100-149k,DP04_0084PE-%Value 150-199k,DP04_0087PE-%Value 500k-1m,DP04_0101E-Med Onwer Monthly Mortgage,DP04_0134E-Median Gross Rent,DP05_0005PE-%under 5 yrs,DP05_0023PE-%62 yrs+,DP05_0058PE-% w & B or AM,DP05_0061PE-%White & Asian,DP05_0064PE-%White with others,DP05_0070PE-%H&L race
0,"Census Tract 3109, Cook County, Illinois",5391,1685,1123,24.5,33.4,3.20,3.80,10.5,60,0.0,46.4,17.1,3.4,97.2,0.0,66.0,75.0,3.5,11.1,26.5,23.4,9.9,3.6,9.4,0.0,7.3,14.2,10.3,1.2,57481,14.8,8.2,16.8,1.2,26763,36508,35990,47.0,47.0,16.8,26.0,0.0,43.2,1818,92.7,0.0,5.2,1818,17,031,310900,0.0,0.0,1.2,0.7,1685,35.4,1088,3.28,2.9,17.3,8.5,13.1,17.8,0.0,1677,976,6.3,12.9,0.0,0.4,50.7,5391
1,"Census Tract 4205, Cook County, Illinois",1659,799,369,23.8,53.8,2.08,3.15,4.0,0,0.0,23.5,10.1,14.4,92.9,0.0,93.5,14.4,0.0,25.8,41.1,30.8,9.0,3.3,22.9,1.0,16.8,15.4,15.4,0.0,45341,41.3,6.1,30.4,0.0,29367,49018,29495,45.0,45.0,7.5,11.4,25.8,25.3,1136,70.3,14.7,12.5,1136,17,031,420500,37.1,4.5,2.2,2.5,799,18.9,648,1.80,1.3,24.0,2.6,21.2,39.1,0.0,1205,939,5.2,24.2,1.0,0.0,1.0,1659
2,"Census Tract 4304, Cook County, Illinois",2756,1087,537,39.6,50.6,2.43,3.81,1.9,70,10.5,0.0,7.7,7.9,80.8,0.0,96.9,2.1,2.0,16.7,29.5,30.8,5.2,7.2,7.9,0.0,27.0,8.4,7.3,0.0,42317,24.0,3.3,39.5,0.0,30331,34407,31659,40.7,40.7,5.2,26.1,18.2,28.3,1430,76.0,20.4,15.9,1430,17,031,430400,8.4,0.0,2.4,7.8,1087,27.4,789,2.55,14.4,15.5,36.9,18.5,17.4,0.0,1511,946,5.9,13.7,0.0,0.0,4.0,2756
3,"Census Tract 4306, Cook County, Illinois",1920,753,439,37.8,41.7,2.53,3.51,2.7,62,0.0,5.3,3.8,9.7,91.1,0.3,97.1,3.0,1.7,25.0,37.0,21.4,2.1,12.4,8.5,0.0,18.5,23.6,2.0,4.8,60571,42.1,5.8,30.7,8.2,26369,70517,44569,49.3,49.3,4.7,16.6,41.2,28.2,883,85.3,0.0,15.2,883,17,031,430600,14.6,0.0,0.0,13.3,753,35.7,484,3.75,1.5,16.7,8.6,16.4,5.9,11.2,2164,748,7.1,26.3,0.9,0.0,6.0,1920
4,"Census Tract 4409, Cook County, Illinois",2547,932,588,40.9,36.9,2.73,3.51,5.3,217,0.0,19.4,12.7,8.5,90.0,0.0,97.9,0.9,0.0,10.5,32.5,28.1,5.5,2.4,10.1,0.0,15.1,17.0,3.4,1.7,55120,40.0,5.2,50.6,0.0,36157,43125,45139,42.6,42.6,10.5,24.1,0.0,38.2,1168,79.8,0.0,10.0,1168,17,031,440900,0.8,0.0,0.0,1.8,932,44.1,521,2.64,1.1,23.1,19.0,44.8,23.6,0.0,1195,897,7.2,20.7,0.0,0.0,0.1,2547

In [135]:
## scraping Chicago city crime data
## Data title "Crimes: reported incidents"
## Website: https ://www.chicago.gov/city/en/dataset/crime.html
## Example this is LA's:  https://data.lacity.org/Public-Safety/Crime-Data-from-2010-to-2019/63jg-8b9z
## Example this is Baltimore's https://data.baltimorecity.gov/resource/wsfq-mvij.json 
## Example this is New York's https://data.cityofnewyork.us/resource/sv2w-rv3k.json
import requests
import pandas as pd



#10k retrieved
data = requests.get('https://data.cityofchicago.org/resource/x2n5-8w5q.json?$limit=250000&$select=block,longitude, latitude')
##  CRS, WGS 1984, decimal degrees (EPSG 4326)

Chicago_Crime_df = pd.DataFrame(data=data.json())
Chicago_Crime_df.head()

                 block      longitude      latitude
0     013XX S CANAL ST     -87.639158  41.864493678
1   033XX W CULLOM AVE  -87.711474784  41.959339811
2   023XX S PULASKI RD  -87.724676285  41.848474762
3    058XX N RIDGE AVE  -87.666750459  41.987716355
4  011XX N HARDING AVE  -87.725041269  41.901352928

In [136]:
print("The no of rows",Chicago_Crime_df.shape) ## 204,003 crime stats rows downloaded for Chicago 9/2/2021

The no of rows (203491, 3)

In [137]:
## save Chicago city tract file to local drive
##dc_NYCAll_withCrimeNoNAs.to_csv("dc_NYCAll_withCrimeNov30th.csv")
Chicago_Crime_df.to_csv("Chicago_crime_as_downloaded_Feb12th2021.csv")

In [8]:
## Noticed there were no NAs in the Longitude column -
Chicago_Crime_df['longitude'].isnull().sum() ## there are 1370 on Feb 8th 2021 (204,222 - 202,852)
print("No of NAs in longitude col", Chicago_Crime_df['longitude'].isnull().sum())
##df = df[df['EPS'].notna()] to keep rows that have not got NAs

Chicago_Crime_df = Chicago_Crime_df[Chicago_Crime_df['longitude'].notna()]
print("No of NAs in longitude col", Chicago_Crime_df['longitude'].isnull().sum())
print("shape of Chicago_Crime_df", Chicago_Crime_df.shape)  
Chicago_Crime_df.head()
print("No of rows: ", Chicago_Crime_df.shape) ## 202,581 on 9/2/2021, 1,422 were null longitude rows

No of NAs in longitude col 1283
No of NAs in longitude col 0
shape of Chicago_Crime_df (202208, 3)
No of rows:  (202208, 3)

In [69]:
import geopandas as gpd

## Creating a GeoDataframe file from Chicago_crime_df and then using it  
## to get tract points from the Illinois (State Id: 17) census shape file 

Chicago_data_points = gpd.GeoDataFrame(Chicago_Crime_df, geometry=gpd.points_from_xy(Chicago_Crime_df.longitude, Chicago_Crime_df.latitude), crs='EPSG:4269')
Chicago_data_points

Chicago_shape = "cb_2018_17_tract_500k.shp"  # load Maryland state code "24" for Chicago (Chicagoltimore) shape file 

Chicago_map = gpd.read_file(Chicago_shape)

Chicago_points_in_map = gpd.sjoin(Chicago_data_points.to_crs('EPSG:4269'), 
                         Chicago_map, 
                         how='inner', 
                         op='within')  ## doing inner because the census data is for whole of California and only Chicago crime data census tracts
print("I am done")
print("Today's date is:", date.today())

I am done
Today's date is: 2021-02-12

In [70]:
print(Chicago_points_in_map.shape)
Chicago_points_in_map.head()

(202186, 5)

                    block      longitude      latitude                    geometry  index_right
0        013XX S CANAL ST     -87.639158  41.864493678  POINT (-87.63916 41.86449)         2797
371   006XX W HARRISON ST  -87.643013039  41.874363279  POINT (-87.64301 41.87436)         2797
477     004XX W TAYLOR ST  -87.638374002  41.869766128  POINT (-87.63837 41.86977)         2797
728    013XX S CLINTON ST  -87.640660777  41.865397377  POINT (-87.64066 41.86540)         2797
795  006XX W ROOSEVELT RD  -87.643207542  41.867204705  POINT (-87.64321 41.86720)         2797

In [92]:
## saved the dcb_2018_17_tract_500k.dbf file as a csv file to get access to the tract ID
## the index_right gives aligns with the tract ID in this file. 
## Remember that Illinois state ID = "17"
census_tract_df_Illinois = pd.read_csv("cb_2018_17_tract_500k.csv", header=0)
print("census tract info from Illinois (which has Chicago) dbf file saved as a csv file")
census_tract_df_Illinois.head() ## 3121 tracts listed

census tract info from Illinois (which has Chicago) dbf file saved as a csv file

   STATEFP  COUNTYFP  TRACTCE              AFFGEOID        GEOID     NAME LSAD    ALAND  AWATER
0       17        31   843800  1400000US17031843800  17031843800  8438.00   CT  1309516       0
1       17        37     1002  1400000US17037001002  17037001002    10.02   CT  3477252   16983
2       17        31   243000  1400000US17031243000  17031243000  2430.00   CT   324548       0
3       17        31   250600  1400000US17031250600  17031250600  2506.00   CT   647765       0
4       17        31   251700  1400000US17031251700  17031251700  2517.00   CT   486655       0

In [93]:
census_tract_df_Illinois['TRACTCE'] = census_tract_df_Illinois['TRACTCE'].apply(lambda x: '{0:0>6}'.format(x)).astype(str)
census_tract_df_Illinois['TRACTCE']

0       843800
1       001002
2       243000
3       250600
4       251700
         ...
3116    381900
3117    030400
3118    958100
3119    060100
3120    959000
Name: TRACTCE, Length: 3121, dtype: object

In [94]:
census_tract_df_Illinois['COUNTYFP'] = census_tract_df_Illinois['COUNTYFP'].apply(lambda x: '{0:0>3}'.format(x)).astype(str)
census_tract_df_Illinois['COUNTYFP']

0       031
1       037
2       031
3       031
4       031
       ...
3116    031
3117    145
3118    021
3119    023
3120    021
Name: COUNTYFP, Length: 3121, dtype: object

In [95]:
##The points_in_map of crime data does not include the county or tract or land area, so using join to add these 
## fields from Shape dbf file to the crime data. 
#points_in_map = points_in_map.join(census_tract_df[['COUNTYFP']], on='index_right')
#points_in_map = points_in_map.join(census_tract_df[['TRACTCE']], on='index_right')
#points_in_map = points_in_map.join(census_tract_df[['ALAND']], on='index_right')
Chicago_points_in_map2 = Chicago_points_in_map.join(census_tract_df_Illinois[['STATEFP','COUNTYFP','TRACTCE','ALAND']],on='index_right', lsuffix='_left', rsuffix='_right')

In [96]:
Chicago_points_in_map2.head()

                    block      longitude      latitude                    geometry  index_right  STATEFP COUNTYFP TRACTCE    ALAND
0        013XX S CANAL ST     -87.639158  41.864493678  POINT (-87.63916 41.86449)         2797       17      031  841900  2496100
371   006XX W HARRISON ST  -87.643013039  41.874363279  POINT (-87.64301 41.87436)         2797       17      031  841900  2496100
477     004XX W TAYLOR ST  -87.638374002  41.869766128  POINT (-87.63837 41.86977)         2797       17      031  841900  2496100
728    013XX S CLINTON ST  -87.640660777  41.865397377  POINT (-87.64066 41.86540)         2797       17      031  841900  2496100
795  006XX W ROOSEVELT RD  -87.643207542  41.867204705  POINT (-87.64321 41.86720)         2797       17      031  841900  2496100

In [97]:
## the following changes are not required in the NYC data extract of census and crime data but are required in Chicago's data
import pandas as pd
#'COUNTYFP_right', 'TRACTCE_right',, 'ALAND_right'
#Chicago_points_in_map2.drop('STATEFP_right', inplace=True, axis=1)
#Chicago_points_in_map2.drop('COUNTYFP_right', inplace=True, axis=1)
#Chicago_points_in_map2.drop('TRACTCE_right', inplace=True, axis=1)
#Chicago_points_in_map2.drop('ALAND_right', inplace=True, axis=1)
#Chicago_points_in_map.drop('STATEFP_left', inplace=True, axis=1)
#Chicago_points_in_map.drop('COUNTYFP_left', inplace=True, axis=1)
#Chicago_points_in_map.drop('TRACTCE_left', inplace=True, axis=1)
#Chicago_points_in_map.drop('ALAND_left', inplace=True, axis=1)

In [98]:
Chicago_points_in_map2.rename(columns={'STATEFP':'State', 'COUNTYFP': 'County', 'TRACTCE':'Tract', 'ALAND': 'AreaLand'}, inplace=True)

In [99]:
Chicago_points_in_map2.head()

                    block      longitude      latitude                    geometry  index_right  State County   Tract  AreaLand
0        013XX S CANAL ST     -87.639158  41.864493678  POINT (-87.63916 41.86449)         2797     17    031  841900   2496100
371   006XX W HARRISON ST  -87.643013039  41.874363279  POINT (-87.64301 41.87436)         2797     17    031  841900   2496100
477     004XX W TAYLOR ST  -87.638374002  41.869766128  POINT (-87.63837 41.86977)         2797     17    031  841900   2496100
728    013XX S CLINTON ST  -87.640660777  41.865397377  POINT (-87.64066 41.86540)         2797     17    031  841900   2496100
795  006XX W ROOSEVELT RD  -87.643207542  41.867204705  POINT (-87.64321 41.86720)         2797     17    031  841900   2496100

In [100]:
groupedTract_count = Chicago_points_in_map2.groupby(['County','Tract','AreaLand']).size().reset_index(name='crimeStats')
#df2 = df.rename({'a': 'X', 'b': 'Y'}, axis=1) 
groupedTract_count = groupedTract_count.rename({'longitude': 'LON', 'latitude':'LAT'}, axis = 1)
groupedTract_count

    County   Tract  AreaLand  crimeStats
0      031  010100    379751         468
1      031  010201    504465         314
2      031  010202    351758         320
3      031  010300    472017         313
4      031  010400    548761         250
..     ...     ...       ...         ...
844    031  843800   1309516         233
845    031  843900   1478136         489
846    031  980000  19889961         544
847    031  980100   2981781         214
848    043  840000  11813388           2

[849 rows x 4 columns]

In [101]:
groupedTract_mean = groupedTract_count["crimeStats"].mean()
print("mean",groupedTract_mean)
groupedTract_min = groupedTract_count["crimeStats"].min()
print("min", groupedTract_min)
groupedTract_max = groupedTract_count["crimeStats"].max()
print("max", groupedTract_max)

mean 238.14605418138987
min 1
max 1913

In [102]:
import numpy as np
groupedTract_count["crime"] = np.where(groupedTract_count.crimeStats < groupedTract_mean, "low", "high")
groupedTract_count

    County   Tract  AreaLand  crimeStats crime
0      031  010100    379751         468  high
1      031  010201    504465         314  high
2      031  010202    351758         320  high
3      031  010300    472017         313  high
4      031  010400    548761         250  high
..     ...     ...       ...         ...   ...
844    031  843800   1309516         233   low
845    031  843900   1478136         489  high
846    031  980000  19889961         544  high
847    031  980100   2981781         214   low
848    043  840000  11813388           2   low

[849 rows x 5 columns]

In [106]:
## checking there are no crimeStats zero values
####dc_NYCAll_withCrime.loc[dc_NYCAll_withCrime.crime == 0, 'crime'].count()
groupedTract_count.loc[groupedTract_count.crimeStats == 0, 'crimeStats'].count()

0

In [107]:
## checking there are no AreaLand zero values
groupedTract_count.loc[groupedTract_count.AreaLand == 0, 'AreaLand'].count()

0

In [108]:
ChicagoAll.dtypes

NAME                                            object
DP05_0001E-T Popo                               object
DP02_0001E-T HHs                                object
DP02_0002E-T Fam HHs                            object
DP02_0008PE-%F-led HHs No H                     object
DP02_0010PE-% Non-Fam HHs                       object
DP02_0015E-Avg HH Size                          object
DP02_0016E-Avg Fam Size                         object
DP02_0022PE-%Non Rel in Hs                      object
DP02_0038E-per1000-F-U-RecentPreg               object
DP02_0046PE-%GPwParent&Gc1-2yrs                 object
DP02_0048PE--%GPwParent&Gc>5yrs                 object
DP02_0060PE-%NoSchDiploma                       object
DP02_0063PE-%AssDeg                             object
DP02_0079PE-% SameHouse_1YrAgo                  object
DP02_0085PE-%LivAbroad1YrAgo                    object
DP02_0088PE-%BornUS                             object
DP02_0112PE-HomeLangNotEng                      object
DP02_0134PE-%IrishAnc                           object
DP03_0009PE-%Unemploy                           object
DP03_0027PE-%WorkingMgt,Bus,Sc,Arts             object
DP03_0028PE%WorkingService                      object
DP03_0037PE-Retail                              object
DP03_0040PE-%Fin&Ins                            object
DP03_0041PE-%ProfSc,Mgt,Admin                   object
DP03_0050PE-%UnpaidFamilyWk                     object
DP03_0052PE-Inc<10k                             object
DP03_0054PE-Inc15-24k                           object
DP03_0058PE-Inc75-99k                           object
DP03_0061PE-Inc200k>                            object
DP03_0065E-HH-MeanEarnings                      object
DP03_0066PE-%HHsWithSocSec                      object
DP03_0072PE-%HH Inc with Cash public Ass        object
DP03_0074PE-%HH Inc with Food Stamps SNAP       object
DP03_0085PE-%Families Inc>200k                  object
DP03_0092E-Median Earning Workers               object
DP03_0093E-Median Earnings Male FT Workers      object
DP03_0094E-Median Earnings Female FT Workers    object
DP03_0097PE-%PHI-Priv                           object
DP03_0098PE-%PHI-Pub                            object
DP03_0099PE-No PHI                              object
DP03_0119PE-% Fam <Pov                          object
DP03_0121PE-%Fam with child U18&U5 <pov         object
DP03_0126PE-%F-Led Families with u18 <pov       object
DP04_0001E-T H U                                object
DP04_0002PE-%Occ H U                            object
DP04_0004E-%Ow Vac Rate                         object
DP04_0005E-%Rn Vac Rate                         object
DP04_0006E-T HU                                 object
State                                           object
County                                          object
Tract                                           object
DP04_0013PE-%20+HU                              object
DP04_0017PE-%Built2014+                         object
DP04_0029PE-%2rooms_only_HU                     object
DP04_0039PE-Zero bedrooms                       object
DP04_0045PE-%Occup HU                           object
DP04_0046PE-%Owner Occup HU                     object
DP04_0048E-Owner Ave Household size             object
DP04_0049E-Renter Ave Household size            object
DP04_0051PE-%moved since 2017+                  object
DP04_0054PE-%moved 2000 to 2009                 object
DP04_0082PE-%Value 50-99k                       object
DP04_0083PE-%Value 100-149k                     object
DP04_0084PE-%Value 150-199k                     object
DP04_0087PE-%Value 500k-1m                      object
DP04_0101E-Med Onwer Monthly Mortgage           object
DP04_0134E-Median Gross Rent                    object
DP05_0005PE-%under 5 yrs                        object
DP05_0023PE-%62 yrs+                            object
DP05_0058PE-% w & B or AM                       object
DP05_0061PE-%White & Asian                      object
DP05_0064PE-%White with others                  object
DP05_0070PE-%H&L race                           object
dtype: object

In [109]:
## join crime data to census data 
## https://kodlogs.com/38097/len-left_on-must-equal-the-number-of-levels-in-the-index-of-right#:~:text=pages%20in%20html-,Len(left_on)%20must%20equal%20the%20number%20of%20levels%20in,the%20index%20of%20%22right%22.
ChicagoAll_withCrime = pd.merge(left = ChicagoAll, right = groupedTract_count, how = 'inner', on = ['County', 'Tract'] )

In [110]:

ChicagoAll_withCrime.head()

,NAME,DP05_0001E-T Popo,DP02_0001E-T HHs,DP02_0002E-T Fam HHs,DP02_0008PE-%F-led HHs No H,DP02_0010PE-% Non-Fam HHs,DP02_0015E-Avg HH Size,DP02_0016E-Avg Fam Size,DP02_0022PE-%Non Rel in Hs,DP02_0038E-per1000-F-U-RecentPreg,DP02_0046PE-%GPwParent&Gc1-2yrs,DP02_0048PE--%GPwParent&Gc>5yrs,DP02_0060PE-%NoSchDiploma,DP02_0063PE-%AssDeg,DP02_0079PE-% SameHouse_1YrAgo,DP02_0085PE-%LivAbroad1YrAgo,DP02_0088PE-%BornUS,DP02_0112PE-HomeLangNotEng,DP02_0134PE-%IrishAnc,DP03_0009PE-%Unemploy,"DP03_0027PE-%WorkingMgt,Bus,Sc,Arts",DP03_0028PE%WorkingService,DP03_0037PE-Retail,DP03_0040PE-%Fin&Ins,"DP03_0041PE-%ProfSc,Mgt,Admin",DP03_0050PE-%UnpaidFamilyWk,DP03_0052PE-Inc<10k,DP03_0054PE-Inc15-24k,DP03_0058PE-Inc75-99k,DP03_0061PE-Inc200k>,DP03_0065E-HH-MeanEarnings,DP03_0066PE-%HHsWithSocSec,DP03_0072PE-%HH Inc with Cash public Ass,DP03_0074PE-%HH Inc with Food Stamps SNAP,DP03_0085PE-%Families Inc>200k,DP03_0092E-Median Earning Workers,DP03_0093E-Median Earnings Male FT Workers,DP03_0094E-Median Earnings Female FT Workers,DP03_0097PE-%PHI-Priv,DP03_0098PE-%PHI-Pub,DP03_0099PE-No PHI,DP03_0119PE-% Fam <Pov,DP03_0121PE-%Fam with child U18&U5 <pov,DP03_0126PE-%F-Led Families with u18 <pov,DP04_0001E-T H U,DP04_0002PE-%Occ H U,DP04_0004E-%Ow Vac Rate,DP04_0005E-%Rn Vac Rate,DP04_0006E-T HU,State,County,Tract,DP04_0013PE-%20+HU,DP04_0017PE-%Built2014+,DP04_0029PE-%2rooms_only_HU,DP04_0039PE-Zero bedrooms,DP04_0045PE-%Occup HU,DP04_0046PE-%Owner Occup HU,DP04_0048E-Owner Ave Household size,DP04_0049E-Renter Ave Household size,DP04_0051PE-%moved since 2017+,DP04_0054PE-%moved 2000 to 2009,DP04_0082PE-%Value 50-99k,DP04_0083PE-%Value 100-149k,DP04_0084PE-%Value 150-199k,DP04_0087PE-%Value 500k-1m,DP04_0101E-Med Onwer Monthly Mortgage,DP04_0134E-Median Gross Rent,DP05_0005PE-%under 5 yrs,DP05_0023PE-%62 yrs+,DP05_0058PE-% w & B or AM,DP05_0061PE-%White & Asian,DP05_0064PE-%White with others,DP05_0070PE-%H&L race,AreaLand,crimeStats,crime
0,"Census Tract 3109, Cook County, Illinois",5391,1685,1123,24.5,33.4,3.20,3.80,10.5,60,0.0,46.4,17.1,3.4,97.2,0.0,66.0,75.0,3.5,11.1,26.5,23.4,9.9,3.6,9.4,0.0,7.3,14.2,10.3,1.2,57481,14.8,8.2,16.8,1.2,26763,36508,35990,47.0,47.0,16.8,26.0,0.0,43.2,1818,92.7,0.0,5.2,1818,17,031,310900,0.0,0.0,1.2,0.7,1685,35.4,1088,3.28,2.9,17.3,8.5,13.1,17.8,0.0,1677,976,6.3,12.9,0.0,0.4,50.7,5391,484908,202,low
1,"Census Tract 4205, Cook County, Illinois",1659,799,369,23.8,53.8,2.08,3.15,4.0,0,0.0,23.5,10.1,14.4,92.9,0.0,93.5,14.4,0.0,25.8,41.1,30.8,9.0,3.3,22.9,1.0,16.8,15.4,15.4,0.0,45341,41.3,6.1,30.4,0.0,29367,49018,29495,45.0,45.0,7.5,11.4,25.8,25.3,1136,70.3,14.7,12.5,1136,17,031,420500,37.1,4.5,2.2,2.5,799,18.9,648,1.80,1.3,24.0,2.6,21.2,39.1,0.0,1205,939,5.2,24.2,1.0,0.0,1.0,1659,245980,245,high
2,"Census Tract 4304, Cook County, Illinois",2756,1087,537,39.6,50.6,2.43,3.81,1.9,70,10.5,0.0,7.7,7.9,80.8,0.0,96.9,2.1,2.0,16.7,29.5,30.8,5.2,7.2,7.9,0.0,27.0,8.4,7.3,0.0,42317,24.0,3.3,39.5,0.0,30331,34407,31659,40.7,40.7,5.2,26.1,18.2,28.3,1430,76.0,20.4,15.9,1430,17,031,430400,8.4,0.0,2.4,7.8,1087,27.4,789,2.55,14.4,15.5,36.9,18.5,17.4,0.0,1511,946,5.9,13.7,0.0,0.0,4.0,2756,548003,376,high
3,"Census Tract 4306, Cook County, Illinois",1920,753,439,37.8,41.7,2.53,3.51,2.7,62,0.0,5.3,3.8,9.7,91.1,0.3,97.1,3.0,1.7,25.0,37.0,21.4,2.1,12.4,8.5,0.0,18.5,23.6,2.0,4.8,60571,42.1,5.8,30.7,8.2,26369,70517,44569,49.3,49.3,4.7,16.6,41.2,28.2,883,85.3,0.0,15.2,883,17,031,430600,14.6,0.0,0.0,13.3,753,35.7,484,3.75,1.5,16.7,8.6,16.4,5.9,11.2,2164,748,7.1,26.3,0.9,0.0,6.0,1920,333359,310,high
4,"Census Tract 4409, Cook County, Illinois",2547,932,588,40.9,36.9,2.73,3.51,5.3,217,0.0,19.4,12.7,8.5,90.0,0.0,97.9,0.9,0.0,10.5,32.5,28.1,5.5,2.4,10.1,0.0,15.1,17.0,3.4,1.7,55120,40.0,5.2,50.6,0.0,36157,43125,45139,42.6,42.6,10.5,24.1,0.0,38.2,1168,79.8,0.0,10.0,1168,17,031,440900,0.8,0.0,0.0,1.8,932,44.1,521,2.64,1.1,23.1,19.0,44.8,23.6,0.0,1195,897,7.2,20.7,0.0,0.0,0.1,2547,742630,297,high

In [111]:
## remove rows with NaNs for Crime as it will not be possible to run ML on crime outcome for these
## rows using df.dropna() but there were none as same no of rows after running code
ChicagoAllNoNAs = ChicagoAll_withCrime.dropna() ## returning to number of rows that agrees with groupedTract_count available crime data

In [112]:
ChicagoAllNoNAs.head()

,NAME,DP05_0001E-T Popo,DP02_0001E-T HHs,DP02_0002E-T Fam HHs,DP02_0008PE-%F-led HHs No H,DP02_0010PE-% Non-Fam HHs,DP02_0015E-Avg HH Size,DP02_0016E-Avg Fam Size,DP02_0022PE-%Non Rel in Hs,DP02_0038E-per1000-F-U-RecentPreg,DP02_0046PE-%GPwParent&Gc1-2yrs,DP02_0048PE--%GPwParent&Gc>5yrs,DP02_0060PE-%NoSchDiploma,DP02_0063PE-%AssDeg,DP02_0079PE-% SameHouse_1YrAgo,DP02_0085PE-%LivAbroad1YrAgo,DP02_0088PE-%BornUS,DP02_0112PE-HomeLangNotEng,DP02_0134PE-%IrishAnc,DP03_0009PE-%Unemploy,"DP03_0027PE-%WorkingMgt,Bus,Sc,Arts",DP03_0028PE%WorkingService,DP03_0037PE-Retail,DP03_0040PE-%Fin&Ins,"DP03_0041PE-%ProfSc,Mgt,Admin",DP03_0050PE-%UnpaidFamilyWk,DP03_0052PE-Inc<10k,DP03_0054PE-Inc15-24k,DP03_0058PE-Inc75-99k,DP03_0061PE-Inc200k>,DP03_0065E-HH-MeanEarnings,DP03_0066PE-%HHsWithSocSec,DP03_0072PE-%HH Inc with Cash public Ass,DP03_0074PE-%HH Inc with Food Stamps SNAP,DP03_0085PE-%Families Inc>200k,DP03_0092E-Median Earning Workers,DP03_0093E-Median Earnings Male FT Workers,DP03_0094E-Median Earnings Female FT Workers,DP03_0097PE-%PHI-Priv,DP03_0098PE-%PHI-Pub,DP03_0099PE-No PHI,DP03_0119PE-% Fam <Pov,DP03_0121PE-%Fam with child U18&U5 <pov,DP03_0126PE-%F-Led Families with u18 <pov,DP04_0001E-T H U,DP04_0002PE-%Occ H U,DP04_0004E-%Ow Vac Rate,DP04_0005E-%Rn Vac Rate,DP04_0006E-T HU,State,County,Tract,DP04_0013PE-%20+HU,DP04_0017PE-%Built2014+,DP04_0029PE-%2rooms_only_HU,DP04_0039PE-Zero bedrooms,DP04_0045PE-%Occup HU,DP04_0046PE-%Owner Occup HU,DP04_0048E-Owner Ave Household size,DP04_0049E-Renter Ave Household size,DP04_0051PE-%moved since 2017+,DP04_0054PE-%moved 2000 to 2009,DP04_0082PE-%Value 50-99k,DP04_0083PE-%Value 100-149k,DP04_0084PE-%Value 150-199k,DP04_0087PE-%Value 500k-1m,DP04_0101E-Med Onwer Monthly Mortgage,DP04_0134E-Median Gross Rent,DP05_0005PE-%under 5 yrs,DP05_0023PE-%62 yrs+,DP05_0058PE-% w & B or AM,DP05_0061PE-%White & Asian,DP05_0064PE-%White with others,DP05_0070PE-%H&L race,AreaLand,crimeStats,crime
0,"Census Tract 3109, Cook County, Illinois",5391,1685,1123,24.5,33.4,3.20,3.80,10.5,60,0.0,46.4,17.1,3.4,97.2,0.0,66.0,75.0,3.5,11.1,26.5,23.4,9.9,3.6,9.4,0.0,7.3,14.2,10.3,1.2,57481,14.8,8.2,16.8,1.2,26763,36508,35990,47.0,47.0,16.8,26.0,0.0,43.2,1818,92.7,0.0,5.2,1818,17,031,310900,0.0,0.0,1.2,0.7,1685,35.4,1088,3.28,2.9,17.3,8.5,13.1,17.8,0.0,1677,976,6.3,12.9,0.0,0.4,50.7,5391,484908,202,low
1,"Census Tract 4205, Cook County, Illinois",1659,799,369,23.8,53.8,2.08,3.15,4.0,0,0.0,23.5,10.1,14.4,92.9,0.0,93.5,14.4,0.0,25.8,41.1,30.8,9.0,3.3,22.9,1.0,16.8,15.4,15.4,0.0,45341,41.3,6.1,30.4,0.0,29367,49018,29495,45.0,45.0,7.5,11.4,25.8,25.3,1136,70.3,14.7,12.5,1136,17,031,420500,37.1,4.5,2.2,2.5,799,18.9,648,1.80,1.3,24.0,2.6,21.2,39.1,0.0,1205,939,5.2,24.2,1.0,0.0,1.0,1659,245980,245,high
2,"Census Tract 4304, Cook County, Illinois",2756,1087,537,39.6,50.6,2.43,3.81,1.9,70,10.5,0.0,7.7,7.9,80.8,0.0,96.9,2.1,2.0,16.7,29.5,30.8,5.2,7.2,7.9,0.0,27.0,8.4,7.3,0.0,42317,24.0,3.3,39.5,0.0,30331,34407,31659,40.7,40.7,5.2,26.1,18.2,28.3,1430,76.0,20.4,15.9,1430,17,031,430400,8.4,0.0,2.4,7.8,1087,27.4,789,2.55,14.4,15.5,36.9,18.5,17.4,0.0,1511,946,5.9,13.7,0.0,0.0,4.0,2756,548003,376,high
3,"Census Tract 4306, Cook County, Illinois",1920,753,439,37.8,41.7,2.53,3.51,2.7,62,0.0,5.3,3.8,9.7,91.1,0.3,97.1,3.0,1.7,25.0,37.0,21.4,2.1,12.4,8.5,0.0,18.5,23.6,2.0,4.8,60571,42.1,5.8,30.7,8.2,26369,70517,44569,49.3,49.3,4.7,16.6,41.2,28.2,883,85.3,0.0,15.2,883,17,031,430600,14.6,0.0,0.0,13.3,753,35.7,484,3.75,1.5,16.7,8.6,16.4,5.9,11.2,2164,748,7.1,26.3,0.9,0.0,6.0,1920,333359,310,high
4,"Census Tract 4409, Cook County, Illinois",2547,932,588,40.9,36.9,2.73,3.51,5.3,217,0.0,19.4,12.7,8.5,90.0,0.0,97.9,0.9,0.0,10.5,32.5,28.1,5.5,2.4,10.1,0.0,15.1,17.0,3.4,1.7,55120,40.0,5.2,50.6,0.0,36157,43125,45139,42.6,42.6,10.5,24.1,0.0,38.2,1168,79.8,0.0,10.0,1168,17,031,440900,0.8,0.0,0.0,1.8,932,44.1,521,2.64,1.1,23.1,19.0,44.8,23.6,0.0,1195,897,7.2,20.7,0.0,0.0,0.1,2547,742630,297,high

In [113]:
## checking if any rows with Popo == zero
ChicagoAllNoNAs[ChicagoAllNoNAs['DP05_0001E-T Popo']== 0]

Empty DataFrame
Columns: [NAME, DP05_0001E-T Popo, DP02_0001E-T HHs, DP02_0002E-T Fam HHs, DP02_0008PE-%F-led HHs No H, DP02_0010PE-% Non-Fam HHs, DP02_0015E-Avg HH Size, DP02_0016E-Avg Fam Size, DP02_0022PE-%Non Rel in Hs, DP02_0038E-per1000-F-U-RecentPreg, DP02_0046PE-%GPwParent&Gc1-2yrs, DP02_0048PE--%GPwParent&Gc>5yrs, DP02_0060PE-%NoSchDiploma, DP02_0063PE-%AssDeg, DP02_0079PE-% SameHouse_1YrAgo, DP02_0085PE-%LivAbroad1YrAgo, DP02_0088PE-%BornUS, DP02_0112PE-HomeLangNotEng, DP02_0134PE-%IrishAnc, DP03_0009PE-%Unemploy, DP03_0027PE-%WorkingMgt,Bus,Sc,Arts, DP03_0028PE%WorkingService, DP03_0037PE-Retail, DP03_0040PE-%Fin&Ins, DP03_0041PE-%ProfSc,Mgt,Admin, DP03_0050PE-%UnpaidFamilyWk, DP03_0052PE-Inc<10k, DP03_0054PE-Inc15-24k, DP03_0058PE-Inc75-99k, DP03_0061PE-Inc200k>, DP03_0065E-HH-MeanEarnings, DP03_0066PE-%HHsWithSocSec, DP03_0072PE-%HH Inc with Cash public Ass, DP03_0074PE-%HH Inc with Food Stamps SNAP, DP03_0085PE-%Families Inc>200k, DP03_0092E-Median Earning Workers, DP03_0093E-Median Earnings Male FT Workers, DP03_0094E-Median Earnings Female FT Workers, DP03_0097PE-%PHI-Priv, DP03_0098PE-%PHI-Pub, DP03_0099PE-No PHI, DP03_0119PE-% Fam <Pov, DP03_0121PE-%Fam with child U18&U5 <pov, DP03_0126PE-%F-Led Families with u18 <pov, DP04_0001E-T H U, DP04_0002PE-%Occ H U, DP04_0004E-%Ow Vac Rate, DP04_0005E-%Rn Vac Rate, DP04_0006E-T HU, State, County, Tract, DP04_0013PE-%20+HU, DP04_0017PE-%Built2014+, DP04_0029PE-%2rooms_only_HU, DP04_0039PE-Zero bedrooms, DP04_0045PE-%Occup HU, DP04_0046PE-%Owner Occup HU, DP04_0048E-Owner Ave Household size, DP04_0049E-Renter Ave Household size, DP04_0051PE-%moved since 2017+, DP04_0054PE-%moved 2000 to 2009, DP04_0082PE-%Value 50-99k, DP04_0083PE-%Value 100-149k, DP04_0084PE-%Value 150-199k, DP04_0087PE-%Value 500k-1m, DP04_0101E-Med Onwer Monthly Mortgage, DP04_0134E-Median Gross Rent, DP05_0005PE-%under 5 yrs, DP05_0023PE-%62 yrs+, DP05_0058PE-% w & B or AM, DP05_0061PE-%White & Asian, DP05_0064PE-%White with others, DP05_0070PE-%H&L race, AreaLand, crimeStats, crime]
Index: []

In [114]:
ChicagoAllNoNAs['ALAND'] = ChicagoAllNoNAs['AreaLand'] 
ChicagoAllNoNAs['AreaLand'] = (ChicagoAllNoNAs['AreaLand']/10000).astype(int)
ChicagoAllNoNAs['AreaLand'].head()

0    48
1    24
2    54
3    33
4    74
Name: AreaLand, dtype: int32

In [115]:
ChicagoAllNoNAs['Popo_Density_Per_Hector'] = ChicagoAllNoNAs['AreaLand']/(ChicagoAllNoNAs['DP05_0001E-T Popo'].astype(int))
ChicagoAllNoNAs['Popo_Density_Per_Hector'] = ChicagoAllNoNAs['Popo_Density_Per_Hector'].round(4)

In [116]:
ChicagoAllNoNAs['Popo_Density_Per_Hector']

0      0.0089
1      0.0145
2      0.0196
3      0.0172
4      0.0291
        ...
844    0.0075
845    0.0190
846    0.0097
847    0.0070
848    0.4045
Name: Popo_Density_Per_Hector, Length: 849, dtype: float64

In [118]:
## double checking that there are no rows with zero popo, ther are 3
ChicagoAllNoNAs[ChicagoAllNoNAs['DP05_0001E-T Popo'] == '0'].head()

,NAME,DP05_0001E-T Popo,DP02_0001E-T HHs,DP02_0002E-T Fam HHs,DP02_0008PE-%F-led HHs No H,DP02_0010PE-% Non-Fam HHs,DP02_0015E-Avg HH Size,DP02_0016E-Avg Fam Size,DP02_0022PE-%Non Rel in Hs,DP02_0038E-per1000-F-U-RecentPreg,DP02_0046PE-%GPwParent&Gc1-2yrs,DP02_0048PE--%GPwParent&Gc>5yrs,DP02_0060PE-%NoSchDiploma,DP02_0063PE-%AssDeg,DP02_0079PE-% SameHouse_1YrAgo,DP02_0085PE-%LivAbroad1YrAgo,DP02_0088PE-%BornUS,DP02_0112PE-HomeLangNotEng,DP02_0134PE-%IrishAnc,DP03_0009PE-%Unemploy,"DP03_0027PE-%WorkingMgt,Bus,Sc,Arts",DP03_0028PE%WorkingService,DP03_0037PE-Retail,DP03_0040PE-%Fin&Ins,"DP03_0041PE-%ProfSc,Mgt,Admin",DP03_0050PE-%UnpaidFamilyWk,DP03_0052PE-Inc<10k,DP03_0054PE-Inc15-24k,DP03_0058PE-Inc75-99k,DP03_0061PE-Inc200k>,DP03_0065E-HH-MeanEarnings,DP03_0066PE-%HHsWithSocSec,DP03_0072PE-%HH Inc with Cash public Ass,DP03_0074PE-%HH Inc with Food Stamps SNAP,DP03_0085PE-%Families Inc>200k,DP03_0092E-Median Earning Workers,DP03_0093E-Median Earnings Male FT Workers,DP03_0094E-Median Earnings Female FT Workers,DP03_0097PE-%PHI-Priv,DP03_0098PE-%PHI-Pub,DP03_0099PE-No PHI,DP03_0119PE-% Fam <Pov,DP03_0121PE-%Fam with child U18&U5 <pov,DP03_0126PE-%F-Led Families with u18 <pov,DP04_0001E-T H U,DP04_0002PE-%Occ H U,DP04_0004E-%Ow Vac Rate,DP04_0005E-%Rn Vac Rate,DP04_0006E-T HU,State,County,Tract,DP04_0013PE-%20+HU,DP04_0017PE-%Built2014+,DP04_0029PE-%2rooms_only_HU,DP04_0039PE-Zero bedrooms,DP04_0045PE-%Occup HU,DP04_0046PE-%Owner Occup HU,DP04_0048E-Owner Ave Household size,DP04_0049E-Renter Ave Household size,DP04_0051PE-%moved since 2017+,DP04_0054PE-%moved 2000 to 2009,DP04_0082PE-%Value 50-99k,DP04_0083PE-%Value 100-149k,DP04_0084PE-%Value 150-199k,DP04_0087PE-%Value 500k-1m,DP04_0101E-Med Onwer Monthly Mortgage,DP04_0134E-Median Gross Rent,DP05_0005PE-%under 5 yrs,DP05_0023PE-%62 yrs+,DP05_0058PE-% w & B or AM,DP05_0061PE-%White & Asian,DP05_0064PE-%White with others,DP05_0070PE-%H&L race,AreaLand,crimeStats,crime,ALAND,Popo_Density_Per_Hector
477,"Census Tract 3817, Cook County, Illinois",0,0,0,-666666666.0,-666666666.0,-666666666.00,-666666666.00,-666666666.0,-666666666,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666,-666666666,-666666666,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,0,-666666666.0,-666666666.0,-666666666.0,0,17,031,381700,-666666666.0,-666666666.0,-666666666.0,-666666666.0,0,-666666666.0,0,-666666666.00,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666,-666666666,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,0,19,11,low,196802,inf
788,"Census Tract 9800, Cook County, Illinois",0,0,0,-666666666.0,-666666666.0,-666666666.00,-666666666.00,-666666666.0,-666666666,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666,-666666666,-666666666,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,0,-666666666.0,-666666666.0,-666666666.0,0,17,031,980000,-666666666.0,-666666666.0,-666666666.0,-666666666.0,0,-666666666.0,0,-666666666.00,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666,-666666666,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,0,1988,544,high,19889961,inf
789,"Census Tract 9801, Cook County, Illinois",0,0,0,-666666666.0,-666666666.0,-666666666.00,-666666666.00,-666666666.0,-666666666,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666,-666666666,-666666666,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,0,-666666666.0,-666666666.0,-666666666.0,0,17,031,980100,-666666666.0,-666666666.0,-666666666.0,-666666666.0,0,-666666666.0,0,-666666666.00,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666,-666666666,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,0,298,214,low,2981781,inf

In [119]:
## double checking that there are no rows with zero popo, ther are 3
ChicagoAllNoNAs = ChicagoAllNoNAs[ChicagoAllNoNAs['DP05_0001E-T Popo'] != '0']

In [120]:
ChicagoAllNoNAs.head()

,NAME,DP05_0001E-T Popo,DP02_0001E-T HHs,DP02_0002E-T Fam HHs,DP02_0008PE-%F-led HHs No H,DP02_0010PE-% Non-Fam HHs,DP02_0015E-Avg HH Size,DP02_0016E-Avg Fam Size,DP02_0022PE-%Non Rel in Hs,DP02_0038E-per1000-F-U-RecentPreg,DP02_0046PE-%GPwParent&Gc1-2yrs,DP02_0048PE--%GPwParent&Gc>5yrs,DP02_0060PE-%NoSchDiploma,DP02_0063PE-%AssDeg,DP02_0079PE-% SameHouse_1YrAgo,DP02_0085PE-%LivAbroad1YrAgo,DP02_0088PE-%BornUS,DP02_0112PE-HomeLangNotEng,DP02_0134PE-%IrishAnc,DP03_0009PE-%Unemploy,"DP03_0027PE-%WorkingMgt,Bus,Sc,Arts",DP03_0028PE%WorkingService,DP03_0037PE-Retail,DP03_0040PE-%Fin&Ins,"DP03_0041PE-%ProfSc,Mgt,Admin",DP03_0050PE-%UnpaidFamilyWk,DP03_0052PE-Inc<10k,DP03_0054PE-Inc15-24k,DP03_0058PE-Inc75-99k,DP03_0061PE-Inc200k>,DP03_0065E-HH-MeanEarnings,DP03_0066PE-%HHsWithSocSec,DP03_0072PE-%HH Inc with Cash public Ass,DP03_0074PE-%HH Inc with Food Stamps SNAP,DP03_0085PE-%Families Inc>200k,DP03_0092E-Median Earning Workers,DP03_0093E-Median Earnings Male FT Workers,DP03_0094E-Median Earnings Female FT Workers,DP03_0097PE-%PHI-Priv,DP03_0098PE-%PHI-Pub,DP03_0099PE-No PHI,DP03_0119PE-% Fam <Pov,DP03_0121PE-%Fam with child U18&U5 <pov,DP03_0126PE-%F-Led Families with u18 <pov,DP04_0001E-T H U,DP04_0002PE-%Occ H U,DP04_0004E-%Ow Vac Rate,DP04_0005E-%Rn Vac Rate,DP04_0006E-T HU,State,County,Tract,DP04_0013PE-%20+HU,DP04_0017PE-%Built2014+,DP04_0029PE-%2rooms_only_HU,DP04_0039PE-Zero bedrooms,DP04_0045PE-%Occup HU,DP04_0046PE-%Owner Occup HU,DP04_0048E-Owner Ave Household size,DP04_0049E-Renter Ave Household size,DP04_0051PE-%moved since 2017+,DP04_0054PE-%moved 2000 to 2009,DP04_0082PE-%Value 50-99k,DP04_0083PE-%Value 100-149k,DP04_0084PE-%Value 150-199k,DP04_0087PE-%Value 500k-1m,DP04_0101E-Med Onwer Monthly Mortgage,DP04_0134E-Median Gross Rent,DP05_0005PE-%under 5 yrs,DP05_0023PE-%62 yrs+,DP05_0058PE-% w & B or AM,DP05_0061PE-%White & Asian,DP05_0064PE-%White with others,DP05_0070PE-%H&L race,AreaLand,crimeStats,crime,ALAND,Popo_Density_Per_Hector
0,"Census Tract 3109, Cook County, Illinois",5391,1685,1123,24.5,33.4,3.20,3.80,10.5,60,0.0,46.4,17.1,3.4,97.2,0.0,66.0,75.0,3.5,11.1,26.5,23.4,9.9,3.6,9.4,0.0,7.3,14.2,10.3,1.2,57481,14.8,8.2,16.8,1.2,26763,36508,35990,47.0,47.0,16.8,26.0,0.0,43.2,1818,92.7,0.0,5.2,1818,17,031,310900,0.0,0.0,1.2,0.7,1685,35.4,1088,3.28,2.9,17.3,8.5,13.1,17.8,0.0,1677,976,6.3,12.9,0.0,0.4,50.7,5391,48,202,low,484908,0.0089
1,"Census Tract 4205, Cook County, Illinois",1659,799,369,23.8,53.8,2.08,3.15,4.0,0,0.0,23.5,10.1,14.4,92.9,0.0,93.5,14.4,0.0,25.8,41.1,30.8,9.0,3.3,22.9,1.0,16.8,15.4,15.4,0.0,45341,41.3,6.1,30.4,0.0,29367,49018,29495,45.0,45.0,7.5,11.4,25.8,25.3,1136,70.3,14.7,12.5,1136,17,031,420500,37.1,4.5,2.2,2.5,799,18.9,648,1.80,1.3,24.0,2.6,21.2,39.1,0.0,1205,939,5.2,24.2,1.0,0.0,1.0,1659,24,245,high,245980,0.0145
2,"Census Tract 4304, Cook County, Illinois",2756,1087,537,39.6,50.6,2.43,3.81,1.9,70,10.5,0.0,7.7,7.9,80.8,0.0,96.9,2.1,2.0,16.7,29.5,30.8,5.2,7.2,7.9,0.0,27.0,8.4,7.3,0.0,42317,24.0,3.3,39.5,0.0,30331,34407,31659,40.7,40.7,5.2,26.1,18.2,28.3,1430,76.0,20.4,15.9,1430,17,031,430400,8.4,0.0,2.4,7.8,1087,27.4,789,2.55,14.4,15.5,36.9,18.5,17.4,0.0,1511,946,5.9,13.7,0.0,0.0,4.0,2756,54,376,high,548003,0.0196
3,"Census Tract 4306, Cook County, Illinois",1920,753,439,37.8,41.7,2.53,3.51,2.7,62,0.0,5.3,3.8,9.7,91.1,0.3,97.1,3.0,1.7,25.0,37.0,21.4,2.1,12.4,8.5,0.0,18.5,23.6,2.0,4.8,60571,42.1,5.8,30.7,8.2,26369,70517,44569,49.3,49.3,4.7,16.6,41.2,28.2,883,85.3,0.0,15.2,883,17,031,430600,14.6,0.0,0.0,13.3,753,35.7,484,3.75,1.5,16.7,8.6,16.4,5.9,11.2,2164,748,7.1,26.3,0.9,0.0,6.0,1920,33,310,high,333359,0.0172
4,"Census Tract 4409, Cook County, Illinois",2547,932,588,40.9,36.9,2.73,3.51,5.3,217,0.0,19.4,12.7,8.5,90.0,0.0,97.9,0.9,0.0,10.5,32.5,28.1,5.5,2.4,10.1,0.0,15.1,17.0,3.4,1.7,55120,40.0,5.2,50.6,0.0,36157,43125,45139,42.6,42.6,10.5,24.1,0.0,38.2,1168,79.8,0.0,10.0,1168,17,031,440900,0.8,0.0,0.0,1.8,932,44.1,521,2.64,1.1,23.1,19.0,44.8,23.6,0.0,1195,897,7.2,20.7,0.0,0.0,0.1,2547,74,297,high,742630,0.0291

In [121]:
#converting all data columns to numeric
for col in  ChicagoAllNoNAs.filter(like='DP').columns:
    ChicagoAllNoNAs[col] = pd.to_numeric(ChicagoAllNoNAs[col], errors='coerce')

# Example dc_NYCAll_withCrime[cols] = dc_NYCAll_withCrime[cols].apply(pd.to_numeric, errors='coerce', axis=1)

In [122]:
ChicagoAllNoNAs.describe()

,DP05_0001E-T Popo,DP02_0001E-T HHs,DP02_0002E-T Fam HHs,DP02_0008PE-%F-led HHs No H,DP02_0010PE-% Non-Fam HHs,DP02_0015E-Avg HH Size,DP02_0016E-Avg Fam Size,DP02_0022PE-%Non Rel in Hs,DP02_0038E-per1000-F-U-RecentPreg,DP02_0046PE-%GPwParent&Gc1-2yrs,DP02_0048PE--%GPwParent&Gc>5yrs,DP02_0060PE-%NoSchDiploma,DP02_0063PE-%AssDeg,DP02_0079PE-% SameHouse_1YrAgo,DP02_0085PE-%LivAbroad1YrAgo,DP02_0088PE-%BornUS,DP02_0112PE-HomeLangNotEng,DP02_0134PE-%IrishAnc,DP03_0009PE-%Unemploy,"DP03_0027PE-%WorkingMgt,Bus,Sc,Arts",DP03_0028PE%WorkingService,DP03_0037PE-Retail,DP03_0040PE-%Fin&Ins,"DP03_0041PE-%ProfSc,Mgt,Admin",DP03_0050PE-%UnpaidFamilyWk,DP03_0052PE-Inc<10k,DP03_0054PE-Inc15-24k,DP03_0058PE-Inc75-99k,DP03_0061PE-Inc200k>,DP03_0065E-HH-MeanEarnings,DP03_0066PE-%HHsWithSocSec,DP03_0072PE-%HH Inc with Cash public Ass,DP03_0074PE-%HH Inc with Food Stamps SNAP,DP03_0085PE-%Families Inc>200k,DP03_0092E-Median Earning Workers,DP03_0093E-Median Earnings Male FT Workers,DP03_0094E-Median Earnings Female FT Workers,DP03_0097PE-%PHI-Priv,DP03_0098PE-%PHI-Pub,DP03_0099PE-No PHI,DP03_0119PE-% Fam <Pov,DP03_0121PE-%Fam with child U18&U5 <pov,DP03_0126PE-%F-Led Families with u18 <pov,DP04_0001E-T H U,DP04_0002PE-%Occ H U,DP04_0004E-%Ow Vac Rate,DP04_0005E-%Rn Vac Rate,DP04_0006E-T HU,DP04_0013PE-%20+HU,DP04_0017PE-%Built2014+,DP04_0029PE-%2rooms_only_HU,DP04_0039PE-Zero bedrooms,DP04_0045PE-%Occup HU,DP04_0046PE-%Owner Occup HU,DP04_0048E-Owner Ave Household size,DP04_0049E-Renter Ave Household size,DP04_0051PE-%moved since 2017+,DP04_0054PE-%moved 2000 to 2009,DP04_0082PE-%Value 50-99k,DP04_0083PE-%Value 100-149k,DP04_0084PE-%Value 150-199k,DP04_0087PE-%Value 500k-1m,DP04_0101E-Med Onwer Monthly Mortgage,DP04_0134E-Median Gross Rent,DP05_0005PE-%under 5 yrs,DP05_0023PE-%62 yrs+,DP05_0058PE-% w & B or AM,DP05_0061PE-%White & Asian,DP05_0064PE-%White with others,DP05_0070PE-%H&L race,AreaLand,crimeStats,ALAND,Popo_Density_Per_Hector
count,846.000000,846.000000,846.000000,846.000000,846.000000,846.000000,846.000000,846.000000,846.000000,8.460000e+02,8.460000e+02,846.000000,846.000000,846.000000,846.000000,846.000000,846.000000,846.000000,846.000000,846.000000,846.000000,846.000000,846.000000,846.000000,846.000000,846.000000,846.000000,846.000000,846.000000,846.000000,846.000000,846.000000,846.000000,846.000000,8.460000e+02,8.460000e+02,8.460000e+02,846.000000,846.000000,846.000000,846.000000,8.460000e+02,8.460000e+02,846.000000,846.000000,8.460000e+02,846.000000,846.000000,846.000000,846.000000,846.000000,846.000000,846.000000,846.000000,846.000000,8.460000e+02,846.000000,846.000000,8.460000e+02,8.460000e+02,8.460000e+02,8.460000e+02,8.460000e+02,8.460000e+02,846.000000,846.000000,846.000000,846.000000,846.000000,846.000000,846.000000,846.000000,8.460000e+02,846.000000
mean,3494.494090,1347.365248,735.846336,18.653546,42.778251,2.658593,3.441927,8.103073,33.809693,-1.032309e+08,-1.032309e+08,8.341844,5.858274,84.929669,0.745390,79.937707,32.281206,7.264539,10.839243,36.643617,21.577423,9.279905,7.213121,14.792671,0.102837,10.294090,11.715248,10.577896,6.814775,82814.594563,24.839598,3.776478,22.040662,10.907801,-7.510077e+05,-8.615613e+06,-1.530072e+06,57.638889,57.638889,10.454019,16.711702,-2.206460e+07,-2.915678e+07,1536.612293,87.067376,-2.364063e+06,5.876596,1536.612293,16.639243,0.612530,3.424232,5.086879,1347.365248,45.412766,721.732861,-2.364063e+06,4.965721,23.268085,-2.364056e+06,-2.364053e+06,-2.364050e+06,-2.364056e+06,-1.181842e+07,-3.150993e+06,6.580733,15.342199,0.603664,0.691017,48.875532,3494.494090,81.521277,238.081560,8.203087e+05,0.025331
std,1845.430188,857.041678,420.042001,13.288942,16.391873,0.601052,0.527871,6.048861,42.460652,2.413148e+08,2.413148e+08,6.102588,2.992230,8.604879,1.405306,15.795652,27.546116,8.551779,8.863848,19.611097,9.853778,4.409283,4.746407,7.657858,0.346023,8.161953,7.095030,4.650693,9.094187,44114.621985,11.652321,3.407910,16.787403,15.151407,2.292175e+07,7.557350e+07,3.239750e+07,21.944116,21.944116,6.500491,13.488747,1.193303e+08,1.364176e+08,956.135844,8.376819,3.965241e+07,5.283053,956.135844,24.919571,1.574714,5.006140,6.642141,857.041678,20.703142,547.918082,3.965241e+07,3.557039,6.679207,3.965241e+07,3.965241e+07,3.965241e+07,3.965241e+07,8.803241e+07,4.575957e+07,2.866872,7.315172,0.931804,1.085750,33.412833,1845.430188,114.680741,201.729596,1.146856e+06,0.034400
min,375.000000,126.000000,55.000000,0.000000,11.000000,1.340000,2.160000,0.000000,0.000000,-6.666667e+08,-6.666667e+08,0.000000,0.000000,46.100000,0.000000,29.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,21939.000000,0.000000,0.000000,0.000000,0.000000,-6.666667e+08,-6.666667e+08,-6.666667e+08,9.000000,9.000000,0.000000,0.000000,-6.666667e+08,-6.666667e+08,138.000000,43.100000,-6.666667e+08,0.000000,138.000000,0.000000,0.000000,0.000000,0.000000,126.000000,0.000000,28.000000,-6.666667e+08,0.000000,0.000000,-6.666667e+08,-6.666667e+08,-6.666667e+08,-6.666667e+08,-6.666667e+08,-6.666667e+08,0.000000,0.000000,0.000000,0.000000,0.000000,375.000000,2.000000,1.000000,2.209400e+04,0.000900
25%,2054.250000,769.000000,408.000000,8.125000,29.750000,2.232500,3.080000,3.900000,0.000000,0.000000e+00,0.000000e+00,3.400000,3.700000,79.900000,0.000000,66.500000,7.300000,0.500000,4.500000,20.900000,14.800000,6.200000,3.800000,9.325000,0.000000,4.300000,6.600000,7.500000,0.800000,52186.250000,16.300000,1.200000,7.425000,0.800000,2.531400e+04,3.529575e+04,3.242300e+04,39.750000,39.750000,5.500000,5.925000,0.000000e+00,8.675000e+00,918.000000,83.700000,0.000000e+00,2.100000,918.000000,0.800000,0.000000,0.000000,0.800000,769.000000,30.300000,368.250000,2.362500e+00,2.100000,18.800000,7.250000e-01,1.925000e+00,5.200000e+00,0.000000e+00,1.494000e+03,8.900000e+02,4.600000,10.325000,0.000000,0.000000,9.400000,2054.250000,32.000000,108.250000,3.263368e+05,0.010800
50%,3188.000000,1216.500000,659.000000,15.450000,40.150000,2.655000,3.430000,6.300000,19.500000,0.000000e+00,0.000000e+00,7.600000,5.700000,86.500000,0.200000,82.700000,24.350000,3.900000,7.900000,32.150000,21.600000,8.900000,6.300000,12.700000,0.000000,7.900000,10.900000,10.400000,3.100000,69681.500000,24.000000,3.000000,18.650000,4.000000,3.130950e+04,4.657200e+04,4.203300e+04,54.900000,54.900000,9.500000,13.650000,0.000000e+00,3.560000e+01,1362.000000,89.100000,1.250000e+00,4.900000,1362.000000,5.250000,0.000000,1.500000,2.900000,1216.500000,42.950000,599.500000,2.780000e+00,4.600000,22.900000,4.800000e+00,9.700000e+00,1.375000e+01,3.250000e+00,1.821000e+03,1.025500e+03,6.400000,14.500000,0.200000,0.000000,54.400000,3188.000000,56.000000,185.000000,5.676450e+05,0.017200
75%,4599.750000,1719.500000,1007.500000,28.000000,55.775000,3.030000,3.800000,10.500000,53.000000,0.000000e+00,1.677500e+01,11.875000,7.600000,91.375000,0.900000,94.600000,53.600000,11.875000,15.900000,53.275000,28.000000,11.700000,9.500000,18.700000,0.000000,14.275000,15.500000,13.700000,9.175000,97718.250000,32.275000,5.600000,34.500000,14.700000,4.514875e+04,6.584050e+04,5.581150e+04,76.375000,76.375000,14.400000,25.050000,3.167500e+01,5.255000e+01,1925.750000,93.000000,4.475000e+00,9.100000,1925.750000,20.175000,0.500000,4.100000,6.475000,1719.500000,59.100000,901.250000,3.190000e+00,7.200000,27.700000,1.557500e+01,2.230000e+01,2.437500e+01,1.627500e+01,2.261000e+03,1.204500e+03,8.400000,19.600000,0.800000,1.000000,80.600000,4599.750000,93.000000,301.500000,9.337590e+05,0.027575
max,19889.000000,11517.000000,4371.000000,67.800000,87.400000,4.500000,5.180000,41.100000,321.000000,1.000000e+02,1.000000e+02,37.300000,18.900000,100.000000,12.600000,100.000000,95.800000,55.700000,84.900000,100.000000,57.600000,31.700000,23.900000,43.000000,3.500000,50.400000,41.000000,27.700000,55.700000,289123.000000,68.700000,29.900000,73.100000,70.600000,9.648900e+04,2.500010e+05,1.202210e+05,97.900000,97.900000,35.100000,75.500000,1.000000e+02,1.000000e+02,12443.000000,100.000000,6.560000e+01,50.600000,12443.000000,98.200000,15.100000,28.600000,55.700000,11517.000000,97.900000,5014.000000,5.050000e+00,25.000000,44.500000,6.330000e+01,6.710000e+01,7.800000e+01,8.210000e+01,4.001000e+03,2.553000e+03,16.600000,54.300000,6.800000,7.000000,99.000000,19889.000000,1786.000000,1913.000000,1.786325e+07,0.562900

In [123]:
ChicagoAllNoNAs.isna().sum(0)

NAME                                            0
DP05_0001E-T Popo                               0
DP02_0001E-T HHs                                0
DP02_0002E-T Fam HHs                            0
DP02_0008PE-%F-led HHs No H                     0
DP02_0010PE-% Non-Fam HHs                       0
DP02_0015E-Avg HH Size                          0
DP02_0016E-Avg Fam Size                         0
DP02_0022PE-%Non Rel in Hs                      0
DP02_0038E-per1000-F-U-RecentPreg               0
DP02_0046PE-%GPwParent&Gc1-2yrs                 0
DP02_0048PE--%GPwParent&Gc>5yrs                 0
DP02_0060PE-%NoSchDiploma                       0
DP02_0063PE-%AssDeg                             0
DP02_0079PE-% SameHouse_1YrAgo                  0
DP02_0085PE-%LivAbroad1YrAgo                    0
DP02_0088PE-%BornUS                             0
DP02_0112PE-HomeLangNotEng                      0
DP02_0134PE-%IrishAnc                           0
DP03_0009PE-%Unemploy                           0
DP03_0027PE-%WorkingMgt,Bus,Sc,Arts             0
DP03_0028PE%WorkingService                      0
DP03_0037PE-Retail                              0
DP03_0040PE-%Fin&Ins                            0
DP03_0041PE-%ProfSc,Mgt,Admin                   0
DP03_0050PE-%UnpaidFamilyWk                     0
DP03_0052PE-Inc<10k                             0
DP03_0054PE-Inc15-24k                           0
DP03_0058PE-Inc75-99k                           0
DP03_0061PE-Inc200k>                            0
DP03_0065E-HH-MeanEarnings                      0
DP03_0066PE-%HHsWithSocSec                      0
DP03_0072PE-%HH Inc with Cash public Ass        0
DP03_0074PE-%HH Inc with Food Stamps SNAP       0
DP03_0085PE-%Families Inc>200k                  0
DP03_0092E-Median Earning Workers               0
DP03_0093E-Median Earnings Male FT Workers      0
DP03_0094E-Median Earnings Female FT Workers    0
DP03_0097PE-%PHI-Priv                           0
DP03_0098PE-%PHI-Pub                            0
DP03_0099PE-No PHI                              0
DP03_0119PE-% Fam <Pov                          0
DP03_0121PE-%Fam with child U18&U5 <pov         0
DP03_0126PE-%F-Led Families with u18 <pov       0
DP04_0001E-T H U                                0
DP04_0002PE-%Occ H U                            0
DP04_0004E-%Ow Vac Rate                         0
DP04_0005E-%Rn Vac Rate                         0
DP04_0006E-T HU                                 0
State                                           0
County                                          0
Tract                                           0
DP04_0013PE-%20+HU                              0
DP04_0017PE-%Built2014+                         0
DP04_0029PE-%2rooms_only_HU                     0
DP04_0039PE-Zero bedrooms                       0
DP04_0045PE-%Occup HU                           0
DP04_0046PE-%Owner Occup HU                     0
DP04_0048E-Owner Ave Household size             0
DP04_0049E-Renter Ave Household size            0
DP04_0051PE-%moved since 2017+                  0
DP04_0054PE-%moved 2000 to 2009                 0
DP04_0082PE-%Value 50-99k                       0
DP04_0083PE-%Value 100-149k                     0
DP04_0084PE-%Value 150-199k                     0
DP04_0087PE-%Value 500k-1m                      0
DP04_0101E-Med Onwer Monthly Mortgage           0
DP04_0134E-Median Gross Rent                    0
DP05_0005PE-%under 5 yrs                        0
DP05_0023PE-%62 yrs+                            0
DP05_0058PE-% w & B or AM                       0
DP05_0061PE-%White & Asian                      0
DP05_0064PE-%White with others                  0
DP05_0070PE-%H&L race                           0
AreaLand                                        0
crimeStats                                      0
crime                                           0
ALAND                                           0
Popo_Density_Per_Hector                         0
dtype: int64

In [124]:
ChicagoAllNoNAs.loc[ChicagoAllNoNAs.crimeStats == 0, 'crimeStats'].count()

0

In [125]:
## converting all data columns to numeric = don't use as converting to 
## 2 decimal places with apply .2f function reverts all columns back to objects again#BaltimoreAllNoNAs.apply(lambda x: '%.5f' % x, axis=1)
#for col in  ChicagoAllNoNAs.filter(like='DP').columns:
#    ChicagoAllNoNAs[col] = ChicagoAllNoNAs[col].apply(lambda x: '%.2f' % x) 
#ChicagoAllNoNAs

In [126]:
ChicagoAllNoNAs.groupby('crime').count()

,NAME,DP05_0001E-T Popo,DP02_0001E-T HHs,DP02_0002E-T Fam HHs,DP02_0008PE-%F-led HHs No H,DP02_0010PE-% Non-Fam HHs,DP02_0015E-Avg HH Size,DP02_0016E-Avg Fam Size,DP02_0022PE-%Non Rel in Hs,DP02_0038E-per1000-F-U-RecentPreg,DP02_0046PE-%GPwParent&Gc1-2yrs,DP02_0048PE--%GPwParent&Gc>5yrs,DP02_0060PE-%NoSchDiploma,DP02_0063PE-%AssDeg,DP02_0079PE-% SameHouse_1YrAgo,DP02_0085PE-%LivAbroad1YrAgo,DP02_0088PE-%BornUS,DP02_0112PE-HomeLangNotEng,DP02_0134PE-%IrishAnc,DP03_0009PE-%Unemploy,"DP03_0027PE-%WorkingMgt,Bus,Sc,Arts",DP03_0028PE%WorkingService,DP03_0037PE-Retail,DP03_0040PE-%Fin&Ins,"DP03_0041PE-%ProfSc,Mgt,Admin",DP03_0050PE-%UnpaidFamilyWk,DP03_0052PE-Inc<10k,DP03_0054PE-Inc15-24k,DP03_0058PE-Inc75-99k,DP03_0061PE-Inc200k>,DP03_0065E-HH-MeanEarnings,DP03_0066PE-%HHsWithSocSec,DP03_0072PE-%HH Inc with Cash public Ass,DP03_0074PE-%HH Inc with Food Stamps SNAP,DP03_0085PE-%Families Inc>200k,DP03_0092E-Median Earning Workers,DP03_0093E-Median Earnings Male FT Workers,DP03_0094E-Median Earnings Female FT Workers,DP03_0097PE-%PHI-Priv,DP03_0098PE-%PHI-Pub,DP03_0099PE-No PHI,DP03_0119PE-% Fam <Pov,DP03_0121PE-%Fam with child U18&U5 <pov,DP03_0126PE-%F-Led Families with u18 <pov,DP04_0001E-T H U,DP04_0002PE-%Occ H U,DP04_0004E-%Ow Vac Rate,DP04_0005E-%Rn Vac Rate,DP04_0006E-T HU,State,County,Tract,DP04_0013PE-%20+HU,DP04_0017PE-%Built2014+,DP04_0029PE-%2rooms_only_HU,DP04_0039PE-Zero bedrooms,DP04_0045PE-%Occup HU,DP04_0046PE-%Owner Occup HU,DP04_0048E-Owner Ave Household size,DP04_0049E-Renter Ave Household size,DP04_0051PE-%moved since 2017+,DP04_0054PE-%moved 2000 to 2009,DP04_0082PE-%Value 50-99k,DP04_0083PE-%Value 100-149k,DP04_0084PE-%Value 150-199k,DP04_0087PE-%Value 500k-1m,DP04_0101E-Med Onwer Monthly Mortgage,DP04_0134E-Median Gross Rent,DP05_0005PE-%under 5 yrs,DP05_0023PE-%62 yrs+,DP05_0058PE-% w & B or AM,DP05_0061PE-%White & Asian,DP05_0064PE-%White with others,DP05_0070PE-%H&L race,AreaLand,crimeStats,ALAND,Popo_Density_Per_Hector
crime,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
high,300,300,300,300,300,300,300,300,300,300,300,300,300,300,300,300,300,300,300,300,300,300,300,300,300,300,300,300,300,300,300,300,300,300,300,300,300,300,300,300,300,300,300,300,300,300,300,300,300,300,300,300,300,300,300,300,300,300,300,300,300,300,300,300,300,300,300,300,300,300,300,300,300,300,300,300,300,300
low,546,546,546,546,546,546,546,546,546,546,546,546,546,546,546,546,546,546,546,546,546,546,546,546,546,546,546,546,546,546,546,546,546,546,546,546,546,546,546,546,546,546,546,546,546,546,546,546,546,546,546,546,546,546,546,546,546,546,546,546,546,546,546,546,546,546,546,546,546,546,546,546,546,546,546,546,546,546

In [132]:
## save file to local drive
##dc_NYCAll_withCrimeNoNAs.to_csv("dc_NYCAll_withCrimeNov30th.csv")
ChicagoAllNoNAs.to_csv("Chicago_CSV__Feb12th_before.csv") ## 245kB

In [133]:
Chicagolist_of_counties = ["031", "043"] 
census_tract_df_Illinois['COUNTYFP'] = census_tract_df_Illinois['COUNTYFP'].apply(lambda x: '{0:0>3}'.format(x)).astype(str)
census_tracts_Chicago = census_tract_df_Illinois[census_tract_df_Illinois['COUNTYFP'].isin(Chicagolist_of_counties)]
census_tracts_Chicago.head()

   STATEFP COUNTYFP TRACTCE              AFFGEOID        GEOID    NAME LSAD    ALAND  AWATER
0       17      031  843800  1400000US17031843800  17031843800  8438.0   CT  1309516       0
2       17      031  243000  1400000US17031243000  17031243000  2430.0   CT   324548       0
3       17      031  250600  1400000US17031250600  17031250600  2506.0   CT   647765       0
4       17      031  251700  1400000US17031251700  17031251700  2517.0   CT   486655       0
5       17      031  260400  1400000US17031260400  17031260400  2604.0   CT   328225       0

In [134]:
## save Chicago city tract file to local drive
##dc_NYCAll_withCrimeNoNAs.to_csv("dc_NYCAll_withCrimeNov30th.csv")
census_tracts_Chicago.to_csv("census_tracts_ChicagoFeb12th.csv")