In [4]:
## Scraping census code from american census' api in two lots (limit on how many fields can be extraced in a single api call) 
## In addition, this code is scraping crime data from city's opendata and joining it to the census data.
## US Census source: Community 5 year Survey: ACS/ACS5/Profile.html
## https://api.census.gov/data/2018/acs/acs5/profile/groups.html


import requests
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)



HOST = "https://api.census.gov/data"
year = "2018"
dataset = "acs/acs5/profile.html" ## has census tracts only; not census blocks 
key = "27d6154de64a12d9b06727be7177fe46e7c4eee1"
base_url = "/".join([HOST, year, dataset])

## ACS Detailed table request
get_vars = ["DP05_0001E","DP02_0001E", "DP02_0002E","DP02_0008PE", "DP02_0010PE", 
            "DP02_0015E", "DP02_0016E", "DP02_0022PE", "DP02_0038E", "DP02_0046PE",
            "DP02_0048PE","DP02_0060PE","DP02_0063PE","DP02_0079PE","DP02_0085PE",
            "DP02_0088PE","DP02_0112PE","DP02_0134PE",
            "DP03_0009PE","DP03_0027PE","DP03_0028PE","DP03_0037PE","DP03_0040PE",
            "DP03_0041PE","DP03_0050PE","DP03_0052PE", "DP03_0054PE","DP03_0058PE",
            "DP03_0061PE","DP03_0065E","DP03_0066PE","DP03_0072PE","DP03_0074PE",
            "DP03_0085PE","DP03_0092E","DP03_0093E","DP03_0094E",
            "DP03_0097PE","DP03_0097PE",
            "DP03_0099PE","DP03_0119PE","DP03_0121PE","DP03_0126PE","DP04_0001PE",
            "DP04_0002PE","DP04_0004E","DP04_0005E","DP04_0006E"] # total housing units  

get_vars = ["NAME"] + get_vars


dfs = []
items = ['113', '085', '121', '183', '251', '201', '397', '439', '231',
       '491', '257', '061', '139', '029', '309', '453', '213']

for item in items:
    predicates = {}
    predicates["get"] = ",".join(get_vars)
    predicates["for"] = "tract:*"
    predicates["in"] = "state:48;county:"+item  ## Dallas city in Texas (48)
    predicates["key"]="27d6154de64a12d9b06727be7177fe46e7c4eee1"
    r8 = requests.get(base_url, params=predicates)
    ## field names
    col_names = ["NAME", "DP05_0001E-T Popo","DP02_0001E-T HHs","DP02_0002E-T Fam HHs",
                 "DP02_0008PE-%F-led HHs No H","DP02_0010PE-% Non-Fam HHs", "DP02_0015E-Avg HH Size",
                 "DP02_0016E-Avg Fam Size", "DP02_0022PE-%Non Rel in Hs","DP02_0038E-per1000-F-U-RecentPreg", 
                 "DP02_0046PE-%GPwParent&Gc1-2yrs", "DP02_0048PE--%GPwParent&Gc>5yrs", "DP02_0060PE-%NoSchDiploma",
                 "DP02_0063PE-%AssDeg","DP02_0079PE-% SameHouse_1YrAgo","DP02_0085PE-%LivAbroad1YrAgo",
                 "DP02_0088PE-%BornUS", "DP02_0112PE-HomeLangNotEng", "DP02_0134PE-%IrishAnc", 
                 "DP03_0009PE-%Unemploy",
                 "DP03_0027PE-%WorkingMgt,Bus,Sc,Arts","DP03_0028PE%WorkingService","DP03_0037PE-Retail", 
                 "DP03_0040PE-%Fin&Ins","DP03_0041PE-%ProfSc,Mgt,Admin","DP03_0050PE-%UnpaidFamilyWk",
                 "DP03_0052PE-Inc<10k", "DP03_0054PE-Inc15-24k", "DP03_0058PE-Inc75-99k", "DP03_0061PE-Inc200k>",
                 "DP03_0065E-HH-MeanEarnings","DP03_0066PE-%HHsWithSocSec","DP03_0072PE-%HH Inc with Cash public Ass",
                 "DP03_0074PE-%HH Inc with Food Stamps SNAP","DP03_0085PE-%Families Inc>200k", 
                 "DP03_0092E-Median Earning Workers","DP03_0093E-Median Earnings Male FT Workers",
                 "DP03_0094E-Median Earnings Female FT Workers",
                 "DP03_0097PE-%PHI-Priv","DP03_0098PE-%PHI-Pub","DP03_0099PE-No PHI","DP03_0119PE-% Fam <Pov", 
                 "DP03_0121PE-%Fam with child U18&U5 <pov","DP03_0126PE-%F-Led Families with u18 <pov",
                 "DP04_0001E-T H U", "DP04_0002PE-%Occ H U","DP04_0004E-%Ow Vac Rate", "DP04_0005E-%Rn Vac Rate",
                 "DP04_0006E-T HU",
                 "State","County", "Tract"]
    print("county:", item)
    df_collect = pd.DataFrame(columns=col_names, data=r8.json()[1:])
    rows = len(df_collect)
    print("rows in r", rows)
    dfs.append(df_collect)

Dallas1 = pd.concat(dfs)            # examine the response


Dallas1.shape
from datetime import date
print("Today's date is:", date.today())
Dallas1.head()

county: 113
rows in r 529
county: 085
rows in r 152
county: 121
rows in r 137
county: 183
rows in r 25
county: 251
rows in r 28
county: 201
rows in r 786
county: 397
rows in r 11
county: 439
rows in r 357
county: 231
rows in r 19
county: 491
rows in r 89
county: 257
rows in r 18
county: 061
rows in r 87
county: 139
rows in r 31
county: 029
rows in r 366
county: 309
rows in r 51
county: 453
rows in r 218
county: 213
rows in r 17
Today's date is: 2021-02-08

,NAME,DP05_0001E-T Popo,DP02_0001E-T HHs,DP02_0002E-T Fam HHs,DP02_0008PE-%F-led HHs No H,DP02_0010PE-% Non-Fam HHs,DP02_0015E-Avg HH Size,DP02_0016E-Avg Fam Size,DP02_0022PE-%Non Rel in Hs,DP02_0038E-per1000-F-U-RecentPreg,DP02_0046PE-%GPwParent&Gc1-2yrs,DP02_0048PE--%GPwParent&Gc>5yrs,DP02_0060PE-%NoSchDiploma,DP02_0063PE-%AssDeg,DP02_0079PE-% SameHouse_1YrAgo,DP02_0085PE-%LivAbroad1YrAgo,DP02_0088PE-%BornUS,DP02_0112PE-HomeLangNotEng,DP02_0134PE-%IrishAnc,DP03_0009PE-%Unemploy,"DP03_0027PE-%WorkingMgt,Bus,Sc,Arts",DP03_0028PE%WorkingService,DP03_0037PE-Retail,DP03_0040PE-%Fin&Ins,"DP03_0041PE-%ProfSc,Mgt,Admin",DP03_0050PE-%UnpaidFamilyWk,DP03_0052PE-Inc<10k,DP03_0054PE-Inc15-24k,DP03_0058PE-Inc75-99k,DP03_0061PE-Inc200k>,DP03_0065E-HH-MeanEarnings,DP03_0066PE-%HHsWithSocSec,DP03_0072PE-%HH Inc with Cash public Ass,DP03_0074PE-%HH Inc with Food Stamps SNAP,DP03_0085PE-%Families Inc>200k,DP03_0092E-Median Earning Workers,DP03_0093E-Median Earnings Male FT Workers,DP03_0094E-Median Earnings Female FT Workers,DP03_0097PE-%PHI-Priv,DP03_0098PE-%PHI-Pub,DP03_0099PE-No PHI,DP03_0119PE-% Fam <Pov,DP03_0121PE-%Fam with child U18&U5 <pov,DP03_0126PE-%F-Led Families with u18 <pov,DP04_0001E-T H U,DP04_0002PE-%Occ H U,DP04_0004E-%Ow Vac Rate,DP04_0005E-%Rn Vac Rate,DP04_0006E-T HU,State,County,Tract
0,"Census Tract 174, Dallas County, Texas",5590,1708,1202,22.1,29.6,3.20,3.76,8.1,5,6.3,51.6,14.5,4.4,77.0,0.0,88.6,27.3,3.8,3.3,24.1,22.9,10.6,6.8,8.8,0.0,5.6,9.6,13.2,0.9,50255,28.0,0.6,18.5,1.3,28327,41397,40123,48.1,48.1,19.2,19.6,0.0,45.6,1729,98.8,0.0,0.0,1729,48,113,017400
1,"Census Tract 178.04, Dallas County, Texas",7832,2464,1803,27.4,26.8,3.13,3.56,8.3,11,17.1,0.0,18.9,7.7,72.3,0.0,85.1,35.1,3.5,8.8,22.9,22.6,12.6,6.9,8.7,0.0,6.6,9.3,9.8,0.8,54304,21.6,0.8,14.7,1.1,22113,39597,26236,44.6,44.6,28.1,19.0,21.9,44.4,2635,93.5,0.0,8.8,2635,48,113,017804
2,"Census Tract 178.13, Dallas County, Texas",6896,2441,1733,23.9,29.0,2.83,3.25,8.1,160,0.0,0.0,12.4,6.8,71.5,1.2,77.8,38.2,3.3,5.4,26.1,12.7,16.7,7.3,13.3,0.0,1.9,7.7,12.0,1.4,59139,10.7,1.2,16.8,1.9,31881,39051,34004,53.0,53.0,26.5,7.1,12.8,6.8,2753,88.7,12.7,9.0,2753,48,113,017813
3,"Census Tract 184.01, Dallas County, Texas",5025,1498,1094,16.4,27.0,3.35,4.09,2.8,133,1.9,16.8,22.3,5.2,85.1,0.3,71.7,55.6,3.3,3.6,22.0,11.9,9.8,6.3,10.2,0.0,2.5,12.5,14.4,5.8,70365,25.8,0.7,18.6,5.3,24835,40911,26406,46.4,46.4,30.4,21.9,78.6,64.9,1566,95.7,2.9,6.5,1566,48,113,018401
4,"Census Tract 190.16, Dallas County, Texas",2978,1187,648,16.7,45.4,2.51,3.23,11.6,14,0.0,33.3,6.0,12.0,73.9,0.3,54.4,52.0,6.5,6.2,22.3,22.6,20.9,9.8,7.7,0.0,5.1,9.4,8.1,2.8,51405,22.9,3.2,14.9,5.1,26224,34438,29567,52.0,52.0,22.3,21.6,71.9,79.0,1331,89.2,0.0,7.0,1331,48,113,019016

In [5]:
## other variables same as for Dallas1
## ACS Detailed table request
get_vars = ["DP04_0013PE","DP04_0017PE","DP04_0029PE","DP04_0039PE","DP04_0045PE", "DP04_0046PE",
           "DP04_0047E","DP04_0048E","DP04_0051PE", "DP04_0054PE", "DP04_0082PE","DP04_0083PE",
            "DP04_0084PE","DP04_0087PE","DP04_0101E", "DP04_0134E","DP05_0005PE","DP05_0023PE",
           "DP05_0059PE","DP05_0061PE","DP05_0064PE", "DP05_0070PE"]
get_vars = ["NAME"] + get_vars
dfs2 = []
for item in items:
    predicates = {}
    predicates["get"] = ",".join(get_vars)
    predicates["for"] = "tract:*"
    predicates["in"] = "state:48;county:"+item   ## Dallas city in Texas (48)
    predicates["key"]="27d6154de64a12d9b06727be7177fe46e7c4eee1"
    r7 = requests.get(base_url, params=predicates)
# print(' \n ', r3.text)
    col_names = ["NAME","DP04_0013PE-%20+HU","DP04_0017PE-%Built2014+", "DP04_0029PE-%2rooms_only_HU",
                 "DP04_0039PE-Zero bedrooms","DP04_0045PE-%Occup HU","DP04_0046PE-%Owner Occup HU",
                 "DP04_0048E-Owner Ave Household size","DP04_0049E-Renter Ave Household size",
                 "DP04_0051PE-%moved since 2017+","DP04_0054PE-%moved 2000 to 2009",
                 "DP04_0082PE-%Value 50-99k","DP04_0083PE-%Value 100-149k","DP04_0084PE-%Value 150-199k",
                 "DP04_0087PE-%Value 500k-1m","DP04_0101E-Med Onwer Monthly Mortgage",
                 "DP04_0134E-Median Gross Rent","DP05_0005PE-%under 5 yrs", "DP05_0023PE-%62 yrs+",
                 "DP05_0058PE-% w & B or AM","DP05_0061PE-%White & Asian","DP05_0064PE-%White with others",
                 "DP05_0070PE-%H&L race",
                 "State","County", "Tract"]
    print("county:", item)
    df_collect = pd.DataFrame(columns=col_names, data=r7.json()[1:])
    rows = len(df_collect)
    print("rows in r", rows)
    dfs2.append(df_collect)
#print('\n 2018 - NYC County Results = \n ',df6)
Dallas2 = pd.concat(dfs2)            # examine the response


Dallas2.shape
print("Today's date is:", date.today())
Dallas2.head()

county: 113
rows in r 529
county: 085
rows in r 152
county: 121
rows in r 137
county: 183
rows in r 25
county: 251
rows in r 28
county: 201
rows in r 786
county: 397
rows in r 11
county: 439
rows in r 357
county: 231
rows in r 19
county: 491
rows in r 89
county: 257
rows in r 18
county: 061
rows in r 87
county: 139
rows in r 31
county: 029
rows in r 366
county: 309
rows in r 51
county: 453
rows in r 218
county: 213
rows in r 17
Today's date is: 2021-02-08

                                        NAME DP04_0013PE-%20+HU DP04_0017PE-%Built2014+ DP04_0029PE-%2rooms_only_HU DP04_0039PE-Zero bedrooms DP04_0045PE-%Occup HU DP04_0046PE-%Owner Occup HU DP04_0048E-Owner Ave Household size DP04_0049E-Renter Ave Household size DP04_0051PE-%moved since 2017+ DP04_0054PE-%moved 2000 to 2009 DP04_0082PE-%Value 50-99k DP04_0083PE-%Value 100-149k DP04_0084PE-%Value 150-199k DP04_0087PE-%Value 500k-1m DP04_0101E-Med Onwer Monthly Mortgage DP04_0134E-Median Gross Rent DP05_0005PE-%under 5 yrs DP05_0023PE-%62 yrs+ DP05_0058PE-% w & B or AM DP05_0061PE-%White & Asian DP05_0064PE-%White with others DP05_0070PE-%H&L race State County   Tract
0     Census Tract 174, Dallas County, Texas                0.0                     0.0                         0.5                       0.0                  1708                        62.4                                 643                                 2.86                            0.6                            16.6                      47.5                        40.4                         8.7                        0.0                                  1123                         1195                      3.6                 15.5                       2.0                        0.0                           77.5                  5590    48    113  017400
1  Census Tract 178.04, Dallas County, Texas               16.9                    10.0                         2.2                       0.6                  2464                        33.4                                1640                                 2.96                            5.8                            18.1                      30.2                        51.6                        12.7                        3.4                                  1218                          958                      8.6                 13.0                       1.6                        0.2                           63.9                  7832    48    113  017804
2  Census Tract 178.13, Dallas County, Texas               16.7                     0.4                         2.7                       4.6                  2441                        19.5                                1965                                 3.06                           11.1                             9.6                      25.0                        53.4                        19.3                        0.0                                  1272                         1056                      9.1                  7.2                       1.2                        1.4                           52.4                  6896    48    113  017813
3  Census Tract 184.01, Dallas County, Texas                3.2                     0.0                         3.2                       0.0                  1498                        61.9                                 571                                 3.11                            3.7                            21.9                      17.6                        37.5                        33.7                        0.8                                  1339                          917                      8.1                 11.9                       2.9                        0.2                           73.5                  5025    48    113  018401
4  Census Tract 190.16, Dallas County, Texas               13.6                     0.0                         9.9                       3.8                  1187                        31.3                                 816                                 2.36                           10.3                            28.1                      11.1                        58.0                        28.0                        0.0                                  1308                          823                      5.7                 11.8                       1.0                        1.3                           48.2                  2978    48    113  019016

In [8]:
import pandas as pd
### join Baltimore1 and Baltimore2 
## Notes on joining - https://stackoverflow.com/questions/40468069/merge-two-dataframes-by-index
Dallas_Crime_df3 = pd.merge(left = Dallas1, right = Dallas2, how = 'right', left_on = ['NAME','State','County','Tract'], right_on = ['NAME','State','County','Tract'])
Dallas_Crime_df3.head()

,NAME,DP05_0001E-T Popo,DP02_0001E-T HHs,DP02_0002E-T Fam HHs,DP02_0008PE-%F-led HHs No H,DP02_0010PE-% Non-Fam HHs,DP02_0015E-Avg HH Size,DP02_0016E-Avg Fam Size,DP02_0022PE-%Non Rel in Hs,DP02_0038E-per1000-F-U-RecentPreg,DP02_0046PE-%GPwParent&Gc1-2yrs,DP02_0048PE--%GPwParent&Gc>5yrs,DP02_0060PE-%NoSchDiploma,DP02_0063PE-%AssDeg,DP02_0079PE-% SameHouse_1YrAgo,DP02_0085PE-%LivAbroad1YrAgo,DP02_0088PE-%BornUS,DP02_0112PE-HomeLangNotEng,DP02_0134PE-%IrishAnc,DP03_0009PE-%Unemploy,"DP03_0027PE-%WorkingMgt,Bus,Sc,Arts",DP03_0028PE%WorkingService,DP03_0037PE-Retail,DP03_0040PE-%Fin&Ins,"DP03_0041PE-%ProfSc,Mgt,Admin",DP03_0050PE-%UnpaidFamilyWk,DP03_0052PE-Inc<10k,DP03_0054PE-Inc15-24k,DP03_0058PE-Inc75-99k,DP03_0061PE-Inc200k>,DP03_0065E-HH-MeanEarnings,DP03_0066PE-%HHsWithSocSec,DP03_0072PE-%HH Inc with Cash public Ass,DP03_0074PE-%HH Inc with Food Stamps SNAP,DP03_0085PE-%Families Inc>200k,DP03_0092E-Median Earning Workers,DP03_0093E-Median Earnings Male FT Workers,DP03_0094E-Median Earnings Female FT Workers,DP03_0097PE-%PHI-Priv,DP03_0098PE-%PHI-Pub,DP03_0099PE-No PHI,DP03_0119PE-% Fam <Pov,DP03_0121PE-%Fam with child U18&U5 <pov,DP03_0126PE-%F-Led Families with u18 <pov,DP04_0001E-T H U,DP04_0002PE-%Occ H U,DP04_0004E-%Ow Vac Rate,DP04_0005E-%Rn Vac Rate,DP04_0006E-T HU,State,County,Tract,DP04_0013PE-%20+HU,DP04_0017PE-%Built2014+,DP04_0029PE-%2rooms_only_HU,DP04_0039PE-Zero bedrooms,DP04_0045PE-%Occup HU,DP04_0046PE-%Owner Occup HU,DP04_0048E-Owner Ave Household size,DP04_0049E-Renter Ave Household size,DP04_0051PE-%moved since 2017+,DP04_0054PE-%moved 2000 to 2009,DP04_0082PE-%Value 50-99k,DP04_0083PE-%Value 100-149k,DP04_0084PE-%Value 150-199k,DP04_0087PE-%Value 500k-1m,DP04_0101E-Med Onwer Monthly Mortgage,DP04_0134E-Median Gross Rent,DP05_0005PE-%under 5 yrs,DP05_0023PE-%62 yrs+,DP05_0058PE-% w & B or AM,DP05_0061PE-%White & Asian,DP05_0064PE-%White with others,DP05_0070PE-%H&L race
0,"Census Tract 174, Dallas County, Texas",5590,1708,1202,22.1,29.6,3.20,3.76,8.1,5,6.3,51.6,14.5,4.4,77.0,0.0,88.6,27.3,3.8,3.3,24.1,22.9,10.6,6.8,8.8,0.0,5.6,9.6,13.2,0.9,50255,28.0,0.6,18.5,1.3,28327,41397,40123,48.1,48.1,19.2,19.6,0.0,45.6,1729,98.8,0.0,0.0,1729,48,113,017400,0.0,0.0,0.5,0.0,1708,62.4,643,2.86,0.6,16.6,47.5,40.4,8.7,0.0,1123,1195,3.6,15.5,2.0,0.0,77.5,5590
1,"Census Tract 178.04, Dallas County, Texas",7832,2464,1803,27.4,26.8,3.13,3.56,8.3,11,17.1,0.0,18.9,7.7,72.3,0.0,85.1,35.1,3.5,8.8,22.9,22.6,12.6,6.9,8.7,0.0,6.6,9.3,9.8,0.8,54304,21.6,0.8,14.7,1.1,22113,39597,26236,44.6,44.6,28.1,19.0,21.9,44.4,2635,93.5,0.0,8.8,2635,48,113,017804,16.9,10.0,2.2,0.6,2464,33.4,1640,2.96,5.8,18.1,30.2,51.6,12.7,3.4,1218,958,8.6,13.0,1.6,0.2,63.9,7832
2,"Census Tract 178.13, Dallas County, Texas",6896,2441,1733,23.9,29.0,2.83,3.25,8.1,160,0.0,0.0,12.4,6.8,71.5,1.2,77.8,38.2,3.3,5.4,26.1,12.7,16.7,7.3,13.3,0.0,1.9,7.7,12.0,1.4,59139,10.7,1.2,16.8,1.9,31881,39051,34004,53.0,53.0,26.5,7.1,12.8,6.8,2753,88.7,12.7,9.0,2753,48,113,017813,16.7,0.4,2.7,4.6,2441,19.5,1965,3.06,11.1,9.6,25.0,53.4,19.3,0.0,1272,1056,9.1,7.2,1.2,1.4,52.4,6896
3,"Census Tract 184.01, Dallas County, Texas",5025,1498,1094,16.4,27.0,3.35,4.09,2.8,133,1.9,16.8,22.3,5.2,85.1,0.3,71.7,55.6,3.3,3.6,22.0,11.9,9.8,6.3,10.2,0.0,2.5,12.5,14.4,5.8,70365,25.8,0.7,18.6,5.3,24835,40911,26406,46.4,46.4,30.4,21.9,78.6,64.9,1566,95.7,2.9,6.5,1566,48,113,018401,3.2,0.0,3.2,0.0,1498,61.9,571,3.11,3.7,21.9,17.6,37.5,33.7,0.8,1339,917,8.1,11.9,2.9,0.2,73.5,5025
4,"Census Tract 190.16, Dallas County, Texas",2978,1187,648,16.7,45.4,2.51,3.23,11.6,14,0.0,33.3,6.0,12.0,73.9,0.3,54.4,52.0,6.5,6.2,22.3,22.6,20.9,9.8,7.7,0.0,5.1,9.4,8.1,2.8,51405,22.9,3.2,14.9,5.1,26224,34438,29567,52.0,52.0,22.3,21.6,71.9,79.0,1331,89.2,0.0,7.0,1331,48,113,019016,13.6,0.0,9.9,3.8,1187,31.3,816,2.36,10.3,28.1,11.1,58.0,28.0,0.0,1308,823,5.7,11.8,1.0,1.3,48.2,2978

In [69]:
## scraping Dallas city crime data
## Website: https://www.dallasopendata.com/Public-Safety/Police-Incidents/qv6i-rri7
## data title: 'Police Incidents' and lists incidents from 2014 to current
## 'signal' is the type of offence www.dallasopendata.com/resource/qv6i-rri7.json?$limit=1000000&$select=compname,geocoded_column')

import requests
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
#742k records retrieved, only capturing signal, compname, incident_address and geocoded_columns 
data = requests.get('https://www.dallasopendata.com/resource/qv6i-rri7.json?$limit=750000&$select=signal,incident_address, geocoded_column')

##  CRS, WGS 1984, decimal degrees (EPSG 4326)
#Mairead Manifold	39yg545d61h09tmg07z4hd39p  $$app_token=39yg545d61h09tmg07z4hd39p
Dallas_Crime_df3 = pd.DataFrame(data=data.json())
Dallas_Crime_df3.to_csv("Dallas_crime_as_downloaded_Feb8th2021.csv")
Dallas_Crime_df3.head() ## 740k crime stats downloaded for Dallas Jan 31st 2021

                        signal        incident_address                                    geocoded_column
0   6X - MAJOR DIST (VIOLENCE)  5735 CRYSTAL LAKE BLVD  {'latitude': '32.696588', 'longitude': '-96.92...
1   6X - MAJOR DIST (VIOLENCE)       3083 HERSCHEL AVE  {'latitude': '32.814523', 'longitude': '-96.81...
2                40/01 - OTHER             2551 ELM ST  {'latitude': '32.783788', 'longitude': '-96.78...
3  6XA - MAJOR DIST  AMBULANCE         11327 REEDER RD  {'latitude': '32.894186', 'longitude': '-96.89...
4  6XA - MAJOR DIST  AMBULANCE         11327 REEDER RD  {'latitude': '32.894186', 'longitude': '-96.89...

In [12]:
## Dallas_Crime_df3['Dallas_Crime_df3'].isnull().sum() ## there are 3,159 NAs in geocoded_column

##df = df[df['EPS'].notna()] to keep rows that have not got NAs

Dallas_Crime_df = Dallas_Crime_df3[Dallas_Crime_df3['geocoded_column'].notna()]
print("No of NAs in Dallas geocoded_column col", Dallas_Crime_df3['geocoded_column'].isnull().sum())
print("shape of Dallas_Crime_df", Dallas_Crime_df.shape)  
Dallas_Crime_df.head()

No of NAs in Dallas geocoded_column col 3159
shape of Dallas_Crime_df (739848, 3)

                        signal        incident_address                                    geocoded_column
0   6X - MAJOR DIST (VIOLENCE)  5735 CRYSTAL LAKE BLVD  {'latitude': '32.696588', 'longitude': '-96.92...
1   6X - MAJOR DIST (VIOLENCE)       3083 HERSCHEL AVE  {'latitude': '32.814523', 'longitude': '-96.81...
2                40/01 - OTHER             2551 ELM ST  {'latitude': '32.783788', 'longitude': '-96.78...
3  6XA - MAJOR DIST  AMBULANCE         11327 REEDER RD  {'latitude': '32.894186', 'longitude': '-96.89...
4  6XA - MAJOR DIST  AMBULANCE         11327 REEDER RD  {'latitude': '32.894186', 'longitude': '-96.89...

In [13]:
## Extracting longitude and latitude from the geocoded_column 
## extraction example 
##data['desig'] = data['Name'].str.extract(r'(\w+), (\w+). (\w+)')
## https://stackoverflow.com/questions/34867862/python-pandas-dataframe-regex-to-extract-substring-from-object

Dallas_Crime_df['Latitude'] = Dallas_Crime_df['geocoded_column'].astype(str).str.extract(r'\'latitude\': \'(.*?)longitude')
Dallas_Crime_df['Longitude'] = Dallas_Crime_df['geocoded_column'].astype(str).str.extract(r'\'longitude\': \'(.*?)human_address')

Dallas_Crime_df.head()

<ipython-input-13-11074dc792dc>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Dallas_Crime_df['Latitude'] = Dallas_Crime_df['geocoded_column'].astype(str).str.extract(r'\'latitude\': \'(.*?)longitude')
<ipython-input-13-11074dc792dc>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Dallas_Crime_df['Longitude'] = Dallas_Crime_df['geocoded_column'].astype(str).str.extract(r'\'longitude\': \'(.*?)human_address')

                        signal        incident_address                                    geocoded_column       Latitude       Longitude
0   6X - MAJOR DIST (VIOLENCE)  5735 CRYSTAL LAKE BLVD  {'latitude': '32.696588', 'longitude': '-96.92...  32.696588', '  -96.921236', '
1   6X - MAJOR DIST (VIOLENCE)       3083 HERSCHEL AVE  {'latitude': '32.814523', 'longitude': '-96.81...  32.814523', '  -96.816634', '
2                40/01 - OTHER             2551 ELM ST  {'latitude': '32.783788', 'longitude': '-96.78...  32.783788', '  -96.787823', '
3  6XA - MAJOR DIST  AMBULANCE         11327 REEDER RD  {'latitude': '32.894186', 'longitude': '-96.89...  32.894186', '  -96.895991', '
4  6XA - MAJOR DIST  AMBULANCE         11327 REEDER RD  {'latitude': '32.894186', 'longitude': '-96.89...  32.894186', '  -96.895991', '

In [14]:
# removing part of 
#df[df["Date"].str.replace(to_replace="\s:00", value="")]
#'human_address': '{"address": "
Dallas_Crime_df['Latitude'] = Dallas_Crime_df['Latitude'].str.slice(0,9)

<ipython-input-14-218214693425>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Dallas_Crime_df['Latitude'] = Dallas_Crime_df['Latitude'].str.slice(0,9)

In [15]:
Dallas_Crime_df['Longitude'] = Dallas_Crime_df['Longitude'].str.slice(0,10)

<ipython-input-15-e0f61cb32f74>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Dallas_Crime_df['Longitude'] = Dallas_Crime_df['Longitude'].str.slice(0,10)

In [16]:
Dallas_Crime_df.head()

                        signal        incident_address                                    geocoded_column   Latitude   Longitude
0   6X - MAJOR DIST (VIOLENCE)  5735 CRYSTAL LAKE BLVD  {'latitude': '32.696588', 'longitude': '-96.92...  32.696588  -96.921236
1   6X - MAJOR DIST (VIOLENCE)       3083 HERSCHEL AVE  {'latitude': '32.814523', 'longitude': '-96.81...  32.814523  -96.816634
2                40/01 - OTHER             2551 ELM ST  {'latitude': '32.783788', 'longitude': '-96.78...  32.783788  -96.787823
3  6XA - MAJOR DIST  AMBULANCE         11327 REEDER RD  {'latitude': '32.894186', 'longitude': '-96.89...  32.894186  -96.895991
4  6XA - MAJOR DIST  AMBULANCE         11327 REEDER RD  {'latitude': '32.894186', 'longitude': '-96.89...  32.894186  -96.895991

In [17]:
Dallas_Crime_df[Dallas_Crime_df['Longitude'].isna()] ## see how many longitude NAs found - 25,980 found

                            signal               incident_address                                    geocoded_column Latitude Longitude
5           37F - FREEWAY BLOCKAGE                 7901 L B J FWY  {'human_address': '{"address": "7901 L B J FWY...      NaN       NaN
13      41/09V  - UUMV IN PROGRESS     7900 PRES GEORGE BUSH TPKE  {'human_address': '{"address": "7900 PRES GEOR...      NaN       NaN
39         24 - ABANDONED PROPERTY  4956 GREAT TRINITY FOREST WAY  {'human_address': '{"address": "4956 GREAT TRI...      NaN       NaN
82      41/09V  - UUMV IN PROGRESS     7900 PRES GEORGE BUSH TPKE  {'human_address': '{"address": "7900 PRES GEOR...      NaN       NaN
84      6X - MAJOR DIST (VIOLENCE)     7905 MARVIN D LOVE SERV SB  {'human_address': '{"address": "7905 MARVIN D ...      NaN       NaN
...                            ...                            ...                                                ...      ...       ...
742851                  09V - UUMV       400 N WALTON WALKER BLVD  {'human_address': '{"address": "400 N WALTON W...      NaN       NaN
742854               09/01 - THEFT                   5301 2ND AVE  {'human_address': '{"address": "5301 2ND AVE",...      NaN       NaN
742872  58 - ROUTINE INVESTIGATION                   1600 FUN WAY  {'human_address': '{"address": "1600 FUN WAY",...      NaN       NaN
742903                         NaN                 7642 L B J FWY  {'human_address': '{"address": "7642 L B J FWY...      NaN       NaN
742969     24 - ABANDONED PROPERTY           6900 W LEDBETTER EXT  {'human_address': '{"address": "6900 W LEDBETT...      NaN       NaN

[26011 rows x 5 columns]

In [18]:
Dallas_Crime_df[Dallas_Crime_df['Latitude'].isna()] ## see how many latitude NAs found - 25,980 found

                            signal               incident_address                                    geocoded_column Latitude Longitude
5           37F - FREEWAY BLOCKAGE                 7901 L B J FWY  {'human_address': '{"address": "7901 L B J FWY...      NaN       NaN
13      41/09V  - UUMV IN PROGRESS     7900 PRES GEORGE BUSH TPKE  {'human_address': '{"address": "7900 PRES GEOR...      NaN       NaN
39         24 - ABANDONED PROPERTY  4956 GREAT TRINITY FOREST WAY  {'human_address': '{"address": "4956 GREAT TRI...      NaN       NaN
82      41/09V  - UUMV IN PROGRESS     7900 PRES GEORGE BUSH TPKE  {'human_address': '{"address": "7900 PRES GEOR...      NaN       NaN
84      6X - MAJOR DIST (VIOLENCE)     7905 MARVIN D LOVE SERV SB  {'human_address': '{"address": "7905 MARVIN D ...      NaN       NaN
...                            ...                            ...                                                ...      ...       ...
742851                  09V - UUMV       400 N WALTON WALKER BLVD  {'human_address': '{"address": "400 N WALTON W...      NaN       NaN
742854               09/01 - THEFT                   5301 2ND AVE  {'human_address': '{"address": "5301 2ND AVE",...      NaN       NaN
742872  58 - ROUTINE INVESTIGATION                   1600 FUN WAY  {'human_address': '{"address": "1600 FUN WAY",...      NaN       NaN
742903                         NaN                 7642 L B J FWY  {'human_address': '{"address": "7642 L B J FWY...      NaN       NaN
742969     24 - ABANDONED PROPERTY           6900 W LEDBETTER EXT  {'human_address': '{"address": "6900 W LEDBETT...      NaN       NaN

[26011 rows x 5 columns]

In [19]:
##df = df[df['EPS'].notna()] to keep rows that have not got NAs
Dallas_Crime_df_noNAs = Dallas_Crime_df[Dallas_Crime_df['Longitude'].notna()]
Dallas_Crime_df_noNAs = Dallas_Crime_df[Dallas_Crime_df['Latitude'].notna()]
Dallas_Crime_df_noNAs

                             signal        incident_address                                    geocoded_column   Latitude   Longitude
0        6X - MAJOR DIST (VIOLENCE)  5735 CRYSTAL LAKE BLVD  {'latitude': '32.696588', 'longitude': '-96.92...  32.696588  -96.921236
1        6X - MAJOR DIST (VIOLENCE)       3083 HERSCHEL AVE  {'latitude': '32.814523', 'longitude': '-96.81...  32.814523  -96.816634
2                     40/01 - OTHER             2551 ELM ST  {'latitude': '32.783788', 'longitude': '-96.78...  32.783788  -96.787823
3       6XA - MAJOR DIST  AMBULANCE         11327 REEDER RD  {'latitude': '32.894186', 'longitude': '-96.89...  32.894186  -96.895991
4       6XA - MAJOR DIST  AMBULANCE         11327 REEDER RD  {'latitude': '32.894186', 'longitude': '-96.89...  32.894186  -96.895991
...                             ...                     ...                                                ...        ...         ...
743002                19 - SHOOTING       3011 PARK ROW AVE  {'latitude': '32.772877', 'longitude': '-96.76...  32.772877  -96.768273
743003            11B - BURG OF BUS       3525 COLONIAL AVE  {'latitude': '32.757682', 'longitude': '-96.77...  32.757682  -96.771957
743004       14 - STABBING, CUTTING     3642 FAWN VALLEY DR  {'latitude': '32.699823', 'longitude': '-96.83...  32.699823  -96.834521
743005          7X - MAJOR ACCIDENT          3711 DILIDO RD  {'latitude': '32.800649', 'longitude': '-96.68...  32.800649  -96.688216
743006                   40 - OTHER       9877 BROCKBANK DR  {'latitude': '32.878548', 'longitude': '-96.87...  32.878548  -96.876673

[713837 rows x 5 columns]

In [20]:
## make longitude and latitude fields into floats. 
import numpy as np
def f(x):
    try:
        return np.float(x)
    except:
        return np.nan
Dallas_Crime_df_noNAs['Latitude'] = Dallas_Crime_df_noNAs['Latitude'].apply(f)
Dallas_Crime_df_noNAs['Longitude'] = Dallas_Crime_df_noNAs['Longitude'].apply(f)

<ipython-input-20-62f192c55c5a>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Dallas_Crime_df_noNAs['Latitude'] = Dallas_Crime_df_noNAs['Latitude'].apply(f)
<ipython-input-20-62f192c55c5a>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Dallas_Crime_df_noNAs['Longitude'] = Dallas_Crime_df_noNAs['Longitude'].apply(f)

In [22]:
import geopandas as gpd

## Creating a GeoDataframe file from Dallas and then using it  
## to get tract points from the Texas census shape file (State ID: 48) 

Dallas_data_points = gpd.GeoDataFrame(Dallas_Crime_df_noNAs, geometry=gpd.points_from_xy(Dallas_Crime_df_noNAs.Longitude, Dallas_Crime_df_noNAs.Latitude), crs='EPSG:4269')
Dallas_data_points

Dallas_shape = "cb_2018_48_tract_500k.shp"  # load state code "48" for Texas shape file 

Dallas_map = gpd.read_file(Dallas_shape)

Dallas_points_in_map = gpd.sjoin(Dallas_data_points.to_crs('EPSG:4269'), 
                         Dallas_map, 
                         how='inner', 
                         op='within')  ## doing inner because the census data is for whole of California and only LA crime data census tracts
print("I am done")
print("Today's date is:", date.today())

I am done
Today's date is: 2021-02-08

In [23]:
Dallas_points_in_map.head()
print(Dallas_points_in_map.shape)

(575367, 16)

In [28]:
Dallas_data_points.head()
print(Dallas_points_in_map.shape)

(575367, 16)

In [29]:
## Checking what county are listed in the crime data as this is what 
## is needed when extracting from census
list = Dallas_points_in_map['COUNTYFP'].unique() ## checking if leading zeros needed 
list[0:10,] ## so extracted from correct census counties as this shows only 075 and 081.

array(['113', '085', '121', '439', '397', '139', '061', '201', '309',
       '231'], dtype=object)

In [30]:
import pandas as pd
## saved the dcb_2018_48_tract_500k.dbf file as a csv file to get access to the tract ID
## the index_right column aligns with the tract ID in this file. 
census_tract_Texas = pd.read_csv("cb_2018_48_tract_500k.csv", header=0)
print("census tract info from Texas dbf file saved as a csv file")
census_tract_Texas  ## 5254 tracts listed

census tract info from Texas dbf file saved as a csv file

      STATEFP  COUNTYFP  TRACTCE              AFFGEOID        GEOID    NAME LSAD     ALAND  AWATER
0          48       113    14001  1400000US48113014001  48113014001  140.01   CT   3675046       0
1          48       113    14129  1400000US48113014129  48113014129  141.29   CT   2478837    4984
2          48       113    14311  1400000US48113014311  48113014311  143.11   CT    903480       0
3          48       113    14601  1400000US48113014601  48113014601  146.01   CT   1159772       0
4          48       113    14902  1400000US48113014902  48113014902  149.02   CT   1786032       0
...       ...       ...      ...                   ...          ...     ...  ...       ...     ...
5249       48       277      401  1400000US48277000401  48277000401    4.01   CT   3179369     915
5250       48       141    10340  1400000US48141010340  48141010340  103.40   CT  22049017       0
5251       48       409    11300  1400000US48409011300  48409011300  113.00   CT  28473864   71984
5252       48       423      400  1400000US48423000400  48423000400    4.00   CT   2767091       0
5253       48       423     2008  1400000US48423002008  48423002008   20.08   CT  29270644  317549

[5254 rows x 9 columns]

In [31]:
census_tract_Texas['TRACTCE'] = census_tract_Texas['TRACTCE'].apply(lambda x: '{0:0>6}'.format(x)).astype(str)
census_tract_Texas['TRACTCE'].head()

0    014001
1    014129
2    014311
3    014601
4    014902
Name: TRACTCE, dtype: object

In [32]:
census_tract_Texas['COUNTYFP'] = census_tract_Texas['COUNTYFP'].apply(lambda x: '{0:0>3}'.format(x)).astype(str)
census_tract_Texas['COUNTYFP'].head()

0    113
1    113
2    113
3    113
4    113
Name: COUNTYFP, dtype: object

In [33]:
##The points_in_map of crime data does not include the county or tract or land area, so using join to add these 
## fields from Shape dbf file to the crime data. 
#points_in_map = points_in_map.join(census_tract_df[['COUNTYFP']], on='index_right')
#points_in_map = points_in_map.join(census_tract_df[['TRACTCE']], on='index_right')
#points_in_map = points_in_map.join(census_tract_df[['ALAND']], on='index_right')
Dallas_points_in_map = Dallas_points_in_map.join(census_tract_Texas[['STATEFP','COUNTYFP','TRACTCE','ALAND']],on='index_right', lsuffix='_left', rsuffix='_right')

In [34]:
Dallas_points_in_map.head()

                         signal        incident_address                                    geocoded_column   Latitude  Longitude                    geometry  index_right STATEFP_left COUNTYFP_left TRACTCE_left              AFFGEOID        GEOID    NAME LSAD  ALAND_left  AWATER  STATEFP_right COUNTYFP_right TRACTCE_right  ALAND_right
0    6X - MAJOR DIST (VIOLENCE)  5735 CRYSTAL LAKE BLVD  {'latitude': '32.696588', 'longitude': '-96.92...  32.696588 -96.921236  POINT (-96.92124 32.69659)         4897           48           113       016520  1400000US48113016520  48113016520  165.20   CT    17433059   34693             48            113        016520     17433059
27           ODJ - OFF DUTY JOB       5333 W KIEST BLVD  {'latitude': '32.705747', 'longitude': '-96.91...  32.705747 -96.912835  POINT (-96.91284 32.70575)         4897           48           113       016520  1400000US48113016520  48113016520  165.20   CT    17433059   34693             48            113        016520     17433059
370      **PD REQUESTED BY FIRE     2900 S LEDBETTER DR  {'latitude': '32.710576', 'longitude': '-96.92...  32.710576 -96.920367  POINT (-96.92037 32.71058)         4897           48           113       016520  1400000US48113016520  48113016520  165.20   CT    17433059   34693             48            113        016520     17433059
518     24 - ABANDONED PROPERTY     3000 S LEDBETTER DR  {'latitude': '32.707594', 'longitude': '-96.92...  32.707594 -96.925142  POINT (-96.92514 32.70759)         4897           48           113       016520  1400000US48113016520  48113016520  165.20   CT    17433059   34693             48            113        016520     17433059
617      **PD REQUESTED BY FIRE      4907 CEDARBRIER DR  {'latitude': '32.685157', 'longitude': '-96.91...  32.685157 -96.912186  POINT (-96.91219 32.68516)         4897           48           113       016520  1400000US48113016520  48113016520  165.20   CT    17433059   34693             48            113        016520     17433059

In [35]:
import pandas as pd
#'COUNTYFP_right', 'TRACTCE_right',, 'ALAND_right'
Dallas_points_in_map.drop('STATEFP_right', inplace=True, axis=1)
Dallas_points_in_map.drop('COUNTYFP_right', inplace=True, axis=1)
Dallas_points_in_map.drop('TRACTCE_right', inplace=True, axis=1)
Dallas_points_in_map.drop('ALAND_right', inplace=True, axis=1)
#LA_points_in_map.drop('STATEFP_left', inplace=True, axis=1)
#LA_points_in_map.drop('COUNTYFP_left', inplace=True, axis=1)
#LA_points_in_map.drop('TRACTCE_left', inplace=True, axis=1)
#LA_points_in_map.drop('ALAND_left', inplace=True, axis=1)

In [36]:
Dallas_points_in_map.rename(columns={'STATEFP_left':'State', 'COUNTYFP_left': 'County', 'TRACTCE_left':'Tract', 'ALAND_left':'AreaLand'}, inplace=True)

In [37]:
Dallas_points_in_map.head()

                         signal        incident_address                                    geocoded_column   Latitude  Longitude                    geometry  index_right State County   Tract              AFFGEOID        GEOID    NAME LSAD  AreaLand  AWATER
0    6X - MAJOR DIST (VIOLENCE)  5735 CRYSTAL LAKE BLVD  {'latitude': '32.696588', 'longitude': '-96.92...  32.696588 -96.921236  POINT (-96.92124 32.69659)         4897    48    113  016520  1400000US48113016520  48113016520  165.20   CT  17433059   34693
27           ODJ - OFF DUTY JOB       5333 W KIEST BLVD  {'latitude': '32.705747', 'longitude': '-96.91...  32.705747 -96.912835  POINT (-96.91284 32.70575)         4897    48    113  016520  1400000US48113016520  48113016520  165.20   CT  17433059   34693
370      **PD REQUESTED BY FIRE     2900 S LEDBETTER DR  {'latitude': '32.710576', 'longitude': '-96.92...  32.710576 -96.920367  POINT (-96.92037 32.71058)         4897    48    113  016520  1400000US48113016520  48113016520  165.20   CT  17433059   34693
518     24 - ABANDONED PROPERTY     3000 S LEDBETTER DR  {'latitude': '32.707594', 'longitude': '-96.92...  32.707594 -96.925142  POINT (-96.92514 32.70759)         4897    48    113  016520  1400000US48113016520  48113016520  165.20   CT  17433059   34693
617      **PD REQUESTED BY FIRE      4907 CEDARBRIER DR  {'latitude': '32.685157', 'longitude': '-96.91...  32.685157 -96.912186  POINT (-96.91219 32.68516)         4897    48    113  016520  1400000US48113016520  48113016520  165.20   CT  17433059   34693

In [38]:
groupedTract_count = Dallas_points_in_map.groupby(['County','Tract','AreaLand']).size().reset_index(name='crimeStats')
#df2 = df.rename({'a': 'X', 'b': 'Y'}, axis=1) 
groupedTract_count

    County   Tract  AreaLand  crimeStats
0      029  171301   1126423           1
1      061  012506  20420238           1
2      085  030203  97925581           1
3      085  030505   5488437           1
4      085  030900  26083162           1
..     ...     ...       ...         ...
511    439  121702   6943203           1
512    439  121905   1278945           1
513    439  122100   4336616           1
514    439  123000   5805421           1
515    439  980000  45306446           1

[516 rows x 4 columns]

In [39]:
groupedTract_mean = groupedTract_count["crimeStats"].mean()
print("mean",groupedTract_mean)
groupedTract_min = groupedTract_count["crimeStats"].min()
print("min", groupedTract_min)
groupedTract_max = groupedTract_count["crimeStats"].max()
print("max", groupedTract_max)

mean 1115.0523255813953
min 1
max 18500

In [41]:
import numpy as np
groupedTract_count["crime"] = np.where(groupedTract_count.crimeStats < groupedTract_mean, "low", "high")
groupedTract_count

    County   Tract  AreaLand  crimeStats crime
0      029  171301   1126423           1   low
1      061  012506  20420238           1   low
2      085  030203  97925581           1   low
3      085  030505   5488437           1   low
4      085  030900  26083162           1   low
..     ...     ...       ...         ...   ...
511    439  121702   6943203           1   low
512    439  121905   1278945           1   low
513    439  122100   4336616           1   low
514    439  123000   5805421           1   low
515    439  980000  45306446           1   low

[516 rows x 5 columns]

In [42]:
## checking there are no crimeStats zero values
####dc_NYCAll_withCrime.loc[dc_NYCAll_withCrime.crime == 0, 'crime'].count()
groupedTract_count.loc[groupedTract_count.crimeStats == 0, 'crimeStats'].count()

0

In [43]:
## checking there are no AreaLand zero values
groupedTract_count.loc[groupedTract_count.AreaLand == 0, 'AreaLand'].count()

0

In [44]:
## join crime data to census data 
## https://kodlogs.com/38097/len-left_on-must-equal-the-number-of-levels-in-the-index-of-right#:~:text=pages%20in%20html-,Len(left_on)%20must%20equal%20the%20number%20of%20levels%20in,the%20index%20of%20%22right%22.
DallasAll_withCrime = pd.merge(left = Dallas_All, right = groupedTract_count, how = 'inner', on = ['County', 'Tract'])

In [45]:
DallasAll_withCrime.count()

NAME                                            516
DP05_0001E-T Popo                               516
DP02_0001E-T HHs                                516
DP02_0002E-T Fam HHs                            516
DP02_0008PE-%F-led HHs No H                     516
DP02_0010PE-% Non-Fam HHs                       516
DP02_0015E-Avg HH Size                          516
DP02_0016E-Avg Fam Size                         516
DP02_0022PE-%Non Rel in Hs                      516
DP02_0038E-per1000-F-U-RecentPreg               516
DP02_0046PE-%GPwParent&Gc1-2yrs                 516
DP02_0048PE--%GPwParent&Gc>5yrs                 516
DP02_0060PE-%NoSchDiploma                       516
DP02_0063PE-%AssDeg                             516
DP02_0079PE-% SameHouse_1YrAgo                  516
DP02_0085PE-%LivAbroad1YrAgo                    516
DP02_0088PE-%BornUS                             516
DP02_0112PE-HomeLangNotEng                      516
DP02_0134PE-%IrishAnc                           516
DP03_0009PE-%Unemploy                           516
DP03_0027PE-%WorkingMgt,Bus,Sc,Arts             516
DP03_0028PE%WorkingService                      516
DP03_0037PE-Retail                              516
DP03_0040PE-%Fin&Ins                            516
DP03_0041PE-%ProfSc,Mgt,Admin                   516
DP03_0050PE-%UnpaidFamilyWk                     516
DP03_0052PE-Inc<10k                             516
DP03_0054PE-Inc15-24k                           516
DP03_0058PE-Inc75-99k                           516
DP03_0061PE-Inc200k>                            516
DP03_0065E-HH-MeanEarnings                      516
DP03_0066PE-%HHsWithSocSec                      516
DP03_0072PE-%HH Inc with Cash public Ass        516
DP03_0074PE-%HH Inc with Food Stamps SNAP       516
DP03_0085PE-%Families Inc>200k                  516
DP03_0092E-Median Earning Workers               516
DP03_0093E-Median Earnings Male FT Workers      516
DP03_0094E-Median Earnings Female FT Workers    516
DP03_0097PE-%PHI-Priv                           516
DP03_0098PE-%PHI-Pub                            516
DP03_0099PE-No PHI                              516
DP03_0119PE-% Fam <Pov                          516
DP03_0121PE-%Fam with child U18&U5 <pov         516
DP03_0126PE-%F-Led Families with u18 <pov       516
DP04_0001E-T H U                                516
DP04_0002PE-%Occ H U                            516
DP04_0004E-%Ow Vac Rate                         516
DP04_0005E-%Rn Vac Rate                         516
DP04_0006E-T HU                                 516
State                                           516
County                                          516
Tract                                           516
DP04_0013PE-%20+HU                              516
DP04_0017PE-%Built2014+                         516
DP04_0029PE-%2rooms_only_HU                     516
DP04_0039PE-Zero bedrooms                       516
DP04_0045PE-%Occup HU                           516
DP04_0046PE-%Owner Occup HU                     516
DP04_0048E-Owner Ave Household size             516
DP04_0049E-Renter Ave Household size            516
DP04_0051PE-%moved since 2017+                  516
DP04_0054PE-%moved 2000 to 2009                 516
DP04_0082PE-%Value 50-99k                       516
DP04_0083PE-%Value 100-149k                     516
DP04_0084PE-%Value 150-199k                     516
DP04_0087PE-%Value 500k-1m                      516
DP04_0101E-Med Onwer Monthly Mortgage           516
DP04_0134E-Median Gross Rent                    516
DP05_0005PE-%under 5 yrs                        516
DP05_0023PE-%62 yrs+                            516
DP05_0058PE-% w & B or AM                       516
DP05_0061PE-%White & Asian                      516
DP05_0064PE-%White with others                  516
DP05_0070PE-%H&L race                           516
AreaLand                                        516
crimeStats                                      516
crime                                           516
dtype: int64

In [47]:
## remove rows with NaNs for Crime as it will not be possible to run ML on crime outcome for these
## rows using df.dropna() but there were none as same no of rows after running code
Dallas_AllNoNAs = DallasAll_withCrime.dropna() ## returning to number of rows that agrees with groupedTract_count available crime data

In [49]:
Dallas_AllNoNAs.head() ## 516 so no NAs as of 8/2/2021
print(date.today())

2021-02-08

In [50]:
## checking if any rows with Popo == zero; luckily none
Dallas_AllNoNAs[Dallas_AllNoNAs['DP05_0001E-T Popo']== 0]

Empty DataFrame
Columns: [NAME, DP05_0001E-T Popo, DP02_0001E-T HHs, DP02_0002E-T Fam HHs, DP02_0008PE-%F-led HHs No H, DP02_0010PE-% Non-Fam HHs, DP02_0015E-Avg HH Size, DP02_0016E-Avg Fam Size, DP02_0022PE-%Non Rel in Hs, DP02_0038E-per1000-F-U-RecentPreg, DP02_0046PE-%GPwParent&Gc1-2yrs, DP02_0048PE--%GPwParent&Gc>5yrs, DP02_0060PE-%NoSchDiploma, DP02_0063PE-%AssDeg, DP02_0079PE-% SameHouse_1YrAgo, DP02_0085PE-%LivAbroad1YrAgo, DP02_0088PE-%BornUS, DP02_0112PE-HomeLangNotEng, DP02_0134PE-%IrishAnc, DP03_0009PE-%Unemploy, DP03_0027PE-%WorkingMgt,Bus,Sc,Arts, DP03_0028PE%WorkingService, DP03_0037PE-Retail, DP03_0040PE-%Fin&Ins, DP03_0041PE-%ProfSc,Mgt,Admin, DP03_0050PE-%UnpaidFamilyWk, DP03_0052PE-Inc<10k, DP03_0054PE-Inc15-24k, DP03_0058PE-Inc75-99k, DP03_0061PE-Inc200k>, DP03_0065E-HH-MeanEarnings, DP03_0066PE-%HHsWithSocSec, DP03_0072PE-%HH Inc with Cash public Ass, DP03_0074PE-%HH Inc with Food Stamps SNAP, DP03_0085PE-%Families Inc>200k, DP03_0092E-Median Earning Workers, DP03_0093E-Median Earnings Male FT Workers, DP03_0094E-Median Earnings Female FT Workers, DP03_0097PE-%PHI-Priv, DP03_0098PE-%PHI-Pub, DP03_0099PE-No PHI, DP03_0119PE-% Fam <Pov, DP03_0121PE-%Fam with child U18&U5 <pov, DP03_0126PE-%F-Led Families with u18 <pov, DP04_0001E-T H U, DP04_0002PE-%Occ H U, DP04_0004E-%Ow Vac Rate, DP04_0005E-%Rn Vac Rate, DP04_0006E-T HU, State, County, Tract, DP04_0013PE-%20+HU, DP04_0017PE-%Built2014+, DP04_0029PE-%2rooms_only_HU, DP04_0039PE-Zero bedrooms, DP04_0045PE-%Occup HU, DP04_0046PE-%Owner Occup HU, DP04_0048E-Owner Ave Household size, DP04_0049E-Renter Ave Household size, DP04_0051PE-%moved since 2017+, DP04_0054PE-%moved 2000 to 2009, DP04_0082PE-%Value 50-99k, DP04_0083PE-%Value 100-149k, DP04_0084PE-%Value 150-199k, DP04_0087PE-%Value 500k-1m, DP04_0101E-Med Onwer Monthly Mortgage, DP04_0134E-Median Gross Rent, DP05_0005PE-%under 5 yrs, DP05_0023PE-%62 yrs+, DP05_0058PE-% w & B or AM, DP05_0061PE-%White & Asian, DP05_0064PE-%White with others, DP05_0070PE-%H&L race, AreaLand, crimeStats, crime]
Index: []

In [51]:
Dallas_AllNoNAs['AreaLand'] = (Dallas_AllNoNAs['AreaLand']/10000).astype(int)
Dallas_AllNoNAs['AreaLand']

0       378
1       281
2       245
3       115
4       356
       ...
511    1945
512    3864
513    3814
514     112
515     352
Name: AreaLand, Length: 516, dtype: int32

In [52]:
Dallas_AllNoNAs['Popo_Density_Per_Hector'] = Dallas_AllNoNAs['AreaLand']/(Dallas_AllNoNAs['DP05_0001E-T Popo'].astype(int))
Dallas_AllNoNAs['Popo_Density_Per_Hector'] = Dallas_AllNoNAs['Popo_Density_Per_Hector'].round(2)

In [53]:
Dallas_AllNoNAs['Popo_Density_Per_Hector']

0      0.05
1      0.04
2      0.05
3      0.04
4      0.06
       ...
511    0.35
512    0.56
513    0.50
514    0.04
515    0.07
Name: Popo_Density_Per_Hector, Length: 516, dtype: float64

In [54]:
## double checking that there are no rows with zero popo, and there are none
Dallas_AllNoNAs = Dallas_AllNoNAs[Dallas_AllNoNAs['DP05_0001E-T Popo'] != '0']

In [55]:
Dallas_AllNoNAs.head()

,NAME,DP05_0001E-T Popo,DP02_0001E-T HHs,DP02_0002E-T Fam HHs,DP02_0008PE-%F-led HHs No H,DP02_0010PE-% Non-Fam HHs,DP02_0015E-Avg HH Size,DP02_0016E-Avg Fam Size,DP02_0022PE-%Non Rel in Hs,DP02_0038E-per1000-F-U-RecentPreg,DP02_0046PE-%GPwParent&Gc1-2yrs,DP02_0048PE--%GPwParent&Gc>5yrs,DP02_0060PE-%NoSchDiploma,DP02_0063PE-%AssDeg,DP02_0079PE-% SameHouse_1YrAgo,DP02_0085PE-%LivAbroad1YrAgo,DP02_0088PE-%BornUS,DP02_0112PE-HomeLangNotEng,DP02_0134PE-%IrishAnc,DP03_0009PE-%Unemploy,"DP03_0027PE-%WorkingMgt,Bus,Sc,Arts",DP03_0028PE%WorkingService,DP03_0037PE-Retail,DP03_0040PE-%Fin&Ins,"DP03_0041PE-%ProfSc,Mgt,Admin",DP03_0050PE-%UnpaidFamilyWk,DP03_0052PE-Inc<10k,DP03_0054PE-Inc15-24k,DP03_0058PE-Inc75-99k,DP03_0061PE-Inc200k>,DP03_0065E-HH-MeanEarnings,DP03_0066PE-%HHsWithSocSec,DP03_0072PE-%HH Inc with Cash public Ass,DP03_0074PE-%HH Inc with Food Stamps SNAP,DP03_0085PE-%Families Inc>200k,DP03_0092E-Median Earning Workers,DP03_0093E-Median Earnings Male FT Workers,DP03_0094E-Median Earnings Female FT Workers,DP03_0097PE-%PHI-Priv,DP03_0098PE-%PHI-Pub,DP03_0099PE-No PHI,DP03_0119PE-% Fam <Pov,DP03_0121PE-%Fam with child U18&U5 <pov,DP03_0126PE-%F-Led Families with u18 <pov,DP04_0001E-T H U,DP04_0002PE-%Occ H U,DP04_0004E-%Ow Vac Rate,DP04_0005E-%Rn Vac Rate,DP04_0006E-T HU,State,County,Tract,DP04_0013PE-%20+HU,DP04_0017PE-%Built2014+,DP04_0029PE-%2rooms_only_HU,DP04_0039PE-Zero bedrooms,DP04_0045PE-%Occup HU,DP04_0046PE-%Owner Occup HU,DP04_0048E-Owner Ave Household size,DP04_0049E-Renter Ave Household size,DP04_0051PE-%moved since 2017+,DP04_0054PE-%moved 2000 to 2009,DP04_0082PE-%Value 50-99k,DP04_0083PE-%Value 100-149k,DP04_0084PE-%Value 150-199k,DP04_0087PE-%Value 500k-1m,DP04_0101E-Med Onwer Monthly Mortgage,DP04_0134E-Median Gross Rent,DP05_0005PE-%under 5 yrs,DP05_0023PE-%62 yrs+,DP05_0058PE-% w & B or AM,DP05_0061PE-%White & Asian,DP05_0064PE-%White with others,DP05_0070PE-%H&L race,AreaLand,crimeStats,crime,Popo_Density_Per_Hector
0,"Census Tract 178.04, Dallas County, Texas",7832,2464,1803,27.4,26.8,3.13,3.56,8.3,11,17.1,0.0,18.9,7.7,72.3,0.0,85.1,35.1,3.5,8.8,22.9,22.6,12.6,6.9,8.7,0.0,6.6,9.3,9.8,0.8,54304,21.6,0.8,14.7,1.1,22113,39597,26236,44.6,44.6,28.1,19.0,21.9,44.4,2635,93.5,0.0,8.8,2635,48,113,017804,16.9,10.0,2.2,0.6,2464,33.4,1640,2.96,5.8,18.1,30.2,51.6,12.7,3.4,1218,958,8.6,13.0,1.6,0.2,63.9,7832,378,27,low,0.05
1,"Census Tract 178.13, Dallas County, Texas",6896,2441,1733,23.9,29.0,2.83,3.25,8.1,160,0.0,0.0,12.4,6.8,71.5,1.2,77.8,38.2,3.3,5.4,26.1,12.7,16.7,7.3,13.3,0.0,1.9,7.7,12.0,1.4,59139,10.7,1.2,16.8,1.9,31881,39051,34004,53.0,53.0,26.5,7.1,12.8,6.8,2753,88.7,12.7,9.0,2753,48,113,017813,16.7,0.4,2.7,4.6,2441,19.5,1965,3.06,11.1,9.6,25.0,53.4,19.3,0.0,1272,1056,9.1,7.2,1.2,1.4,52.4,6896,281,1,low,0.04
2,"Census Tract 184.01, Dallas County, Texas",5025,1498,1094,16.4,27.0,3.35,4.09,2.8,133,1.9,16.8,22.3,5.2,85.1,0.3,71.7,55.6,3.3,3.6,22.0,11.9,9.8,6.3,10.2,0.0,2.5,12.5,14.4,5.8,70365,25.8,0.7,18.6,5.3,24835,40911,26406,46.4,46.4,30.4,21.9,78.6,64.9,1566,95.7,2.9,6.5,1566,48,113,018401,3.2,0.0,3.2,0.0,1498,61.9,571,3.11,3.7,21.9,17.6,37.5,33.7,0.8,1339,917,8.1,11.9,2.9,0.2,73.5,5025,245,2,low,0.05
3,"Census Tract 190.16, Dallas County, Texas",2978,1187,648,16.7,45.4,2.51,3.23,11.6,14,0.0,33.3,6.0,12.0,73.9,0.3,54.4,52.0,6.5,6.2,22.3,22.6,20.9,9.8,7.7,0.0,5.1,9.4,8.1,2.8,51405,22.9,3.2,14.9,5.1,26224,34438,29567,52.0,52.0,22.3,21.6,71.9,79.0,1331,89.2,0.0,7.0,1331,48,113,019016,13.6,0.0,9.9,3.8,1187,31.3,816,2.36,10.3,28.1,11.1,58.0,28.0,0.0,1308,823,5.7,11.8,1.0,1.3,48.2,2978,115,656,low,0.04
4,"Census Tract 190.31, Dallas County, Texas",6048,2223,1573,10.1,29.2,2.72,3.29,3.7,33,0.0,0.0,8.1,8.2,83.9,0.2,86.0,19.7,14.4,4.8,44.4,12.7,10.5,12.3,17.1,0.0,0.7,4.6,16.9,8.3,90592,28.1,1.8,0.0,7.4,39099,55848,48111,78.3,78.3,11.2,4.8,0.0,17.6,2302,96.6,0.0,9.4,2302,48,113,019031,1.2,2.1,2.3,1.7,2223,81.0,422,2.80,0.7,22.3,1.7,27.5,24.2,3.5,1546,1421,3.3,19.4,2.6,0.4,78.7,6048,356,4,low,0.06

In [56]:
## converting all data columns to numeric
for col in  Dallas_AllNoNAs.filter(like='DP').columns:
    Dallas_AllNoNAs[col] = pd.to_numeric(Dallas_AllNoNAs[col], errors='coerce')

#dc_NYCAll_withCrime[cols] = dc_NYCAll_withCrime[cols].apply(pd.to_numeric, errors='coerce', axis=1)

<ipython-input-56-bb05ebe5bd6b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Dallas_AllNoNAs[col] = pd.to_numeric(Dallas_AllNoNAs[col], errors='coerce')

In [57]:
## notice that some are float64 and some are int64
Dallas_AllNoNAs.dtypes

NAME                                             object
DP05_0001E-T Popo                                 int64
DP02_0001E-T HHs                                  int64
DP02_0002E-T Fam HHs                              int64
DP02_0008PE-%F-led HHs No H                     float64
DP02_0010PE-% Non-Fam HHs                       float64
DP02_0015E-Avg HH Size                          float64
DP02_0016E-Avg Fam Size                         float64
DP02_0022PE-%Non Rel in Hs                      float64
DP02_0038E-per1000-F-U-RecentPreg                 int64
DP02_0046PE-%GPwParent&Gc1-2yrs                 float64
DP02_0048PE--%GPwParent&Gc>5yrs                 float64
DP02_0060PE-%NoSchDiploma                       float64
DP02_0063PE-%AssDeg                             float64
DP02_0079PE-% SameHouse_1YrAgo                  float64
DP02_0085PE-%LivAbroad1YrAgo                    float64
DP02_0088PE-%BornUS                             float64
DP02_0112PE-HomeLangNotEng                      float64
DP02_0134PE-%IrishAnc                           float64
DP03_0009PE-%Unemploy                           float64
DP03_0027PE-%WorkingMgt,Bus,Sc,Arts             float64
DP03_0028PE%WorkingService                      float64
DP03_0037PE-Retail                              float64
DP03_0040PE-%Fin&Ins                            float64
DP03_0041PE-%ProfSc,Mgt,Admin                   float64
DP03_0050PE-%UnpaidFamilyWk                     float64
DP03_0052PE-Inc<10k                             float64
DP03_0054PE-Inc15-24k                           float64
DP03_0058PE-Inc75-99k                           float64
DP03_0061PE-Inc200k>                            float64
DP03_0065E-HH-MeanEarnings                        int64
DP03_0066PE-%HHsWithSocSec                      float64
DP03_0072PE-%HH Inc with Cash public Ass        float64
DP03_0074PE-%HH Inc with Food Stamps SNAP       float64
DP03_0085PE-%Families Inc>200k                  float64
DP03_0092E-Median Earning Workers                 int64
DP03_0093E-Median Earnings Male FT Workers        int64
DP03_0094E-Median Earnings Female FT Workers      int64
DP03_0097PE-%PHI-Priv                           float64
DP03_0098PE-%PHI-Pub                            float64
DP03_0099PE-No PHI                              float64
DP03_0119PE-% Fam <Pov                          float64
DP03_0121PE-%Fam with child U18&U5 <pov         float64
DP03_0126PE-%F-Led Families with u18 <pov       float64
DP04_0001E-T H U                                  int64
DP04_0002PE-%Occ H U                            float64
DP04_0004E-%Ow Vac Rate                         float64
DP04_0005E-%Rn Vac Rate                         float64
DP04_0006E-T HU                                   int64
State                                            object
County                                           object
Tract                                            object
DP04_0013PE-%20+HU                              float64
DP04_0017PE-%Built2014+                         float64
DP04_0029PE-%2rooms_only_HU                     float64
DP04_0039PE-Zero bedrooms                       float64
DP04_0045PE-%Occup HU                             int64
DP04_0046PE-%Owner Occup HU                     float64
DP04_0048E-Owner Ave Household size               int64
DP04_0049E-Renter Ave Household size            float64
DP04_0051PE-%moved since 2017+                  float64
DP04_0054PE-%moved 2000 to 2009                 float64
DP04_0082PE-%Value 50-99k                       float64
DP04_0083PE-%Value 100-149k                     float64
DP04_0084PE-%Value 150-199k                     float64
DP04_0087PE-%Value 500k-1m                      float64
DP04_0101E-Med Onwer Monthly Mortgage             int64
DP04_0134E-Median Gross Rent                      int64
DP05_0005PE-%under 5 yrs                        float64
DP05_0023PE-%62 yrs+                            float64
DP05_0058PE-% w & B or AM                       float64
DP05_0061PE-%White & Asian                      float64
DP05_0064PE-%White with others                  float64
DP05_0070PE-%H&L race                             int64
AreaLand                                          int32
crimeStats                                        int64
crime                                            object
Popo_Density_Per_Hector                         float64
dtype: object

In [58]:
Dallas_AllNoNAs.describe()

,DP05_0001E-T Popo,DP02_0001E-T HHs,DP02_0002E-T Fam HHs,DP02_0008PE-%F-led HHs No H,DP02_0010PE-% Non-Fam HHs,DP02_0015E-Avg HH Size,DP02_0016E-Avg Fam Size,DP02_0022PE-%Non Rel in Hs,DP02_0038E-per1000-F-U-RecentPreg,DP02_0046PE-%GPwParent&Gc1-2yrs,DP02_0048PE--%GPwParent&Gc>5yrs,DP02_0060PE-%NoSchDiploma,DP02_0063PE-%AssDeg,DP02_0079PE-% SameHouse_1YrAgo,DP02_0085PE-%LivAbroad1YrAgo,DP02_0088PE-%BornUS,DP02_0112PE-HomeLangNotEng,DP02_0134PE-%IrishAnc,DP03_0009PE-%Unemploy,"DP03_0027PE-%WorkingMgt,Bus,Sc,Arts",DP03_0028PE%WorkingService,DP03_0037PE-Retail,DP03_0040PE-%Fin&Ins,"DP03_0041PE-%ProfSc,Mgt,Admin",DP03_0050PE-%UnpaidFamilyWk,DP03_0052PE-Inc<10k,DP03_0054PE-Inc15-24k,DP03_0058PE-Inc75-99k,DP03_0061PE-Inc200k>,DP03_0065E-HH-MeanEarnings,DP03_0066PE-%HHsWithSocSec,DP03_0072PE-%HH Inc with Cash public Ass,DP03_0074PE-%HH Inc with Food Stamps SNAP,DP03_0085PE-%Families Inc>200k,DP03_0092E-Median Earning Workers,DP03_0093E-Median Earnings Male FT Workers,DP03_0094E-Median Earnings Female FT Workers,DP03_0097PE-%PHI-Priv,DP03_0098PE-%PHI-Pub,DP03_0099PE-No PHI,DP03_0119PE-% Fam <Pov,DP03_0121PE-%Fam with child U18&U5 <pov,DP03_0126PE-%F-Led Families with u18 <pov,DP04_0001E-T H U,DP04_0002PE-%Occ H U,DP04_0004E-%Ow Vac Rate,DP04_0005E-%Rn Vac Rate,DP04_0006E-T HU,DP04_0013PE-%20+HU,DP04_0017PE-%Built2014+,DP04_0029PE-%2rooms_only_HU,DP04_0039PE-Zero bedrooms,DP04_0045PE-%Occup HU,DP04_0046PE-%Owner Occup HU,DP04_0048E-Owner Ave Household size,DP04_0049E-Renter Ave Household size,DP04_0051PE-%moved since 2017+,DP04_0054PE-%moved 2000 to 2009,DP04_0082PE-%Value 50-99k,DP04_0083PE-%Value 100-149k,DP04_0084PE-%Value 150-199k,DP04_0087PE-%Value 500k-1m,DP04_0101E-Med Onwer Monthly Mortgage,DP04_0134E-Median Gross Rent,DP05_0005PE-%under 5 yrs,DP05_0023PE-%62 yrs+,DP05_0058PE-% w & B or AM,DP05_0061PE-%White & Asian,DP05_0064PE-%White with others,DP05_0070PE-%H&L race,AreaLand,crimeStats,Popo_Density_Per_Hector
count,514.000000,514.000000,514.000000,514.000000,514.000000,514.000000,514.000000,514.000000,5.140000e+02,5.140000e+02,5.140000e+02,514.000000,514.000000,514.000000,514.000000,514.000000,514.000000,514.000000,514.000000,514.000000,514.000000,514.000000,514.000000,514.000000,514.000000,514.000000,514.000000,514.000000,514.000000,5.140000e+02,514.000000,514.000000,514.000000,514.000000,5.140000e+02,5.140000e+02,5.140000e+02,514.000000,514.000000,514.000000,514.000000,5.140000e+02,5.140000e+02,514.000000,514.000000,5.140000e+02,5.140000e+02,514.000000,514.000000,514.000000,514.000000,514.000000,514.000000,514.000000,514.000000,5.140000e+02,514.000000,514.000000,5.140000e+02,5.140000e+02,5.140000e+02,5.140000e+02,5.140000e+02,5.140000e+02,514.000000,514.000000,514.000000,514.000000,514.000000,514.000000,514.000000,514.000000,514.000000
mean,5008.797665,1819.599222,1161.529183,15.185798,35.232879,2.768813,3.406284,6.015953,-2.593999e+06,-7.911802e+07,-7.911802e+07,9.611868,5.391245,82.975486,0.948054,76.491245,39.079572,5.178016,5.303891,35.670817,17.153113,10.898833,8.876848,14.560117,0.153502,6.429572,9.701362,11.376654,8.063813,-1.856400e+06,22.235214,1.386576,12.881128,10.621012,-1.257543e+06,-1.240475e+06,-3.847424e+06,58.200973,58.200973,19.778405,13.468093,-1.426717e+07,-1.556417e+07,1991.696498,91.258949,-1.037613e+07,-1.297010e+06,1991.696498,15.438716,2.412257,4.935409,2.576459,1819.599222,51.387354,912.772374,-1.426718e+07,6.882685,22.829183,-1.037611e+07,-1.037612e+07,-1.037612e+07,-1.037613e+07,-3.631481e+07,-1.426605e+07,7.189883,14.308560,0.603307,0.469455,66.179961,5008.797665,507.776265,1119.379377,0.216051
std,2451.163670,830.212974,622.029327,9.008877,17.028991,0.649983,0.566716,3.829365,4.154497e+07,2.158154e+08,2.158154e+08,7.236721,2.847656,11.081037,1.682569,12.621030,22.018853,4.244951,3.356909,20.899212,8.350663,4.024845,5.123046,6.672163,0.363861,5.819539,6.005314,4.960589,12.352388,4.411209e+07,9.771747,1.501083,11.043109,15.728656,2.940716e+07,2.940793e+07,5.083563e+07,21.728295,21.728295,11.543238,10.931311,9.657147e+07,1.007653e+08,895.256271,5.349854,8.260166e+07,2.940541e+07,895.256271,20.196940,4.929901,7.575442,3.599980,830.212974,26.865661,718.565311,9.657147e+07,4.975836,9.082876,8.260166e+07,8.260166e+07,8.260166e+07,8.260166e+07,1.514491e+08,9.657164e+07,2.862028,7.817347,0.858264,0.763738,22.263519,2451.163670,995.718530,1730.777860,1.969957
min,20.000000,5.000000,5.000000,0.000000,0.000000,1.390000,2.030000,0.000000,-6.666667e+08,-6.666667e+08,-6.666667e+08,0.000000,0.000000,43.300000,0.000000,34.700000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.000000e+09,0.000000,0.000000,0.000000,0.000000,-6.666667e+08,-6.666667e+08,-6.666667e+08,11.500000,11.500000,0.000000,0.000000,-6.666667e+08,-6.666667e+08,5.000000,59.700000,-6.666667e+08,-6.666667e+08,5.000000,0.000000,0.000000,0.000000,0.000000,5.000000,0.000000,0.000000,-6.666667e+08,0.000000,0.000000,-6.666667e+08,-6.666667e+08,-6.666667e+08,-6.666667e+08,-6.666667e+08,-6.666667e+08,0.000000,0.000000,0.000000,0.000000,0.000000,20.000000,28.000000,1.000000,0.010000
25%,3327.500000,1229.750000,741.250000,8.225000,22.225000,2.312500,2.990000,3.300000,0.000000e+00,0.000000e+00,0.000000e+00,3.125000,3.400000,77.000000,0.000000,66.900000,20.125000,1.600000,3.000000,17.425000,10.725000,7.925000,5.200000,9.600000,0.000000,2.600000,4.700000,7.900000,0.600000,5.246425e+04,16.300000,0.400000,3.325000,0.400000,2.542150e+04,3.241525e+04,2.865625e+04,39.675000,39.675000,10.100000,4.400000,0.000000e+00,9.600000e+00,1351.500000,88.225000,0.000000e+00,9.000000e-01,1351.500000,1.500000,0.000000,0.000000,0.000000,1229.750000,29.900000,389.000000,2.385000e+00,2.900000,16.900000,1.325000e+00,3.325000e+00,2.800000e+00,0.000000e+00,1.125000e+03,8.955000e+02,5.200000,9.100000,0.000000,0.000000,52.800000,3327.500000,142.500000,2.000000,0.040000
50%,4737.500000,1745.500000,1085.500000,14.300000,31.500000,2.755000,3.400000,5.150000,2.200000e+01,0.000000e+00,3.850000e+00,8.400000,5.000000,85.400000,0.300000,77.700000,35.650000,4.000000,4.700000,32.450000,17.150000,10.600000,7.900000,13.150000,0.000000,4.700000,8.800000,11.300000,2.600000,7.046500e+04,22.200000,0.900000,10.750000,3.000000,3.182200e+04,4.142900e+04,3.936850e+04,58.450000,58.450000,20.050000,10.800000,5.900000e+00,3.110000e+01,1927.500000,91.900000,0.000000e+00,6.100000e+00,1927.500000,7.200000,0.500000,1.800000,1.400000,1745.500000,55.550000,716.500000,2.845000e+00,6.200000,23.000000,1.150000e+01,1.555000e+01,1.080000e+01,8.000000e-01,1.428000e+03,1.059000e+03,7.200000,13.050000,0.200000,0.100000,70.400000,4737.500000,254.500000,624.500000,0.060000
75%,6347.750000,2265.750000,1436.000000,21.300000,46.250000,3.220000,3.840000,7.900000,5.500000e+01,7.700000e+00,2.047500e+01,15.200000,6.900000,91.500000,1.100000,86.700000,57.100000,8.300000,6.900000,52.525000,23.300000,13.300000,11.400000,18.900000,0.000000,8.300000,13.675000,14.700000,10.375000,1.016822e+05,28.700000,2.100000,19.500000,13.400000,4.876475e+04,6.656150e+04,5.357825e+04,77.800000,77.800000,28.275000,20.625000,2.482500e+01,4.877500e+01,2456.500000,95.275000,2.200000e+00,9.775000e+00,2456.500000,21.575000,2.875000,6.175000,3.500000,2265.750000,72.225000,1214.000000,3.340000e+00,9.700000,28.250000,3.585000e+01,2.940000e+01,2.245000e+01,9.725000e+00,2.106000e+03,1.298000e+03,9.000000,18.400000,1.000000,0.700000,83.975000,6347.750000,465.500000,1783.500000,0.090000
max,20607.000000,5993.000000,5265.000000,52.600000,88.500000,4.730000,5.440000,25.000000,2.300000e+02,1.000000e+02,1.000000e+02,44.400000,17.200000,100.000000,12.700000,100.000000,94.000000,21.000000,22.100000,86.000000,49.100000,29.200000,28.800000,39.300000,3.000000,42.500000,28.900000,34.000000,65.700000,4.514570e+05,53.900000,11.100000,54.700000,71.800000,1.257500e+05,2.500010e+05,1.245830e+05,100.000000,100.000000,57.500000,51.500000,1.000000e+02,1.000000e+02,6216.000000,100.000000,7.200000e+01,3.940000e+01,6216.000000,99.200000,46.900000,58.200000,27.000000,5993.000000,100.000000,4088.000000,8.000000e+00,32.800000,55.600000,1.000000e+02,1.000000e+02,1.000000e+02,1.000000e+02,4.001000e+03,3.250000e+03,16.500000,77.400000,5.500000,4.900000,100.000000,20607.000000,11502.000000,18500.000000,35.320000

In [59]:
Dallas_AllNoNAs.isna().sum(0)

NAME                                            0
DP05_0001E-T Popo                               0
DP02_0001E-T HHs                                0
DP02_0002E-T Fam HHs                            0
DP02_0008PE-%F-led HHs No H                     0
DP02_0010PE-% Non-Fam HHs                       0
DP02_0015E-Avg HH Size                          0
DP02_0016E-Avg Fam Size                         0
DP02_0022PE-%Non Rel in Hs                      0
DP02_0038E-per1000-F-U-RecentPreg               0
DP02_0046PE-%GPwParent&Gc1-2yrs                 0
DP02_0048PE--%GPwParent&Gc>5yrs                 0
DP02_0060PE-%NoSchDiploma                       0
DP02_0063PE-%AssDeg                             0
DP02_0079PE-% SameHouse_1YrAgo                  0
DP02_0085PE-%LivAbroad1YrAgo                    0
DP02_0088PE-%BornUS                             0
DP02_0112PE-HomeLangNotEng                      0
DP02_0134PE-%IrishAnc                           0
DP03_0009PE-%Unemploy                           0
DP03_0027PE-%WorkingMgt,Bus,Sc,Arts             0
DP03_0028PE%WorkingService                      0
DP03_0037PE-Retail                              0
DP03_0040PE-%Fin&Ins                            0
DP03_0041PE-%ProfSc,Mgt,Admin                   0
DP03_0050PE-%UnpaidFamilyWk                     0
DP03_0052PE-Inc<10k                             0
DP03_0054PE-Inc15-24k                           0
DP03_0058PE-Inc75-99k                           0
DP03_0061PE-Inc200k>                            0
DP03_0065E-HH-MeanEarnings                      0
DP03_0066PE-%HHsWithSocSec                      0
DP03_0072PE-%HH Inc with Cash public Ass        0
DP03_0074PE-%HH Inc with Food Stamps SNAP       0
DP03_0085PE-%Families Inc>200k                  0
DP03_0092E-Median Earning Workers               0
DP03_0093E-Median Earnings Male FT Workers      0
DP03_0094E-Median Earnings Female FT Workers    0
DP03_0097PE-%PHI-Priv                           0
DP03_0098PE-%PHI-Pub                            0
DP03_0099PE-No PHI                              0
DP03_0119PE-% Fam <Pov                          0
DP03_0121PE-%Fam with child U18&U5 <pov         0
DP03_0126PE-%F-Led Families with u18 <pov       0
DP04_0001E-T H U                                0
DP04_0002PE-%Occ H U                            0
DP04_0004E-%Ow Vac Rate                         0
DP04_0005E-%Rn Vac Rate                         0
DP04_0006E-T HU                                 0
State                                           0
County                                          0
Tract                                           0
DP04_0013PE-%20+HU                              0
DP04_0017PE-%Built2014+                         0
DP04_0029PE-%2rooms_only_HU                     0
DP04_0039PE-Zero bedrooms                       0
DP04_0045PE-%Occup HU                           0
DP04_0046PE-%Owner Occup HU                     0
DP04_0048E-Owner Ave Household size             0
DP04_0049E-Renter Ave Household size            0
DP04_0051PE-%moved since 2017+                  0
DP04_0054PE-%moved 2000 to 2009                 0
DP04_0082PE-%Value 50-99k                       0
DP04_0083PE-%Value 100-149k                     0
DP04_0084PE-%Value 150-199k                     0
DP04_0087PE-%Value 500k-1m                      0
DP04_0101E-Med Onwer Monthly Mortgage           0
DP04_0134E-Median Gross Rent                    0
DP05_0005PE-%under 5 yrs                        0
DP05_0023PE-%62 yrs+                            0
DP05_0058PE-% w & B or AM                       0
DP05_0061PE-%White & Asian                      0
DP05_0064PE-%White with others                  0
DP05_0070PE-%H&L race                           0
AreaLand                                        0
crimeStats                                      0
crime                                           0
Popo_Density_Per_Hector                         0
dtype: int64

In [60]:
Dallas_AllNoNAs.loc[Dallas_AllNoNAs.crimeStats == 0, 'crimeStats'].count()

0

In [62]:
## none without the zero in the T Popo column
##df['Correlation'].drop(df[df['Correlation'] < 0].index, inplace=True)
Dallas_AllNoNAs[Dallas_AllNoNAs['DP05_0001E-T Popo'] != 0]

,NAME,DP05_0001E-T Popo,DP02_0001E-T HHs,DP02_0002E-T Fam HHs,DP02_0008PE-%F-led HHs No H,DP02_0010PE-% Non-Fam HHs,DP02_0015E-Avg HH Size,DP02_0016E-Avg Fam Size,DP02_0022PE-%Non Rel in Hs,DP02_0038E-per1000-F-U-RecentPreg,DP02_0046PE-%GPwParent&Gc1-2yrs,DP02_0048PE--%GPwParent&Gc>5yrs,DP02_0060PE-%NoSchDiploma,DP02_0063PE-%AssDeg,DP02_0079PE-% SameHouse_1YrAgo,DP02_0085PE-%LivAbroad1YrAgo,DP02_0088PE-%BornUS,DP02_0112PE-HomeLangNotEng,DP02_0134PE-%IrishAnc,DP03_0009PE-%Unemploy,"DP03_0027PE-%WorkingMgt,Bus,Sc,Arts",DP03_0028PE%WorkingService,DP03_0037PE-Retail,DP03_0040PE-%Fin&Ins,"DP03_0041PE-%ProfSc,Mgt,Admin",DP03_0050PE-%UnpaidFamilyWk,DP03_0052PE-Inc<10k,DP03_0054PE-Inc15-24k,DP03_0058PE-Inc75-99k,DP03_0061PE-Inc200k>,DP03_0065E-HH-MeanEarnings,DP03_0066PE-%HHsWithSocSec,DP03_0072PE-%HH Inc with Cash public Ass,DP03_0074PE-%HH Inc with Food Stamps SNAP,DP03_0085PE-%Families Inc>200k,DP03_0092E-Median Earning Workers,DP03_0093E-Median Earnings Male FT Workers,DP03_0094E-Median Earnings Female FT Workers,DP03_0097PE-%PHI-Priv,DP03_0098PE-%PHI-Pub,DP03_0099PE-No PHI,DP03_0119PE-% Fam <Pov,DP03_0121PE-%Fam with child U18&U5 <pov,DP03_0126PE-%F-Led Families with u18 <pov,DP04_0001E-T H U,DP04_0002PE-%Occ H U,DP04_0004E-%Ow Vac Rate,DP04_0005E-%Rn Vac Rate,DP04_0006E-T HU,State,County,Tract,DP04_0013PE-%20+HU,DP04_0017PE-%Built2014+,DP04_0029PE-%2rooms_only_HU,DP04_0039PE-Zero bedrooms,DP04_0045PE-%Occup HU,DP04_0046PE-%Owner Occup HU,DP04_0048E-Owner Ave Household size,DP04_0049E-Renter Ave Household size,DP04_0051PE-%moved since 2017+,DP04_0054PE-%moved 2000 to 2009,DP04_0082PE-%Value 50-99k,DP04_0083PE-%Value 100-149k,DP04_0084PE-%Value 150-199k,DP04_0087PE-%Value 500k-1m,DP04_0101E-Med Onwer Monthly Mortgage,DP04_0134E-Median Gross Rent,DP05_0005PE-%under 5 yrs,DP05_0023PE-%62 yrs+,DP05_0058PE-% w & B or AM,DP05_0061PE-%White & Asian,DP05_0064PE-%White with others,DP05_0070PE-%H&L race,AreaLand,crimeStats,crime,Popo_Density_Per_Hector
0,"Census Tract 178.04, Dallas County, Texas",7832,2464,1803,27.4,26.8,3.13,3.56,8.3,11,17.1,0.0,18.9,7.7,72.3,0.0,85.1,35.1,3.5,8.8,22.9,22.6,12.6,6.9,8.7,0.0,6.6,9.3,9.8,0.8,54304,21.6,0.8,14.7,1.1,22113,39597,26236,44.6,44.6,28.1,19.0,21.9,44.4,2635,93.5,0.0,8.8,2635,48,113,017804,16.9,10.0,2.2,0.6,2464,33.4,1640,2.96,5.8,18.1,30.2,51.6,12.7,3.4,1218,958,8.6,13.0,1.6,0.2,63.9,7832,378,27,low,0.05
1,"Census Tract 178.13, Dallas County, Texas",6896,2441,1733,23.9,29.0,2.83,3.25,8.1,160,0.0,0.0,12.4,6.8,71.5,1.2,77.8,38.2,3.3,5.4,26.1,12.7,16.7,7.3,13.3,0.0,1.9,7.7,12.0,1.4,59139,10.7,1.2,16.8,1.9,31881,39051,34004,53.0,53.0,26.5,7.1,12.8,6.8,2753,88.7,12.7,9.0,2753,48,113,017813,16.7,0.4,2.7,4.6,2441,19.5,1965,3.06,11.1,9.6,25.0,53.4,19.3,0.0,1272,1056,9.1,7.2,1.2,1.4,52.4,6896,281,1,low,0.04
2,"Census Tract 184.01, Dallas County, Texas",5025,1498,1094,16.4,27.0,3.35,4.09,2.8,133,1.9,16.8,22.3,5.2,85.1,0.3,71.7,55.6,3.3,3.6,22.0,11.9,9.8,6.3,10.2,0.0,2.5,12.5,14.4,5.8,70365,25.8,0.7,18.6,5.3,24835,40911,26406,46.4,46.4,30.4,21.9,78.6,64.9,1566,95.7,2.9,6.5,1566,48,113,018401,3.2,0.0,3.2,0.0,1498,61.9,571,3.11,3.7,21.9,17.6,37.5,33.7,0.8,1339,917,8.1,11.9,2.9,0.2,73.5,5025,245,2,low,0.05
3,"Census Tract 190.16, Dallas County, Texas",2978,1187,648,16.7,45.4,2.51,3.23,11.6,14,0.0,33.3,6.0,12.0,73.9,0.3,54.4,52.0,6.5,6.2,22.3,22.6,20.9,9.8,7.7,0.0,5.1,9.4,8.1,2.8,51405,22.9,3.2,14.9,5.1,26224,34438,29567,52.0,52.0,22.3,21.6,71.9,79.0,1331,89.2,0.0,7.0,1331,48,113,019016,13.6,0.0,9.9,3.8,1187,31.3,816,2.36,10.3,28.1,11.1,58.0,28.0,0.0,1308,823,5.7,11.8,1.0,1.3,48.2,2978,115,656,low,0.04
4,"Census Tract 190.31, Dallas County, Texas",6048,2223,1573,10.1,29.2,2.72,3.29,3.7,33,0.0,0.0,8.1,8.2,83.9,0.2,86.0,19.7,14.4,4.8,44.4,12.7,10.5,12.3,17.1,0.0,0.7,4.6,16.9,8.3,90592,28.1,1.8,0.0,7.4,39099,55848,48111,78.3,78.3,11.2,4.8,0.0,17.6,2302,96.6,0.0,9.4,2302,48,113,019031,1.2,2.1,2.3,1.7,2223,81.0,422,2.80,0.7,22.3,1.7,27.5,24.2,3.5,1546,1421,3.3,19.4,2.6,0.4,78.7,6048,356,4,low,0.06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
511,"Census Tract 602.12, Ellis County, Texas",5542,1990,1652,14.3,17.0,2.78,3.08,2.1,0,0.0,29.7,3.3,8.8,82.8,0.3,91.2,12.8,11.0,3.1,42.5,10.0,10.0,5.7,8.0,0.0,1.6,3.5,19.2,5.3,84977,22.7,2.0,2.8,5.9,43097,66649,46151,77.8,77.8,13.3,1.8,0.0,11.2,2084,95.5,0.0,0.0,2084,48,139,060212,10.3,11.4,0.4,0.8,1990,69.9,598,2.98,7.7,23.9,3.5,26.4,20.3,0.6,1636,1374,6.1,13.1,0.0,0.0,87.9,5542,1945,1,low,0.35
512,"Census Tract 602.13, Ellis County, Texas",6903,2383,2080,14.3,12.7,2.90,3.14,1.0,31,0.0,27.8,3.6,11.6,93.6,0.0,94.9,12.8,10.8,5.2,43.0,11.7,11.2,8.6,7.9,0.0,0.8,5.6,15.1,9.4,101182,26.8,1.0,4.9,10.7,40538,58750,44844,73.4,73.4,12.1,7.7,0.0,24.9,2649,90.0,2.8,0.0,2649,48,139,060213,0.0,3.1,0.0,1.0,2383,88.8,267,2.87,0.8,35.0,8.5,23.2,23.7,4.3,1522,1059,6.0,17.5,1.2,0.5,90.7,6903,3864,1,low,0.56
513,"Census Tract 608.01, Ellis County, Texas",7559,2630,2315,4.5,12.0,2.87,3.07,1.7,68,0.0,100.0,0.7,11.1,92.8,0.0,97.4,2.1,11.3,5.0,52.7,10.8,11.7,4.8,13.1,0.0,1.6,3.4,11.9,15.4,135261,26.3,1.3,0.5,17.5,54222,78056,59639,89.9,89.9,3.4,0.9,0.0,0.0,2644,99.5,0.6,0.0,2644,48,139,060801,1.5,7.8,0.0,0.6,2630,89.6,274,2.91,5.8,39.0,3.2,4.0,11.2,2.1,2130,1298,5.1,19.6,0.6,0.6,96.6,7559,3814,1,low,0.50
514,"Census Tract 1713.01, Bexar County, Texas",2787,831,595,26.5,28.4,3.32,4.02,4.5,18,17.2,10.9,26.6,3.9,92.4,0.0,81.6,73.2,0.0,15.2,11.5,27.2,10.3,4.7,6.2,0.0,17.0,18.1,12.9,0.0,43193,33.9,3.6,26.0,0.0,23325,31440,28291,42.9,42.9,23.9,30.9,10.5,64.4,902,92.1,0.0,7.0,902,48,029,171301,4.0,0.0,0.4,1.6,831,72.7,227,3.49,2.3,13.5,62.7,13.4,0.3,0.0,1064,640,5.9,21.8,1.1,0.0,85.8,2787,112,1,low,0.04
515,"Census Tract 24.98, McLennan County, Texas",5094,1931,1283,11.0,33.6,2.64,3.30,4.0,42,0.0,28.2,13.1,6.7,85.5,0.3,90.9,24.9,6.3,4.4,37.5,17.0,9.2,6.6,5.8,0.0,10.3,14.8,10.2,4.4,69955,39.0,0.6,20.6,6.6,31338,41944,37431,57.1,57.1,10.1,7.3,0.0,11.4,2207,87.5,0.0,3.4,2207,48,309,002498,6.9,0.4,1.8,2.2,1931,57.3,824,2.81,8.2,25.4,43.1,30.6,6.9,2.6,1199,735,9.2,20.9,0.0,0.0,76.7,5094,352,1,low,0.07

In [63]:
## Want to round decimal places 
##rounded_df = df.round(decimals=2)
##df.columns.tolist()
##df.apply(lambda x: '%.5f' % x, axis=1)


#Dallas_AllNoNAss = Dallas_AllNoNAs.apply(lambda x: '%.2f' % x, axis=1)

Dallas_AllNoNAs.dtypes

NAME                                             object
DP05_0001E-T Popo                                 int64
DP02_0001E-T HHs                                  int64
DP02_0002E-T Fam HHs                              int64
DP02_0008PE-%F-led HHs No H                     float64
DP02_0010PE-% Non-Fam HHs                       float64
DP02_0015E-Avg HH Size                          float64
DP02_0016E-Avg Fam Size                         float64
DP02_0022PE-%Non Rel in Hs                      float64
DP02_0038E-per1000-F-U-RecentPreg                 int64
DP02_0046PE-%GPwParent&Gc1-2yrs                 float64
DP02_0048PE--%GPwParent&Gc>5yrs                 float64
DP02_0060PE-%NoSchDiploma                       float64
DP02_0063PE-%AssDeg                             float64
DP02_0079PE-% SameHouse_1YrAgo                  float64
DP02_0085PE-%LivAbroad1YrAgo                    float64
DP02_0088PE-%BornUS                             float64
DP02_0112PE-HomeLangNotEng                      float64
DP02_0134PE-%IrishAnc                           float64
DP03_0009PE-%Unemploy                           float64
DP03_0027PE-%WorkingMgt,Bus,Sc,Arts             float64
DP03_0028PE%WorkingService                      float64
DP03_0037PE-Retail                              float64
DP03_0040PE-%Fin&Ins                            float64
DP03_0041PE-%ProfSc,Mgt,Admin                   float64
DP03_0050PE-%UnpaidFamilyWk                     float64
DP03_0052PE-Inc<10k                             float64
DP03_0054PE-Inc15-24k                           float64
DP03_0058PE-Inc75-99k                           float64
DP03_0061PE-Inc200k>                            float64
DP03_0065E-HH-MeanEarnings                        int64
DP03_0066PE-%HHsWithSocSec                      float64
DP03_0072PE-%HH Inc with Cash public Ass        float64
DP03_0074PE-%HH Inc with Food Stamps SNAP       float64
DP03_0085PE-%Families Inc>200k                  float64
DP03_0092E-Median Earning Workers                 int64
DP03_0093E-Median Earnings Male FT Workers        int64
DP03_0094E-Median Earnings Female FT Workers      int64
DP03_0097PE-%PHI-Priv                           float64
DP03_0098PE-%PHI-Pub                            float64
DP03_0099PE-No PHI                              float64
DP03_0119PE-% Fam <Pov                          float64
DP03_0121PE-%Fam with child U18&U5 <pov         float64
DP03_0126PE-%F-Led Families with u18 <pov       float64
DP04_0001E-T H U                                  int64
DP04_0002PE-%Occ H U                            float64
DP04_0004E-%Ow Vac Rate                         float64
DP04_0005E-%Rn Vac Rate                         float64
DP04_0006E-T HU                                   int64
State                                            object
County                                           object
Tract                                            object
DP04_0013PE-%20+HU                              float64
DP04_0017PE-%Built2014+                         float64
DP04_0029PE-%2rooms_only_HU                     float64
DP04_0039PE-Zero bedrooms                       float64
DP04_0045PE-%Occup HU                             int64
DP04_0046PE-%Owner Occup HU                     float64
DP04_0048E-Owner Ave Household size               int64
DP04_0049E-Renter Ave Household size            float64
DP04_0051PE-%moved since 2017+                  float64
DP04_0054PE-%moved 2000 to 2009                 float64
DP04_0082PE-%Value 50-99k                       float64
DP04_0083PE-%Value 100-149k                     float64
DP04_0084PE-%Value 150-199k                     float64
DP04_0087PE-%Value 500k-1m                      float64
DP04_0101E-Med Onwer Monthly Mortgage             int64
DP04_0134E-Median Gross Rent                      int64
DP05_0005PE-%under 5 yrs                        float64
DP05_0023PE-%62 yrs+                            float64
DP05_0058PE-% w & B or AM                       float64
DP05_0061PE-%White & Asian                      float64
DP05_0064PE-%White with others                  float64
DP05_0070PE-%H&L race                             int64
AreaLand                                          int32
crimeStats                                        int64
crime                                            object
Popo_Density_Per_Hector                         float64
dtype: object

In [65]:
Dallas_AllNoNAs.groupby('crime').count()

,NAME,DP05_0001E-T Popo,DP02_0001E-T HHs,DP02_0002E-T Fam HHs,DP02_0008PE-%F-led HHs No H,DP02_0010PE-% Non-Fam HHs,DP02_0015E-Avg HH Size,DP02_0016E-Avg Fam Size,DP02_0022PE-%Non Rel in Hs,DP02_0038E-per1000-F-U-RecentPreg,DP02_0046PE-%GPwParent&Gc1-2yrs,DP02_0048PE--%GPwParent&Gc>5yrs,DP02_0060PE-%NoSchDiploma,DP02_0063PE-%AssDeg,DP02_0079PE-% SameHouse_1YrAgo,DP02_0085PE-%LivAbroad1YrAgo,DP02_0088PE-%BornUS,DP02_0112PE-HomeLangNotEng,DP02_0134PE-%IrishAnc,DP03_0009PE-%Unemploy,"DP03_0027PE-%WorkingMgt,Bus,Sc,Arts",DP03_0028PE%WorkingService,DP03_0037PE-Retail,DP03_0040PE-%Fin&Ins,"DP03_0041PE-%ProfSc,Mgt,Admin",DP03_0050PE-%UnpaidFamilyWk,DP03_0052PE-Inc<10k,DP03_0054PE-Inc15-24k,DP03_0058PE-Inc75-99k,DP03_0061PE-Inc200k>,DP03_0065E-HH-MeanEarnings,DP03_0066PE-%HHsWithSocSec,DP03_0072PE-%HH Inc with Cash public Ass,DP03_0074PE-%HH Inc with Food Stamps SNAP,DP03_0085PE-%Families Inc>200k,DP03_0092E-Median Earning Workers,DP03_0093E-Median Earnings Male FT Workers,DP03_0094E-Median Earnings Female FT Workers,DP03_0097PE-%PHI-Priv,DP03_0098PE-%PHI-Pub,DP03_0099PE-No PHI,DP03_0119PE-% Fam <Pov,DP03_0121PE-%Fam with child U18&U5 <pov,DP03_0126PE-%F-Led Families with u18 <pov,DP04_0001E-T H U,DP04_0002PE-%Occ H U,DP04_0004E-%Ow Vac Rate,DP04_0005E-%Rn Vac Rate,DP04_0006E-T HU,State,County,Tract,DP04_0013PE-%20+HU,DP04_0017PE-%Built2014+,DP04_0029PE-%2rooms_only_HU,DP04_0039PE-Zero bedrooms,DP04_0045PE-%Occup HU,DP04_0046PE-%Owner Occup HU,DP04_0048E-Owner Ave Household size,DP04_0049E-Renter Ave Household size,DP04_0051PE-%moved since 2017+,DP04_0054PE-%moved 2000 to 2009,DP04_0082PE-%Value 50-99k,DP04_0083PE-%Value 100-149k,DP04_0084PE-%Value 150-199k,DP04_0087PE-%Value 500k-1m,DP04_0101E-Med Onwer Monthly Mortgage,DP04_0134E-Median Gross Rent,DP05_0005PE-%under 5 yrs,DP05_0023PE-%62 yrs+,DP05_0058PE-% w & B or AM,DP05_0061PE-%White & Asian,DP05_0064PE-%White with others,DP05_0070PE-%H&L race,AreaLand,crimeStats,Popo_Density_Per_Hector
crime,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
high,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202
low,312,312,312,312,312,312,312,312,312,312,312,312,312,312,312,312,312,312,312,312,312,312,312,312,312,312,312,312,312,312,312,312,312,312,312,312,312,312,312,312,312,312,312,312,312,312,312,312,312,312,312,312,312,312,312,312,312,312,312,312,312,312,312,312,312,312,312,312,312,312,312,312,312,312,312,312,312

In [70]:
## save file to local drive
##dc_NYCAll_withCrimeNoNAs.to_csv("dc_NYCAll_withCrimeNov30th.csv")
Dallas_AllNoNAs.to_csv("Dallas_CSV__Feb8th_before.csv") ## 245kB

In [67]:
Dallaslist_of_counties = ['113', '085', '121', '183', '251', '201', '397', '439', '231',
       '491', '257', '061', '139', '029', '309', '453', '213']
census_tract_Texas['COUNTYFP'] = census_tract_Texas['COUNTYFP'].apply(lambda x: '{0:0>3}'.format(x)).astype(str)
census_tracts_Dallas = census_tract_Texas[census_tract_Texas['COUNTYFP'].isin(Dallaslist_of_counties)]
census_tracts_Dallas

      STATEFP COUNTYFP TRACTCE              AFFGEOID        GEOID    NAME LSAD     ALAND    AWATER
0          48      113  014001  1400000US48113014001  48113014001  140.01   CT   3675046         0
1          48      113  014129  1400000US48113014129  48113014129  141.29   CT   2478837      4984
2          48      113  014311  1400000US48113014311  48113014311  143.11   CT    903480         0
3          48      113  014601  1400000US48113014601  48113014601  146.01   CT   1159772         0
4          48      113  014902  1400000US48113014902  48113014902  149.02   CT   1786032         0
...       ...      ...     ...                   ...          ...     ...  ...       ...       ...
5241       48      113  018142  1400000US48113018142  48113018142  181.42   CT   4085019   4938535
5243       48      309  003706  1400000US48309003706  48309003706   37.06   CT  23776894     44139
5245       48      453  001765  1400000US48453001765  48453001765   17.65   CT  70105141  10523147
5246       48      453  001785  1400000US48453001785  48453001785   17.85   CT   3714537         0
5247       48      453  001826  1400000US48453001826  48453001826   18.26   CT   3220268         0

[2920 rows x 9 columns]

In [68]:
## save Dallas city tract file to local drive
##dc_NYCAll_withCrimeNoNAs.to_csv("dc_NYCAll_withCrimeNov30th.csv")
census_tracts_Dallas.to_csv("census_tracts_DallasFeb7th.csv")