In [43]:
## Scraping census code from american census' api in two lots (limit on how many fields can be extraced in a single api call) 
## In addition, this code is scraping crime data from city's opendata and joining it to the census data.
## US Census source: Community 5 year Survey: ACS/ACS5/Profile.html as it has percentages
## https://api.census.gov/data/2018/acs/acs5/profile/groups.html


import requests
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)



HOST = "https://api.census.gov/data"
year = "2018"
dataset = "acs/acs5/profile.html" ## has census tract groups only; not census block groups 
key = "27d6154de64a12d9b06727be7177fe46e7c4eee1"
base_url = "/".join([HOST, year, dataset])

## ACS Detailed table request
get_vars = ["DP05_0001E","DP02_0001E", "DP02_0002E","DP02_0008PE", "DP02_0010PE", 
            "DP02_0015E", "DP02_0016E", "DP02_0022PE", "DP02_0038E", "DP02_0046PE",
            "DP02_0048PE","DP02_0060PE","DP02_0063PE","DP02_0079PE","DP02_0085PE",
            "DP02_0088PE","DP02_0112PE","DP02_0134PE",
            "DP03_0009PE","DP03_0027PE","DP03_0028PE","DP03_0037PE","DP03_0040PE",
            "DP03_0041PE","DP03_0050PE","DP03_0052PE", "DP03_0054PE","DP03_0058PE",
            "DP03_0061PE","DP03_0065E","DP03_0066PE","DP03_0072PE","DP03_0074PE",
            "DP03_0085PE","DP03_0092E","DP03_0093E","DP03_0094E",
            "DP03_0097PE","DP03_0097PE",
            "DP03_0099PE","DP03_0119PE","DP03_0121PE","DP03_0126PE","DP04_0001PE",
            "DP04_0002PE","DP04_0004E","DP04_0005E","DP04_0006E"] # total housing units  

get_vars = ["NAME"] + get_vars


dfs = []
items = ["001", "003", "005", "009", "031", "510"]

for item in items:
    predicates = {}
    predicates["get"] = ",".join(get_vars)
    predicates["for"] = "tract:*"
    predicates["in"] = "state:24;county:"+item  ## Baltimore city in Maryland state
    predicates["key"]="27d6154de64a12d9b06727be7177fe46e7c4eee1"
    r8 = requests.get(base_url, params=predicates)
    col_names = ["NAME", "DP05_0001E-T Popo","DP02_0001E-T HHs","DP02_0002E-T Fam HHs",
                 "DP02_0008PE-%F-led HHs No H","DP02_0010PE-% Non-Fam HHs", "DP02_0015E-Avg HH Size",
                 "DP02_0016E-Avg Fam Size", "DP02_0022PE-%Non Rel in Hs","DP02_0038E-per1000-F-U-RecentPreg", 
                 "DP02_0046PE-%GPwParent&Gc1-2yrs", "DP02_0048PE--%GPwParent&Gc>5yrs", "DP02_0060PE-%NoSchDiploma",
                 "DP02_0063PE-%AssDeg","DP02_0079PE-% SameHouse_1YrAgo","DP02_0085PE-%LivAbroad1YrAgo",
                 "DP02_0088PE-%BornUS", "DP02_0112PE-HomeLangNotEng", "DP02_0134PE-%IrishAnc", 
                 "DP03_0009PE-%Unemploy",
                 "DP03_0027PE-%WorkingMgt,Bus,Sc,Arts","DP03_0028PE%WorkingService","DP03_0037PE-Retail", 
                 "DP03_0040PE-%Fin&Ins","DP03_0041PE-%ProfSc,Mgt,Admin","DP03_0050PE-%UnpaidFamilyWk",
                 "DP03_0052PE-Inc<10k", "DP03_0054PE-Inc15-24k", "DP03_0058PE-Inc75-99k", "DP03_0061PE-Inc200k>",
                 "DP03_0065E-HH-MeanEarnings","DP03_0066PE-%HHsWithSocSec","DP03_0072PE-%HH Inc with Cash public Ass",
                 "DP03_0074PE-%HH Inc with Food Stamps SNAP","DP03_0085PE-%Families Inc>200k", 
                 "DP03_0092E-Median Earning Workers","DP03_0093E-Median Earnings Male FT Workers",
                 "DP03_0094E-Median Earnings Female FT Workers",
                 "DP03_0097PE-%PHI-Priv","DP03_0098PE-%PHI-Pub","DP03_0099PE-No PHI","DP03_0119PE-% Fam <Pov", 
                 "DP03_0121PE-%Fam with child U18&U5 <pov","DP03_0126PE-%F-Led Families with u18 <pov",
                 "DP04_0001E-T H U", "DP04_0002PE-%Occ H U","DP04_0004E-%Ow Vac Rate", "DP04_0005E-%Rn Vac Rate",
                 "DP04_0006E-T HU",
                 "State","County", "Tract"]
    print("county:", item)
    df_collect = pd.DataFrame(columns=col_names, data=r8.json()[1:])
    rows = len(df_collect)
    print("rows in r", rows)
    dfs.append(df_collect)

Baltimore1 = pd.concat(dfs)            # examine the response

from datetime import date
print("Today's date is:", date.today())
Baltimore1.shape

Baltimore1.head()

county: 001
rows in r 23
county: 003
rows in r 105
county: 005
rows in r 214
county: 009
rows in r 19
county: 031
rows in r 215
county: 510
rows in r 200
Today's date is: 2021-02-08

,NAME,DP05_0001E-T Popo,DP02_0001E-T HHs,DP02_0002E-T Fam HHs,DP02_0008PE-%F-led HHs No H,DP02_0010PE-% Non-Fam HHs,DP02_0015E-Avg HH Size,DP02_0016E-Avg Fam Size,DP02_0022PE-%Non Rel in Hs,DP02_0038E-per1000-F-U-RecentPreg,DP02_0046PE-%GPwParent&Gc1-2yrs,DP02_0048PE--%GPwParent&Gc>5yrs,DP02_0060PE-%NoSchDiploma,DP02_0063PE-%AssDeg,DP02_0079PE-% SameHouse_1YrAgo,DP02_0085PE-%LivAbroad1YrAgo,DP02_0088PE-%BornUS,DP02_0112PE-HomeLangNotEng,DP02_0134PE-%IrishAnc,DP03_0009PE-%Unemploy,"DP03_0027PE-%WorkingMgt,Bus,Sc,Arts",DP03_0028PE%WorkingService,DP03_0037PE-Retail,DP03_0040PE-%Fin&Ins,"DP03_0041PE-%ProfSc,Mgt,Admin",DP03_0050PE-%UnpaidFamilyWk,DP03_0052PE-Inc<10k,DP03_0054PE-Inc15-24k,DP03_0058PE-Inc75-99k,DP03_0061PE-Inc200k>,DP03_0065E-HH-MeanEarnings,DP03_0066PE-%HHsWithSocSec,DP03_0072PE-%HH Inc with Cash public Ass,DP03_0074PE-%HH Inc with Food Stamps SNAP,DP03_0085PE-%Families Inc>200k,DP03_0092E-Median Earning Workers,DP03_0093E-Median Earnings Male FT Workers,DP03_0094E-Median Earnings Female FT Workers,DP03_0097PE-%PHI-Priv,DP03_0098PE-%PHI-Pub,DP03_0099PE-No PHI,DP03_0119PE-% Fam <Pov,DP03_0121PE-%Fam with child U18&U5 <pov,DP03_0126PE-%F-Led Families with u18 <pov,DP04_0001E-T H U,DP04_0002PE-%Occ H U,DP04_0004E-%Ow Vac Rate,DP04_0005E-%Rn Vac Rate,DP04_0006E-T HU,State,County,Tract
0,"Census Tract 15.03, Allegany County, Maryland",1756,792,460,7.6,41.9,2.22,2.88,5.7,65,0.0,0.0,7.0,13.2,97.8,0.0,98.2,1.9,9.1,10.1,28.2,23.4,13.7,6.3,4.7,0.0,10.1,11.0,7.4,1.1,65158,42.4,0.0,18.8,1.5,27078,39583,32250,67.3,67.3,4.8,4.3,0.0,0.0,836,94.7,0.0,0.0,836,24,001,001503
1,"Census Tract 3, Allegany County, Maryland",2736,1082,751,14.3,30.6,2.40,2.88,3.8,0,100.0,0.0,6.0,12.1,86.9,0.0,97.9,3.9,16.3,16.3,28.9,18.7,13.1,7.9,14.0,0.0,5.7,9.8,14.0,2.4,60322,41.0,4.3,19.2,3.5,26955,49750,37574,64.9,64.9,5.7,12.9,0.0,42.6,1236,87.5,2.6,15.7,1236,24,001,000300
2,"Census Tract 5, Allegany County, Maryland",2317,820,381,15.9,53.5,2.02,2.68,11.7,14,0.0,0.0,7.2,9.8,75.3,0.0,95.8,4.5,13.1,20.8,20.3,30.3,15.8,4.7,3.7,0.0,20.1,13.4,5.2,1.3,40505,47.0,4.9,44.6,2.9,12682,32188,36429,46.4,46.4,11.2,21.8,32.3,34.0,1094,75.0,11.3,4.3,1094,24,001,000500
3,"Census Tract 17, Allegany County, Maryland",5090,2025,1258,19.2,37.9,2.39,2.83,10.8,16,0.0,22.4,4.2,10.4,77.1,0.4,95.5,2.7,17.6,7.3,27.6,17.7,13.7,4.8,10.7,0.0,11.5,12.3,11.0,1.5,57817,32.9,2.4,14.6,1.4,28552,52639,34327,79.7,79.7,4.3,2.2,0.0,17.6,2422,83.6,1.1,13.2,2422,24,001,001700
4,"Census Tract 12, Allegany County, Maryland",3146,1196,797,6.4,33.4,2.55,3.14,4.8,0,29.6,0.0,3.4,11.3,83.4,0.6,93.9,6.3,16.8,3.6,41.9,22.3,7.9,1.9,7.4,0.0,3.5,9.2,15.5,7.7,98629,37.9,0.8,10.5,11.5,32407,54792,37313,76.2,76.2,4.8,2.8,0.0,41.2,1379,86.7,0.0,5.8,1379,24,001,001200

In [44]:
## other variables same as for Baltimore
## ACS Detailed table request
get_vars = ["DP04_0013PE","DP04_0017PE","DP04_0029PE","DP04_0039PE","DP04_0045PE", "DP04_0046PE",
           "DP04_0047E","DP04_0048E","DP04_0051PE", "DP04_0054PE", "DP04_0082PE","DP04_0083PE",
            "DP04_0084PE","DP04_0087PE","DP04_0101E", "DP04_0134E","DP05_0005PE","DP05_0023PE",
           "DP05_0059PE","DP05_0061PE","DP05_0064PE", "DP05_0070PE"]
get_vars = ["NAME"] + get_vars
dfs2 = []
for item in items:
    predicates = {}
    predicates["get"] = ",".join(get_vars)
    predicates["for"] = "tract:*"
    predicates["in"] = "state:24;county:"+item  ## Baltimore city in Maryland state
    predicates["key"]="27d6154de64a12d9b06727be7177fe46e7c4eee1"
    r7 = requests.get(base_url, params=predicates)
# print(' \n ', r3.text)
    col_names = ["NAME","DP04_0013PE-%20+HU","DP04_0017PE-%Built2014+", "DP04_0029PE-%2rooms_only_HU",
                 "DP04_0039PE-Zero bedrooms","DP04_0045PE-%Occup HU","DP04_0046PE-%Owner Occup HU",
                 "DP04_0048E-Owner Ave Household size","DP04_0049E-Renter Ave Household size",
                 "DP04_0051PE-%moved since 2017+","DP04_0054PE-%moved 2000 to 2009",
                 "DP04_0082PE-%Value 50-99k","DP04_0083PE-%Value 100-149k","DP04_0084PE-%Value 150-199k",
                 "DP04_0087PE-%Value 500k-1m","DP04_0101E-Med Onwer Monthly Mortgage",
                 "DP04_0134E-Median Gross Rent","DP05_0005PE-%under 5 yrs", "DP05_0023PE-%62 yrs+",
                 "DP05_0058PE-% w & B or AM","DP05_0061PE-%White & Asian","DP05_0064PE-%White with others",
                 "DP05_0070PE-%H&L race",
                 "State","County", "Tract"]
    print("county:", item)
    df_collect = pd.DataFrame(columns=col_names, data=r7.json()[1:])
    rows = len(df_collect)
    print("rows in r", rows)
    dfs2.append(df_collect)

Baltimore2 = pd.concat(dfs2)            # examine the response


print("shape: ", Baltimore2.shape)
print("Today's date is:", date.today())
Baltimore2.head()

county: 001
rows in r 23
county: 003
rows in r 105
county: 005
rows in r 214
county: 009
rows in r 19
county: 031
rows in r 215
county: 510
rows in r 200
shape:  (776, 26)
Today's date is: 2021-02-08

                                            NAME DP04_0013PE-%20+HU DP04_0017PE-%Built2014+ DP04_0029PE-%2rooms_only_HU DP04_0039PE-Zero bedrooms DP04_0045PE-%Occup HU DP04_0046PE-%Owner Occup HU DP04_0048E-Owner Ave Household size DP04_0049E-Renter Ave Household size DP04_0051PE-%moved since 2017+ DP04_0054PE-%moved 2000 to 2009 DP04_0082PE-%Value 50-99k DP04_0083PE-%Value 100-149k DP04_0084PE-%Value 150-199k DP04_0087PE-%Value 500k-1m DP04_0101E-Med Onwer Monthly Mortgage DP04_0134E-Median Gross Rent DP05_0005PE-%under 5 yrs DP05_0023PE-%62 yrs+ DP05_0058PE-% w & B or AM DP05_0061PE-%White & Asian DP05_0064PE-%White with others DP05_0070PE-%H&L race State County   Tract
0  Census Tract 15.03, Allegany County, Maryland                0.0                     0.0                         1.0                       1.2                   792                        86.2                                 109                                 2.15                            1.9                            25.6                      24.2                        28.1                        18.0                        1.2                                   807                          781                      3.2                 28.2                       0.0                        0.0                           99.0                  1756    24    001  001503
1      Census Tract 3, Allegany County, Maryland                1.2                     1.6                         1.3                       3.9                  1082                        75.1                                 269                                 2.41                            8.9                            26.1                      39.9                        16.7                        15.0                        0.0                                  1066                          779                      8.0                 26.3                       1.2                        0.0                           96.8                  2736    24    001  000300
2      Census Tract 5, Allegany County, Maryland                5.6                     0.0                         2.9                       5.7                   820                        50.6                                 405                                 2.12                            1.5                            27.2                      37.6                        11.8                         4.3                        1.2                                   771                          600                      6.4                 24.0                       3.7                        0.0                           74.3                  2317    24    001  000500
3     Census Tract 17, Allegany County, Maryland                3.6                     0.0                         3.3                       3.6                  2025                        62.3                                 763                                 2.41                            2.1                            20.6                      17.7                        30.0                        19.9                        0.0                                  1100                          764                      3.8                 22.3                       0.3                        2.5                           96.5                  5090    24    001  001700
4     Census Tract 12, Allegany County, Maryland                0.0                     0.0                         0.6                       2.5                  1196                        67.5                                 389                                 2.50                            7.9                            26.3                      21.4                        12.6                        15.7                        5.9                                  1301                          769                      4.1                 28.2                       1.2                        0.6                           97.6                  3146    24    001  001200

In [45]:
import pandas as pd
### join Baltimore1 and Baltimore2 
## Notes on joining - https://stackoverflow.com/questions/40468069/merge-two-dataframes-by-index
BaltimoreAll = pd.merge(left = Baltimore1, right = Baltimore2, how = 'right', left_on = ['NAME','State','County','Tract'], right_on = ['NAME','State','County','Tract'])
BaltimoreAll.head()

,NAME,DP05_0001E-T Popo,DP02_0001E-T HHs,DP02_0002E-T Fam HHs,DP02_0008PE-%F-led HHs No H,DP02_0010PE-% Non-Fam HHs,DP02_0015E-Avg HH Size,DP02_0016E-Avg Fam Size,DP02_0022PE-%Non Rel in Hs,DP02_0038E-per1000-F-U-RecentPreg,DP02_0046PE-%GPwParent&Gc1-2yrs,DP02_0048PE--%GPwParent&Gc>5yrs,DP02_0060PE-%NoSchDiploma,DP02_0063PE-%AssDeg,DP02_0079PE-% SameHouse_1YrAgo,DP02_0085PE-%LivAbroad1YrAgo,DP02_0088PE-%BornUS,DP02_0112PE-HomeLangNotEng,DP02_0134PE-%IrishAnc,DP03_0009PE-%Unemploy,"DP03_0027PE-%WorkingMgt,Bus,Sc,Arts",DP03_0028PE%WorkingService,DP03_0037PE-Retail,DP03_0040PE-%Fin&Ins,"DP03_0041PE-%ProfSc,Mgt,Admin",DP03_0050PE-%UnpaidFamilyWk,DP03_0052PE-Inc<10k,DP03_0054PE-Inc15-24k,DP03_0058PE-Inc75-99k,DP03_0061PE-Inc200k>,DP03_0065E-HH-MeanEarnings,DP03_0066PE-%HHsWithSocSec,DP03_0072PE-%HH Inc with Cash public Ass,DP03_0074PE-%HH Inc with Food Stamps SNAP,DP03_0085PE-%Families Inc>200k,DP03_0092E-Median Earning Workers,DP03_0093E-Median Earnings Male FT Workers,DP03_0094E-Median Earnings Female FT Workers,DP03_0097PE-%PHI-Priv,DP03_0098PE-%PHI-Pub,DP03_0099PE-No PHI,DP03_0119PE-% Fam <Pov,DP03_0121PE-%Fam with child U18&U5 <pov,DP03_0126PE-%F-Led Families with u18 <pov,DP04_0001E-T H U,DP04_0002PE-%Occ H U,DP04_0004E-%Ow Vac Rate,DP04_0005E-%Rn Vac Rate,DP04_0006E-T HU,State,County,Tract,DP04_0013PE-%20+HU,DP04_0017PE-%Built2014+,DP04_0029PE-%2rooms_only_HU,DP04_0039PE-Zero bedrooms,DP04_0045PE-%Occup HU,DP04_0046PE-%Owner Occup HU,DP04_0048E-Owner Ave Household size,DP04_0049E-Renter Ave Household size,DP04_0051PE-%moved since 2017+,DP04_0054PE-%moved 2000 to 2009,DP04_0082PE-%Value 50-99k,DP04_0083PE-%Value 100-149k,DP04_0084PE-%Value 150-199k,DP04_0087PE-%Value 500k-1m,DP04_0101E-Med Onwer Monthly Mortgage,DP04_0134E-Median Gross Rent,DP05_0005PE-%under 5 yrs,DP05_0023PE-%62 yrs+,DP05_0058PE-% w & B or AM,DP05_0061PE-%White & Asian,DP05_0064PE-%White with others,DP05_0070PE-%H&L race
0,"Census Tract 15.03, Allegany County, Maryland",1756,792,460,7.6,41.9,2.22,2.88,5.7,65,0.0,0.0,7.0,13.2,97.8,0.0,98.2,1.9,9.1,10.1,28.2,23.4,13.7,6.3,4.7,0.0,10.1,11.0,7.4,1.1,65158,42.4,0.0,18.8,1.5,27078,39583,32250,67.3,67.3,4.8,4.3,0.0,0.0,836,94.7,0.0,0.0,836,24,001,001503,0.0,0.0,1.0,1.2,792,86.2,109,2.15,1.9,25.6,24.2,28.1,18.0,1.2,807,781,3.2,28.2,0.0,0.0,99.0,1756
1,"Census Tract 3, Allegany County, Maryland",2736,1082,751,14.3,30.6,2.40,2.88,3.8,0,100.0,0.0,6.0,12.1,86.9,0.0,97.9,3.9,16.3,16.3,28.9,18.7,13.1,7.9,14.0,0.0,5.7,9.8,14.0,2.4,60322,41.0,4.3,19.2,3.5,26955,49750,37574,64.9,64.9,5.7,12.9,0.0,42.6,1236,87.5,2.6,15.7,1236,24,001,000300,1.2,1.6,1.3,3.9,1082,75.1,269,2.41,8.9,26.1,39.9,16.7,15.0,0.0,1066,779,8.0,26.3,1.2,0.0,96.8,2736
2,"Census Tract 5, Allegany County, Maryland",2317,820,381,15.9,53.5,2.02,2.68,11.7,14,0.0,0.0,7.2,9.8,75.3,0.0,95.8,4.5,13.1,20.8,20.3,30.3,15.8,4.7,3.7,0.0,20.1,13.4,5.2,1.3,40505,47.0,4.9,44.6,2.9,12682,32188,36429,46.4,46.4,11.2,21.8,32.3,34.0,1094,75.0,11.3,4.3,1094,24,001,000500,5.6,0.0,2.9,5.7,820,50.6,405,2.12,1.5,27.2,37.6,11.8,4.3,1.2,771,600,6.4,24.0,3.7,0.0,74.3,2317
3,"Census Tract 17, Allegany County, Maryland",5090,2025,1258,19.2,37.9,2.39,2.83,10.8,16,0.0,22.4,4.2,10.4,77.1,0.4,95.5,2.7,17.6,7.3,27.6,17.7,13.7,4.8,10.7,0.0,11.5,12.3,11.0,1.5,57817,32.9,2.4,14.6,1.4,28552,52639,34327,79.7,79.7,4.3,2.2,0.0,17.6,2422,83.6,1.1,13.2,2422,24,001,001700,3.6,0.0,3.3,3.6,2025,62.3,763,2.41,2.1,20.6,17.7,30.0,19.9,0.0,1100,764,3.8,22.3,0.3,2.5,96.5,5090
4,"Census Tract 12, Allegany County, Maryland",3146,1196,797,6.4,33.4,2.55,3.14,4.8,0,29.6,0.0,3.4,11.3,83.4,0.6,93.9,6.3,16.8,3.6,41.9,22.3,7.9,1.9,7.4,0.0,3.5,9.2,15.5,7.7,98629,37.9,0.8,10.5,11.5,32407,54792,37313,76.2,76.2,4.8,2.8,0.0,41.2,1379,86.7,0.0,5.8,1379,24,001,001200,0.0,0.0,0.6,2.5,1196,67.5,389,2.50,7.9,26.3,21.4,12.6,15.7,5.9,1301,769,4.1,28.2,1.2,0.6,97.6,3146

In [5]:
## Single file collating all Baltimore Census data and Baltimore Crime 
## next adding crime statistics to census data

In [ ]:
print("yes")

In [91]:
## scraping Baltimore city crime data
## Crimes data title: "Part 1 Crime data"
## Website: https://data.baltimorecity.gov/datasets/part-1-crime-data-3/data

## Baltimore API changed from .json in early 2020 to .geojson in Dec 2020
## original .json api was: https://data.baltimorecity.gov/resource/wsfq-mvij.json
import geopandas as gpd
import requests
import pandas as pd

## see link about reading in: https://stackoverflow.com/questions/42753745/how-can-i-parse-geojson-with-python
data2 = gpd.read_file('https://opendata.arcgis.com/datasets/acad702852104368a2b5fa0300e6661a_0.geojson?&$select=Location,Neighborhood,Latitude,Longitude')

##  CRS, WGS 1984, decimal degrees (EPSG 4326)

#BA_Crime_df = pd.DataFrame(data=data2.json())
#BA_Crime_df.head() ## 321k crime stats downloaded for BA  
data2.to_csv("Baltimore_crime_as_downloaded_Feb8th2021.csv")
data2.head()

   RowID        CrimeDateTime CrimeCode              Location   Description Inside_Outside   Weapon Post   District          Neighborhood  Latitude  Longitude         GeoLocation               Premise       VRIName  Total_Incidents  ObjectId geometry
0      1  2021-01-30T05:03:00        4A       1000 HILLMAN ST  AGG. ASSAULT              O  FIREARM  313    EASTERN       JOHNSTON SQUARE   39.3018   -76.6057  (39.3018,-76.6057)  STREET                        None                1         1     None
1    201  2021-01-26T10:48:00        6C       300 S MONROE ST       LARCENY              I       NA  934   SOUTHERN      CARROLLTON RIDGE   39.2842   -76.6468  (39.2842,-76.6468)     CONVENIENCE STORE  Tri-District                1         2     None
2      2  2021-01-30T14:21:00        4D  6800 REISTERSTOWN RD  AGG. ASSAULT              I    HANDS  631  NORTHWEST  REISTERSTOWN STATION   39.3605   -76.7082  (39.3605,-76.7082)   GROCERY/CONFECTION           None                1         3     None
3      3  2021-01-30T19:22:22        9S      2700 RUECKERT AV      SHOOTING        Outside  FIREARM  421  NORTHEAST            LAURAVILLE   39.3504   -76.5696  (39.3504,-76.5696)               VEHICLE          None                1         4     None
4      4  2021-01-30T10:31:42        1A         4100 GRACE CT      HOMICIDE         Inside  FIREARM  911   SOUTHERN            CURTIS BAY   39.2284   -76.5875  (39.2284,-76.5875)              DWELLING          None                1         5     None

In [21]:
names = ['Location', 'Latitude','Longitude', 'GeoLocation']
BA_Crime_df = data2[names]
BA_Crime_df.head()

               Location  Latitude  Longitude         GeoLocation
0       1000 HILLMAN ST   39.3018   -76.6057  (39.3018,-76.6057)
1       300 S MONROE ST   39.2842   -76.6468  (39.2842,-76.6468)
2  6800 REISTERSTOWN RD   39.3605   -76.7082  (39.3605,-76.7082)
3      2700 RUECKERT AV   39.3504   -76.5696  (39.3504,-76.5696)
4         4100 GRACE CT   39.2284   -76.5875  (39.2284,-76.5875)

In [22]:
## Noticed there were some NAs int he Longitude column - found 313 NA rows. 
BA_Crime_df['Longitude'].isnull().sum() ## there are None

##df = df[df['EPS'].notna()] to keep rows that have not got NAs

BA_Crime_df = BA_Crime_df[BA_Crime_df['Longitude'].notna()]
print("No of NAs in longitude col", BA_Crime_df['Longitude'].isnull().sum())
print("shape of BA_Crime_df", BA_Crime_df.shape)  
BA_Crime_df

No of NAs in longitude col 0
shape of BA_Crime_df (327562, 4)

                    Location  Latitude  Longitude         GeoLocation
0            1000 HILLMAN ST   39.3018   -76.6057  (39.3018,-76.6057)
1            300 S MONROE ST   39.2842   -76.6468  (39.2842,-76.6468)
2       6800 REISTERSTOWN RD   39.3605   -76.7082  (39.3605,-76.7082)
3           2700 RUECKERT AV   39.3504   -76.5696  (39.3504,-76.5696)
4              4100 GRACE CT   39.2284   -76.5875  (39.2284,-76.5875)
...                      ...       ...        ...                 ...
327557      700 ALICEANNA ST   39.2831   -76.6028  (39.2831,-76.6028)
327558         2200 GOUGH ST   39.2880   -76.5859   (39.288,-76.5859)
327559         100 W 25TH ST   39.3179   -76.6186  (39.3179,-76.6186)
327560          1600 COLE ST   39.2823   -76.6421  (39.2823,-76.6421)
327561      100 PRESIDENT ST   39.2881   -76.6050   (39.2881,-76.605)

[327562 rows x 4 columns]

In [23]:
import geopandas as gpd

## Creating a GeoDataframe file from BA_crime_df and then using it  
## to get tract points from the Maryland census shape file 

BA_data_points = gpd.GeoDataFrame(BA_Crime_df, geometry=gpd.points_from_xy(BA_Crime_df.Longitude, BA_Crime_df.Latitude), crs='EPSG:4269')
BA_data_points

BA_shape = "cb_2018_24_tract_500k.shp"  # load Maryland state code "24" for BA (Baltimore) shape file 

BA_map = gpd.read_file(BA_shape)

BA_points_in_map = gpd.sjoin(BA_data_points.to_crs('EPSG:4269'), 
                         BA_map, 
                         how='inner', 
                         op='within')  ## doing inner because the census data is for whole of California and only BA crime data census tracts
print("I am done")

I am done

In [25]:
BA_points_in_map.head()

                Location  Latitude  Longitude         GeoLocation                    geometry  index_right STATEFP COUNTYFP TRACTCE              AFFGEOID        GEOID  NAME LSAD   ALAND  AWATER
0        1000 HILLMAN ST   39.3018   -76.6057  (39.3018,-76.6057)  POINT (-76.60570 39.30180)           58      24      510  100100  1400000US24510100100  24510100100  1001   CT  453809       0
50       700 E BIDDLE ST   39.3039   -76.6071  (39.3039,-76.6071)  POINT (-76.60710 39.30390)           58      24      510  100100  1400000US24510100100  24510100100  1001   CT  453809       0
99   1200 GREENMOUNT AVE   39.3038   -76.6080   (39.3038,-76.608)  POINT (-76.60800 39.30380)           58      24      510  100100  1400000US24510100100  24510100100  1001   CT  453809       0
171   1200 N CAROLINE ST   39.3042   -76.5980   (39.3042,-76.598)  POINT (-76.59800 39.30420)           58      24      510  100100  1400000US24510100100  24510100100  1001   CT  453809       0
276       800 SHOWELL CT   39.3041   -76.6060   (39.3041,-76.606)  POINT (-76.60600 39.30410)           58      24      510  100100  1400000US24510100100  24510100100  1001   CT  453809       0

In [26]:
## Checking what county are listed in the crime data as this is what 
## is needed when extracting from census
list = BA_points_in_map['COUNTYFP'].unique() ## checking if leading zeros needed 
list[0:10,]

array(['510', '003', '005', '009', '031', '001'], dtype=object)

In [27]:
import pandas as pd
## saved the dcb_2018_tract_500k.dbf file as a csv file to get access to the tract ID
## the index_right gives aligns with the tract ID in this file. 
## Remember that Maryland state ID = "24"
census_tract_df_Maryland = pd.read_csv("cb_2018_24_tract_500k.csv", header=0)
print("census tract info from Maryland (Baltimore) dbf file saved as a csv file")
census_tract_df_Maryland

census tract info from Maryland (Baltimore) dbf file saved as a csv file

      STATEFP  COUNTYFP  TRACTCE              AFFGEOID        GEOID     NAME LSAD      ALAND    AWATER
0          24        37   876001  1400000US24037876001  24037876001  8760.01   CT    6413222    149404
1          24        39   930102  1400000US24039930102  24039930102  9301.02   CT  130639398  12766465
2          24        43      100  1400000US24043000100  24043000100     1.00   CT    1851501         0
3          24        43      500  1400000US24043000500  24043000500     5.00   CT    2100316         0
4          24        45      400  1400000US24045000400  24045000400     4.00   CT    2544952    288034
...       ...       ...      ...                   ...          ...      ...  ...        ...       ...
1391       24        31   701407  1400000US24031701407  24031701407  7014.07   CT    9218841     50959
1392       24         5   491100  1400000US24005491100  24005491100  4911.00   CT    1097271         0
1393       24         5   980200  1400000US24005980200  24005980200  9802.00   CT    2100509    248474
1394       24        21   751802  1400000US24021751802  24021751802  7518.02   CT   65261080    101702
1395       24        21   752201  1400000US24021752201  24021752201  7522.01   CT   75562696   1550623

[1396 rows x 9 columns]

In [28]:
census_tract_df_Maryland['TRACTCE'] = census_tract_df_Maryland['TRACTCE'].apply(lambda x: '{0:0>6}'.format(x)).astype(str)
census_tract_df_Maryland['TRACTCE']

0       876001
1       930102
2       000100
3       000500
4       000400
         ...
1391    701407
1392    491100
1393    980200
1394    751802
1395    752201
Name: TRACTCE, Length: 1396, dtype: object

In [29]:
census_tract_df_Maryland['COUNTYFP'] = census_tract_df_Maryland['COUNTYFP'].apply(lambda x: '{0:0>3}'.format(x)).astype(str)
census_tract_df_Maryland['COUNTYFP']

0       037
1       039
2       043
3       043
4       045
       ...
1391    031
1392    005
1393    005
1394    021
1395    021
Name: COUNTYFP, Length: 1396, dtype: object

In [30]:
##The points_in_map of crime data does not include the county or tract or land area, so using join to add these 
## fields from Shape dbf file to the crime data. 
#points_in_map = points_in_map.join(census_tract_df[['COUNTYFP']], on='index_right')
#points_in_map = points_in_map.join(census_tract_df[['TRACTCE']], on='index_right')
#points_in_map = points_in_map.join(census_tract_df[['ALAND']], on='index_right')
BA_points_in_map2 = BA_points_in_map.join(census_tract_df_Maryland[['STATEFP','COUNTYFP','TRACTCE','ALAND']],on='index_right', lsuffix='_left', rsuffix='_right')

In [31]:
BA_points_in_map2.head()

                Location  Latitude  Longitude         GeoLocation                    geometry  index_right STATEFP_left COUNTYFP_left TRACTCE_left              AFFGEOID        GEOID  NAME LSAD  ALAND_left  AWATER  STATEFP_right COUNTYFP_right TRACTCE_right  ALAND_right
0        1000 HILLMAN ST   39.3018   -76.6057  (39.3018,-76.6057)  POINT (-76.60570 39.30180)           58           24           510       100100  1400000US24510100100  24510100100  1001   CT      453809       0             24            510        100100       453809
50       700 E BIDDLE ST   39.3039   -76.6071  (39.3039,-76.6071)  POINT (-76.60710 39.30390)           58           24           510       100100  1400000US24510100100  24510100100  1001   CT      453809       0             24            510        100100       453809
99   1200 GREENMOUNT AVE   39.3038   -76.6080   (39.3038,-76.608)  POINT (-76.60800 39.30380)           58           24           510       100100  1400000US24510100100  24510100100  1001   CT      453809       0             24            510        100100       453809
171   1200 N CAROLINE ST   39.3042   -76.5980   (39.3042,-76.598)  POINT (-76.59800 39.30420)           58           24           510       100100  1400000US24510100100  24510100100  1001   CT      453809       0             24            510        100100       453809
276       800 SHOWELL CT   39.3041   -76.6060   (39.3041,-76.606)  POINT (-76.60600 39.30410)           58           24           510       100100  1400000US24510100100  24510100100  1001   CT      453809       0             24            510        100100       453809

In [32]:
import pandas as pd
#'COUNTYFP_right', 'TRACTCE_right',, 'ALAND_right'
BA_points_in_map2.drop('STATEFP_right', inplace=True, axis=1)
BA_points_in_map2.drop('COUNTYFP_right', inplace=True, axis=1)
BA_points_in_map2.drop('TRACTCE_right', inplace=True, axis=1)
BA_points_in_map2.drop('ALAND_right', inplace=True, axis=1)
#BA_points_in_map.drop('STATEFP_left', inplace=True, axis=1)
#BA_points_in_map.drop('COUNTYFP_left', inplace=True, axis=1)
#BA_points_in_map.drop('TRACTCE_left', inplace=True, axis=1)
#BA_points_in_map.drop('ALAND_left', inplace=True, axis=1)

In [33]:
BA_points_in_map2.rename(columns={'STATEFP_left':'State', 'COUNTYFP_left': 'County', 'TRACTCE_left':'Tract', 'ALAND_left':'AreaLand'}, inplace=True)

In [34]:
BA_points_in_map2.head()

                Location  Latitude  Longitude         GeoLocation                    geometry  index_right State County   Tract              AFFGEOID        GEOID  NAME LSAD  AreaLand  AWATER
0        1000 HILLMAN ST   39.3018   -76.6057  (39.3018,-76.6057)  POINT (-76.60570 39.30180)           58    24    510  100100  1400000US24510100100  24510100100  1001   CT    453809       0
50       700 E BIDDLE ST   39.3039   -76.6071  (39.3039,-76.6071)  POINT (-76.60710 39.30390)           58    24    510  100100  1400000US24510100100  24510100100  1001   CT    453809       0
99   1200 GREENMOUNT AVE   39.3038   -76.6080   (39.3038,-76.608)  POINT (-76.60800 39.30380)           58    24    510  100100  1400000US24510100100  24510100100  1001   CT    453809       0
171   1200 N CAROLINE ST   39.3042   -76.5980   (39.3042,-76.598)  POINT (-76.59800 39.30420)           58    24    510  100100  1400000US24510100100  24510100100  1001   CT    453809       0
276       800 SHOWELL CT   39.3041   -76.6060   (39.3041,-76.606)  POINT (-76.60600 39.30410)           58    24    510  100100  1400000US24510100100  24510100100  1001   CT    453809       0

In [35]:
groupedTract_count = BA_points_in_map2.groupby(['County','Tract','AreaLand']).size().reset_index(name='crimeStats')
#df2 = df.rename({'a': 'X', 'b': 'Y'}, axis=1) 
groupedTract_count

    County   Tract  AreaLand  crimeStats
0      001  000400   9642972           1
1      003  730100  23954156           2
2      003  731103   8562084           1
3      003  731308   1634461           1
4      003  750101   1345542          26
5      003  750102    785173           8
6      003  750201   3287938           2
7      003  750202   2530562           1
8      003  750900   2910023           1
9      005  400100   1874572          12
10     005  400200    922283           4
11     005  400600    968869           2
12     005  400702    702073           2
13     005  401200   1955197           8
14     005  401301   1155827           3
15     005  401302    593065           9
16     005  402302   2901560           1
17     005  402303   2862489           1
18     005  402307   2229516           1
19     005  402403   2046390           1
20     005  402404   1694697           1
21     005  402504   7960312           1
22     005  403202   1165728           2
23     005  403402   3585771          54
24     005  403602   2754967          10
25     005  403802   9661874           1
26     005  420402    633728           1
27     005  420500    853505           8
28     005  420702    643330           6
29     005  421000    395953           4
30     005  421102   2132646           1
31     005  430101   1465370           8
32     005  430200   1661425           9
33     005  430400   7200660          56
34     005  430800   1362702           1
35     005  430900   1454314           8
36     005  440200   1878495           5
37     005  440400   2672650           7
38     005  440600   6128746           2
39     005  440701   3906999           2
40     005  440900   1926277           1
41     005  441102   2591921           5
42     005  450100   9127546           1
43     005  450504   1162828           1
44     005  451802  10942342           1
45     005  452300   2318131           2
46     005  490602    786168           1
47     005  490603   1068269           1
48     005  490703   1532802           1
49     005  491100   1097271          37
50     005  491600    875053           1
51     005  492102    944335           6
52     005  492500   2638986           1
53     009  860200  46452683           1
54     031  700901   1695987           1
55     031  703502   1421516           1
56     510  010100    393198        1108
57     510  010200    355165        1238
58     510  010300    673883         882
59     510  010400    373744        1251
60     510  010500    155243         660
61     510  020100    174536         750
62     510  020200    197559        1129
63     510  020300    662772        2720
64     510  030100    427650        2857
65     510  030200    505084        2741
66     510  040100   1191002       12230
67     510  040200    435698        1155
68     510  060100    238719        2502
69     510  060200    257736        2703
70     510  060300    187108        1610
71     510  060400    430130        2304
72     510  070100    290634        1846
73     510  070200    311145        2992
74     510  070300    228689        1313
75     510  070400    326989        1158
76     510  080101   2323952        2014
77     510  080102    365633        1551
78     510  080200    856268        1668
79     510  080301    268608        1144
80     510  080302    439533        1040
81     510  080400    250976         944
82     510  080500    348376        1415
83     510  080600    336416        1301
84     510  080700    298756         776
85     510  080800    327456         990
86     510  090100    657875        1362
87     510  090200   1737308        1405
88     510  090300    794362        1982
89     510  090400    352240         893
90     510  090500    741595        1769
91     510  090600    397270        1164
92     510  090700    435082        1671
93     510  090800    846053        3155
94     510  090900    686864        1707
95     510  100100    453809        1487
96     510  100200    304692        1564
97     510  100300    156309         228
98     510  110100    313923        2355
99     510  110200    720072        3764
100    510  120100   1036127         663
101    510  120201    348020        1336
102    510  120202    981794        1201
103    510  120300    403945        1844
104    510  120400    281026        1346
105    510  120500    534553        2186
106    510  120600    504968        3264
107    510  120700   1050295        1514
108    510  130100    301238        1311
109    510  130200    346792         908
110    510  130300    359731        1988
111    510  130400   2612954        1266
112    510  130600    872125        1211
113    510  130700   1055558        1691
114    510  130803    693566         605
115    510  130804    737978        1220
116    510  130805   1632325         517
117    510  130806   1406474         558
118    510  140100    566966        1902
119    510  140200    395229        2296
120    510  140300    389282        2334
121    510  150100    369345        2044
122    510  150200    420325        1820
123    510  150300    399172        1272
124    510  150400    815572        2542
125    510  150500    949477        2602
126    510  150600    959035        2925
127    510  150701    858015         962
128    510  150702    391519         847
129    510  150800   1089494        2105
130    510  150900   1447256        1330
131    510  151000   1484010        2766
132    510  151100   1698800        2182
133    510  151200    777390        1509
134    510  151300    927386        2416
135    510  160100    382639        1356
136    510  160200    374068        1198
137    510  160300    255076         884
138    510  160400    401142        1515
139    510  160500   1036560        2442
140    510  160600    558111        2019
141    510  160700    953875        2489
142    510  160801    389703        1008
143    510  160802   1226587        1359
144    510  170100    282140        1659
145    510  170200    494006        2222
146    510  170300    305829         904
147    510  180100    341616        1165
148    510  180200    234701         665
149    510  180300    289563        1565
150    510  190100    383127        1285
151    510  190200    282075        1391
152    510  190300    375717        1885
153    510  200100    264900        1244
154    510  200200    925146        1864
155    510  200300    238680        1459
156    510  200400    387906        1133
157    510  200500    671226        3289
158    510  200600   1770698        1937
159    510  200701   1203683        2121
160    510  200702    288171         695
161    510  200800   1067262        1611
162    510  210100   1288090        2995
163    510  210200   2335519        3337
164    510  220100   1156857        3771
165    510  230100    336352        1200
166    510  230200    217596        1022
167    510  230300   1312475         418
168    510  240100   1882249         618
169    510  240200    434072         863
170    510  240300    200576         718
171    510  240400   1205004         826
172    510  250101    962784        1003
173    510  250102    737636         948
174    510  250103   2587957        1849
175    510  250203    923337        1179
176    510  250204    861732        1998
177    510  250205   2316099        3259
178    510  250206   2549601        1764
179    510  250207    917475        1008
180    510  250301   1890115        1189
181    510  250303   1004607        1649
182    510  250401   1181295        2733
183    510  250402    702436        2573
184    510  250500   8571196        3494
185    510  250600   5673862         187
186    510  260101   1635743        2063
187    510  260102   1451520        1770
188    510  260201   1635881        2397
189    510  260202   1019290        2394
190    510  260203    890682        1565
191    510  260301    607369        2191
192    510  260302    896758        2171
193    510  260303   1218969         749
194    510  260401   1341148        1168
195    510  260402   1338498        1211
196    510  260403   1706884         753
197    510  260404   4467270        2840
198    510  260501   3217254        3952
199    510  260604    503666         722
200    510  260605  10010097        4135
201    510  260700    757011        1384
202    510  260800    311708        2466
203    510  260900    550656        2176
204    510  261000    310026        2573
205    510  261100    219781         843
206    510  270101    954112         551
207    510  270102   1021030        1250
208    510  270200    938519         665
209    510  270301   1138586         941
210    510  270302    519259         472
211    510  270401   1457278        1811
212    510  270402   1201223        1147
213    510  270501   2319872        1035
214    510  270502   1539775        1393
215    510  270600   1553849        1577
216    510  270701    387936         938
217    510  270702    848720        1074
218    510  270703    993947        1107
219    510  270801    808306         832
220    510  270802   1099564        2008
221    510  270803   2190787        1481
222    510  270804    721489         714
223    510  270805   1248265        2036
224    510  270901    677441        1269
225    510  270902   1132898        1001
226    510  270903   1089334        1258
227    510  271001    505077         976
228    510  271002    955654        1880
229    510  271101   1011783         503
230    510  271102   1227625         354
231    510  271200   3599462        1635
232    510  271300   2863370         531
233    510  271400   1723810         787
234    510  271501   3628340         880
235    510  271503    742762         169
236    510  271600    850296        2055
237    510  271700   1734100        2670
238    510  271801    557962        1831
239    510  271802    530270        1681
240    510  271900   1398985        1390
241    510  272003   1934716         926
242    510  272004    708924         476
243    510  272005    927829         399
244    510  272006    736774         840
245    510  272007    802300        1039
246    510  280101   1408316        3499
247    510  280102   3498687        2679
248    510  280200   2413240        1493
249    510  280301   3228556        1174
250    510  280302    956019         800
251    510  280401   1645634        1601
252    510  280402    561712         520
253    510  280403   1831350        1556
254    510  280404    848958        1081
255    510  280500    923305        3238

In [36]:
groupedTract_mean = groupedTract_count["crimeStats"].mean()
print("mean",groupedTract_mean)
groupedTract_min = groupedTract_count["crimeStats"].min()
print("min", groupedTract_min)
groupedTract_max = groupedTract_count["crimeStats"].max()
print("max", groupedTract_max)

mean 1277.453125
min 1
max 12230

In [69]:
import numpy as np
groupedTract_count["crime"] = np.where(groupedTract_count.crimeStats < groupedTract_mean, "low", "high")
groupedTract_count

    County   Tract  AreaLand  crimeStats crime
0      001  000400   9642972           1   low
1      003  730100  23954156           2   low
2      003  731103   8562084           1   low
3      003  731308   1634461           1   low
4      003  750101   1345542          26   low
5      003  750102    785173           8   low
6      003  750201   3287938           2   low
7      003  750202   2530562           1   low
8      003  750900   2910023           1   low
9      005  400100   1874572          12   low
10     005  400200    922283           4   low
11     005  400600    968869           2   low
12     005  400702    702073           2   low
13     005  401200   1955197           8   low
14     005  401301   1155827           3   low
15     005  401302    593065           9   low
16     005  402302   2901560           1   low
17     005  402303   2862489           1   low
18     005  402307   2229516           1   low
19     005  402403   2046390           1   low
20     005  402404   1694697           1   low
21     005  402504   7960312           1   low
22     005  403202   1165728           2   low
23     005  403402   3585771          54   low
24     005  403602   2754967          10   low
25     005  403802   9661874           1   low
26     005  420402    633728           1   low
27     005  420500    853505           8   low
28     005  420702    643330           6   low
29     005  421000    395953           4   low
30     005  421102   2132646           1   low
31     005  430101   1465370           8   low
32     005  430200   1661425           9   low
33     005  430400   7200660          56   low
34     005  430800   1362702           1   low
35     005  430900   1454314           8   low
36     005  440200   1878495           5   low
37     005  440400   2672650           7   low
38     005  440600   6128746           2   low
39     005  440701   3906999           2   low
40     005  440900   1926277           1   low
41     005  441102   2591921           5   low
42     005  450100   9127546           1   low
43     005  450504   1162828           1   low
44     005  451802  10942342           1   low
45     005  452300   2318131           2   low
46     005  490602    786168           1   low
47     005  490603   1068269           1   low
48     005  490703   1532802           1   low
49     005  491100   1097271          37   low
50     005  491600    875053           1   low
51     005  492102    944335           6   low
52     005  492500   2638986           1   low
53     009  860200  46452683           1   low
54     031  700901   1695987           1   low
55     031  703502   1421516           1   low
56     510  010100    393198        1108   low
57     510  010200    355165        1238   low
58     510  010300    673883         882   low
59     510  010400    373744        1251   low
60     510  010500    155243         660   low
61     510  020100    174536         750   low
62     510  020200    197559        1129   low
63     510  020300    662772        2720  high
64     510  030100    427650        2857  high
65     510  030200    505084        2741  high
66     510  040100   1191002       12230  high
67     510  040200    435698        1155   low
68     510  060100    238719        2502  high
69     510  060200    257736        2703  high
70     510  060300    187108        1610  high
71     510  060400    430130        2304  high
72     510  070100    290634        1846  high
73     510  070200    311145        2992  high
74     510  070300    228689        1313  high
75     510  070400    326989        1158   low
76     510  080101   2323952        2014  high
77     510  080102    365633        1551  high
78     510  080200    856268        1668  high
79     510  080301    268608        1144   low
80     510  080302    439533        1040   low
81     510  080400    250976         944   low
82     510  080500    348376        1415  high
83     510  080600    336416        1301  high
84     510  080700    298756         776   low
85     510  080800    327456         990   low
86     510  090100    657875        1362  high
87     510  090200   1737308        1405  high
88     510  090300    794362        1982  high
89     510  090400    352240         893   low
90     510  090500    741595        1769  high
91     510  090600    397270        1164   low
92     510  090700    435082        1671  high
93     510  090800    846053        3155  high
94     510  090900    686864        1707  high
95     510  100100    453809        1487  high
96     510  100200    304692        1564  high
97     510  100300    156309         228   low
98     510  110100    313923        2355  high
99     510  110200    720072        3764  high
100    510  120100   1036127         663   low
101    510  120201    348020        1336  high
102    510  120202    981794        1201   low
103    510  120300    403945        1844  high
104    510  120400    281026        1346  high
105    510  120500    534553        2186  high
106    510  120600    504968        3264  high
107    510  120700   1050295        1514  high
108    510  130100    301238        1311  high
109    510  130200    346792         908   low
110    510  130300    359731        1988  high
111    510  130400   2612954        1266   low
112    510  130600    872125        1211   low
113    510  130700   1055558        1691  high
114    510  130803    693566         605   low
115    510  130804    737978        1220   low
116    510  130805   1632325         517   low
117    510  130806   1406474         558   low
118    510  140100    566966        1902  high
119    510  140200    395229        2296  high
120    510  140300    389282        2334  high
121    510  150100    369345        2044  high
122    510  150200    420325        1820  high
123    510  150300    399172        1272   low
124    510  150400    815572        2542  high
125    510  150500    949477        2602  high
126    510  150600    959035        2925  high
127    510  150701    858015         962   low
128    510  150702    391519         847   low
129    510  150800   1089494        2105  high
130    510  150900   1447256        1330  high
131    510  151000   1484010        2766  high
132    510  151100   1698800        2182  high
133    510  151200    777390        1509  high
134    510  151300    927386        2416  high
135    510  160100    382639        1356  high
136    510  160200    374068        1198   low
137    510  160300    255076         884   low
138    510  160400    401142        1515  high
139    510  160500   1036560        2442  high
140    510  160600    558111        2019  high
141    510  160700    953875        2489  high
142    510  160801    389703        1008   low
143    510  160802   1226587        1359  high
144    510  170100    282140        1659  high
145    510  170200    494006        2222  high
146    510  170300    305829         904   low
147    510  180100    341616        1165   low
148    510  180200    234701         665   low
149    510  180300    289563        1565  high
150    510  190100    383127        1285  high
151    510  190200    282075        1391  high
152    510  190300    375717        1885  high
153    510  200100    264900        1244   low
154    510  200200    925146        1864  high
155    510  200300    238680        1459  high
156    510  200400    387906        1133   low
157    510  200500    671226        3289  high
158    510  200600   1770698        1937  high
159    510  200701   1203683        2121  high
160    510  200702    288171         695   low
161    510  200800   1067262        1611  high
162    510  210100   1288090        2995  high
163    510  210200   2335519        3337  high
164    510  220100   1156857        3771  high
165    510  230100    336352        1200   low
166    510  230200    217596        1022   low
167    510  230300   1312475         418   low
168    510  240100   1882249         618   low
169    510  240200    434072         863   low
170    510  240300    200576         718   low
171    510  240400   1205004         826   low
172    510  250101    962784        1003   low
173    510  250102    737636         948   low
174    510  250103   2587957        1849  high
175    510  250203    923337        1179   low
176    510  250204    861732        1998  high
177    510  250205   2316099        3259  high
178    510  250206   2549601        1764  high
179    510  250207    917475        1008   low
180    510  250301   1890115        1189   low
181    510  250303   1004607        1649  high
182    510  250401   1181295        2733  high
183    510  250402    702436        2573  high
184    510  250500   8571196        3494  high
185    510  250600   5673862         187   low
186    510  260101   1635743        2063  high
187    510  260102   1451520        1770  high
188    510  260201   1635881        2397  high
189    510  260202   1019290        2394  high
190    510  260203    890682        1565  high
191    510  260301    607369        2191  high
192    510  260302    896758        2171  high
193    510  260303   1218969         749   low
194    510  260401   1341148        1168   low
195    510  260402   1338498        1211   low
196    510  260403   1706884         753   low
197    510  260404   4467270        2840  high
198    510  260501   3217254        3952  high
199    510  260604    503666         722   low
200    510  260605  10010097        4135  high
201    510  260700    757011        1384  high
202    510  260800    311708        2466  high
203    510  260900    550656        2176  high
204    510  261000    310026        2573  high
205    510  261100    219781         843   low
206    510  270101    954112         551   low
207    510  270102   1021030        1250   low
208    510  270200    938519         665   low
209    510  270301   1138586         941   low
210    510  270302    519259         472   low
211    510  270401   1457278        1811  high
212    510  270402   1201223        1147   low
213    510  270501   2319872        1035   low
214    510  270502   1539775        1393  high
215    510  270600   1553849        1577  high
216    510  270701    387936         938   low
217    510  270702    848720        1074   low
218    510  270703    993947        1107   low
219    510  270801    808306         832   low
220    510  270802   1099564        2008  high
221    510  270803   2190787        1481  high
222    510  270804    721489         714   low
223    510  270805   1248265        2036  high
224    510  270901    677441        1269   low
225    510  270902   1132898        1001   low
226    510  270903   1089334        1258   low
227    510  271001    505077         976   low
228    510  271002    955654        1880  high
229    510  271101   1011783         503   low
230    510  271102   1227625         354   low
231    510  271200   3599462        1635  high
232    510  271300   2863370         531   low
233    510  271400   1723810         787   low
234    510  271501   3628340         880   low
235    510  271503    742762         169   low
236    510  271600    850296        2055  high
237    510  271700   1734100        2670  high
238    510  271801    557962        1831  high
239    510  271802    530270        1681  high
240    510  271900   1398985        1390  high
241    510  272003   1934716         926   low
242    510  272004    708924         476   low
243    510  272005    927829         399   low
244    510  272006    736774         840   low
245    510  272007    802300        1039   low
246    510  280101   1408316        3499  high
247    510  280102   3498687        2679  high
248    510  280200   2413240        1493  high
249    510  280301   3228556        1174   low
250    510  280302    956019         800   low
251    510  280401   1645634        1601  high
252    510  280402    561712         520   low
253    510  280403   1831350        1556  high
254    510  280404    848958        1081   low
255    510  280500    923305        3238  high

In [38]:
## checking there are no crimeStats zero values
####dc_NYCAll_withCrime.loc[dc_NYCAll_withCrime.crime == 0, 'crime'].count()
groupedTract_count.loc[groupedTract_count.crimeStats == 0, 'crimeStats'].count()

0

In [39]:
## checking there are no AreaLand zero values
groupedTract_count.loc[groupedTract_count.AreaLand == 0, 'AreaLand'].count()

0

In [46]:
BaltimoreAll.dtypes

NAME                                            object
DP05_0001E-T Popo                               object
DP02_0001E-T HHs                                object
DP02_0002E-T Fam HHs                            object
DP02_0008PE-%F-led HHs No H                     object
DP02_0010PE-% Non-Fam HHs                       object
DP02_0015E-Avg HH Size                          object
DP02_0016E-Avg Fam Size                         object
DP02_0022PE-%Non Rel in Hs                      object
DP02_0038E-per1000-F-U-RecentPreg               object
DP02_0046PE-%GPwParent&Gc1-2yrs                 object
DP02_0048PE--%GPwParent&Gc>5yrs                 object
DP02_0060PE-%NoSchDiploma                       object
DP02_0063PE-%AssDeg                             object
DP02_0079PE-% SameHouse_1YrAgo                  object
DP02_0085PE-%LivAbroad1YrAgo                    object
DP02_0088PE-%BornUS                             object
DP02_0112PE-HomeLangNotEng                      object
DP02_0134PE-%IrishAnc                           object
DP03_0009PE-%Unemploy                           object
DP03_0027PE-%WorkingMgt,Bus,Sc,Arts             object
DP03_0028PE%WorkingService                      object
DP03_0037PE-Retail                              object
DP03_0040PE-%Fin&Ins                            object
DP03_0041PE-%ProfSc,Mgt,Admin                   object
DP03_0050PE-%UnpaidFamilyWk                     object
DP03_0052PE-Inc<10k                             object
DP03_0054PE-Inc15-24k                           object
DP03_0058PE-Inc75-99k                           object
DP03_0061PE-Inc200k>                            object
DP03_0065E-HH-MeanEarnings                      object
DP03_0066PE-%HHsWithSocSec                      object
DP03_0072PE-%HH Inc with Cash public Ass        object
DP03_0074PE-%HH Inc with Food Stamps SNAP       object
DP03_0085PE-%Families Inc>200k                  object
DP03_0092E-Median Earning Workers               object
DP03_0093E-Median Earnings Male FT Workers      object
DP03_0094E-Median Earnings Female FT Workers    object
DP03_0097PE-%PHI-Priv                           object
DP03_0098PE-%PHI-Pub                            object
DP03_0099PE-No PHI                              object
DP03_0119PE-% Fam <Pov                          object
DP03_0121PE-%Fam with child U18&U5 <pov         object
DP03_0126PE-%F-Led Families with u18 <pov       object
DP04_0001E-T H U                                object
DP04_0002PE-%Occ H U                            object
DP04_0004E-%Ow Vac Rate                         object
DP04_0005E-%Rn Vac Rate                         object
DP04_0006E-T HU                                 object
State                                           object
County                                          object
Tract                                           object
DP04_0013PE-%20+HU                              object
DP04_0017PE-%Built2014+                         object
DP04_0029PE-%2rooms_only_HU                     object
DP04_0039PE-Zero bedrooms                       object
DP04_0045PE-%Occup HU                           object
DP04_0046PE-%Owner Occup HU                     object
DP04_0048E-Owner Ave Household size             object
DP04_0049E-Renter Ave Household size            object
DP04_0051PE-%moved since 2017+                  object
DP04_0054PE-%moved 2000 to 2009                 object
DP04_0082PE-%Value 50-99k                       object
DP04_0083PE-%Value 100-149k                     object
DP04_0084PE-%Value 150-199k                     object
DP04_0087PE-%Value 500k-1m                      object
DP04_0101E-Med Onwer Monthly Mortgage           object
DP04_0134E-Median Gross Rent                    object
DP05_0005PE-%under 5 yrs                        object
DP05_0023PE-%62 yrs+                            object
DP05_0058PE-% w & B or AM                       object
DP05_0061PE-%White & Asian                      object
DP05_0064PE-%White with others                  object
DP05_0070PE-%H&L race                           object
dtype: object

In [70]:
## join crime data to census data 
## https://kodlogs.com/38097/len-left_on-must-equal-the-number-of-levels-in-the-index-of-right#:~:text=pages%20in%20html-,Len(left_on)%20must%20equal%20the%20number%20of%20levels%20in,the%20index%20of%20%22right%22.
BaltimoreAll_withCrime = pd.merge(left = BaltimoreAll, right = groupedTract_count, how = 'inner', on = ['County', 'Tract'] )

In [71]:
BaltimoreAll_withCrime.head()

,NAME,DP05_0001E-T Popo,DP02_0001E-T HHs,DP02_0002E-T Fam HHs,DP02_0008PE-%F-led HHs No H,DP02_0010PE-% Non-Fam HHs,DP02_0015E-Avg HH Size,DP02_0016E-Avg Fam Size,DP02_0022PE-%Non Rel in Hs,DP02_0038E-per1000-F-U-RecentPreg,DP02_0046PE-%GPwParent&Gc1-2yrs,DP02_0048PE--%GPwParent&Gc>5yrs,DP02_0060PE-%NoSchDiploma,DP02_0063PE-%AssDeg,DP02_0079PE-% SameHouse_1YrAgo,DP02_0085PE-%LivAbroad1YrAgo,DP02_0088PE-%BornUS,DP02_0112PE-HomeLangNotEng,DP02_0134PE-%IrishAnc,DP03_0009PE-%Unemploy,"DP03_0027PE-%WorkingMgt,Bus,Sc,Arts",DP03_0028PE%WorkingService,DP03_0037PE-Retail,DP03_0040PE-%Fin&Ins,"DP03_0041PE-%ProfSc,Mgt,Admin",DP03_0050PE-%UnpaidFamilyWk,DP03_0052PE-Inc<10k,DP03_0054PE-Inc15-24k,DP03_0058PE-Inc75-99k,DP03_0061PE-Inc200k>,DP03_0065E-HH-MeanEarnings,DP03_0066PE-%HHsWithSocSec,DP03_0072PE-%HH Inc with Cash public Ass,DP03_0074PE-%HH Inc with Food Stamps SNAP,DP03_0085PE-%Families Inc>200k,DP03_0092E-Median Earning Workers,DP03_0093E-Median Earnings Male FT Workers,DP03_0094E-Median Earnings Female FT Workers,DP03_0097PE-%PHI-Priv,DP03_0098PE-%PHI-Pub,DP03_0099PE-No PHI,DP03_0119PE-% Fam <Pov,DP03_0121PE-%Fam with child U18&U5 <pov,DP03_0126PE-%F-Led Families with u18 <pov,DP04_0001E-T H U,DP04_0002PE-%Occ H U,DP04_0004E-%Ow Vac Rate,DP04_0005E-%Rn Vac Rate,DP04_0006E-T HU,State,County,Tract,DP04_0013PE-%20+HU,DP04_0017PE-%Built2014+,DP04_0029PE-%2rooms_only_HU,DP04_0039PE-Zero bedrooms,DP04_0045PE-%Occup HU,DP04_0046PE-%Owner Occup HU,DP04_0048E-Owner Ave Household size,DP04_0049E-Renter Ave Household size,DP04_0051PE-%moved since 2017+,DP04_0054PE-%moved 2000 to 2009,DP04_0082PE-%Value 50-99k,DP04_0083PE-%Value 100-149k,DP04_0084PE-%Value 150-199k,DP04_0087PE-%Value 500k-1m,DP04_0101E-Med Onwer Monthly Mortgage,DP04_0134E-Median Gross Rent,DP05_0005PE-%under 5 yrs,DP05_0023PE-%62 yrs+,DP05_0058PE-% w & B or AM,DP05_0061PE-%White & Asian,DP05_0064PE-%White with others,DP05_0070PE-%H&L race,AreaLand,crimeStats,crime
0,"Census Tract 4, Allegany County, Maryland",2854,1246,666,14.0,46.5,2.26,3.14,5.2,0,12.7,19.0,4.5,13.4,78.4,0.0,100.0,1.4,19.0,1.5,32.1,21.8,11.5,3.1,4.1,0.0,7.9,16.6,6.9,3.0,71030,40.8,1.4,15.2,5.7,33099,55192,35329,69.1,69.1,3.4,8.7,35.5,41.2,1493,83.5,0.0,6.4,1493,24,001,000400,4.0,0.0,0.0,1.6,1246,60.0,498,2.38,5.1,16.5,28.6,25.9,15.2,0.8,1310,788,4.1,26.0,3.2,0.0,93.2,2854,9642972,1,low
1,"Census Tract 7501.01, Anne Arundel County, Mar...",4264,1556,932,18.4,40.1,2.72,3.50,8.3,18,0.0,21.0,8.1,6.9,92.3,1.4,90.3,10.7,6.7,6.9,26.3,25.8,11.3,3.1,14.8,0.0,6.9,9.6,15.6,2.0,70388,32.6,3.1,16.7,1.1,34909,53018,35139,60.2,60.2,6.2,12.3,0.0,25.4,1635,95.2,0.6,5.3,1635,24,003,750101,0.0,0.0,0.4,1.4,1556,72.3,431,2.75,1.3,38.8,13.1,11.1,18.6,0.8,1416,1115,7.0,13.7,4.8,0.9,72.3,4264,1345542,26,low
2,"Census Tract 7502.01, Anne Arundel County, Mar...",3436,1215,893,20.0,26.5,2.73,3.09,6.9,146,10.8,10.8,12.3,5.6,80.4,0.0,89.0,14.6,5.8,7.7,28.8,26.5,10.3,3.7,15.5,0.0,7.8,9.2,14.9,3.5,70568,37.5,3.0,28.5,2.5,32181,52018,34869,48.9,48.9,16.2,10.6,0.0,0.0,1269,95.7,0.0,7.0,1269,24,003,750201,6.4,0.6,2.6,0.0,1215,76.0,292,2.86,5.6,20.0,2.0,7.6,13.2,0.0,1647,927,9.2,23.7,0.0,0.0,55.3,3436,3287938,2,low
3,"Census Tract 7313.08, Anne Arundel County, Mar...",3640,1348,954,9.6,29.2,2.70,3.18,5.9,20,7.2,0.0,6.0,11.1,92.3,0.0,95.4,3.5,16.1,2.8,32.9,10.7,8.4,6.8,8.1,0.0,5.0,4.0,14.3,7.6,103856,40.4,1.7,5.2,8.6,52692,59141,57191,79.5,79.5,4.3,2.2,0.0,26.2,1515,89.0,2.3,0.0,1515,24,003,731308,0.0,0.0,0.0,0.0,1348,92.9,96,2.71,3.1,26.3,0.0,1.8,6.9,9.2,1815,1404,5.7,22.1,1.2,0.0,95.7,3640,1634461,1,low
4,"Census Tract 7509, Anne Arundel County, Maryland",3058,1321,710,12.3,46.3,2.31,3.14,7.0,0,0.0,36.8,5.4,5.6,91.9,0.0,94.5,8.0,23.2,3.6,30.1,23.6,13.3,2.8,13.2,0.0,6.0,9.0,10.3,3.4,83501,34.3,2.4,9.9,4.8,42227,55885,52672,65.6,65.6,4.2,8.9,60.0,22.3,1321,100.0,0.0,0.0,1321,24,003,750900,16.7,0.0,0.9,1.5,1321,57.8,557,2.54,7.0,28.0,1.4,5.2,14.8,0.0,1744,866,6.3,17.9,2.8,1.0,89.8,3058,2910023,1,low

In [51]:
print("No of Rows: ",BaltimoreAll_withCrime.shape)

No of Rows:  (256, 77)

In [72]:
## remove rows with NaNs for Crime as it will not be possible to run ML on crime outcome for these
## rows using df.dropna() but there were none as same no of rows after running code
BaltimoreAllNoNAs = BaltimoreAll_withCrime.dropna() ## returning to number of rows that agrees with groupedTract_count available crime data

In [73]:
BaltimoreAllNoNAs.head()

,NAME,DP05_0001E-T Popo,DP02_0001E-T HHs,DP02_0002E-T Fam HHs,DP02_0008PE-%F-led HHs No H,DP02_0010PE-% Non-Fam HHs,DP02_0015E-Avg HH Size,DP02_0016E-Avg Fam Size,DP02_0022PE-%Non Rel in Hs,DP02_0038E-per1000-F-U-RecentPreg,DP02_0046PE-%GPwParent&Gc1-2yrs,DP02_0048PE--%GPwParent&Gc>5yrs,DP02_0060PE-%NoSchDiploma,DP02_0063PE-%AssDeg,DP02_0079PE-% SameHouse_1YrAgo,DP02_0085PE-%LivAbroad1YrAgo,DP02_0088PE-%BornUS,DP02_0112PE-HomeLangNotEng,DP02_0134PE-%IrishAnc,DP03_0009PE-%Unemploy,"DP03_0027PE-%WorkingMgt,Bus,Sc,Arts",DP03_0028PE%WorkingService,DP03_0037PE-Retail,DP03_0040PE-%Fin&Ins,"DP03_0041PE-%ProfSc,Mgt,Admin",DP03_0050PE-%UnpaidFamilyWk,DP03_0052PE-Inc<10k,DP03_0054PE-Inc15-24k,DP03_0058PE-Inc75-99k,DP03_0061PE-Inc200k>,DP03_0065E-HH-MeanEarnings,DP03_0066PE-%HHsWithSocSec,DP03_0072PE-%HH Inc with Cash public Ass,DP03_0074PE-%HH Inc with Food Stamps SNAP,DP03_0085PE-%Families Inc>200k,DP03_0092E-Median Earning Workers,DP03_0093E-Median Earnings Male FT Workers,DP03_0094E-Median Earnings Female FT Workers,DP03_0097PE-%PHI-Priv,DP03_0098PE-%PHI-Pub,DP03_0099PE-No PHI,DP03_0119PE-% Fam <Pov,DP03_0121PE-%Fam with child U18&U5 <pov,DP03_0126PE-%F-Led Families with u18 <pov,DP04_0001E-T H U,DP04_0002PE-%Occ H U,DP04_0004E-%Ow Vac Rate,DP04_0005E-%Rn Vac Rate,DP04_0006E-T HU,State,County,Tract,DP04_0013PE-%20+HU,DP04_0017PE-%Built2014+,DP04_0029PE-%2rooms_only_HU,DP04_0039PE-Zero bedrooms,DP04_0045PE-%Occup HU,DP04_0046PE-%Owner Occup HU,DP04_0048E-Owner Ave Household size,DP04_0049E-Renter Ave Household size,DP04_0051PE-%moved since 2017+,DP04_0054PE-%moved 2000 to 2009,DP04_0082PE-%Value 50-99k,DP04_0083PE-%Value 100-149k,DP04_0084PE-%Value 150-199k,DP04_0087PE-%Value 500k-1m,DP04_0101E-Med Onwer Monthly Mortgage,DP04_0134E-Median Gross Rent,DP05_0005PE-%under 5 yrs,DP05_0023PE-%62 yrs+,DP05_0058PE-% w & B or AM,DP05_0061PE-%White & Asian,DP05_0064PE-%White with others,DP05_0070PE-%H&L race,AreaLand,crimeStats,crime
0,"Census Tract 4, Allegany County, Maryland",2854,1246,666,14.0,46.5,2.26,3.14,5.2,0,12.7,19.0,4.5,13.4,78.4,0.0,100.0,1.4,19.0,1.5,32.1,21.8,11.5,3.1,4.1,0.0,7.9,16.6,6.9,3.0,71030,40.8,1.4,15.2,5.7,33099,55192,35329,69.1,69.1,3.4,8.7,35.5,41.2,1493,83.5,0.0,6.4,1493,24,001,000400,4.0,0.0,0.0,1.6,1246,60.0,498,2.38,5.1,16.5,28.6,25.9,15.2,0.8,1310,788,4.1,26.0,3.2,0.0,93.2,2854,9642972,1,low
1,"Census Tract 7501.01, Anne Arundel County, Mar...",4264,1556,932,18.4,40.1,2.72,3.50,8.3,18,0.0,21.0,8.1,6.9,92.3,1.4,90.3,10.7,6.7,6.9,26.3,25.8,11.3,3.1,14.8,0.0,6.9,9.6,15.6,2.0,70388,32.6,3.1,16.7,1.1,34909,53018,35139,60.2,60.2,6.2,12.3,0.0,25.4,1635,95.2,0.6,5.3,1635,24,003,750101,0.0,0.0,0.4,1.4,1556,72.3,431,2.75,1.3,38.8,13.1,11.1,18.6,0.8,1416,1115,7.0,13.7,4.8,0.9,72.3,4264,1345542,26,low
2,"Census Tract 7502.01, Anne Arundel County, Mar...",3436,1215,893,20.0,26.5,2.73,3.09,6.9,146,10.8,10.8,12.3,5.6,80.4,0.0,89.0,14.6,5.8,7.7,28.8,26.5,10.3,3.7,15.5,0.0,7.8,9.2,14.9,3.5,70568,37.5,3.0,28.5,2.5,32181,52018,34869,48.9,48.9,16.2,10.6,0.0,0.0,1269,95.7,0.0,7.0,1269,24,003,750201,6.4,0.6,2.6,0.0,1215,76.0,292,2.86,5.6,20.0,2.0,7.6,13.2,0.0,1647,927,9.2,23.7,0.0,0.0,55.3,3436,3287938,2,low
3,"Census Tract 7313.08, Anne Arundel County, Mar...",3640,1348,954,9.6,29.2,2.70,3.18,5.9,20,7.2,0.0,6.0,11.1,92.3,0.0,95.4,3.5,16.1,2.8,32.9,10.7,8.4,6.8,8.1,0.0,5.0,4.0,14.3,7.6,103856,40.4,1.7,5.2,8.6,52692,59141,57191,79.5,79.5,4.3,2.2,0.0,26.2,1515,89.0,2.3,0.0,1515,24,003,731308,0.0,0.0,0.0,0.0,1348,92.9,96,2.71,3.1,26.3,0.0,1.8,6.9,9.2,1815,1404,5.7,22.1,1.2,0.0,95.7,3640,1634461,1,low
4,"Census Tract 7509, Anne Arundel County, Maryland",3058,1321,710,12.3,46.3,2.31,3.14,7.0,0,0.0,36.8,5.4,5.6,91.9,0.0,94.5,8.0,23.2,3.6,30.1,23.6,13.3,2.8,13.2,0.0,6.0,9.0,10.3,3.4,83501,34.3,2.4,9.9,4.8,42227,55885,52672,65.6,65.6,4.2,8.9,60.0,22.3,1321,100.0,0.0,0.0,1321,24,003,750900,16.7,0.0,0.9,1.5,1321,57.8,557,2.54,7.0,28.0,1.4,5.2,14.8,0.0,1744,866,6.3,17.9,2.8,1.0,89.8,3058,2910023,1,low

In [74]:
print("No of Rows: ",BaltimoreAllNoNAs.shape)

No of Rows:  (256, 77)

In [75]:
## checking if any rows with Popo == zero
BaltimoreAllNoNAs[BaltimoreAllNoNAs['DP05_0001E-T Popo']== 0]

Empty DataFrame
Columns: [NAME, DP05_0001E-T Popo, DP02_0001E-T HHs, DP02_0002E-T Fam HHs, DP02_0008PE-%F-led HHs No H, DP02_0010PE-% Non-Fam HHs, DP02_0015E-Avg HH Size, DP02_0016E-Avg Fam Size, DP02_0022PE-%Non Rel in Hs, DP02_0038E-per1000-F-U-RecentPreg, DP02_0046PE-%GPwParent&Gc1-2yrs, DP02_0048PE--%GPwParent&Gc>5yrs, DP02_0060PE-%NoSchDiploma, DP02_0063PE-%AssDeg, DP02_0079PE-% SameHouse_1YrAgo, DP02_0085PE-%LivAbroad1YrAgo, DP02_0088PE-%BornUS, DP02_0112PE-HomeLangNotEng, DP02_0134PE-%IrishAnc, DP03_0009PE-%Unemploy, DP03_0027PE-%WorkingMgt,Bus,Sc,Arts, DP03_0028PE%WorkingService, DP03_0037PE-Retail, DP03_0040PE-%Fin&Ins, DP03_0041PE-%ProfSc,Mgt,Admin, DP03_0050PE-%UnpaidFamilyWk, DP03_0052PE-Inc<10k, DP03_0054PE-Inc15-24k, DP03_0058PE-Inc75-99k, DP03_0061PE-Inc200k>, DP03_0065E-HH-MeanEarnings, DP03_0066PE-%HHsWithSocSec, DP03_0072PE-%HH Inc with Cash public Ass, DP03_0074PE-%HH Inc with Food Stamps SNAP, DP03_0085PE-%Families Inc>200k, DP03_0092E-Median Earning Workers, DP03_0093E-Median Earnings Male FT Workers, DP03_0094E-Median Earnings Female FT Workers, DP03_0097PE-%PHI-Priv, DP03_0098PE-%PHI-Pub, DP03_0099PE-No PHI, DP03_0119PE-% Fam <Pov, DP03_0121PE-%Fam with child U18&U5 <pov, DP03_0126PE-%F-Led Families with u18 <pov, DP04_0001E-T H U, DP04_0002PE-%Occ H U, DP04_0004E-%Ow Vac Rate, DP04_0005E-%Rn Vac Rate, DP04_0006E-T HU, State, County, Tract, DP04_0013PE-%20+HU, DP04_0017PE-%Built2014+, DP04_0029PE-%2rooms_only_HU, DP04_0039PE-Zero bedrooms, DP04_0045PE-%Occup HU, DP04_0046PE-%Owner Occup HU, DP04_0048E-Owner Ave Household size, DP04_0049E-Renter Ave Household size, DP04_0051PE-%moved since 2017+, DP04_0054PE-%moved 2000 to 2009, DP04_0082PE-%Value 50-99k, DP04_0083PE-%Value 100-149k, DP04_0084PE-%Value 150-199k, DP04_0087PE-%Value 500k-1m, DP04_0101E-Med Onwer Monthly Mortgage, DP04_0134E-Median Gross Rent, DP05_0005PE-%under 5 yrs, DP05_0023PE-%62 yrs+, DP05_0058PE-% w & B or AM, DP05_0061PE-%White & Asian, DP05_0064PE-%White with others, DP05_0070PE-%H&L race, AreaLand, crimeStats, crime]
Index: []

In [76]:
BaltimoreAllNoNAs['ALAND'] = BaltimoreAllNoNAs['AreaLand']
BaltimoreAllNoNAs['AreaLand'] = (BaltimoreAllNoNAs['AreaLand']/10000).astype(int)
BaltimoreAllNoNAs['ALAND'].head()

0    9642972
1    1345542
2    3287938
3    1634461
4    2910023
Name: ALAND, dtype: int64

In [77]:
BaltimoreAllNoNAs['Popo_Density_Per_Hector'] = BaltimoreAllNoNAs['AreaLand']/(BaltimoreAllNoNAs['DP05_0001E-T Popo'].astype(int))
BaltimoreAllNoNAs['Popo_Density_Per_Hector'] = BaltimoreAllNoNAs['Popo_Density_Per_Hector'].round(4)

In [78]:
BaltimoreAllNoNAs['Popo_Density_Per_Hector'].head()

0    0.3378
1    0.0314
2    0.0955
3    0.0448
4    0.0952
Name: Popo_Density_Per_Hector, dtype: float64

In [79]:
# df = df[df['Correlation'] >= 0]
BaltimoreAllNoNAs[BaltimoreAllNoNAs['DP05_0001E-T Popo'] == '0']

,NAME,DP05_0001E-T Popo,DP02_0001E-T HHs,DP02_0002E-T Fam HHs,DP02_0008PE-%F-led HHs No H,DP02_0010PE-% Non-Fam HHs,DP02_0015E-Avg HH Size,DP02_0016E-Avg Fam Size,DP02_0022PE-%Non Rel in Hs,DP02_0038E-per1000-F-U-RecentPreg,DP02_0046PE-%GPwParent&Gc1-2yrs,DP02_0048PE--%GPwParent&Gc>5yrs,DP02_0060PE-%NoSchDiploma,DP02_0063PE-%AssDeg,DP02_0079PE-% SameHouse_1YrAgo,DP02_0085PE-%LivAbroad1YrAgo,DP02_0088PE-%BornUS,DP02_0112PE-HomeLangNotEng,DP02_0134PE-%IrishAnc,DP03_0009PE-%Unemploy,"DP03_0027PE-%WorkingMgt,Bus,Sc,Arts",DP03_0028PE%WorkingService,DP03_0037PE-Retail,DP03_0040PE-%Fin&Ins,"DP03_0041PE-%ProfSc,Mgt,Admin",DP03_0050PE-%UnpaidFamilyWk,DP03_0052PE-Inc<10k,DP03_0054PE-Inc15-24k,DP03_0058PE-Inc75-99k,DP03_0061PE-Inc200k>,DP03_0065E-HH-MeanEarnings,DP03_0066PE-%HHsWithSocSec,DP03_0072PE-%HH Inc with Cash public Ass,DP03_0074PE-%HH Inc with Food Stamps SNAP,DP03_0085PE-%Families Inc>200k,DP03_0092E-Median Earning Workers,DP03_0093E-Median Earnings Male FT Workers,DP03_0094E-Median Earnings Female FT Workers,DP03_0097PE-%PHI-Priv,DP03_0098PE-%PHI-Pub,DP03_0099PE-No PHI,DP03_0119PE-% Fam <Pov,DP03_0121PE-%Fam with child U18&U5 <pov,DP03_0126PE-%F-Led Families with u18 <pov,DP04_0001E-T H U,DP04_0002PE-%Occ H U,DP04_0004E-%Ow Vac Rate,DP04_0005E-%Rn Vac Rate,DP04_0006E-T HU,State,County,Tract,DP04_0013PE-%20+HU,DP04_0017PE-%Built2014+,DP04_0029PE-%2rooms_only_HU,DP04_0039PE-Zero bedrooms,DP04_0045PE-%Occup HU,DP04_0046PE-%Owner Occup HU,DP04_0048E-Owner Ave Household size,DP04_0049E-Renter Ave Household size,DP04_0051PE-%moved since 2017+,DP04_0054PE-%moved 2000 to 2009,DP04_0082PE-%Value 50-99k,DP04_0083PE-%Value 100-149k,DP04_0084PE-%Value 150-199k,DP04_0087PE-%Value 500k-1m,DP04_0101E-Med Onwer Monthly Mortgage,DP04_0134E-Median Gross Rent,DP05_0005PE-%under 5 yrs,DP05_0023PE-%62 yrs+,DP05_0058PE-% w & B or AM,DP05_0061PE-%White & Asian,DP05_0064PE-%White with others,DP05_0070PE-%H&L race,AreaLand,crimeStats,crime,ALAND,Popo_Density_Per_Hector
208,"Census Tract 2506, Baltimore city, Maryland",0,0,0,-666666666.0,-666666666.0,-666666666.00,-666666666.00,-666666666.0,-666666666,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666,-666666666,-666666666,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,0,-666666666.0,-666666666.0,-666666666.0,0,24,510,250600,-666666666.0,-666666666.0,-666666666.0,-666666666.0,0,-666666666.0,0,-666666666.00,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666,-666666666,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,0,567,187,low,5673862,inf

In [80]:
## double checking that there are no rows with zero popo, but there are none
BaltimoreAllNoNAs = BaltimoreAllNoNAs[BaltimoreAllNoNAs['DP05_0001E-T Popo'] != '0']

In [82]:
BaltimoreAllNoNAs.head()

,NAME,DP05_0001E-T Popo,DP02_0001E-T HHs,DP02_0002E-T Fam HHs,DP02_0008PE-%F-led HHs No H,DP02_0010PE-% Non-Fam HHs,DP02_0015E-Avg HH Size,DP02_0016E-Avg Fam Size,DP02_0022PE-%Non Rel in Hs,DP02_0038E-per1000-F-U-RecentPreg,DP02_0046PE-%GPwParent&Gc1-2yrs,DP02_0048PE--%GPwParent&Gc>5yrs,DP02_0060PE-%NoSchDiploma,DP02_0063PE-%AssDeg,DP02_0079PE-% SameHouse_1YrAgo,DP02_0085PE-%LivAbroad1YrAgo,DP02_0088PE-%BornUS,DP02_0112PE-HomeLangNotEng,DP02_0134PE-%IrishAnc,DP03_0009PE-%Unemploy,"DP03_0027PE-%WorkingMgt,Bus,Sc,Arts",DP03_0028PE%WorkingService,DP03_0037PE-Retail,DP03_0040PE-%Fin&Ins,"DP03_0041PE-%ProfSc,Mgt,Admin",DP03_0050PE-%UnpaidFamilyWk,DP03_0052PE-Inc<10k,DP03_0054PE-Inc15-24k,DP03_0058PE-Inc75-99k,DP03_0061PE-Inc200k>,DP03_0065E-HH-MeanEarnings,DP03_0066PE-%HHsWithSocSec,DP03_0072PE-%HH Inc with Cash public Ass,DP03_0074PE-%HH Inc with Food Stamps SNAP,DP03_0085PE-%Families Inc>200k,DP03_0092E-Median Earning Workers,DP03_0093E-Median Earnings Male FT Workers,DP03_0094E-Median Earnings Female FT Workers,DP03_0097PE-%PHI-Priv,DP03_0098PE-%PHI-Pub,DP03_0099PE-No PHI,DP03_0119PE-% Fam <Pov,DP03_0121PE-%Fam with child U18&U5 <pov,DP03_0126PE-%F-Led Families with u18 <pov,DP04_0001E-T H U,DP04_0002PE-%Occ H U,DP04_0004E-%Ow Vac Rate,DP04_0005E-%Rn Vac Rate,DP04_0006E-T HU,State,County,Tract,DP04_0013PE-%20+HU,DP04_0017PE-%Built2014+,DP04_0029PE-%2rooms_only_HU,DP04_0039PE-Zero bedrooms,DP04_0045PE-%Occup HU,DP04_0046PE-%Owner Occup HU,DP04_0048E-Owner Ave Household size,DP04_0049E-Renter Ave Household size,DP04_0051PE-%moved since 2017+,DP04_0054PE-%moved 2000 to 2009,DP04_0082PE-%Value 50-99k,DP04_0083PE-%Value 100-149k,DP04_0084PE-%Value 150-199k,DP04_0087PE-%Value 500k-1m,DP04_0101E-Med Onwer Monthly Mortgage,DP04_0134E-Median Gross Rent,DP05_0005PE-%under 5 yrs,DP05_0023PE-%62 yrs+,DP05_0058PE-% w & B or AM,DP05_0061PE-%White & Asian,DP05_0064PE-%White with others,DP05_0070PE-%H&L race,AreaLand,crimeStats,crime,ALAND,Popo_Density_Per_Hector
0,"Census Tract 4, Allegany County, Maryland",2854,1246,666,14.0,46.5,2.26,3.14,5.2,0,12.7,19.0,4.5,13.4,78.4,0.0,100.0,1.4,19.0,1.5,32.1,21.8,11.5,3.1,4.1,0.0,7.9,16.6,6.9,3.0,71030,40.8,1.4,15.2,5.7,33099,55192,35329,69.1,69.1,3.4,8.7,35.5,41.2,1493,83.5,0.0,6.4,1493,24,001,000400,4.0,0.0,0.0,1.6,1246,60.0,498,2.38,5.1,16.5,28.6,25.9,15.2,0.8,1310,788,4.1,26.0,3.2,0.0,93.2,2854,964,1,low,9642972,0.3378
1,"Census Tract 7501.01, Anne Arundel County, Mar...",4264,1556,932,18.4,40.1,2.72,3.50,8.3,18,0.0,21.0,8.1,6.9,92.3,1.4,90.3,10.7,6.7,6.9,26.3,25.8,11.3,3.1,14.8,0.0,6.9,9.6,15.6,2.0,70388,32.6,3.1,16.7,1.1,34909,53018,35139,60.2,60.2,6.2,12.3,0.0,25.4,1635,95.2,0.6,5.3,1635,24,003,750101,0.0,0.0,0.4,1.4,1556,72.3,431,2.75,1.3,38.8,13.1,11.1,18.6,0.8,1416,1115,7.0,13.7,4.8,0.9,72.3,4264,134,26,low,1345542,0.0314
2,"Census Tract 7502.01, Anne Arundel County, Mar...",3436,1215,893,20.0,26.5,2.73,3.09,6.9,146,10.8,10.8,12.3,5.6,80.4,0.0,89.0,14.6,5.8,7.7,28.8,26.5,10.3,3.7,15.5,0.0,7.8,9.2,14.9,3.5,70568,37.5,3.0,28.5,2.5,32181,52018,34869,48.9,48.9,16.2,10.6,0.0,0.0,1269,95.7,0.0,7.0,1269,24,003,750201,6.4,0.6,2.6,0.0,1215,76.0,292,2.86,5.6,20.0,2.0,7.6,13.2,0.0,1647,927,9.2,23.7,0.0,0.0,55.3,3436,328,2,low,3287938,0.0955
3,"Census Tract 7313.08, Anne Arundel County, Mar...",3640,1348,954,9.6,29.2,2.70,3.18,5.9,20,7.2,0.0,6.0,11.1,92.3,0.0,95.4,3.5,16.1,2.8,32.9,10.7,8.4,6.8,8.1,0.0,5.0,4.0,14.3,7.6,103856,40.4,1.7,5.2,8.6,52692,59141,57191,79.5,79.5,4.3,2.2,0.0,26.2,1515,89.0,2.3,0.0,1515,24,003,731308,0.0,0.0,0.0,0.0,1348,92.9,96,2.71,3.1,26.3,0.0,1.8,6.9,9.2,1815,1404,5.7,22.1,1.2,0.0,95.7,3640,163,1,low,1634461,0.0448
4,"Census Tract 7509, Anne Arundel County, Maryland",3058,1321,710,12.3,46.3,2.31,3.14,7.0,0,0.0,36.8,5.4,5.6,91.9,0.0,94.5,8.0,23.2,3.6,30.1,23.6,13.3,2.8,13.2,0.0,6.0,9.0,10.3,3.4,83501,34.3,2.4,9.9,4.8,42227,55885,52672,65.6,65.6,4.2,8.9,60.0,22.3,1321,100.0,0.0,0.0,1321,24,003,750900,16.7,0.0,0.9,1.5,1321,57.8,557,2.54,7.0,28.0,1.4,5.2,14.8,0.0,1744,866,6.3,17.9,2.8,1.0,89.8,3058,291,1,low,2910023,0.0952

In [83]:
## converting all data columns to numeric
for col in  BaltimoreAllNoNAs.filter(like='DP').columns:
    BaltimoreAllNoNAs[col] = pd.to_numeric(BaltimoreAllNoNAs[col], errors='coerce')

#dc_NYCAll_withCrime[cols] = dc_NYCAll_withCrime[cols].apply(pd.to_numeric, errors='coerce', axis=1)

In [84]:
## notice that some are float64 and some are int64
BaltimoreAllNoNAs.describe()

,DP05_0001E-T Popo,DP02_0001E-T HHs,DP02_0002E-T Fam HHs,DP02_0008PE-%F-led HHs No H,DP02_0010PE-% Non-Fam HHs,DP02_0015E-Avg HH Size,DP02_0016E-Avg Fam Size,DP02_0022PE-%Non Rel in Hs,DP02_0038E-per1000-F-U-RecentPreg,DP02_0046PE-%GPwParent&Gc1-2yrs,DP02_0048PE--%GPwParent&Gc>5yrs,DP02_0060PE-%NoSchDiploma,DP02_0063PE-%AssDeg,DP02_0079PE-% SameHouse_1YrAgo,DP02_0085PE-%LivAbroad1YrAgo,DP02_0088PE-%BornUS,DP02_0112PE-HomeLangNotEng,DP02_0134PE-%IrishAnc,DP03_0009PE-%Unemploy,"DP03_0027PE-%WorkingMgt,Bus,Sc,Arts",DP03_0028PE%WorkingService,DP03_0037PE-Retail,DP03_0040PE-%Fin&Ins,"DP03_0041PE-%ProfSc,Mgt,Admin",DP03_0050PE-%UnpaidFamilyWk,DP03_0052PE-Inc<10k,DP03_0054PE-Inc15-24k,DP03_0058PE-Inc75-99k,DP03_0061PE-Inc200k>,DP03_0065E-HH-MeanEarnings,DP03_0066PE-%HHsWithSocSec,DP03_0072PE-%HH Inc with Cash public Ass,DP03_0074PE-%HH Inc with Food Stamps SNAP,DP03_0085PE-%Families Inc>200k,DP03_0092E-Median Earning Workers,DP03_0093E-Median Earnings Male FT Workers,DP03_0094E-Median Earnings Female FT Workers,DP03_0097PE-%PHI-Priv,DP03_0098PE-%PHI-Pub,DP03_0099PE-No PHI,DP03_0119PE-% Fam <Pov,DP03_0121PE-%Fam with child U18&U5 <pov,DP03_0126PE-%F-Led Families with u18 <pov,DP04_0001E-T H U,DP04_0002PE-%Occ H U,DP04_0004E-%Ow Vac Rate,DP04_0005E-%Rn Vac Rate,DP04_0006E-T HU,DP04_0013PE-%20+HU,DP04_0017PE-%Built2014+,DP04_0029PE-%2rooms_only_HU,DP04_0039PE-Zero bedrooms,DP04_0045PE-%Occup HU,DP04_0046PE-%Owner Occup HU,DP04_0048E-Owner Ave Household size,DP04_0049E-Renter Ave Household size,DP04_0051PE-%moved since 2017+,DP04_0054PE-%moved 2000 to 2009,DP04_0082PE-%Value 50-99k,DP04_0083PE-%Value 100-149k,DP04_0084PE-%Value 150-199k,DP04_0087PE-%Value 500k-1m,DP04_0101E-Med Onwer Monthly Mortgage,DP04_0134E-Median Gross Rent,DP05_0005PE-%under 5 yrs,DP05_0023PE-%62 yrs+,DP05_0058PE-% w & B or AM,DP05_0061PE-%White & Asian,DP05_0064PE-%White with others,DP05_0070PE-%H&L race,AreaLand,crimeStats,ALAND,Popo_Density_Per_Hector
count,255.000000,255.000000,255.000000,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,255.000000,2.550000e+02,2.550000e+02,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,255.000000,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,255.000000,2.550000e+02,2.550000e+02,2.550000e+02,255.000000,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,255.000000,2.550000e+02,255.000000,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,2.550000e+02,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,255.000000,2.550000e+02,255.000000
mean,3267.894118,1257.619608,685.145098,-2.614358e+06,-2.614334e+06,-2.614377e+06,-2.614376e+06,-2.614370e+06,37.949020,-7.058823e+07,-7.058822e+07,10.440000,5.112941,84.158039,0.646667,90.316078,10.395294,7.059216,-2.614370e+06,-2.614340e+06,-2.614357e+06,-2.614369e+06,-2.614374e+06,-2.614367e+06,-2.614379e+06,-2.614368e+06,-2.614369e+06,-2.614368e+06,-2.614374e+06,-2.537271e+06,-2.614350e+06,-2.614374e+06,-2.614355e+06,-2.614371e+06,36826.533333,-7.791470e+06,-5.183794e+06,-2.614320e+06,-2.614320e+06,-2.614372e+06,-2.614364e+06,-1.568626e+07,-2.352938e+07,1501.294118,-2.614297e+06,-7.843133e+06,-5.228750e+06,1501.294118,-2.614369e+06,-2.614378e+06,-2.614377e+06,-2.614376e+06,1257.619608,-2.614328e+06,604.839216,-7.843135e+06,-2.614374e+06,-2.614355e+06,-7.843119e+06,-7.843119e+06,-7.843121e+06,-7.843133e+06,-1.307042e+07,-1.568517e+07,6.461176,17.011765,0.876078,0.457255,38.940392,3267.894118,165.227451,1281.729412,1.657396e+06,0.046675
std,1483.380031,604.264713,377.702387,4.174829e+07,4.174829e+07,4.174829e+07,4.174829e+07,4.174829e+07,52.230348,2.055281e+08,2.055281e+08,7.085727,2.664780,8.250417,1.254903,7.806676,9.554377,7.349963,4.174829e+07,4.174829e+07,4.174829e+07,4.174829e+07,4.174829e+07,4.174829e+07,4.174829e+07,4.174829e+07,4.174829e+07,4.174829e+07,4.174829e+07,4.175315e+07,4.174829e+07,4.174829e+07,4.174829e+07,4.174829e+07,13914.772916,7.203056e+07,5.892866e+07,4.174829e+07,4.174829e+07,4.174829e+07,4.174829e+07,1.012505e+08,1.232567e+08,639.398551,4.174829e+07,7.202490e+07,5.892466e+07,639.398551,4.174829e+07,4.174829e+07,4.174829e+07,4.174829e+07,604.264713,4.174829e+07,425.349335,7.202490e+07,4.174829e+07,4.174829e+07,7.202491e+07,7.202491e+07,7.202491e+07,7.202490e+07,9.261424e+07,1.012507e+08,2.940650,7.345630,1.212572,0.872195,32.742717,1483.380031,359.056719,1186.274305,3.590237e+06,0.067297
min,746.000000,0.000000,0.000000,-6.666667e+08,-6.666667e+08,-6.666667e+08,-6.666667e+08,-6.666667e+08,0.000000,-6.666667e+08,-6.666667e+08,0.000000,0.000000,33.700000,0.000000,51.700000,0.100000,0.000000,-6.666667e+08,-6.666667e+08,-6.666667e+08,-6.666667e+08,-6.666667e+08,-6.666667e+08,-6.666667e+08,-6.666667e+08,-6.666667e+08,-6.666667e+08,-6.666667e+08,-6.666667e+08,-6.666667e+08,-6.666667e+08,-6.666667e+08,-6.666667e+08,3625.000000,-6.666667e+08,-6.666667e+08,-6.666667e+08,-6.666667e+08,-6.666667e+08,-6.666667e+08,-6.666667e+08,-6.666667e+08,0.000000,-6.666667e+08,-6.666667e+08,-6.666667e+08,0.000000,-6.666667e+08,-6.666667e+08,-6.666667e+08,-6.666667e+08,0.000000,-6.666667e+08,0.000000,-6.666667e+08,-6.666667e+08,-6.666667e+08,-6.666667e+08,-6.666667e+08,-6.666667e+08,-6.666667e+08,-6.666667e+08,-6.666667e+08,0.000000,1.900000,0.000000,0.000000,0.000000,746.000000,15.000000,1.000000,1.552430e+05,0.004100
25%,2190.500000,818.000000,416.000000,1.085000e+01,3.565000e+01,2.290000e+00,3.085000e+00,5.150000e+00,0.000000,0.000000e+00,0.000000e+00,5.050000,3.050000,80.050000,0.000000,87.100000,3.500000,0.800000,4.400000e+00,2.495000e+01,1.425000e+01,6.100000e+00,2.700000e+00,8.450000e+00,0.000000e+00,4.700000e+00,5.600000e+00,7.900000e+00,8.500000e-01,5.544700e+04,2.220000e+01,1.550000e+00,1.075000e+01,9.500000e-01,28149.000000,3.959900e+04,3.564050e+04,4.255000e+01,4.255000e+01,4.000000e+00,5.000000e+00,0.000000e+00,7.450000e+00,1056.500000,7.630000e+01,0.000000e+00,3.600000e+00,1056.500000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,818.000000,3.615000e+01,334.500000,2.315000e+00,2.400000e+00,1.910000e+01,2.350000e+00,5.900000e+00,6.000000e+00,0.000000e+00,1.153500e+03,9.455000e+02,4.450000,12.000000,0.000000,0.000000,6.600000,2190.500000,43.000000,510.000000,4.321010e+05,0.017800
50%,2949.000000,1140.000000,617.000000,1.970000e+01,4.310000e+01,2.610000e+00,3.390000e+00,7.900000e+00,22.000000,0.000000e+00,3.900000e+00,8.700000,4.900000,85.000000,0.200000,92.100000,7.500000,4.300000,7.900000e+00,3.400000e+01,2.160000e+01,9.200000e+00,5.100000e+00,1.180000e+01,0.000000e+00,8.700000e+00,9.600000e+00,1.080000e+01,2.900000e+00,6.894100e+04,2.910000e+01,3.800000e+00,2.100000e+01,3.400000e+00,32784.000000,4.807000e+04,4.266800e+04,5.980000e+01,5.980000e+01,6.000000e+00,1.210000e+01,0.000000e+00,2.960000e+01,1384.000000,8.630000e+01,2.300000e+00,7.300000e+00,1384.000000,3.100000e+00,0.000000e+00,8.000000e-01,1.500000e+00,1140.000000,5.030000e+01,497.000000,2.610000e+00,4.100000e+00,2.340000e+01,1.150000e+01,1.470000e+01,1.290000e+01,2.000000e-01,1.375000e+03,1.069000e+03,6.400000,16.300000,0.400000,0.000000,33.000000,2949.000000,92.000000,1179.000000,9.251460e+05,0.028100
75%,4251.000000,1597.000000,914.500000,3.115000e+01,5.290000e+01,2.805000e+00,3.620000e+00,1.165000e+01,55.500000,9.000000e+00,2.155000e+01,14.700000,6.900000,90.100000,0.700000,95.850000,13.600000,12.200000,1.260000e+01,5.180000e+01,2.750000e+01,1.240000e+01,7.250000e+00,1.520000e+01,0.000000e+00,1.565000e+01,1.380000e+01,1.430000e+01,6.300000e+00,8.874150e+04,3.615000e+01,7.400000e+00,3.600000e+01,9.350000e+00,42362.500000,5.968100e+04,5.351650e+04,7.375000e+01,7.375000e+01,9.250000e+00,2.415000e+01,3.535000e+01,4.860000e+01,1860.000000,9.200000e+01,5.350000e+00,1.145000e+01,1860.000000,1.170000e+01,5.000000e-01,2.450000e+00,3.700000e+00,1597.000000,6.620000e+01,791.000000,2.850000e+00,6.450000e+00,2.850000e+01,3.140000e+01,2.920000e+01,2.485000e+01,3.900000e+00,1.702500e+03,1.275500e+03,8.150000,20.800000,1.200000,0.500000,70.450000,4251.000000,163.000000,1847.500000,1.633393e+06,0.047700
max,11584.000000,4441.000000,3182.000000,6.560000e+01,9.080000e+01,4.880000e+00,5.830000e+00,3.410000e+01,271.000000,1.000000e+02,1.000000e+02,33.500000,13.400000,98.200000,10.400000,100.000000,54.200000,32.400000,3.250000e+01,8.320000e+01,5.070000e+01,3.550000e+01,1.780000e+01,2.730000e+01,4.300000e+00,4.380000e+01,3.190000e+01,5.000000e+01,5.160000e+01,2.889410e+05,7.090000e+01,2.180000e+01,7.020000e+01,6.240000e+01,85208.000000,1.547500e+05,9.611100e+04,9.490000e+01,9.490000e+01,3.120000e+01,6.560000e+01,1.000000e+02,1.000000e+02,4589.000000,1.000000e+02,3.730000e+01,1.000000e+02,4589.000000,8.890000e+01,1.280000e+01,1.930000e+01,5.530000e+01,4441.000000,1.000000e+02,3213.000000,4.880000e+00,2.060000e+01,4.760000e+01,7.820000e+01,6.360000e+01,6.380000e+01,5.320000e+01,3.894000e+03,2.508000e+03,16.300000,56.400000,7.500000,5.700000,97.500000,11584.000000,4645.000000,12230.000000,4.645268e+07,0.763100

In [85]:
BaltimoreAllNoNAs.isna().sum(0)

NAME                                            0
DP05_0001E-T Popo                               0
DP02_0001E-T HHs                                0
DP02_0002E-T Fam HHs                            0
DP02_0008PE-%F-led HHs No H                     0
DP02_0010PE-% Non-Fam HHs                       0
DP02_0015E-Avg HH Size                          0
DP02_0016E-Avg Fam Size                         0
DP02_0022PE-%Non Rel in Hs                      0
DP02_0038E-per1000-F-U-RecentPreg               0
DP02_0046PE-%GPwParent&Gc1-2yrs                 0
DP02_0048PE--%GPwParent&Gc>5yrs                 0
DP02_0060PE-%NoSchDiploma                       0
DP02_0063PE-%AssDeg                             0
DP02_0079PE-% SameHouse_1YrAgo                  0
DP02_0085PE-%LivAbroad1YrAgo                    0
DP02_0088PE-%BornUS                             0
DP02_0112PE-HomeLangNotEng                      0
DP02_0134PE-%IrishAnc                           0
DP03_0009PE-%Unemploy                           0
DP03_0027PE-%WorkingMgt,Bus,Sc,Arts             0
DP03_0028PE%WorkingService                      0
DP03_0037PE-Retail                              0
DP03_0040PE-%Fin&Ins                            0
DP03_0041PE-%ProfSc,Mgt,Admin                   0
DP03_0050PE-%UnpaidFamilyWk                     0
DP03_0052PE-Inc<10k                             0
DP03_0054PE-Inc15-24k                           0
DP03_0058PE-Inc75-99k                           0
DP03_0061PE-Inc200k>                            0
DP03_0065E-HH-MeanEarnings                      0
DP03_0066PE-%HHsWithSocSec                      0
DP03_0072PE-%HH Inc with Cash public Ass        0
DP03_0074PE-%HH Inc with Food Stamps SNAP       0
DP03_0085PE-%Families Inc>200k                  0
DP03_0092E-Median Earning Workers               0
DP03_0093E-Median Earnings Male FT Workers      0
DP03_0094E-Median Earnings Female FT Workers    0
DP03_0097PE-%PHI-Priv                           0
DP03_0098PE-%PHI-Pub                            0
DP03_0099PE-No PHI                              0
DP03_0119PE-% Fam <Pov                          0
DP03_0121PE-%Fam with child U18&U5 <pov         0
DP03_0126PE-%F-Led Families with u18 <pov       0
DP04_0001E-T H U                                0
DP04_0002PE-%Occ H U                            0
DP04_0004E-%Ow Vac Rate                         0
DP04_0005E-%Rn Vac Rate                         0
DP04_0006E-T HU                                 0
State                                           0
County                                          0
Tract                                           0
DP04_0013PE-%20+HU                              0
DP04_0017PE-%Built2014+                         0
DP04_0029PE-%2rooms_only_HU                     0
DP04_0039PE-Zero bedrooms                       0
DP04_0045PE-%Occup HU                           0
DP04_0046PE-%Owner Occup HU                     0
DP04_0048E-Owner Ave Household size             0
DP04_0049E-Renter Ave Household size            0
DP04_0051PE-%moved since 2017+                  0
DP04_0054PE-%moved 2000 to 2009                 0
DP04_0082PE-%Value 50-99k                       0
DP04_0083PE-%Value 100-149k                     0
DP04_0084PE-%Value 150-199k                     0
DP04_0087PE-%Value 500k-1m                      0
DP04_0101E-Med Onwer Monthly Mortgage           0
DP04_0134E-Median Gross Rent                    0
DP05_0005PE-%under 5 yrs                        0
DP05_0023PE-%62 yrs+                            0
DP05_0058PE-% w & B or AM                       0
DP05_0061PE-%White & Asian                      0
DP05_0064PE-%White with others                  0
DP05_0070PE-%H&L race                           0
AreaLand                                        0
crimeStats                                      0
crime                                           0
ALAND                                           0
Popo_Density_Per_Hector                         0
dtype: int64

In [86]:
BaltimoreAllNoNAs.loc[BaltimoreAllNoNAs.crimeStats == 0, 'crimeStats'].count()

0

In [87]:
BaltimoreAllNoNAs.groupby('crime').count()

,NAME,DP05_0001E-T Popo,DP02_0001E-T HHs,DP02_0002E-T Fam HHs,DP02_0008PE-%F-led HHs No H,DP02_0010PE-% Non-Fam HHs,DP02_0015E-Avg HH Size,DP02_0016E-Avg Fam Size,DP02_0022PE-%Non Rel in Hs,DP02_0038E-per1000-F-U-RecentPreg,DP02_0046PE-%GPwParent&Gc1-2yrs,DP02_0048PE--%GPwParent&Gc>5yrs,DP02_0060PE-%NoSchDiploma,DP02_0063PE-%AssDeg,DP02_0079PE-% SameHouse_1YrAgo,DP02_0085PE-%LivAbroad1YrAgo,DP02_0088PE-%BornUS,DP02_0112PE-HomeLangNotEng,DP02_0134PE-%IrishAnc,DP03_0009PE-%Unemploy,"DP03_0027PE-%WorkingMgt,Bus,Sc,Arts",DP03_0028PE%WorkingService,DP03_0037PE-Retail,DP03_0040PE-%Fin&Ins,"DP03_0041PE-%ProfSc,Mgt,Admin",DP03_0050PE-%UnpaidFamilyWk,DP03_0052PE-Inc<10k,DP03_0054PE-Inc15-24k,DP03_0058PE-Inc75-99k,DP03_0061PE-Inc200k>,DP03_0065E-HH-MeanEarnings,DP03_0066PE-%HHsWithSocSec,DP03_0072PE-%HH Inc with Cash public Ass,DP03_0074PE-%HH Inc with Food Stamps SNAP,DP03_0085PE-%Families Inc>200k,DP03_0092E-Median Earning Workers,DP03_0093E-Median Earnings Male FT Workers,DP03_0094E-Median Earnings Female FT Workers,DP03_0097PE-%PHI-Priv,DP03_0098PE-%PHI-Pub,DP03_0099PE-No PHI,DP03_0119PE-% Fam <Pov,DP03_0121PE-%Fam with child U18&U5 <pov,DP03_0126PE-%F-Led Families with u18 <pov,DP04_0001E-T H U,DP04_0002PE-%Occ H U,DP04_0004E-%Ow Vac Rate,DP04_0005E-%Rn Vac Rate,DP04_0006E-T HU,State,County,Tract,DP04_0013PE-%20+HU,DP04_0017PE-%Built2014+,DP04_0029PE-%2rooms_only_HU,DP04_0039PE-Zero bedrooms,DP04_0045PE-%Occup HU,DP04_0046PE-%Owner Occup HU,DP04_0048E-Owner Ave Household size,DP04_0049E-Renter Ave Household size,DP04_0051PE-%moved since 2017+,DP04_0054PE-%moved 2000 to 2009,DP04_0082PE-%Value 50-99k,DP04_0083PE-%Value 100-149k,DP04_0084PE-%Value 150-199k,DP04_0087PE-%Value 500k-1m,DP04_0101E-Med Onwer Monthly Mortgage,DP04_0134E-Median Gross Rent,DP05_0005PE-%under 5 yrs,DP05_0023PE-%62 yrs+,DP05_0058PE-% w & B or AM,DP05_0061PE-%White & Asian,DP05_0064PE-%White with others,DP05_0070PE-%H&L race,AreaLand,crimeStats,ALAND,Popo_Density_Per_Hector
crime,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
high,112,112,112,112,112,112,112,112,112,112,112,112,112,112,112,112,112,112,112,112,112,112,112,112,112,112,112,112,112,112,112,112,112,112,112,112,112,112,112,112,112,112,112,112,112,112,112,112,112,112,112,112,112,112,112,112,112,112,112,112,112,112,112,112,112,112,112,112,112,112,112,112,112,112,112,112,112,112
low,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143

In [88]:
## save file to local drive
##dc_NYCAll_withCrimeNoNAs.to_csv("dc_NYCAll_withCrimeNov30th.csv")
BaltimoreAllNoNAs.to_csv("Baltimore_CSV__Feb8th_before.csv") ## 106kB

In [89]:
#= ["001", "003", "005", "009", "031", "510"] & census_tract_df_Maryland
Baltimorelist_of_counties = ["001", "003", "005", "009", "031", "510"]
census_tract_df_Maryland['COUNTYFP'] = census_tract_df_Maryland['COUNTYFP'].apply(lambda x: '{0:0>3}'.format(x)).astype(str)
census_tracts_Baltimore = census_tract_df_Maryland[census_tract_df_Maryland['COUNTYFP'].isin(Baltimorelist_of_counties)]
census_tracts_Baltimore

      STATEFP COUNTYFP TRACTCE              AFFGEOID        GEOID     NAME LSAD    ALAND  AWATER
6          24      510  010400  1400000US24510010400  24510010400   104.00   CT   373744  558487
7          24      510  160100  1400000US24510160100  24510160100  1601.00   CT   382639       0
8          24      510  180100  1400000US24510180100  24510180100  1801.00   CT   341616       0
9          24      510  230100  1400000US24510230100  24510230100  2301.00   CT   336352       0
10         24      510  240300  1400000US24510240300  24510240300  2403.00   CT   200576       0
...       ...      ...     ...                   ...          ...      ...  ...      ...     ...
1389       24      005  401505  1400000US24005401505  24005401505  4015.05   CT  2292136       0
1390       24      005  402305  1400000US24005402305  24005402305  4023.05   CT  1610322       0
1391       24      031  701407  1400000US24031701407  24031701407  7014.07   CT  9218841   50959
1392       24      005  491100  1400000US24005491100  24005491100  4911.00   CT  1097271       0
1393       24      005  980200  1400000US24005980200  24005980200  9802.00   CT  2100509  248474

[774 rows x 9 columns]

In [90]:
## save Baltimore city tract file to local drive
census_tracts_Baltimore.to_csv("census_tracts_BaltimoreFeb8th.csv")