In [3]:
## Scraping census code from american census' api in two lots (limit on how many fields can be extraced in a single api call) 
## In addition, this code is scraping crime data from city's opendata and joining it to the census data.
## US Census source: Community 5 year Survey: ACS/ACS5/Profile.html as it has percentages
## https://api.census.gov/data/2018/acs/acs5/profile/groups.html



import requests
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)



HOST = "https://api.census.gov/data"
year = "2018"
dataset = "acs/acs5/profile.html" ## has census tract groups only; not census block groups 
key = "27d6154de64a12d9b06727be7177fe46e7c4eee1"
base_url = "/".join([HOST, year, dataset])

## ACS Detailed table request
get_vars = ["DP05_0001E","DP02_0001E", "DP02_0002E","DP02_0008PE", "DP02_0010PE", 
            "DP02_0015E", "DP02_0016E", "DP02_0022PE", "DP02_0038E", "DP02_0046PE",
            "DP02_0048PE","DP02_0060PE","DP02_0063PE","DP02_0079PE","DP02_0085PE",
            "DP02_0088PE","DP02_0112PE","DP02_0134PE",
            "DP03_0009PE","DP03_0027PE","DP03_0028PE","DP03_0037PE","DP03_0040PE",
            "DP03_0041PE","DP03_0050PE","DP03_0052PE", "DP03_0054PE","DP03_0058PE",
            "DP03_0061PE","DP03_0065E","DP03_0066PE","DP03_0072PE","DP03_0074PE",
            "DP03_0085PE","DP03_0092E","DP03_0093E","DP03_0094E",
            "DP03_0097PE","DP03_0097PE",
            "DP03_0099PE","DP03_0119PE","DP03_0121PE","DP03_0126PE","DP04_0001PE",
            "DP04_0002PE","DP04_0004E","DP04_0005E","DP04_0006E"] # total housing units  

get_vars = ["NAME"] + get_vars


dfs = []
items = ["037", "059", "071", "111"]

for item in items:
    predicates = {}
    predicates["get"] = ",".join(get_vars)
    predicates["for"] = "tract:*"
    predicates["in"] = "state:06;county:"+item  ## LA in California (06)
    predicates["key"]="27d6154de64a12d9b06727be7177fe46e7c4eee1"
    r8 = requests.get(base_url, params=predicates)
    col_names = ["NAME", "DP05_0001E-T Popo","DP02_0001E-T HHs","DP02_0002E-T Fam HHs",
                 "DP02_0008PE-%F-led HHs No H","DP02_0010PE-% Non-Fam HHs", "DP02_0015E-Avg HH Size",
                 "DP02_0016E-Avg Fam Size", "DP02_0022PE-%Non Rel in Hs","DP02_0038E-per1000-F-U-RecentPreg", 
                 "DP02_0046PE-%GPwParent&Gc1-2yrs", "DP02_0048PE--%GPwParent&Gc>5yrs", "DP02_0060PE-%NoSchDiploma",
                 "DP02_0063PE-%AssDeg","DP02_0079PE-% SameHouse_1YrAgo","DP02_0085PE-%LivAbroad1YrAgo",
                 "DP02_0088PE-%BornUS", "DP02_0112PE-HomeLangNotEng", "DP02_0134PE-%IrishAnc", 
                 "DP03_0009PE-%Unemploy",
                 "DP03_0027PE-%WorkingMgt,Bus,Sc,Arts","DP03_0028PE%WorkingService","DP03_0037PE-Retail", 
                 "DP03_0040PE-%Fin&Ins","DP03_0041PE-%ProfSc,Mgt,Admin","DP03_0050PE-%UnpaidFamilyWk",
                 "DP03_0052PE-Inc<10k", "DP03_0054PE-Inc15-24k", "DP03_0058PE-Inc75-99k", "DP03_0061PE-Inc200k>",
                 "DP03_0065E-HH-MeanEarnings","DP03_0066PE-%HHsWithSocSec","DP03_0072PE-%HH Inc with Cash public Ass",
                 "DP03_0074PE-%HH Inc with Food Stamps SNAP","DP03_0085PE-%Families Inc>200k", 
                 "DP03_0092E-Median Earning Workers","DP03_0093E-Median Earnings Male FT Workers",
                 "DP03_0094E-Median Earnings Female FT Workers",
                 "DP03_0097PE-%PHI-Priv","DP03_0098PE-%PHI-Pub","DP03_0099PE-No PHI","DP03_0119PE-% Fam <Pov", 
                 "DP03_0121PE-%Fam with child U18&U5 <pov","DP03_0126PE-%F-Led Families with u18 <pov",
                 "DP04_0001E-T H U", "DP04_0002PE-%Occ H U","DP04_0004E-%Ow Vac Rate", "DP04_0005E-%Rn Vac Rate",
                 "DP04_0006E-T HU",
                 "State","County", "Tract"]
    print("county:", item)
    df_collect = pd.DataFrame(columns=col_names, data=r8.json()[1:])
    rows = len(df_collect)
    print("rows in r", rows)
    dfs.append(df_collect)

LA1 = pd.concat(dfs)            # examine the response

from datetime import date
print("Today's date is:", date.today())
LA1.shape
LA1.head()

county: 037
rows in r 2346
county: 059
rows in r 583
county: 071
rows in r 369
county: 111
rows in r 174
Today's date is: 2021-02-09

,NAME,DP05_0001E-T Popo,DP02_0001E-T HHs,DP02_0002E-T Fam HHs,DP02_0008PE-%F-led HHs No H,DP02_0010PE-% Non-Fam HHs,DP02_0015E-Avg HH Size,DP02_0016E-Avg Fam Size,DP02_0022PE-%Non Rel in Hs,DP02_0038E-per1000-F-U-RecentPreg,DP02_0046PE-%GPwParent&Gc1-2yrs,DP02_0048PE--%GPwParent&Gc>5yrs,DP02_0060PE-%NoSchDiploma,DP02_0063PE-%AssDeg,DP02_0079PE-% SameHouse_1YrAgo,DP02_0085PE-%LivAbroad1YrAgo,DP02_0088PE-%BornUS,DP02_0112PE-HomeLangNotEng,DP02_0134PE-%IrishAnc,DP03_0009PE-%Unemploy,"DP03_0027PE-%WorkingMgt,Bus,Sc,Arts",DP03_0028PE%WorkingService,DP03_0037PE-Retail,DP03_0040PE-%Fin&Ins,"DP03_0041PE-%ProfSc,Mgt,Admin",DP03_0050PE-%UnpaidFamilyWk,DP03_0052PE-Inc<10k,DP03_0054PE-Inc15-24k,DP03_0058PE-Inc75-99k,DP03_0061PE-Inc200k>,DP03_0065E-HH-MeanEarnings,DP03_0066PE-%HHsWithSocSec,DP03_0072PE-%HH Inc with Cash public Ass,DP03_0074PE-%HH Inc with Food Stamps SNAP,DP03_0085PE-%Families Inc>200k,DP03_0092E-Median Earning Workers,DP03_0093E-Median Earnings Male FT Workers,DP03_0094E-Median Earnings Female FT Workers,DP03_0097PE-%PHI-Priv,DP03_0098PE-%PHI-Pub,DP03_0099PE-No PHI,DP03_0119PE-% Fam <Pov,DP03_0121PE-%Fam with child U18&U5 <pov,DP03_0126PE-%F-Led Families with u18 <pov,DP04_0001E-T H U,DP04_0002PE-%Occ H U,DP04_0004E-%Ow Vac Rate,DP04_0005E-%Rn Vac Rate,DP04_0006E-T HU,State,County,Tract
0,"Census Tract 5433.21, Los Angeles County, Cali...",5619,1820,1310,24.3,28.0,3.05,3.60,5.9,42,12.5,3.8,5.6,7.5,94.8,0.6,75.6,28.7,0.4,6.7,42.6,18.2,10.2,8.3,10.3,0.7,4.5,8.0,11.1,9.0,104800,44.1,4.6,4.0,11.8,44284,52018,57850,71.2,71.2,2.1,4.7,0.0,13.9,1844,98.7,0.0,0.0,1844,06,037,543321
1,"Census Tract 5435.02, Los Angeles County, Cali...",4424,1390,995,11.2,28.4,3.17,3.66,8.6,49,0.0,25.0,8.5,9.4,96.5,0.5,51.7,70.5,2.9,7.1,34.9,16.7,11.8,1.2,11.4,0.0,4.0,13.7,15.7,9.4,83583,28.6,5.8,5.7,7.4,36278,52561,36729,49.7,49.7,11.8,14.8,25.7,50.9,1525,91.1,0.0,0.0,1525,06,037,543502
2,"Census Tract 5501, Los Angeles County, California",7441,1886,1587,12.6,15.9,3.95,4.27,4.9,46,2.0,3.3,10.1,7.3,97.5,0.2,64.1,74.0,0.8,4.6,28.7,20.0,12.4,5.8,4.2,0.0,3.8,5.4,17.0,5.6,84915,23.8,2.7,5.5,4.2,31603,42163,33976,73.6,73.6,3.0,7.5,5.4,6.3,1954,96.5,3.7,0.0,1954,06,037,550100
3,"Census Tract 5505, Los Angeles County, California",8192,2318,2020,20.7,12.9,3.51,3.67,5.0,0,0.0,0.0,10.1,6.6,92.0,0.8,66.5,74.0,1.5,3.6,36.8,16.9,10.9,4.0,9.8,0.0,3.6,0.8,13.7,14.3,119225,27.1,1.4,7.8,15.7,44063,60632,52770,75.5,75.5,10.4,3.7,0.0,11.4,2393,96.9,0.0,0.0,2393,06,037,550500
4,"Census Tract 5510, Los Angeles County, California",7311,2208,1755,12.0,20.5,3.31,3.72,4.6,0,0.0,0.0,5.0,6.6,89.7,1.0,63.7,65.4,3.4,7.8,40.8,8.0,8.2,8.3,11.0,0.0,0.0,5.8,16.9,13.3,106825,29.7,1.5,1.4,16.0,44699,60366,52125,60.5,60.5,21.0,2.1,7.3,10.4,2287,96.5,1.3,0.0,2287,06,037,551000

In [4]:
## other variables same as for dc_NYC1
## ACS Detailed table request
get_vars = ["DP04_0013PE","DP04_0017PE","DP04_0029PE","DP04_0039PE","DP04_0045PE", "DP04_0046PE",
           "DP04_0047E","DP04_0048E","DP04_0051PE", "DP04_0054PE", "DP04_0082PE","DP04_0083PE",
            "DP04_0084PE","DP04_0087PE","DP04_0101E", "DP04_0134E","DP05_0005PE","DP05_0023PE",
           "DP05_0059PE","DP05_0061PE","DP05_0064PE", "DP05_0070PE"]
get_vars = ["NAME"] + get_vars
dfs2 = []
for item in items:
    predicates = {}
    predicates["get"] = ",".join(get_vars)
    predicates["for"] = "tract:*"
    predicates["in"] = "state:06;county:"+item  ## LA, California (06)
    predicates["key"]="27d6154de64a12d9b06727be7177fe46e7c4eee1"
    r7 = requests.get(base_url, params=predicates)
# print(' \n ', r3.text)
    col_names = ["NAME","DP04_0013PE-%20+HU","DP04_0017PE-%Built2014+", "DP04_0029PE-%2rooms_only_HU",
                 "DP04_0039PE-Zero bedrooms","DP04_0045PE-%Occup HU","DP04_0046PE-%Owner Occup HU",
                 "DP04_0048E-Owner Ave Household size","DP04_0049E-Renter Ave Household size",
                 "DP04_0051PE-%moved since 2017+","DP04_0054PE-%moved 2000 to 2009",
                 "DP04_0082PE-%Value 50-99k","DP04_0083PE-%Value 100-149k","DP04_0084PE-%Value 150-199k",
                 "DP04_0087PE-%Value 500k-1m","DP04_0101E-Med Onwer Monthly Mortgage",
                 "DP04_0134E-Median Gross Rent","DP05_0005PE-%under 5 yrs", "DP05_0023PE-%62 yrs+",
                 "DP05_0058PE-% w & B or AM","DP05_0061PE-%White & Asian","DP05_0064PE-%White with others",
                 "DP05_0070PE-%H&L race",
                 "State","County", "Tract"]
    print("county:", item)
    df_collect = pd.DataFrame(columns=col_names, data=r7.json()[1:])
    rows = len(df_collect)
    print("rows in r", rows)
    dfs2.append(df_collect)
#print('\n 2018 - NYC County Results = \n ',df6)
LA2 = pd.concat(dfs2)            # examine the response

print("Today's date is:", date.today())
LA2.shape
LA2.head()

county: 037
rows in r 2346
county: 059
rows in r 583
county: 071
rows in r 369
county: 111
rows in r 174
Today's date is: 2021-02-09

                                                NAME DP04_0013PE-%20+HU DP04_0017PE-%Built2014+ DP04_0029PE-%2rooms_only_HU DP04_0039PE-Zero bedrooms DP04_0045PE-%Occup HU DP04_0046PE-%Owner Occup HU DP04_0048E-Owner Ave Household size DP04_0049E-Renter Ave Household size DP04_0051PE-%moved since 2017+ DP04_0054PE-%moved 2000 to 2009 DP04_0082PE-%Value 50-99k DP04_0083PE-%Value 100-149k DP04_0084PE-%Value 150-199k DP04_0087PE-%Value 500k-1m DP04_0101E-Med Onwer Monthly Mortgage DP04_0134E-Median Gross Rent DP05_0005PE-%under 5 yrs DP05_0023PE-%62 yrs+ DP05_0058PE-% w & B or AM DP05_0061PE-%White & Asian DP05_0064PE-%White with others DP05_0070PE-%H&L race State County   Tract
0  Census Tract 5433.21, Los Angeles County, Cali...                2.2                     0.0                         0.0                       0.8                  1820                        85.7                                 260                                 3.00                            1.1                            39.7                       8.1                         4.8                         3.8                       32.1                                  2151                         1406                      4.6                 26.2                       2.0                        0.0                           19.8                  5619    06    037  543321
1  Census Tract 5435.02, Los Angeles County, Cali...                2.0                     0.0                         3.7                       4.9                  1390                        55.9                                 613                                 2.87                            4.7                            24.3                       0.0                         1.3                         4.1                       31.7                                  2309                         1354                      7.4                 21.4                       0.2                        0.5                           35.8                  4424    06    037  543502
2  Census Tract 5501, Los Angeles County, California                3.5                     0.0                         0.4                       2.1                  1886                        81.8                                 344                                 3.89                            0.5                            29.5                       0.0                         0.0                         0.0                        9.4                                  1914                         1253                      6.6                 14.9                       0.0                        0.9                           49.0                  7441    06    037  550100
3  Census Tract 5505, Los Angeles County, California                8.1                     3.6                         2.6                       2.3                  2318                        67.1                                 762                                 3.60                            8.2                            25.2                       0.0                         0.0                         0.0                       62.3                                  2724                         1624                      5.4                 15.2                       0.1                        1.7                           65.5                  8192    06    037  550500
4  Census Tract 5510, Los Angeles County, California               19.1                     0.4                         3.0                       2.1                  2208                        69.7                                 670                                 3.40                            8.6                            21.8                       0.0                         0.0                         1.2                       66.4                                  2688                         1493                      6.0                 18.8                       0.0                        1.3                           58.7                  7311    06    037  551000

In [5]:
import pandas as pd
### join Baltimore1 and Baltimore2 
## Notes on joining - https://stackoverflow.com/questions/40468069/merge-two-dataframes-by-index
LAAll = pd.merge(left = LA1, right = LA2, how = 'right', left_on = ['NAME','State','County','Tract'], right_on = ['NAME','State','County','Tract'])
LAAll.head()

,NAME,DP05_0001E-T Popo,DP02_0001E-T HHs,DP02_0002E-T Fam HHs,DP02_0008PE-%F-led HHs No H,DP02_0010PE-% Non-Fam HHs,DP02_0015E-Avg HH Size,DP02_0016E-Avg Fam Size,DP02_0022PE-%Non Rel in Hs,DP02_0038E-per1000-F-U-RecentPreg,DP02_0046PE-%GPwParent&Gc1-2yrs,DP02_0048PE--%GPwParent&Gc>5yrs,DP02_0060PE-%NoSchDiploma,DP02_0063PE-%AssDeg,DP02_0079PE-% SameHouse_1YrAgo,DP02_0085PE-%LivAbroad1YrAgo,DP02_0088PE-%BornUS,DP02_0112PE-HomeLangNotEng,DP02_0134PE-%IrishAnc,DP03_0009PE-%Unemploy,"DP03_0027PE-%WorkingMgt,Bus,Sc,Arts",DP03_0028PE%WorkingService,DP03_0037PE-Retail,DP03_0040PE-%Fin&Ins,"DP03_0041PE-%ProfSc,Mgt,Admin",DP03_0050PE-%UnpaidFamilyWk,DP03_0052PE-Inc<10k,DP03_0054PE-Inc15-24k,DP03_0058PE-Inc75-99k,DP03_0061PE-Inc200k>,DP03_0065E-HH-MeanEarnings,DP03_0066PE-%HHsWithSocSec,DP03_0072PE-%HH Inc with Cash public Ass,DP03_0074PE-%HH Inc with Food Stamps SNAP,DP03_0085PE-%Families Inc>200k,DP03_0092E-Median Earning Workers,DP03_0093E-Median Earnings Male FT Workers,DP03_0094E-Median Earnings Female FT Workers,DP03_0097PE-%PHI-Priv,DP03_0098PE-%PHI-Pub,DP03_0099PE-No PHI,DP03_0119PE-% Fam <Pov,DP03_0121PE-%Fam with child U18&U5 <pov,DP03_0126PE-%F-Led Families with u18 <pov,DP04_0001E-T H U,DP04_0002PE-%Occ H U,DP04_0004E-%Ow Vac Rate,DP04_0005E-%Rn Vac Rate,DP04_0006E-T HU,State,County,Tract,DP04_0013PE-%20+HU,DP04_0017PE-%Built2014+,DP04_0029PE-%2rooms_only_HU,DP04_0039PE-Zero bedrooms,DP04_0045PE-%Occup HU,DP04_0046PE-%Owner Occup HU,DP04_0048E-Owner Ave Household size,DP04_0049E-Renter Ave Household size,DP04_0051PE-%moved since 2017+,DP04_0054PE-%moved 2000 to 2009,DP04_0082PE-%Value 50-99k,DP04_0083PE-%Value 100-149k,DP04_0084PE-%Value 150-199k,DP04_0087PE-%Value 500k-1m,DP04_0101E-Med Onwer Monthly Mortgage,DP04_0134E-Median Gross Rent,DP05_0005PE-%under 5 yrs,DP05_0023PE-%62 yrs+,DP05_0058PE-% w & B or AM,DP05_0061PE-%White & Asian,DP05_0064PE-%White with others,DP05_0070PE-%H&L race
0,"Census Tract 5433.21, Los Angeles County, Cali...",5619,1820,1310,24.3,28.0,3.05,3.60,5.9,42,12.5,3.8,5.6,7.5,94.8,0.6,75.6,28.7,0.4,6.7,42.6,18.2,10.2,8.3,10.3,0.7,4.5,8.0,11.1,9.0,104800,44.1,4.6,4.0,11.8,44284,52018,57850,71.2,71.2,2.1,4.7,0.0,13.9,1844,98.7,0.0,0.0,1844,06,037,543321,2.2,0.0,0.0,0.8,1820,85.7,260,3.00,1.1,39.7,8.1,4.8,3.8,32.1,2151,1406,4.6,26.2,2.0,0.0,19.8,5619
1,"Census Tract 5435.02, Los Angeles County, Cali...",4424,1390,995,11.2,28.4,3.17,3.66,8.6,49,0.0,25.0,8.5,9.4,96.5,0.5,51.7,70.5,2.9,7.1,34.9,16.7,11.8,1.2,11.4,0.0,4.0,13.7,15.7,9.4,83583,28.6,5.8,5.7,7.4,36278,52561,36729,49.7,49.7,11.8,14.8,25.7,50.9,1525,91.1,0.0,0.0,1525,06,037,543502,2.0,0.0,3.7,4.9,1390,55.9,613,2.87,4.7,24.3,0.0,1.3,4.1,31.7,2309,1354,7.4,21.4,0.2,0.5,35.8,4424
2,"Census Tract 5501, Los Angeles County, California",7441,1886,1587,12.6,15.9,3.95,4.27,4.9,46,2.0,3.3,10.1,7.3,97.5,0.2,64.1,74.0,0.8,4.6,28.7,20.0,12.4,5.8,4.2,0.0,3.8,5.4,17.0,5.6,84915,23.8,2.7,5.5,4.2,31603,42163,33976,73.6,73.6,3.0,7.5,5.4,6.3,1954,96.5,3.7,0.0,1954,06,037,550100,3.5,0.0,0.4,2.1,1886,81.8,344,3.89,0.5,29.5,0.0,0.0,0.0,9.4,1914,1253,6.6,14.9,0.0,0.9,49.0,7441
3,"Census Tract 5505, Los Angeles County, California",8192,2318,2020,20.7,12.9,3.51,3.67,5.0,0,0.0,0.0,10.1,6.6,92.0,0.8,66.5,74.0,1.5,3.6,36.8,16.9,10.9,4.0,9.8,0.0,3.6,0.8,13.7,14.3,119225,27.1,1.4,7.8,15.7,44063,60632,52770,75.5,75.5,10.4,3.7,0.0,11.4,2393,96.9,0.0,0.0,2393,06,037,550500,8.1,3.6,2.6,2.3,2318,67.1,762,3.60,8.2,25.2,0.0,0.0,0.0,62.3,2724,1624,5.4,15.2,0.1,1.7,65.5,8192
4,"Census Tract 5510, Los Angeles County, California",7311,2208,1755,12.0,20.5,3.31,3.72,4.6,0,0.0,0.0,5.0,6.6,89.7,1.0,63.7,65.4,3.4,7.8,40.8,8.0,8.2,8.3,11.0,0.0,0.0,5.8,16.9,13.3,106825,29.7,1.5,1.4,16.0,44699,60366,52125,60.5,60.5,21.0,2.1,7.3,10.4,2287,96.5,1.3,0.0,2287,06,037,551000,19.1,0.4,3.0,2.1,2208,69.7,670,3.40,8.6,21.8,0.0,0.0,1.2,66.4,2688,1493,6.0,18.8,0.0,1.3,58.7,7311

In [28]:
## Single file Nov 7th collating all LA Census data and LA Crime 
## adding crime statistics

In [1]:
## scraping LA city crime data
## Data Title "Crime Data from 2010 to 2019" for LA
## website: https://data.lacity.org/Public-Safety/Crime-Data-from-2010-to-2019/63jg-8b9z  2.21 ml rows

## Example from Baltimore: https://data.baltimorecity.gov/resource/wsfq-mvij.json  
import requests
import pandas as pd

#2.1 ml retrieved
data = requests.get('https://data.lacity.org/resource/63jg-8b9z.json?$limit=2000000&$select=LOCATION,LAT,LON')
##  CRS, WGS 1984, decimal degrees (EPSG 4326)

LA_Crime_df = pd.DataFrame(data=data.json())

In [2]:
## save LA city tract file to local drive - NOT ENOUGH MEMORY FOR 2.2ml rows in Excel
##dc_NYCAll_withCrimeNoNAs.to_csv("dc_NYCAll_withCrimeNov30th.csv")
LA_Crime_df.to_csv("LA_crime_as_downloaded_Feb9th2021.csv") ## 122MB

In [6]:
LA_Crime_df['LON'].isnull().sum() ## there are None

##df = df[df['EPS'].notna()] to keep rows that have not got NAs

LA_Crime_df = LA_Crime_df[LA_Crime_df['LON'].notna()]
print("No of NAs in longitude col", LA_Crime_df['LON'].isnull().sum())
print("shape of LA_Crime_df", LA_Crime_df.shape)  
LA_Crime_df

No of NAs in longitude col 0
shape of LA_Crime_df (2000000, 3)

                                         LOCATION      LAT        LON
0          300 E  GAGE                         AV  33.9825  -118.2695
1                 SEPULVEDA                    BL  33.9599  -118.3962
2         1300 E  21ST                         ST  34.0224  -118.2524
3                 CAHUENGA                     BL  34.1016  -118.3295
4                 8TH                          ST  34.0387  -118.2488
...                                           ...      ...        ...
1999995   1000 E  WASHINGTON                   BL  34.0259  -118.2535
1999996   7000    HOLLYWOOD                    BL  34.1016  -118.3417
1999997   8800    CORBIN                       AV  34.2304  -118.5623
1999998   4600 W  SUNSET                       BL  34.0982  -118.2895
1999999  23100    FRIAR                        ST  34.1855  -118.6296

[2000000 rows x 3 columns]

In [7]:
import geopandas as gpd

## Creating a GeoDataframe file from LA_crime_df and then using it  
## to get tract and block ID points from the California (06) census shape file 

LA_data_points = gpd.GeoDataFrame(LA_Crime_df, geometry=gpd.points_from_xy(LA_Crime_df.LON, LA_Crime_df.LAT), crs='EPSG:4269')
LA_data_points

LA_shape = "cb_2018_06_tract_500k.shp"  # load California state code "06" for LA shape file 

LA_map = gpd.read_file(LA_shape)

LA_points_in_map = gpd.sjoin(LA_data_points.to_crs('EPSG:4269'), 
                         LA_map, 
                         how='inner', 
                         op='within')  ## doing inner because the census data is for whole of California and only LA crime data census tracts
print("I am done")
print("Today's date is:", date.today())

I am done

In [8]:
LA_points_in_map.head()

                                      LOCATION      LAT        LON                     geometry  index_right STATEFP COUNTYFP TRACTCE              AFFGEOID        GEOID     NAME LSAD    ALAND  AWATER
0       300 E  GAGE                         AV  33.9825  -118.2695  POINT (-118.26950 33.98250)         1505      06      037  239202  1400000US06037239202  06037239202  2392.02   CT  1275621       0
37929   200 E  62ND                         ST  33.9834  -118.2718  POINT (-118.27180 33.98340)         1505      06      037  239202  1400000US06037239202  06037239202  2392.02   CT  1275621       0
40620  5800 S  SAN PEDRO                    ST  33.9839  -118.2695  POINT (-118.26950 33.98390)         1505      06      037  239202  1400000US06037239202  06037239202  2392.02   CT  1275621       0
41548   100 E  59TH                         PL  33.9861  -118.2739  POINT (-118.27390 33.98610)         1505      06      037  239202  1400000US06037239202  06037239202  2392.02   CT  1275621       0
52903   500 E  61ST                         ST  33.9843  -118.2663  POINT (-118.26630 33.98430)         1505      06      037  239202  1400000US06037239202  06037239202  2392.02   CT  1275621       0

In [9]:
## saved the dcb_2018_06_tract_500k.dbf file as a csv file to get access to the tract ID
## the index_right gives aligns with the tract ID in this file. 
census_tract_california = pd.read_csv("cb_2018_06_tract_500k.csv", header=0)
print("census tract info from California (which has LA) dbf file saved as a csv file")
census_tract_california.head()

census tract info from California (which has LA) dbf file saved as a csv file

   STATEFP  COUNTYFP  TRACTCE              AFFGEOID       GEOID     NAME LSAD      ALAND  AWATER
0        6         9      300  1400000US06009000300  6009000300     3.00   CT  457009794  394122
1        6        11      300  1400000US06011000300  6011000300     3.00   CT  952744514  195376
2        6        13   303102  1400000US06013303102  6013303102  3031.02   CT    6507019       0
3        6        13   303202  1400000US06013303202  6013303202  3032.02   CT    3725528       0
4        6        13   303203  1400000US06013303203  6013303203  3032.03   CT    6354210       0

In [10]:
census_tract_california['TRACTCE'] = census_tract_california['TRACTCE'].apply(lambda x: '{0:0>6}'.format(x)).astype(str)
census_tract_california['TRACTCE']

0       000300
1       000300
2       303102
3       303202
4       303203
         ...
8036    022902
8037    044804
8038    003300
8039    124400
8040    003901
Name: TRACTCE, Length: 8041, dtype: object

In [11]:
census_tract_california['COUNTYFP'] = census_tract_california['COUNTYFP'].apply(lambda x: '{0:0>3}'.format(x)).astype(str)
census_tract_california['COUNTYFP']

0       009
1       011
2       013
3       013
4       013
       ...
8036    075
8037    065
8038    099
8039    037
8040    107
Name: COUNTYFP, Length: 8041, dtype: object

In [12]:
##The points_in_map of crime data does not include the county or tract or land area, so using join to add these 
## fields from Shape dbf file to the crime data. 
#points_in_map = points_in_map.join(census_tract_df[['COUNTYFP']], on='index_right')
#points_in_map = points_in_map.join(census_tract_df[['TRACTCE']], on='index_right')
#points_in_map = points_in_map.join(census_tract_df[['ALAND']], on='index_right')
LA_points_in_map2 = LA_points_in_map.join(census_tract_california[['STATEFP','COUNTYFP','TRACTCE','ALAND']],on='index_right', lsuffix='_left', rsuffix='_right')

In [13]:
## Checking what county are listed in the crime data as this is what 
## is needed when extracting from census
list = LA_points_in_map['COUNTYFP'].unique() ## checking if leading zeros needed 
list[0:10,] ## so extracted from correct census counties as this shows only 031 and 043.

array(['037', '059', '071'], dtype=object)

In [14]:
LA_points_in_map2.head()

                                      LOCATION      LAT        LON                     geometry  index_right STATEFP_left COUNTYFP_left TRACTCE_left              AFFGEOID        GEOID     NAME LSAD  ALAND_left  AWATER  STATEFP_right COUNTYFP_right TRACTCE_right  ALAND_right
0       300 E  GAGE                         AV  33.9825  -118.2695  POINT (-118.26950 33.98250)         1505           06           037       239202  1400000US06037239202  06037239202  2392.02   CT     1275621       0              6            037        239202      1275621
37929   200 E  62ND                         ST  33.9834  -118.2718  POINT (-118.27180 33.98340)         1505           06           037       239202  1400000US06037239202  06037239202  2392.02   CT     1275621       0              6            037        239202      1275621
40620  5800 S  SAN PEDRO                    ST  33.9839  -118.2695  POINT (-118.26950 33.98390)         1505           06           037       239202  1400000US06037239202  06037239202  2392.02   CT     1275621       0              6            037        239202      1275621
41548   100 E  59TH                         PL  33.9861  -118.2739  POINT (-118.27390 33.98610)         1505           06           037       239202  1400000US06037239202  06037239202  2392.02   CT     1275621       0              6            037        239202      1275621
52903   500 E  61ST                         ST  33.9843  -118.2663  POINT (-118.26630 33.98430)         1505           06           037       239202  1400000US06037239202  06037239202  2392.02   CT     1275621       0              6            037        239202      1275621

In [15]:
## the following changes are not required in the NYC data extract of census and crime data but are required in LA's data
import pandas as pd
#'COUNTYFP_right', 'TRACTCE_right',, 'ALAND_right'
LA_points_in_map2.drop('STATEFP_right', inplace=True, axis=1)
LA_points_in_map2.drop('COUNTYFP_right', inplace=True, axis=1)
LA_points_in_map2.drop('TRACTCE_right', inplace=True, axis=1)
LA_points_in_map2.drop('ALAND_right', inplace=True, axis=1)
#LA_points_in_map.drop('STATEFP_left', inplace=True, axis=1)
#LA_points_in_map.drop('COUNTYFP_left', inplace=True, axis=1)
#LA_points_in_map.drop('TRACTCE_left', inplace=True, axis=1)
#LA_points_in_map.drop('ALAND_left', inplace=True, axis=1)

In [16]:
LA_points_in_map2.rename(columns={'STATEFP_left':'State', 'COUNTYFP_left': 'County', 'TRACTCE_left':'Tract', 'ALAND_left':'AreaLand'}, inplace=True)

In [17]:
LA_points_in_map2.head()

                                      LOCATION      LAT        LON                     geometry  index_right State County   Tract              AFFGEOID        GEOID     NAME LSAD  AreaLand  AWATER
0       300 E  GAGE                         AV  33.9825  -118.2695  POINT (-118.26950 33.98250)         1505    06    037  239202  1400000US06037239202  06037239202  2392.02   CT   1275621       0
37929   200 E  62ND                         ST  33.9834  -118.2718  POINT (-118.27180 33.98340)         1505    06    037  239202  1400000US06037239202  06037239202  2392.02   CT   1275621       0
40620  5800 S  SAN PEDRO                    ST  33.9839  -118.2695  POINT (-118.26950 33.98390)         1505    06    037  239202  1400000US06037239202  06037239202  2392.02   CT   1275621       0
41548   100 E  59TH                         PL  33.9861  -118.2739  POINT (-118.27390 33.98610)         1505    06    037  239202  1400000US06037239202  06037239202  2392.02   CT   1275621       0
52903   500 E  61ST                         ST  33.9843  -118.2663  POINT (-118.26630 33.98430)         1505    06    037  239202  1400000US06037239202  06037239202  2392.02   CT   1275621       0

In [18]:
groupedTract_count = LA_points_in_map2.groupby(['County','Tract','AreaLand']).size().reset_index(name='crimeStats')
#df2 = df.rename({'a': 'X', 'b': 'Y'}, axis=1) 
#groupedTract_count = groupedTract_count.rename({'LON': 'LON', 'LAT':'LAT'}, axis = 1)
groupedTract_count

     County   Tract  AreaLand  crimeStats
0       037  101110   1142402        1483
1       037  101122   2644045         779
2       037  101210    650690        1847
3       037  101220    698886        1270
4       037  101300   2581214        1346
...     ...     ...       ...         ...
1336    037  980028  17299737       12847
1337    037  980031  12492184        2239
1338    037  980033  12666622           3
1339    059  110115   1566260           1
1340    071  009107  83177822           1

[1341 rows x 4 columns]

In [19]:
groupedTract_mean = groupedTract_count["crimeStats"].mean()
print("mean",groupedTract_mean)
groupedTract_min = groupedTract_count["crimeStats"].min()
print("min", groupedTract_min)
groupedTract_max = groupedTract_count["crimeStats"].max()
print("max", groupedTract_max)

mean 1490.6316181953766
min 1
max 16830

In [20]:
import numpy as np
groupedTract_count["crime"] = np.where(groupedTract_count.crimeStats < groupedTract_mean, "low", "high")
groupedTract_count

     County   Tract  AreaLand  crimeStats crime
0       037  101110   1142402        1483   low
1       037  101122   2644045         779   low
2       037  101210    650690        1847  high
3       037  101220    698886        1270   low
4       037  101300   2581214        1346   low
...     ...     ...       ...         ...   ...
1336    037  980028  17299737       12847  high
1337    037  980031  12492184        2239  high
1338    037  980033  12666622           3   low
1339    059  110115   1566260           1   low
1340    071  009107  83177822           1   low

[1341 rows x 5 columns]

In [21]:
## checking there are no crimeStats zero values
####dc_NYCAll_withCrime.loc[dc_NYCAll_withCrime.crime == 0, 'crime'].count()
groupedTract_count.loc[groupedTract_count.crimeStats == 0, 'crimeStats'].count()

0

In [22]:
## checking there are no AreaLand zero values
groupedTract_count.loc[groupedTract_count.AreaLand == 0, 'AreaLand'].count()

0

In [23]:
LAAll.dtypes

NAME                                            object
DP05_0001E-T Popo                               object
DP02_0001E-T HHs                                object
DP02_0002E-T Fam HHs                            object
DP02_0008PE-%F-led HHs No H                     object
DP02_0010PE-% Non-Fam HHs                       object
DP02_0015E-Avg HH Size                          object
DP02_0016E-Avg Fam Size                         object
DP02_0022PE-%Non Rel in Hs                      object
DP02_0038E-per1000-F-U-RecentPreg               object
DP02_0046PE-%GPwParent&Gc1-2yrs                 object
DP02_0048PE--%GPwParent&Gc>5yrs                 object
DP02_0060PE-%NoSchDiploma                       object
DP02_0063PE-%AssDeg                             object
DP02_0079PE-% SameHouse_1YrAgo                  object
DP02_0085PE-%LivAbroad1YrAgo                    object
DP02_0088PE-%BornUS                             object
DP02_0112PE-HomeLangNotEng                      object
DP02_0134PE-%IrishAnc                           object
DP03_0009PE-%Unemploy                           object
DP03_0027PE-%WorkingMgt,Bus,Sc,Arts             object
DP03_0028PE%WorkingService                      object
DP03_0037PE-Retail                              object
DP03_0040PE-%Fin&Ins                            object
DP03_0041PE-%ProfSc,Mgt,Admin                   object
DP03_0050PE-%UnpaidFamilyWk                     object
DP03_0052PE-Inc<10k                             object
DP03_0054PE-Inc15-24k                           object
DP03_0058PE-Inc75-99k                           object
DP03_0061PE-Inc200k>                            object
DP03_0065E-HH-MeanEarnings                      object
DP03_0066PE-%HHsWithSocSec                      object
DP03_0072PE-%HH Inc with Cash public Ass        object
DP03_0074PE-%HH Inc with Food Stamps SNAP       object
DP03_0085PE-%Families Inc>200k                  object
DP03_0092E-Median Earning Workers               object
DP03_0093E-Median Earnings Male FT Workers      object
DP03_0094E-Median Earnings Female FT Workers    object
DP03_0097PE-%PHI-Priv                           object
DP03_0098PE-%PHI-Pub                            object
DP03_0099PE-No PHI                              object
DP03_0119PE-% Fam <Pov                          object
DP03_0121PE-%Fam with child U18&U5 <pov         object
DP03_0126PE-%F-Led Families with u18 <pov       object
DP04_0001E-T H U                                object
DP04_0002PE-%Occ H U                            object
DP04_0004E-%Ow Vac Rate                         object
DP04_0005E-%Rn Vac Rate                         object
DP04_0006E-T HU                                 object
State                                           object
County                                          object
Tract                                           object
DP04_0013PE-%20+HU                              object
DP04_0017PE-%Built2014+                         object
DP04_0029PE-%2rooms_only_HU                     object
DP04_0039PE-Zero bedrooms                       object
DP04_0045PE-%Occup HU                           object
DP04_0046PE-%Owner Occup HU                     object
DP04_0048E-Owner Ave Household size             object
DP04_0049E-Renter Ave Household size            object
DP04_0051PE-%moved since 2017+                  object
DP04_0054PE-%moved 2000 to 2009                 object
DP04_0082PE-%Value 50-99k                       object
DP04_0083PE-%Value 100-149k                     object
DP04_0084PE-%Value 150-199k                     object
DP04_0087PE-%Value 500k-1m                      object
DP04_0101E-Med Onwer Monthly Mortgage           object
DP04_0134E-Median Gross Rent                    object
DP05_0005PE-%under 5 yrs                        object
DP05_0023PE-%62 yrs+                            object
DP05_0058PE-% w & B or AM                       object
DP05_0061PE-%White & Asian                      object
DP05_0064PE-%White with others                  object
DP05_0070PE-%H&L race                           object
dtype: object

In [24]:
## join crime data to census data 
## https://kodlogs.com/38097/len-left_on-must-equal-the-number-of-levels-in-the-index-of-right#:~:text=pages%20in%20html-,Len(left_on)%20must%20equal%20the%20number%20of%20levels%20in,the%20index%20of%20%22right%22.
LAAll_withCrime = pd.merge(left = LAAll, right = groupedTract_count, how = 'inner', on = ['County', 'Tract'] )

In [25]:
LAAll_withCrime.head()

,NAME,DP05_0001E-T Popo,DP02_0001E-T HHs,DP02_0002E-T Fam HHs,DP02_0008PE-%F-led HHs No H,DP02_0010PE-% Non-Fam HHs,DP02_0015E-Avg HH Size,DP02_0016E-Avg Fam Size,DP02_0022PE-%Non Rel in Hs,DP02_0038E-per1000-F-U-RecentPreg,DP02_0046PE-%GPwParent&Gc1-2yrs,DP02_0048PE--%GPwParent&Gc>5yrs,DP02_0060PE-%NoSchDiploma,DP02_0063PE-%AssDeg,DP02_0079PE-% SameHouse_1YrAgo,DP02_0085PE-%LivAbroad1YrAgo,DP02_0088PE-%BornUS,DP02_0112PE-HomeLangNotEng,DP02_0134PE-%IrishAnc,DP03_0009PE-%Unemploy,"DP03_0027PE-%WorkingMgt,Bus,Sc,Arts",DP03_0028PE%WorkingService,DP03_0037PE-Retail,DP03_0040PE-%Fin&Ins,"DP03_0041PE-%ProfSc,Mgt,Admin",DP03_0050PE-%UnpaidFamilyWk,DP03_0052PE-Inc<10k,DP03_0054PE-Inc15-24k,DP03_0058PE-Inc75-99k,DP03_0061PE-Inc200k>,DP03_0065E-HH-MeanEarnings,DP03_0066PE-%HHsWithSocSec,DP03_0072PE-%HH Inc with Cash public Ass,DP03_0074PE-%HH Inc with Food Stamps SNAP,DP03_0085PE-%Families Inc>200k,DP03_0092E-Median Earning Workers,DP03_0093E-Median Earnings Male FT Workers,DP03_0094E-Median Earnings Female FT Workers,DP03_0097PE-%PHI-Priv,DP03_0098PE-%PHI-Pub,DP03_0099PE-No PHI,DP03_0119PE-% Fam <Pov,DP03_0121PE-%Fam with child U18&U5 <pov,DP03_0126PE-%F-Led Families with u18 <pov,DP04_0001E-T H U,DP04_0002PE-%Occ H U,DP04_0004E-%Ow Vac Rate,DP04_0005E-%Rn Vac Rate,DP04_0006E-T HU,State,County,Tract,DP04_0013PE-%20+HU,DP04_0017PE-%Built2014+,DP04_0029PE-%2rooms_only_HU,DP04_0039PE-Zero bedrooms,DP04_0045PE-%Occup HU,DP04_0046PE-%Owner Occup HU,DP04_0048E-Owner Ave Household size,DP04_0049E-Renter Ave Household size,DP04_0051PE-%moved since 2017+,DP04_0054PE-%moved 2000 to 2009,DP04_0082PE-%Value 50-99k,DP04_0083PE-%Value 100-149k,DP04_0084PE-%Value 150-199k,DP04_0087PE-%Value 500k-1m,DP04_0101E-Med Onwer Monthly Mortgage,DP04_0134E-Median Gross Rent,DP05_0005PE-%under 5 yrs,DP05_0023PE-%62 yrs+,DP05_0058PE-% w & B or AM,DP05_0061PE-%White & Asian,DP05_0064PE-%White with others,DP05_0070PE-%H&L race,AreaLand,crimeStats,crime
0,"Census Tract 5435.02, Los Angeles County, Cali...",4424,1390,995,11.2,28.4,3.17,3.66,8.6,49,0.0,25.0,8.5,9.4,96.5,0.5,51.7,70.5,2.9,7.1,34.9,16.7,11.8,1.2,11.4,0.0,4.0,13.7,15.7,9.4,83583,28.6,5.8,5.7,7.4,36278,52561,36729,49.7,49.7,11.8,14.8,25.7,50.9,1525,91.1,0.0,0.0,1525,06,037,543502,2.0,0.0,3.7,4.9,1390,55.9,613,2.87,4.7,24.3,0.0,1.3,4.1,31.7,2309,1354,7.4,21.4,0.2,0.5,35.8,4424,1100784,14,low
1,"Census Tract 5501, Los Angeles County, California",7441,1886,1587,12.6,15.9,3.95,4.27,4.9,46,2.0,3.3,10.1,7.3,97.5,0.2,64.1,74.0,0.8,4.6,28.7,20.0,12.4,5.8,4.2,0.0,3.8,5.4,17.0,5.6,84915,23.8,2.7,5.5,4.2,31603,42163,33976,73.6,73.6,3.0,7.5,5.4,6.3,1954,96.5,3.7,0.0,1954,06,037,550100,3.5,0.0,0.4,2.1,1886,81.8,344,3.89,0.5,29.5,0.0,0.0,0.0,9.4,1914,1253,6.6,14.9,0.0,0.9,49.0,7441,1648945,1,low
2,"Census Tract 6031.02, Los Angeles County, Cali...",3742,1334,828,11.1,37.9,2.79,3.59,6.6,54,0.0,22.2,9.1,9.3,94.6,0.0,59.7,62.9,0.8,6.2,33.7,11.5,10.6,4.2,21.4,0.0,6.3,10.6,13.8,2.7,71045,39.3,4.2,9.2,4.3,36120,46522,36771,54.2,54.2,6.4,15.6,0.0,26.5,1452,91.9,0.0,6.0,1452,06,037,603102,14.2,1.2,2.1,6.1,1334,33.6,886,3.07,2.7,40.6,0.0,0.0,3.8,37.1,2337,1262,5.4,22.5,0.0,1.8,30.7,3742,745751,45,low
3,"Census Tract 8001.01, Los Angeles County, Cali...",5647,1949,1569,9.4,19.5,2.90,3.21,3.9,72,0.0,0.0,2.5,6.9,89.1,0.5,75.8,22.5,8.3,6.2,67.2,6.7,7.0,14.5,26.2,0.0,0.9,3.7,8.9,31.6,184888,35.7,0.9,1.5,35.6,63025,101875,78571,81.6,81.6,4.3,1.1,0.0,0.0,1999,97.5,1.2,0.0,1999,06,037,800101,0.0,0.0,0.0,0.4,1949,89.5,204,2.81,3.4,20.0,1.1,2.5,6.5,40.3,3502,2750,2.5,26.0,2.5,3.5,92.0,5647,8096231,6,low
4,"Census Tract 5300.04, Los Angeles County, Cali...",3703,1160,839,15.4,27.7,3.19,3.69,7.8,26,7.6,28.3,12.3,8.2,90.8,0.2,65.7,62.5,1.3,8.2,41.0,17.8,13.7,4.3,9.0,1.4,3.8,11.8,16.9,3.4,74569,30.7,2.3,9.6,4.8,34679,45500,36326,63.7,63.7,9.2,8.8,0.0,0.0,1308,88.7,0.0,10.9,1308,06,037,530004,24.8,0.0,2.5,3.6,1160,54.9,523,3.44,6.3,15.7,0.0,1.4,0.0,38.8,2312,1400,9.9,18.6,0.0,2.5,63.6,3703,1299059,1,low

In [26]:
## remove rows with NaNs for Crime as it will not be possible to run ML on crime outcome for these
## rows using df.dropna() but there were none as same no of rows after running code
LAAllNoNAs = LAAll_withCrime.dropna() ## returning to number of rows that agrees with groupedTract_count available crime data

In [27]:
LAAllNoNAs.head()

,NAME,DP05_0001E-T Popo,DP02_0001E-T HHs,DP02_0002E-T Fam HHs,DP02_0008PE-%F-led HHs No H,DP02_0010PE-% Non-Fam HHs,DP02_0015E-Avg HH Size,DP02_0016E-Avg Fam Size,DP02_0022PE-%Non Rel in Hs,DP02_0038E-per1000-F-U-RecentPreg,DP02_0046PE-%GPwParent&Gc1-2yrs,DP02_0048PE--%GPwParent&Gc>5yrs,DP02_0060PE-%NoSchDiploma,DP02_0063PE-%AssDeg,DP02_0079PE-% SameHouse_1YrAgo,DP02_0085PE-%LivAbroad1YrAgo,DP02_0088PE-%BornUS,DP02_0112PE-HomeLangNotEng,DP02_0134PE-%IrishAnc,DP03_0009PE-%Unemploy,"DP03_0027PE-%WorkingMgt,Bus,Sc,Arts",DP03_0028PE%WorkingService,DP03_0037PE-Retail,DP03_0040PE-%Fin&Ins,"DP03_0041PE-%ProfSc,Mgt,Admin",DP03_0050PE-%UnpaidFamilyWk,DP03_0052PE-Inc<10k,DP03_0054PE-Inc15-24k,DP03_0058PE-Inc75-99k,DP03_0061PE-Inc200k>,DP03_0065E-HH-MeanEarnings,DP03_0066PE-%HHsWithSocSec,DP03_0072PE-%HH Inc with Cash public Ass,DP03_0074PE-%HH Inc with Food Stamps SNAP,DP03_0085PE-%Families Inc>200k,DP03_0092E-Median Earning Workers,DP03_0093E-Median Earnings Male FT Workers,DP03_0094E-Median Earnings Female FT Workers,DP03_0097PE-%PHI-Priv,DP03_0098PE-%PHI-Pub,DP03_0099PE-No PHI,DP03_0119PE-% Fam <Pov,DP03_0121PE-%Fam with child U18&U5 <pov,DP03_0126PE-%F-Led Families with u18 <pov,DP04_0001E-T H U,DP04_0002PE-%Occ H U,DP04_0004E-%Ow Vac Rate,DP04_0005E-%Rn Vac Rate,DP04_0006E-T HU,State,County,Tract,DP04_0013PE-%20+HU,DP04_0017PE-%Built2014+,DP04_0029PE-%2rooms_only_HU,DP04_0039PE-Zero bedrooms,DP04_0045PE-%Occup HU,DP04_0046PE-%Owner Occup HU,DP04_0048E-Owner Ave Household size,DP04_0049E-Renter Ave Household size,DP04_0051PE-%moved since 2017+,DP04_0054PE-%moved 2000 to 2009,DP04_0082PE-%Value 50-99k,DP04_0083PE-%Value 100-149k,DP04_0084PE-%Value 150-199k,DP04_0087PE-%Value 500k-1m,DP04_0101E-Med Onwer Monthly Mortgage,DP04_0134E-Median Gross Rent,DP05_0005PE-%under 5 yrs,DP05_0023PE-%62 yrs+,DP05_0058PE-% w & B or AM,DP05_0061PE-%White & Asian,DP05_0064PE-%White with others,DP05_0070PE-%H&L race,AreaLand,crimeStats,crime
0,"Census Tract 5435.02, Los Angeles County, Cali...",4424,1390,995,11.2,28.4,3.17,3.66,8.6,49,0.0,25.0,8.5,9.4,96.5,0.5,51.7,70.5,2.9,7.1,34.9,16.7,11.8,1.2,11.4,0.0,4.0,13.7,15.7,9.4,83583,28.6,5.8,5.7,7.4,36278,52561,36729,49.7,49.7,11.8,14.8,25.7,50.9,1525,91.1,0.0,0.0,1525,06,037,543502,2.0,0.0,3.7,4.9,1390,55.9,613,2.87,4.7,24.3,0.0,1.3,4.1,31.7,2309,1354,7.4,21.4,0.2,0.5,35.8,4424,1100784,14,low
1,"Census Tract 5501, Los Angeles County, California",7441,1886,1587,12.6,15.9,3.95,4.27,4.9,46,2.0,3.3,10.1,7.3,97.5,0.2,64.1,74.0,0.8,4.6,28.7,20.0,12.4,5.8,4.2,0.0,3.8,5.4,17.0,5.6,84915,23.8,2.7,5.5,4.2,31603,42163,33976,73.6,73.6,3.0,7.5,5.4,6.3,1954,96.5,3.7,0.0,1954,06,037,550100,3.5,0.0,0.4,2.1,1886,81.8,344,3.89,0.5,29.5,0.0,0.0,0.0,9.4,1914,1253,6.6,14.9,0.0,0.9,49.0,7441,1648945,1,low
2,"Census Tract 6031.02, Los Angeles County, Cali...",3742,1334,828,11.1,37.9,2.79,3.59,6.6,54,0.0,22.2,9.1,9.3,94.6,0.0,59.7,62.9,0.8,6.2,33.7,11.5,10.6,4.2,21.4,0.0,6.3,10.6,13.8,2.7,71045,39.3,4.2,9.2,4.3,36120,46522,36771,54.2,54.2,6.4,15.6,0.0,26.5,1452,91.9,0.0,6.0,1452,06,037,603102,14.2,1.2,2.1,6.1,1334,33.6,886,3.07,2.7,40.6,0.0,0.0,3.8,37.1,2337,1262,5.4,22.5,0.0,1.8,30.7,3742,745751,45,low
3,"Census Tract 8001.01, Los Angeles County, Cali...",5647,1949,1569,9.4,19.5,2.90,3.21,3.9,72,0.0,0.0,2.5,6.9,89.1,0.5,75.8,22.5,8.3,6.2,67.2,6.7,7.0,14.5,26.2,0.0,0.9,3.7,8.9,31.6,184888,35.7,0.9,1.5,35.6,63025,101875,78571,81.6,81.6,4.3,1.1,0.0,0.0,1999,97.5,1.2,0.0,1999,06,037,800101,0.0,0.0,0.0,0.4,1949,89.5,204,2.81,3.4,20.0,1.1,2.5,6.5,40.3,3502,2750,2.5,26.0,2.5,3.5,92.0,5647,8096231,6,low
4,"Census Tract 5300.04, Los Angeles County, Cali...",3703,1160,839,15.4,27.7,3.19,3.69,7.8,26,7.6,28.3,12.3,8.2,90.8,0.2,65.7,62.5,1.3,8.2,41.0,17.8,13.7,4.3,9.0,1.4,3.8,11.8,16.9,3.4,74569,30.7,2.3,9.6,4.8,34679,45500,36326,63.7,63.7,9.2,8.8,0.0,0.0,1308,88.7,0.0,10.9,1308,06,037,530004,24.8,0.0,2.5,3.6,1160,54.9,523,3.44,6.3,15.7,0.0,1.4,0.0,38.8,2312,1400,9.9,18.6,0.0,2.5,63.6,3703,1299059,1,low

In [28]:
## checking if any rows with Popo == zero
LAAllNoNAs[LAAllNoNAs['DP05_0001E-T Popo']== 0]

Empty DataFrame
Columns: [NAME, DP05_0001E-T Popo, DP02_0001E-T HHs, DP02_0002E-T Fam HHs, DP02_0008PE-%F-led HHs No H, DP02_0010PE-% Non-Fam HHs, DP02_0015E-Avg HH Size, DP02_0016E-Avg Fam Size, DP02_0022PE-%Non Rel in Hs, DP02_0038E-per1000-F-U-RecentPreg, DP02_0046PE-%GPwParent&Gc1-2yrs, DP02_0048PE--%GPwParent&Gc>5yrs, DP02_0060PE-%NoSchDiploma, DP02_0063PE-%AssDeg, DP02_0079PE-% SameHouse_1YrAgo, DP02_0085PE-%LivAbroad1YrAgo, DP02_0088PE-%BornUS, DP02_0112PE-HomeLangNotEng, DP02_0134PE-%IrishAnc, DP03_0009PE-%Unemploy, DP03_0027PE-%WorkingMgt,Bus,Sc,Arts, DP03_0028PE%WorkingService, DP03_0037PE-Retail, DP03_0040PE-%Fin&Ins, DP03_0041PE-%ProfSc,Mgt,Admin, DP03_0050PE-%UnpaidFamilyWk, DP03_0052PE-Inc<10k, DP03_0054PE-Inc15-24k, DP03_0058PE-Inc75-99k, DP03_0061PE-Inc200k>, DP03_0065E-HH-MeanEarnings, DP03_0066PE-%HHsWithSocSec, DP03_0072PE-%HH Inc with Cash public Ass, DP03_0074PE-%HH Inc with Food Stamps SNAP, DP03_0085PE-%Families Inc>200k, DP03_0092E-Median Earning Workers, DP03_0093E-Median Earnings Male FT Workers, DP03_0094E-Median Earnings Female FT Workers, DP03_0097PE-%PHI-Priv, DP03_0098PE-%PHI-Pub, DP03_0099PE-No PHI, DP03_0119PE-% Fam <Pov, DP03_0121PE-%Fam with child U18&U5 <pov, DP03_0126PE-%F-Led Families with u18 <pov, DP04_0001E-T H U, DP04_0002PE-%Occ H U, DP04_0004E-%Ow Vac Rate, DP04_0005E-%Rn Vac Rate, DP04_0006E-T HU, State, County, Tract, DP04_0013PE-%20+HU, DP04_0017PE-%Built2014+, DP04_0029PE-%2rooms_only_HU, DP04_0039PE-Zero bedrooms, DP04_0045PE-%Occup HU, DP04_0046PE-%Owner Occup HU, DP04_0048E-Owner Ave Household size, DP04_0049E-Renter Ave Household size, DP04_0051PE-%moved since 2017+, DP04_0054PE-%moved 2000 to 2009, DP04_0082PE-%Value 50-99k, DP04_0083PE-%Value 100-149k, DP04_0084PE-%Value 150-199k, DP04_0087PE-%Value 500k-1m, DP04_0101E-Med Onwer Monthly Mortgage, DP04_0134E-Median Gross Rent, DP05_0005PE-%under 5 yrs, DP05_0023PE-%62 yrs+, DP05_0058PE-% w & B or AM, DP05_0061PE-%White & Asian, DP05_0064PE-%White with others, DP05_0070PE-%H&L race, AreaLand, crimeStats, crime]
Index: []

In [29]:
LAAllNoNAs['ALAND'] = LAAllNoNAs['AreaLand']
LAAllNoNAs['AreaLand'] = (LAAllNoNAs['AreaLand']/10000).astype(int)
LAAllNoNAs['AreaLand']

0        110
1        164
2         74
3        809
4        129
        ...
1336     126
1337      57
1338      87
1339     156
1340    8317
Name: AreaLand, Length: 1341, dtype: int32

In [30]:
LAAllNoNAs['Popo_Density_Per_Hector'] = LAAllNoNAs['AreaLand']/(LAAllNoNAs['DP05_0001E-T Popo'].astype(int))
LAAllNoNAs['Popo_Density_Per_Hector'] = LAAllNoNAs['Popo_Density_Per_Hector'].round(4)

In [31]:
LAAllNoNAs['Popo_Density_Per_Hector']

0       0.0249
1       0.0220
2       0.0198
3       0.1433
4       0.0348
         ...
1336    0.0214
1337    0.0197
1338    0.0205
1339    0.0394
1340    1.0955
Name: Popo_Density_Per_Hector, Length: 1341, dtype: float64

In [32]:
# df = df[df['Correlation'] >= 0]
LAAllNoNAs[LAAllNoNAs['DP05_0001E-T Popo'] == '0']

,NAME,DP05_0001E-T Popo,DP02_0001E-T HHs,DP02_0002E-T Fam HHs,DP02_0008PE-%F-led HHs No H,DP02_0010PE-% Non-Fam HHs,DP02_0015E-Avg HH Size,DP02_0016E-Avg Fam Size,DP02_0022PE-%Non Rel in Hs,DP02_0038E-per1000-F-U-RecentPreg,DP02_0046PE-%GPwParent&Gc1-2yrs,DP02_0048PE--%GPwParent&Gc>5yrs,DP02_0060PE-%NoSchDiploma,DP02_0063PE-%AssDeg,DP02_0079PE-% SameHouse_1YrAgo,DP02_0085PE-%LivAbroad1YrAgo,DP02_0088PE-%BornUS,DP02_0112PE-HomeLangNotEng,DP02_0134PE-%IrishAnc,DP03_0009PE-%Unemploy,"DP03_0027PE-%WorkingMgt,Bus,Sc,Arts",DP03_0028PE%WorkingService,DP03_0037PE-Retail,DP03_0040PE-%Fin&Ins,"DP03_0041PE-%ProfSc,Mgt,Admin",DP03_0050PE-%UnpaidFamilyWk,DP03_0052PE-Inc<10k,DP03_0054PE-Inc15-24k,DP03_0058PE-Inc75-99k,DP03_0061PE-Inc200k>,DP03_0065E-HH-MeanEarnings,DP03_0066PE-%HHsWithSocSec,DP03_0072PE-%HH Inc with Cash public Ass,DP03_0074PE-%HH Inc with Food Stamps SNAP,DP03_0085PE-%Families Inc>200k,DP03_0092E-Median Earning Workers,DP03_0093E-Median Earnings Male FT Workers,DP03_0094E-Median Earnings Female FT Workers,DP03_0097PE-%PHI-Priv,DP03_0098PE-%PHI-Pub,DP03_0099PE-No PHI,DP03_0119PE-% Fam <Pov,DP03_0121PE-%Fam with child U18&U5 <pov,DP03_0126PE-%F-Led Families with u18 <pov,DP04_0001E-T H U,DP04_0002PE-%Occ H U,DP04_0004E-%Ow Vac Rate,DP04_0005E-%Rn Vac Rate,DP04_0006E-T HU,State,County,Tract,DP04_0013PE-%20+HU,DP04_0017PE-%Built2014+,DP04_0029PE-%2rooms_only_HU,DP04_0039PE-Zero bedrooms,DP04_0045PE-%Occup HU,DP04_0046PE-%Owner Occup HU,DP04_0048E-Owner Ave Household size,DP04_0049E-Renter Ave Household size,DP04_0051PE-%moved since 2017+,DP04_0054PE-%moved 2000 to 2009,DP04_0082PE-%Value 50-99k,DP04_0083PE-%Value 100-149k,DP04_0084PE-%Value 150-199k,DP04_0087PE-%Value 500k-1m,DP04_0101E-Med Onwer Monthly Mortgage,DP04_0134E-Median Gross Rent,DP05_0005PE-%under 5 yrs,DP05_0023PE-%62 yrs+,DP05_0058PE-% w & B or AM,DP05_0061PE-%White & Asian,DP05_0064PE-%White with others,DP05_0070PE-%H&L race,AreaLand,crimeStats,crime,ALAND,Popo_Density_Per_Hector
195,"Census Tract 3200, Los Angeles County, California",0,0,0,-666666666.0,-666666666.0,-666666666.00,-666666666.00,-666666666.0,-666666666,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666,-666666666,-666666666,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,0,-666666666.0,-666666666.0,-666666666.0,0,06,037,320000,-666666666.0,-666666666.0,-666666666.0,-666666666.0,0,-666666666.0,0,-666666666.00,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666,-666666666,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,0,131,353,low,1310258,inf
967,"Census Tract 9800.01, Los Angeles County, Cali...",0,0,0,-666666666.0,-666666666.0,-666666666.00,-666666666.00,-666666666.0,-666666666,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666,-666666666,-666666666,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,0,-666666666.0,-666666666.0,-666666666.0,0,06,037,980001,-666666666.0,-666666666.0,-666666666.0,-666666666.0,0,-666666666.0,0,-666666666.00,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666,-666666666,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,0,231,157,low,2315128,inf
968,"Census Tract 9800.02, Los Angeles County, Cali...",0,0,0,-666666666.0,-666666666.0,-666666666.00,-666666666.00,-666666666.0,-666666666,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666,-666666666,-666666666,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,0,-666666666.0,-666666666.0,-666666666.0,0,06,037,980002,-666666666.0,-666666666.0,-666666666.0,-666666666.0,0,-666666666.0,0,-666666666.00,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666,-666666666,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,0,677,62,low,6773682,inf
969,"Census Tract 9800.05, Los Angeles County, Cali...",0,0,0,-666666666.0,-666666666.0,-666666666.00,-666666666.00,-666666666.0,-666666666,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666,-666666666,-666666666,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,0,-666666666.0,-666666666.0,-666666666.0,0,06,037,980005,-666666666.0,-666666666.0,-666666666.0,-666666666.0,0,-666666666.0,0,-666666666.00,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666,-666666666,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,0,395,48,low,3957818,inf
973,"Census Tract 9800.13, Los Angeles County, Cali...",0,0,0,-666666666.0,-666666666.0,-666666666.00,-666666666.00,-666666666.0,-666666666,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666,-666666666,-666666666,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,0,-666666666.0,-666666666.0,-666666666.0,0,06,037,980013,-666666666.0,-666666666.0,-666666666.0,-666666666.0,0,-666666666.0,0,-666666666.00,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666,-666666666,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,0,530,52,low,5308531,inf
978,"Census Tract 9800.20, Los Angeles County, Cali...",0,0,0,-666666666.0,-666666666.0,-666666666.00,-666666666.00,-666666666.0,-666666666,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666,-666666666,-666666666,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,0,-666666666.0,-666666666.0,-666666666.0,0,06,037,980020,-666666666.0,-666666666.0,-666666666.0,-666666666.0,0,-666666666.0,0,-666666666.00,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666,-666666666,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,0,853,22,low,8532139,inf
980,"Census Tract 9800.22, Los Angeles County, Cali...",0,0,0,-666666666.0,-666666666.0,-666666666.00,-666666666.00,-666666666.0,-666666666,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666,-666666666,-666666666,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,0,-666666666.0,-666666666.0,-666666666.0,0,06,037,980022,-666666666.0,-666666666.0,-666666666.0,-666666666.0,0,-666666666.0,0,-666666666.00,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666,-666666666,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,0,539,163,low,5391718,inf
981,"Census Tract 9800.23, Los Angeles County, Cali...",0,0,0,-666666666.0,-666666666.0,-666666666.00,-666666666.00,-666666666.0,-666666666,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666,-666666666,-666666666,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,0,-666666666.0,-666666666.0,-666666666.0,0,06,037,980023,-666666666.0,-666666666.0,-666666666.0,-666666666.0,0,-666666666.0,0,-666666666.00,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666,-666666666,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,0,286,85,low,2863946,inf
984,"Census Tract 9800.28, Los Angeles County, Cali...",0,0,0,-666666666.0,-666666666.0,-666666666.00,-666666666.00,-666666666.0,-666666666,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666,-666666666,-666666666,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,0,-666666666.0,-666666666.0,-666666666.0,0,06,037,980028,-666666666.0,-666666666.0,-666666666.0,-666666666.0,0,-666666666.0,0,-666666666.00,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666,-666666666,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,0,1729,12847,high,17299737,inf

In [33]:
## double checking that there are no rows with zero popo, and there were '9'
LAAllNoNAs = LAAllNoNAs[LAAllNoNAs['DP05_0001E-T Popo'] != '0']

In [34]:
LAAllNoNAs.head()
print("No of rows: ", LAAllNoNAs.shape)

No of rows:  (1332, 79)

In [35]:
#converting all data columns to numeric
for col in  LAAllNoNAs.filter(like='DP').columns:
    LAAllNoNAs[col] = pd.to_numeric(LAAllNoNAs[col], errors='coerce')

#dc_NYCAll_withCrime[cols] = dc_NYCAll_withCrime[cols].apply(pd.to_numeric, errors='coerce', axis=1)

In [36]:
LAAllNoNAs.describe()

,DP05_0001E-T Popo,DP02_0001E-T HHs,DP02_0002E-T Fam HHs,DP02_0008PE-%F-led HHs No H,DP02_0010PE-% Non-Fam HHs,DP02_0015E-Avg HH Size,DP02_0016E-Avg Fam Size,DP02_0022PE-%Non Rel in Hs,DP02_0038E-per1000-F-U-RecentPreg,DP02_0046PE-%GPwParent&Gc1-2yrs,DP02_0048PE--%GPwParent&Gc>5yrs,DP02_0060PE-%NoSchDiploma,DP02_0063PE-%AssDeg,DP02_0079PE-% SameHouse_1YrAgo,DP02_0085PE-%LivAbroad1YrAgo,DP02_0088PE-%BornUS,DP02_0112PE-HomeLangNotEng,DP02_0134PE-%IrishAnc,DP03_0009PE-%Unemploy,"DP03_0027PE-%WorkingMgt,Bus,Sc,Arts",DP03_0028PE%WorkingService,DP03_0037PE-Retail,DP03_0040PE-%Fin&Ins,"DP03_0041PE-%ProfSc,Mgt,Admin",DP03_0050PE-%UnpaidFamilyWk,DP03_0052PE-Inc<10k,DP03_0054PE-Inc15-24k,DP03_0058PE-Inc75-99k,DP03_0061PE-Inc200k>,DP03_0065E-HH-MeanEarnings,DP03_0066PE-%HHsWithSocSec,DP03_0072PE-%HH Inc with Cash public Ass,DP03_0074PE-%HH Inc with Food Stamps SNAP,DP03_0085PE-%Families Inc>200k,DP03_0092E-Median Earning Workers,DP03_0093E-Median Earnings Male FT Workers,DP03_0094E-Median Earnings Female FT Workers,DP03_0097PE-%PHI-Priv,DP03_0098PE-%PHI-Pub,DP03_0099PE-No PHI,DP03_0119PE-% Fam <Pov,DP03_0121PE-%Fam with child U18&U5 <pov,DP03_0126PE-%F-Led Families with u18 <pov,DP04_0001E-T H U,DP04_0002PE-%Occ H U,DP04_0004E-%Ow Vac Rate,DP04_0005E-%Rn Vac Rate,DP04_0006E-T HU,DP04_0013PE-%20+HU,DP04_0017PE-%Built2014+,DP04_0029PE-%2rooms_only_HU,DP04_0039PE-Zero bedrooms,DP04_0045PE-%Occup HU,DP04_0046PE-%Owner Occup HU,DP04_0048E-Owner Ave Household size,DP04_0049E-Renter Ave Household size,DP04_0051PE-%moved since 2017+,DP04_0054PE-%moved 2000 to 2009,DP04_0082PE-%Value 50-99k,DP04_0083PE-%Value 100-149k,DP04_0084PE-%Value 150-199k,DP04_0087PE-%Value 500k-1m,DP04_0101E-Med Onwer Monthly Mortgage,DP04_0134E-Median Gross Rent,DP05_0005PE-%under 5 yrs,DP05_0023PE-%62 yrs+,DP05_0058PE-% w & B or AM,DP05_0061PE-%White & Asian,DP05_0064PE-%White with others,DP05_0070PE-%H&L race,AreaLand,crimeStats,ALAND,Popo_Density_Per_Hector
count,1332.000000,1332.000000,1332.000000,1.332000e+03,1.332000e+03,1.332000e+03,1.332000e+03,1.332000e+03,1.332000e+03,1.332000e+03,1.332000e+03,1.332000e+03,1.332000e+03,1332.000000,1332.000000,1332.000000,1332.000000,1332.000000,1.332000e+03,1.332000e+03,1.332000e+03,1.332000e+03,1.332000e+03,1.332000e+03,1.332000e+03,1.332000e+03,1.332000e+03,1.332000e+03,1.332000e+03,1.332000e+03,1.332000e+03,1.332000e+03,1.332000e+03,1.332000e+03,1.332000e+03,1.332000e+03,1.332000e+03,1332.000000,1332.000000,1332.000000,1.332000e+03,1.332000e+03,1.332000e+03,1332.000000,1.332000e+03,1.332000e+03,1.332000e+03,1332.000000,1.332000e+03,1.332000e+03,1.332000e+03,1.332000e+03,1332.000000,1.332000e+03,1332.000000,1.332000e+03,1.332000e+03,1.332000e+03,1.332000e+03,1.332000e+03,1.332000e+03,1.332000e+03,1.332000e+03,1.332000e+03,1332.000000,1332.000000,1332.000000,1332.000000,1332.000000,1332.000000,1332.000000,1332.000000,1.332000e+03,1332.000000
mean,4191.222222,1455.397898,891.150150,-1.000986e+06,-1.000965e+06,-1.501499e+06,-1.501498e+06,-1.000992e+06,-1.501477e+06,-7.557557e+07,-7.557557e+07,-5.004914e+05,-5.004941e+05,88.251952,0.815165,63.762312,56.297973,3.919820,-5.004934e+05,-5.004630e+05,-5.004805e+05,-5.004904e+05,-5.004943e+05,-5.004868e+05,-5.005003e+05,-1.000995e+06,-1.000991e+06,-1.000990e+06,-1.000992e+06,-5.163135e+06,-1.000977e+06,-1.000997e+06,-1.000991e+06,-1.501490e+06,-2.966073e+06,-7.453113e+06,-7.461320e+06,56.713288,56.713288,11.690691,-1.501487e+06,-1.351350e+07,-2.602600e+07,1561.488739,-5.004070e+05,-1.151151e+07,-1.501498e+06,1561.488739,-5.004793e+05,-5.004997e+05,-5.004941e+05,-5.004921e+05,1455.397898,-1.000960e+06,862.500000,-1.851852e+07,-1.000997e+06,-1.000976e+06,-1.201201e+07,-1.201201e+07,-1.201201e+07,-1.201197e+07,-4.704465e+07,-8.506992e+06,5.916517,15.984459,0.593168,1.126652,56.263739,4191.222222,278.596847,1490.351351,2.790885e+06,0.661207
std,1466.844760,630.619854,364.333594,2.582310e+07,2.582310e+07,3.161482e+07,3.161482e+07,2.582310e+07,3.161482e+07,2.114370e+08,2.114370e+08,1.826655e+07,1.826655e+07,8.341895,1.817804,13.131745,23.022211,4.133835,1.826655e+07,1.826656e+07,1.826655e+07,1.826655e+07,1.826655e+07,1.826655e+07,1.826655e+07,2.582310e+07,2.582310e+07,2.582310e+07,2.582310e+07,6.878707e+07,2.582310e+07,2.582310e+07,2.582310e+07,3.161482e+07,4.466211e+07,7.037882e+07,7.037794e+07,21.586349,21.586349,7.518170,3.161482e+07,9.398418e+07,1.291738e+08,695.036181,1.826656e+07,8.687631e+07,3.161482e+07,695.036181,1.826655e+07,1.826655e+07,1.826655e+07,1.826655e+07,630.619854,2.582310e+07,581.750877,1.095982e+08,2.582310e+07,2.582310e+07,8.871092e+07,8.871092e+07,8.871092e+07,8.871093e+07,1.708022e+08,7.486105e+07,2.517195,7.185515,0.856884,1.353961,21.432344,1466.844760,2074.676228,1455.649993,2.074684e+07,12.192688
min,5.000000,0.000000,0.000000,-6.666667e+08,-6.666667e+08,-6.666667e+08,-6.666667e+08,-6.666667e+08,-6.666667e+08,-6.666667e+08,-6.666667e+08,-6.666667e+08,-6.666667e+08,3.100000,0.000000,22.700000,0.000000,0.000000,-6.666667e+08,-6.666667e+08,-6.666667e+08,-6.666667e+08,-6.666667e+08,-6.666667e+08,-6.666667e+08,-6.666667e+08,-6.666667e+08,-6.666667e+08,-6.666667e+08,-1.000000e+09,-6.666667e+08,-6.666667e+08,-6.666667e+08,-6.666667e+08,-6.666667e+08,-6.666667e+08,-6.666667e+08,6.400000,6.400000,0.000000,-6.666667e+08,-6.666667e+08,-6.666667e+08,0.000000,-6.666667e+08,-6.666667e+08,-6.666667e+08,0.000000,-6.666667e+08,-6.666667e+08,-6.666667e+08,-6.666667e+08,0.000000,-6.666667e+08,0.000000,-6.666667e+08,-6.666667e+08,-6.666667e+08,-6.666667e+08,-6.666667e+08,-6.666667e+08,-6.666667e+08,-6.666667e+08,-6.666667e+08,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,6.000000,1.000000,6.995800e+04,0.002300
25%,3155.500000,1041.750000,642.000000,8.600000e+00,2.267500e+01,2.400000e+00,3.130000e+00,5.200000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.200000e+00,4.100000e+00,85.700000,0.000000,54.400000,37.175000,0.600000,4.600000e+00,1.977500e+01,1.330000e+01,7.300000e+00,3.300000e+00,9.900000e+00,0.000000e+00,3.100000e+00,5.500000e+00,8.100000e+00,1.600000e+00,5.790525e+04,1.687500e+01,1.200000e+00,2.600000e+00,1.500000e+00,2.372650e+04,3.154525e+04,3.007200e+04,38.400000,38.400000,5.700000,4.800000e+00,0.000000e+00,0.000000e+00,1101.000000,9.160000e+01,0.000000e+00,0.000000e+00,1101.000000,2.600000e+00,0.000000e+00,1.700000e+00,1.900000e+00,1041.750000,1.920000e+01,450.000000,2.500000e+00,1.975000e+00,2.110000e+01,0.000000e+00,0.000000e+00,0.000000e+00,1.480000e+01,1.902750e+03,1.157750e+03,4.175000,11.000000,0.000000,0.000000,39.300000,3155.500000,51.000000,319.750000,5.140080e+05,0.012800
50%,4028.500000,1347.000000,847.500000,1.440000e+01,3.250000e+01,2.900000e+00,3.510000e+00,7.400000e+00,1.400000e+01,0.000000e+00,0.000000e+00,7.900000e+00,6.000000e+00,90.000000,0.400000,63.500000,57.600000,2.700000,6.500000e+00,3.485000e+01,1.930000e+01,9.900000e+00,5.200000e+00,1.280000e+01,0.000000e+00,5.600000e+00,9.000000e+00,1.090000e+01,4.650000e+00,7.803700e+04,2.260000e+01,2.900000e+00,7.950000e+00,5.200000e+00,3.138650e+04,4.257050e+04,4.102200e+04,57.150000,57.150000,10.550000,1.190000e+01,0.000000e+00,3.010000e+01,1428.000000,9.450000e+01,0.000000e+00,2.200000e+00,1428.000000,1.170000e+01,0.000000e+00,4.500000e+00,4.900000e+00,1347.000000,3.690000e+01,783.000000,3.010000e+00,3.600000e+00,2.510000e+01,0.000000e+00,0.000000e+00,0.000000e+00,3.700000e+01,2.356000e+03,1.361000e+03,5.700000,15.200000,0.300000,0.600000,57.200000,4028.500000,86.000000,1345.500000,8.663630e+05,0.020900
75%,5059.250000,1753.000000,1080.250000,2.120000e+01,4.600000e+01,3.470000e+00,4.000000e+00,1.080000e+01,4.100000e+01,0.000000e+00,1.175000e+01,1.380000e+01,8.000000e+00,93.100000,1.000000,73.125000,77.000000,6.200000,8.900000e+00,5.450000e+01,2.650000e+01,1.240000e+01,8.100000e+00,1.690000e+01,0.000000e+00,8.500000e+00,1.380000e+01,1.400000e+01,1.220000e+01,1.098992e+05,2.950000e+01,5.600000e+00,1.540000e+01,1.640000e+01,4.697800e+04,6.818000e+04,5.916850e+04,76.225000,76.225000,16.325000,2.102500e+01,2.582500e+01,5.000000e+01,1885.000000,9.680000e+01,0.000000e+00,4.700000e+00,1885.000000,3.222500e+01,6.000000e-01,8.900000e+00,1.000000e+01,1753.000000,6.222500e+01,1142.000000,3.692500e+00,5.600000e+00,2.960000e+01,8.250000e-01,8.000000e-01,1.400000e+00,5.900000e+01,2.980250e+03,1.773250e+03,7.500000,20.000000,0.900000,1.800000,74.225000,5059.250000,151.000000,2078.750000,1.513155e+06,0.036300
max,11788.000000,5477.000000,2623.000000,7.920000e+01,1.000000e+02,6.040000e+00,6.090000e+00,6.680000e+01,2.250000e+02,1.000000e+02,1.000000e+02,3.210000e+01,1.000000e+02,100.000000,43.400000,100.000000,95.100000,50.000000,3.550000e+01,1.000000e+02,5.210000e+01,1.000000e+02,6.250000e+01,3.620000e+01,7.100000e+00,1.000000e+02,4.110000e+01,5.000000e+01,6.320000e+01,3.994560e+05,1.000000e+02,4.380000e+01,5.160000e+01,7.310000e+01,1.256670e+05,2.500010e+05,2.247500e+05,100.000000,100.000000,54.000000,7.650000e+01,1.000000e+02,1.000000e+02,6132.000000,1.000000e+02,1.000000e+02,4.860000e+01,6132.000000,1.000000e+02,3.320000e+01,4.940000e+01,8.600000e+01,5477.000000,1.000000e+02,5176.000000,6.620000e+00,4.310000e+01,1.000000e+02,1.000000e+02,4.550000e+01,4.580000e+01,1.000000e+02,4.001000e+03,3.501000e+03,16.100000,100.000000,5.900000,9.300000,100.000000,11788.000000,61584.000000,16830.000000,6.158485e+08,418.200000

In [37]:
LAAllNoNAs.isna().sum()

NAME                                            0
DP05_0001E-T Popo                               0
DP02_0001E-T HHs                                0
DP02_0002E-T Fam HHs                            0
DP02_0008PE-%F-led HHs No H                     0
DP02_0010PE-% Non-Fam HHs                       0
DP02_0015E-Avg HH Size                          0
DP02_0016E-Avg Fam Size                         0
DP02_0022PE-%Non Rel in Hs                      0
DP02_0038E-per1000-F-U-RecentPreg               0
DP02_0046PE-%GPwParent&Gc1-2yrs                 0
DP02_0048PE--%GPwParent&Gc>5yrs                 0
DP02_0060PE-%NoSchDiploma                       0
DP02_0063PE-%AssDeg                             0
DP02_0079PE-% SameHouse_1YrAgo                  0
DP02_0085PE-%LivAbroad1YrAgo                    0
DP02_0088PE-%BornUS                             0
DP02_0112PE-HomeLangNotEng                      0
DP02_0134PE-%IrishAnc                           0
DP03_0009PE-%Unemploy                           0
DP03_0027PE-%WorkingMgt,Bus,Sc,Arts             0
DP03_0028PE%WorkingService                      0
DP03_0037PE-Retail                              0
DP03_0040PE-%Fin&Ins                            0
DP03_0041PE-%ProfSc,Mgt,Admin                   0
DP03_0050PE-%UnpaidFamilyWk                     0
DP03_0052PE-Inc<10k                             0
DP03_0054PE-Inc15-24k                           0
DP03_0058PE-Inc75-99k                           0
DP03_0061PE-Inc200k>                            0
DP03_0065E-HH-MeanEarnings                      0
DP03_0066PE-%HHsWithSocSec                      0
DP03_0072PE-%HH Inc with Cash public Ass        0
DP03_0074PE-%HH Inc with Food Stamps SNAP       0
DP03_0085PE-%Families Inc>200k                  0
DP03_0092E-Median Earning Workers               0
DP03_0093E-Median Earnings Male FT Workers      0
DP03_0094E-Median Earnings Female FT Workers    0
DP03_0097PE-%PHI-Priv                           0
DP03_0098PE-%PHI-Pub                            0
DP03_0099PE-No PHI                              0
DP03_0119PE-% Fam <Pov                          0
DP03_0121PE-%Fam with child U18&U5 <pov         0
DP03_0126PE-%F-Led Families with u18 <pov       0
DP04_0001E-T H U                                0
DP04_0002PE-%Occ H U                            0
DP04_0004E-%Ow Vac Rate                         0
DP04_0005E-%Rn Vac Rate                         0
DP04_0006E-T HU                                 0
State                                           0
County                                          0
Tract                                           0
DP04_0013PE-%20+HU                              0
DP04_0017PE-%Built2014+                         0
DP04_0029PE-%2rooms_only_HU                     0
DP04_0039PE-Zero bedrooms                       0
DP04_0045PE-%Occup HU                           0
DP04_0046PE-%Owner Occup HU                     0
DP04_0048E-Owner Ave Household size             0
DP04_0049E-Renter Ave Household size            0
DP04_0051PE-%moved since 2017+                  0
DP04_0054PE-%moved 2000 to 2009                 0
DP04_0082PE-%Value 50-99k                       0
DP04_0083PE-%Value 100-149k                     0
DP04_0084PE-%Value 150-199k                     0
DP04_0087PE-%Value 500k-1m                      0
DP04_0101E-Med Onwer Monthly Mortgage           0
DP04_0134E-Median Gross Rent                    0
DP05_0005PE-%under 5 yrs                        0
DP05_0023PE-%62 yrs+                            0
DP05_0058PE-% w & B or AM                       0
DP05_0061PE-%White & Asian                      0
DP05_0064PE-%White with others                  0
DP05_0070PE-%H&L race                           0
AreaLand                                        0
crimeStats                                      0
crime                                           0
ALAND                                           0
Popo_Density_Per_Hector                         0
dtype: int64

In [38]:
LAAllNoNAs.loc[LAAllNoNAs.crimeStats == 0, 'crimeStats'].count()

0

In [39]:
## converting all data columns to 2 decimal places = don't use as converting to 
## 2 decimal places with apply .2f function reverts all columns back to objects again
#BaltimoreAllNoNAs.apply(lambda x: '%.5f' % x, axis=1)
#for col in  LAAllNoNAs.filter(like='DP').columns:
#    LAAllNoNAs[col] = LAAllNoNAs[col].apply(lambda x: '%.2f' % x) 
#LAAllNoNAs

In [40]:
LAAllNoNAs.groupby('crime').count()

,NAME,DP05_0001E-T Popo,DP02_0001E-T HHs,DP02_0002E-T Fam HHs,DP02_0008PE-%F-led HHs No H,DP02_0010PE-% Non-Fam HHs,DP02_0015E-Avg HH Size,DP02_0016E-Avg Fam Size,DP02_0022PE-%Non Rel in Hs,DP02_0038E-per1000-F-U-RecentPreg,DP02_0046PE-%GPwParent&Gc1-2yrs,DP02_0048PE--%GPwParent&Gc>5yrs,DP02_0060PE-%NoSchDiploma,DP02_0063PE-%AssDeg,DP02_0079PE-% SameHouse_1YrAgo,DP02_0085PE-%LivAbroad1YrAgo,DP02_0088PE-%BornUS,DP02_0112PE-HomeLangNotEng,DP02_0134PE-%IrishAnc,DP03_0009PE-%Unemploy,"DP03_0027PE-%WorkingMgt,Bus,Sc,Arts",DP03_0028PE%WorkingService,DP03_0037PE-Retail,DP03_0040PE-%Fin&Ins,"DP03_0041PE-%ProfSc,Mgt,Admin",DP03_0050PE-%UnpaidFamilyWk,DP03_0052PE-Inc<10k,DP03_0054PE-Inc15-24k,DP03_0058PE-Inc75-99k,DP03_0061PE-Inc200k>,DP03_0065E-HH-MeanEarnings,DP03_0066PE-%HHsWithSocSec,DP03_0072PE-%HH Inc with Cash public Ass,DP03_0074PE-%HH Inc with Food Stamps SNAP,DP03_0085PE-%Families Inc>200k,DP03_0092E-Median Earning Workers,DP03_0093E-Median Earnings Male FT Workers,DP03_0094E-Median Earnings Female FT Workers,DP03_0097PE-%PHI-Priv,DP03_0098PE-%PHI-Pub,DP03_0099PE-No PHI,DP03_0119PE-% Fam <Pov,DP03_0121PE-%Fam with child U18&U5 <pov,DP03_0126PE-%F-Led Families with u18 <pov,DP04_0001E-T H U,DP04_0002PE-%Occ H U,DP04_0004E-%Ow Vac Rate,DP04_0005E-%Rn Vac Rate,DP04_0006E-T HU,State,County,Tract,DP04_0013PE-%20+HU,DP04_0017PE-%Built2014+,DP04_0029PE-%2rooms_only_HU,DP04_0039PE-Zero bedrooms,DP04_0045PE-%Occup HU,DP04_0046PE-%Owner Occup HU,DP04_0048E-Owner Ave Household size,DP04_0049E-Renter Ave Household size,DP04_0051PE-%moved since 2017+,DP04_0054PE-%moved 2000 to 2009,DP04_0082PE-%Value 50-99k,DP04_0083PE-%Value 100-149k,DP04_0084PE-%Value 150-199k,DP04_0087PE-%Value 500k-1m,DP04_0101E-Med Onwer Monthly Mortgage,DP04_0134E-Median Gross Rent,DP05_0005PE-%under 5 yrs,DP05_0023PE-%62 yrs+,DP05_0058PE-% w & B or AM,DP05_0061PE-%White & Asian,DP05_0064PE-%White with others,DP05_0070PE-%H&L race,AreaLand,crimeStats,ALAND,Popo_Density_Per_Hector
crime,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
high,593,593,593,593,593,593,593,593,593,593,593,593,593,593,593,593,593,593,593,593,593,593,593,593,593,593,593,593,593,593,593,593,593,593,593,593,593,593,593,593,593,593,593,593,593,593,593,593,593,593,593,593,593,593,593,593,593,593,593,593,593,593,593,593,593,593,593,593,593,593,593,593,593,593,593,593,593,593
low,739,739,739,739,739,739,739,739,739,739,739,739,739,739,739,739,739,739,739,739,739,739,739,739,739,739,739,739,739,739,739,739,739,739,739,739,739,739,739,739,739,739,739,739,739,739,739,739,739,739,739,739,739,739,739,739,739,739,739,739,739,739,739,739,739,739,739,739,739,739,739,739,739,739,739,739,739,739

In [41]:
## save file to local drive
##dc_NYCAll_withCrimeNoNAs.to_csv("dc_NYCAll_withCrimeNov30th.csv")
LAAllNoNAs.to_csv("LA_CSV__Feb9th_before.csv") ## 457kB

In [42]:
census_tract_california

      STATEFP COUNTYFP TRACTCE              AFFGEOID       GEOID     NAME LSAD      ALAND   AWATER
0           6      009  000300  1400000US06009000300  6009000300     3.00   CT  457009794   394122
1           6      011  000300  1400000US06011000300  6011000300     3.00   CT  952744514   195376
2           6      013  303102  1400000US06013303102  6013303102  3031.02   CT    6507019        0
3           6      013  303202  1400000US06013303202  6013303202  3032.02   CT    3725528        0
4           6      013  303203  1400000US06013303203  6013303203  3032.03   CT    6354210        0
...       ...      ...     ...                   ...         ...      ...  ...        ...      ...
8036        6      075  022902  1400000US06075022902  6075022902   229.02   CT     161833        0
8037        6      065  044804  1400000US06065044804  6065044804   448.04   CT    2374766   248057
8038        6      099  003300  1400000US06099003300  6099003300    33.00   CT  640784444  2596432
8039        6      037  124400  1400000US06037124400  6037124400  1244.00   CT     961439    14163
8040        6      107  003901  1400000US06107003901  6107003901    39.01   CT    4993183    25643

[8041 rows x 9 columns]

In [43]:
LA_list_of_counties = ["037", "059", "071", "111"]
census_tract_california['COUNTYFP'] = census_tract_california['COUNTYFP'].apply(lambda x: '{0:0>3}'.format(x)).astype(str)
census_tracts_LA = census_tract_california[census_tract_california['COUNTYFP'].isin(LA_list_of_counties)]
census_tracts_LA['COUNTYFP']

9       037
10      037
11      037
12      037
46      037
       ...
8032    037
8033    037
8034    037
8035    111
8039    037
Name: COUNTYFP, Length: 3469, dtype: object

In [44]:
census_tracts_LA

      STATEFP COUNTYFP TRACTCE              AFFGEOID       GEOID     NAME LSAD    ALAND  AWATER
9           6      037  128702  1400000US06037128702  6037128702  1287.02   CT  1642311   18542
10          6      037  131600  1400000US06037131600  6037131600  1316.00   CT  2184453    6443
11          6      037  134104  1400000US06037134104  6037134104  1341.04   CT   647979       0
12          6      037  134304  1400000US06037134304  6037134304  1343.04   CT  1020444       0
46          6      037  242000  1400000US06037242000  6037242000  2420.00   CT   646734       0
...       ...      ...     ...                   ...         ...      ...  ...      ...     ...
8032        6      037  900501  1400000US06037900501  6037900501  9005.01   CT  3117604     427
8033        6      037  920029  1400000US06037920029  6037920029  9200.29   CT  2238047    2114
8034        6      037  542000  1400000US06037542000  6037542000  5420.00   CT   978726       0
8035        6      111  004304  1400000US06111004304  6111004304    43.04   CT  1443415       0
8039        6      037  124400  1400000US06037124400  6037124400  1244.00   CT   961439   14163

[3469 rows x 9 columns]

In [45]:
## save LA city tract file to local drive
##dc_NYCAll_withCrimeNoNAs.to_csv("dc_NYCAll_withCrimeNov30th.csv")
census_tracts_LA.to_csv("census_tracts_LADec9th.csv")