In [3]:
## copying over census code so that can join crimeStats and crime from 
## groupedTract_count to the census data.
##ACS/ACS5/Profile.html that has percentages
##https://api.census.gov/data/2018/acs/acs5/profile/groups.html

## DP05_0071PE % hispanic or latino of any race  DP05_0077PE White not latino, DP05_0078PE black not hispanic or latino
## DP05_0080PE for Asians  
import requests
import pandas as pd
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)



HOST = "https://api.census.gov/data"
year = "2018"
dataset = "acs/acs5/profile.html" ## has census tract groups only; not census block groups 
key = "27d6154de64a12d9b06727be7177fe46e7c4eee1"
base_url = "/".join([HOST, year, dataset])

## ACS Detailed table request
get_vars = ["DP05_0001E","DP02_0001E", "DP02_0002E","DP02_0008PE", "DP02_0010PE", 
            "DP02_0015E", "DP02_0016E", "DP02_0022PE", "DP02_0038E", "DP02_0046PE",
            "DP02_0048PE","DP02_0060PE","DP02_0063PE","DP02_0079PE","DP02_0085PE",
            "DP02_0088PE","DP02_0112PE","DP02_0134PE",
            "DP03_0009PE","DP03_0027PE","DP03_0028PE","DP03_0037PE","DP03_0040PE",
            "DP03_0041PE","DP03_0050PE","DP03_0052PE", "DP03_0054PE","DP03_0058PE",
            "DP03_0061PE","DP03_0065E","DP03_0066PE","DP03_0072PE","DP03_0074PE",
            "DP03_0085PE","DP03_0092E","DP03_0093E","DP03_0094E",
            "DP03_0097PE","DP03_0097PE",
            "DP03_0099PE","DP03_0119PE","DP03_0121PE","DP03_0126PE","DP04_0001PE",
            "DP04_0002PE","DP04_0004E","DP04_0005E","DP04_0006E"] # total housing units  

get_vars = ["NAME"] + get_vars


dfs = []
items = ["075", "081"]

for item in items:
    predicates = {}
    predicates["get"] = ",".join(get_vars)
    predicates["for"] = "tract:*"
    predicates["in"] = "state:06;county:"+item  ## LA in California (06)
    predicates["key"]="27d6154de64a12d9b06727be7177fe46e7c4eee1"
    r8 = requests.get(base_url, params=predicates)
    col_names = ["NAME", "DP05_0001E-T Popo","DP02_0001E-T HHs","DP02_0002E-T Fam HHs",
                 "DP02_0008PE-%F-led HHs No H","DP02_0010PE-% Non-Fam HHs", "DP02_0015E-Avg HH Size",
                 "DP02_0016E-Avg Fam Size", "DP02_0022PE-%Non Rel in Hs","DP02_0038E-per1000-F-U-RecentPreg", 
                 "DP02_0046PE-%GPwParent&Gc1-2yrs", "DP02_0048PE--%GPwParent&Gc>5yrs", "DP02_0060PE-%NoSchDiploma",
                 "DP02_0063PE-%AssDeg","DP02_0079PE-% SameHouse_1YrAgo","DP02_0085PE-%LivAbroad1YrAgo",
                 "DP02_0088PE-%BornUS", "DP02_0112PE-HomeLangNotEng", "DP02_0134PE-%IrishAnc", 
                 "DP03_0009PE-%Unemploy",
                 "DP03_0027PE-%WorkingMgt,Bus,Sc,Arts","DP03_0028PE%WorkingService","DP03_0037PE-Retail", 
                 "DP03_0040PE-%Fin&Ins","DP03_0041PE-%ProfSc,Mgt,Admin","DP03_0050PE-%UnpaidFamilyWk",
                 "DP03_0052PE-Inc<10k", "DP03_0054PE-Inc15-24k", "DP03_0058PE-Inc75-99k", "DP03_0061PE-Inc200k>",
                 "DP03_0065E-HH-MeanEarnings","DP03_0066PE-%HHsWithSocSec","DP03_0072PE-%HH Inc with Cash public Ass",
                 "DP03_0074PE-%HH Inc with Food Stamps SNAP","DP03_0085PE-%Families Inc>200k", 
                 "DP03_0092E-Median Earning Workers","DP03_0093E-Median Earnings Male FT Workers",
                 "DP03_0094E-Median Earnings Female FT Workers",
                 "DP03_0097PE-%PHI-Priv","DP03_0098PE-%PHI-Pub","DP03_0099PE-No PHI","DP03_0119PE-% Fam <Pov", 
                 "DP03_0121PE-%Fam with child U18&U5 <pov","DP03_0126PE-%F-Led Families with u18 <pov",
                 "DP04_0001E-T H U", "DP04_0002PE-%Occ H U","DP04_0004E-%Ow Vac Rate", "DP04_0005E-%Rn Vac Rate",
                 "DP04_0006E-T HU",
                 "State","County", "Tract"]
    print("county:", item)
    df_collect = pd.DataFrame(columns=col_names, data=r8.json()[1:])
    rows = len(df_collect)
    print("rows in r", rows)
    dfs.append(df_collect)

SF1 = pd.concat(dfs)            # examine the response

SF1.shape
from datetime import date
print("Today's date is:", date.today())
SF1.head()

county: 075
rows in r 197
county: 081
rows in r 158
Today's date is: 2021-02-08

,NAME,DP05_0001E-T Popo,DP02_0001E-T HHs,DP02_0002E-T Fam HHs,DP02_0008PE-%F-led HHs No H,DP02_0010PE-% Non-Fam HHs,DP02_0015E-Avg HH Size,DP02_0016E-Avg Fam Size,DP02_0022PE-%Non Rel in Hs,DP02_0038E-per1000-F-U-RecentPreg,DP02_0046PE-%GPwParent&Gc1-2yrs,DP02_0048PE--%GPwParent&Gc>5yrs,DP02_0060PE-%NoSchDiploma,DP02_0063PE-%AssDeg,DP02_0079PE-% SameHouse_1YrAgo,DP02_0085PE-%LivAbroad1YrAgo,DP02_0088PE-%BornUS,DP02_0112PE-HomeLangNotEng,DP02_0134PE-%IrishAnc,DP03_0009PE-%Unemploy,"DP03_0027PE-%WorkingMgt,Bus,Sc,Arts",DP03_0028PE%WorkingService,DP03_0037PE-Retail,DP03_0040PE-%Fin&Ins,"DP03_0041PE-%ProfSc,Mgt,Admin",DP03_0050PE-%UnpaidFamilyWk,DP03_0052PE-Inc<10k,DP03_0054PE-Inc15-24k,DP03_0058PE-Inc75-99k,DP03_0061PE-Inc200k>,DP03_0065E-HH-MeanEarnings,DP03_0066PE-%HHsWithSocSec,DP03_0072PE-%HH Inc with Cash public Ass,DP03_0074PE-%HH Inc with Food Stamps SNAP,DP03_0085PE-%Families Inc>200k,DP03_0092E-Median Earning Workers,DP03_0093E-Median Earnings Male FT Workers,DP03_0094E-Median Earnings Female FT Workers,DP03_0097PE-%PHI-Priv,DP03_0098PE-%PHI-Pub,DP03_0099PE-No PHI,DP03_0119PE-% Fam <Pov,DP03_0121PE-%Fam with child U18&U5 <pov,DP03_0126PE-%F-Led Families with u18 <pov,DP04_0001E-T H U,DP04_0002PE-%Occ H U,DP04_0004E-%Ow Vac Rate,DP04_0005E-%Rn Vac Rate,DP04_0006E-T HU,State,County,Tract
0,"Census Tract 156, San Francisco County, Califo...",3432,1450,715,9.5,50.7,2.36,2.89,18.1,0,0.0,0.0,3.7,1.8,80.1,2.5,67.2,42.9,12.8,1.8,62.8,10.8,5.7,11.9,25.4,0.0,3.7,9.4,11.7,20.1,179775,25.7,0.0,0.6,22.5,67768,108295,70644,81.3,81.3,1.3,8.0,0.0,100.0,1570,92.4,0.0,0.0,1570,06,075,015600
1,"Census Tract 102, San Francisco County, Califo...",4299,2541,813,2.8,68.0,1.69,2.38,14.7,0,-666666666.0,-666666666.0,1.5,2.4,80.7,3.0,76.5,8.8,10.3,0.7,71.1,5.5,10.9,17.1,36.3,0.0,2.3,3.0,4.7,29.9,202319,24.7,1.1,1.1,39.0,93125,126733,84512,87.2,87.2,3.5,3.7,0.0,0.0,3015,84.3,0.0,0.8,3015,06,075,010200
2,"Census Tract 108, San Francisco County, Califo...",4860,2466,910,1.4,63.1,1.97,2.79,15.7,0,0.0,12.2,3.1,4.2,85.5,2.3,66.0,40.4,10.8,4.5,57.8,10.3,8.4,10.7,31.2,0.7,4.0,5.2,10.9,19.5,159806,29.0,0.5,4.7,27.8,76771,101324,100667,73.5,73.5,1.9,10.7,0.0,100.0,2754,89.5,0.0,0.8,2754,06,075,010800
3,"Census Tract 331, San Francisco County, Califo...",3861,1416,993,9.8,29.9,2.71,3.03,10.5,0,0.0,0.0,0.5,11.6,92.0,0.6,55.1,47.9,12.1,5.2,62.8,10.2,6.7,9.2,23.9,0.0,2.8,3.7,8.7,25.6,146850,40.2,0.5,1.1,26.5,55139,95250,81339,85.7,85.7,0.8,3.4,9.1,0.0,1571,90.1,0.0,0.0,1571,06,075,033100
4,"Census Tract 402, San Francisco County, Califo...",5541,2319,1111,4.5,52.1,2.38,3.16,14.4,0,0.0,0.0,6.6,4.7,92.7,0.9,65.2,34.8,10.8,3.9,63.2,12.5,10.9,10.7,22.5,0.0,3.6,6.0,12.6,27.1,188381,23.2,0.9,1.7,46.3,66489,101944,76406,83.2,83.2,1.3,0.0,0.0,0.0,2587,89.6,5.0,0.0,2587,06,075,040200

In [4]:
## other variables same as for dc_NYC1
## ACS Detailed table request
get_vars = ["DP04_0013PE","DP04_0017PE","DP04_0029PE","DP04_0039PE","DP04_0045PE", "DP04_0046PE",
           "DP04_0047E","DP04_0048E","DP04_0051PE", "DP04_0054PE", "DP04_0082PE","DP04_0083PE",
            "DP04_0084PE","DP04_0087PE","DP04_0101E", "DP04_0134E","DP05_0005PE","DP05_0023PE",
           "DP05_0059PE","DP05_0061PE","DP05_0064PE", "DP05_0070PE"]
get_vars = ["NAME"] + get_vars
dfs2 = []
for item in items:
    predicates = {}
    predicates["get"] = ",".join(get_vars)
    predicates["for"] = "tract:*"
    predicates["in"] = "state:06;county:"+item  ## LA, California (06)
    predicates["key"]="27d6154de64a12d9b06727be7177fe46e7c4eee1"
    r7 = requests.get(base_url, params=predicates)
# print(' \n ', r3.text)
    col_names = ["NAME","DP04_0013PE-%20+HU","DP04_0017PE-%Built2014+", "DP04_0029PE-%2rooms_only_HU",
                 "DP04_0039PE-Zero bedrooms","DP04_0045PE-%Occup HU","DP04_0046PE-%Owner Occup HU",
                 "DP04_0048E-Owner Ave Household size","DP04_0049E-Renter Ave Household size",
                 "DP04_0051PE-%moved since 2017+","DP04_0054PE-%moved 2000 to 2009",
                 "DP04_0082PE-%Value 50-99k","DP04_0083PE-%Value 100-149k","DP04_0084PE-%Value 150-199k",
                 "DP04_0087PE-%Value 500k-1m","DP04_0101E-Med Onwer Monthly Mortgage",
                 "DP04_0134E-Median Gross Rent","DP05_0005PE-%under 5 yrs", "DP05_0023PE-%62 yrs+",
                 "DP05_0058PE-% w & B or AM","DP05_0061PE-%White & Asian","DP05_0064PE-%White with others",
                 "DP05_0070PE-%H&L race",
                 "State","County", "Tract"]
    print("county:", item)
    df_collect = pd.DataFrame(columns=col_names, data=r7.json()[1:])
    rows = len(df_collect)
    print("rows in r", rows)
    dfs2.append(df_collect)
#print('\n 2018 - NYC County Results = \n ',df6)
SF2 = pd.concat(dfs2)            # examine the response


SF2.shape
print("Today's date is:", date.today())
SF2.head()

county: 075
rows in r 197
county: 081
rows in r 158
Today's date is: 2021-02-08

                                                NAME DP04_0013PE-%20+HU DP04_0017PE-%Built2014+ DP04_0029PE-%2rooms_only_HU DP04_0039PE-Zero bedrooms DP04_0045PE-%Occup HU DP04_0046PE-%Owner Occup HU DP04_0048E-Owner Ave Household size DP04_0049E-Renter Ave Household size DP04_0051PE-%moved since 2017+ DP04_0054PE-%moved 2000 to 2009 DP04_0082PE-%Value 50-99k DP04_0083PE-%Value 100-149k DP04_0084PE-%Value 150-199k DP04_0087PE-%Value 500k-1m DP04_0101E-Med Onwer Monthly Mortgage DP04_0134E-Median Gross Rent DP05_0005PE-%under 5 yrs DP05_0023PE-%62 yrs+ DP05_0058PE-% w & B or AM DP05_0061PE-%White & Asian DP05_0064PE-%White with others DP05_0070PE-%H&L race State County   Tract
0  Census Tract 156, San Francisco County, Califo...               16.8                     0.0                        12.4                       5.0                  1450                        27.0                                1058                                 2.49                            4.3                            15.5                       0.0                         0.0                         0.0                       21.4                                  3895                         1798                      5.7                 22.3                       0.0                        5.1                           63.2                  3432    06    075  015600
1  Census Tract 102, San Francisco County, Califo...               35.9                     0.0                        13.1                      10.8                  2541                        35.8                                1632                                 1.71                            5.5                            28.0                       1.4                         0.0                         0.0                       38.3                                  4001                         2449                      2.0                 27.1                       1.1                        2.0                           83.7                  4299    06    075  010200
2  Census Tract 108, San Francisco County, Califo...               12.8                     0.0                        10.6                      12.6                  2466                        24.9                                1852                                 2.05                            9.6                            16.0                       0.0                         0.0                         0.0                       31.4                                  3847                         1779                      4.8                 25.6                       0.0                        1.8                           54.9                  4860    06    075  010800
3  Census Tract 331, San Francisco County, Califo...                0.0                     0.0                         2.7                       0.4                  1416                        83.1                                 239                                 2.69                            3.0                            25.7                       0.0                         0.0                         0.0                       25.8                                  4001                         3313                      4.1                 29.9                       1.0                        4.9                           47.1                  3861    06    075  033100
4  Census Tract 402, San Francisco County, Califo...                1.4                     0.0                         5.3                       5.9                  2319                        41.8                                1349                                 2.45                            5.0                            14.3                       0.0                         0.0                         0.0                       26.4                                  4001                         1891                      5.5                 22.8                       0.4                        2.9                           65.3                  5541    06    075  040200

In [5]:
import pandas as pd
### join SF1 and SF2 
## Notes on joining - https://stackoverflow.com/questions/40468069/merge-two-dataframes-by-index
SF_All = pd.merge(left = SF1, right = SF2, how = 'right', left_on = ['NAME','State','County','Tract'], right_on = ['NAME','State','County','Tract'])
SF_All.head()

,NAME,DP05_0001E-T Popo,DP02_0001E-T HHs,DP02_0002E-T Fam HHs,DP02_0008PE-%F-led HHs No H,DP02_0010PE-% Non-Fam HHs,DP02_0015E-Avg HH Size,DP02_0016E-Avg Fam Size,DP02_0022PE-%Non Rel in Hs,DP02_0038E-per1000-F-U-RecentPreg,DP02_0046PE-%GPwParent&Gc1-2yrs,DP02_0048PE--%GPwParent&Gc>5yrs,DP02_0060PE-%NoSchDiploma,DP02_0063PE-%AssDeg,DP02_0079PE-% SameHouse_1YrAgo,DP02_0085PE-%LivAbroad1YrAgo,DP02_0088PE-%BornUS,DP02_0112PE-HomeLangNotEng,DP02_0134PE-%IrishAnc,DP03_0009PE-%Unemploy,"DP03_0027PE-%WorkingMgt,Bus,Sc,Arts",DP03_0028PE%WorkingService,DP03_0037PE-Retail,DP03_0040PE-%Fin&Ins,"DP03_0041PE-%ProfSc,Mgt,Admin",DP03_0050PE-%UnpaidFamilyWk,DP03_0052PE-Inc<10k,DP03_0054PE-Inc15-24k,DP03_0058PE-Inc75-99k,DP03_0061PE-Inc200k>,DP03_0065E-HH-MeanEarnings,DP03_0066PE-%HHsWithSocSec,DP03_0072PE-%HH Inc with Cash public Ass,DP03_0074PE-%HH Inc with Food Stamps SNAP,DP03_0085PE-%Families Inc>200k,DP03_0092E-Median Earning Workers,DP03_0093E-Median Earnings Male FT Workers,DP03_0094E-Median Earnings Female FT Workers,DP03_0097PE-%PHI-Priv,DP03_0098PE-%PHI-Pub,DP03_0099PE-No PHI,DP03_0119PE-% Fam <Pov,DP03_0121PE-%Fam with child U18&U5 <pov,DP03_0126PE-%F-Led Families with u18 <pov,DP04_0001E-T H U,DP04_0002PE-%Occ H U,DP04_0004E-%Ow Vac Rate,DP04_0005E-%Rn Vac Rate,DP04_0006E-T HU,State,County,Tract,DP04_0013PE-%20+HU,DP04_0017PE-%Built2014+,DP04_0029PE-%2rooms_only_HU,DP04_0039PE-Zero bedrooms,DP04_0045PE-%Occup HU,DP04_0046PE-%Owner Occup HU,DP04_0048E-Owner Ave Household size,DP04_0049E-Renter Ave Household size,DP04_0051PE-%moved since 2017+,DP04_0054PE-%moved 2000 to 2009,DP04_0082PE-%Value 50-99k,DP04_0083PE-%Value 100-149k,DP04_0084PE-%Value 150-199k,DP04_0087PE-%Value 500k-1m,DP04_0101E-Med Onwer Monthly Mortgage,DP04_0134E-Median Gross Rent,DP05_0005PE-%under 5 yrs,DP05_0023PE-%62 yrs+,DP05_0058PE-% w & B or AM,DP05_0061PE-%White & Asian,DP05_0064PE-%White with others,DP05_0070PE-%H&L race
0,"Census Tract 156, San Francisco County, Califo...",3432,1450,715,9.5,50.7,2.36,2.89,18.1,0,0.0,0.0,3.7,1.8,80.1,2.5,67.2,42.9,12.8,1.8,62.8,10.8,5.7,11.9,25.4,0.0,3.7,9.4,11.7,20.1,179775,25.7,0.0,0.6,22.5,67768,108295,70644,81.3,81.3,1.3,8.0,0.0,100.0,1570,92.4,0.0,0.0,1570,06,075,015600,16.8,0.0,12.4,5.0,1450,27.0,1058,2.49,4.3,15.5,0.0,0.0,0.0,21.4,3895,1798,5.7,22.3,0.0,5.1,63.2,3432
1,"Census Tract 102, San Francisco County, Califo...",4299,2541,813,2.8,68.0,1.69,2.38,14.7,0,-666666666.0,-666666666.0,1.5,2.4,80.7,3.0,76.5,8.8,10.3,0.7,71.1,5.5,10.9,17.1,36.3,0.0,2.3,3.0,4.7,29.9,202319,24.7,1.1,1.1,39.0,93125,126733,84512,87.2,87.2,3.5,3.7,0.0,0.0,3015,84.3,0.0,0.8,3015,06,075,010200,35.9,0.0,13.1,10.8,2541,35.8,1632,1.71,5.5,28.0,1.4,0.0,0.0,38.3,4001,2449,2.0,27.1,1.1,2.0,83.7,4299
2,"Census Tract 108, San Francisco County, Califo...",4860,2466,910,1.4,63.1,1.97,2.79,15.7,0,0.0,12.2,3.1,4.2,85.5,2.3,66.0,40.4,10.8,4.5,57.8,10.3,8.4,10.7,31.2,0.7,4.0,5.2,10.9,19.5,159806,29.0,0.5,4.7,27.8,76771,101324,100667,73.5,73.5,1.9,10.7,0.0,100.0,2754,89.5,0.0,0.8,2754,06,075,010800,12.8,0.0,10.6,12.6,2466,24.9,1852,2.05,9.6,16.0,0.0,0.0,0.0,31.4,3847,1779,4.8,25.6,0.0,1.8,54.9,4860
3,"Census Tract 331, San Francisco County, Califo...",3861,1416,993,9.8,29.9,2.71,3.03,10.5,0,0.0,0.0,0.5,11.6,92.0,0.6,55.1,47.9,12.1,5.2,62.8,10.2,6.7,9.2,23.9,0.0,2.8,3.7,8.7,25.6,146850,40.2,0.5,1.1,26.5,55139,95250,81339,85.7,85.7,0.8,3.4,9.1,0.0,1571,90.1,0.0,0.0,1571,06,075,033100,0.0,0.0,2.7,0.4,1416,83.1,239,2.69,3.0,25.7,0.0,0.0,0.0,25.8,4001,3313,4.1,29.9,1.0,4.9,47.1,3861
4,"Census Tract 402, San Francisco County, Califo...",5541,2319,1111,4.5,52.1,2.38,3.16,14.4,0,0.0,0.0,6.6,4.7,92.7,0.9,65.2,34.8,10.8,3.9,63.2,12.5,10.9,10.7,22.5,0.0,3.6,6.0,12.6,27.1,188381,23.2,0.9,1.7,46.3,66489,101944,76406,83.2,83.2,1.3,0.0,0.0,0.0,2587,89.6,5.0,0.0,2587,06,075,040200,1.4,0.0,5.3,5.9,2319,41.8,1349,2.45,5.0,14.3,0.0,0.0,0.0,26.4,4001,1891,5.5,22.8,0.4,2.9,65.3,5541

In [6]:
## Single file Nov 7th collating all SF Census data and SF Crime 
## adding crime statistics to

In [6]:
## Scraping SF crime data
## Title of data: 'Police Department Incident Reports: Historical 2003 to May 2018'
## Website: https://data.sfgov.org/Public-Safety/Police-Department-Incident-Reports-Historical-2003/tmnf-yvry
## API: https://data.sfgov.org/resource/tmnf-yvry.json

## Example Baltimore: https://data.baltimorecity.gov/resource/wsfq-mvij.json - Baltimore 
import requests
import pandas as pd
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
#2.16 ml retrieved
data = requests.get('https://data.sfgov.org/resource/tmnf-yvry.json?$limit=2500000&$select=address, x,y')
##  CRS, WGS 1984, decimal degrees (EPSG 4326)

SF_Crime_df = pd.DataFrame(data=data.json())
SF_Crime_df.to_csv("SF_crime_as_downloaded_Feb8th2021.csv")
SF_Crime_df ## 321k crime stats downloaded for BA

                            address                    x                   y
0               BRANNAN ST / 1ST ST               -120.5                  90
1        1300 Block of STEVENSON ST    -122.421594519119    37.7707674171464
2           VALENCIA ST / DUBOCE AV    -122.422367409563    37.7698682392455
3          300 Block of WOODSIDE AV    -122.452716700987    37.7457451434135
4                 0 Block of RAE AV    -122.448127287476    37.7121636146229
...                             ...                  ...                 ...
2160948       300 Block of ELLIS ST  -122.41198764359528   37.78502266227863
2160949    200 Block of WILLIAMS AV  -122.39774442710336  37.729934693604356
2160950        FULTON ST / GOUGH ST  -122.42335514444734    37.7787466492059
2160951        MISSION ST / 18TH ST  -122.41936035276092  37.761835801237645
2160952   SHOTWELL ST / STONEMAN ST  -122.41492076300118   37.74504465100493

[2160953 rows x 3 columns]

In [7]:
#SF_Crime_df['SF_Crime_df'].isnull().sum() ## there are None

##df = df[df['EPS'].notna()] to keep rows that have not got NAs

SF_Crime_df = SF_Crime_df[SF_Crime_df['x'].notna()]
print("No of NAs in SF longitude col", SF_Crime_df['x'].isnull().sum())
print("shape of SF_Crime_df", SF_Crime_df.shape)  
SF_Crime_df

No of NAs in SF longitude col 0
shape of SF_Crime_df (2160953, 3)

                            address                    x                   y
0               BRANNAN ST / 1ST ST               -120.5                  90
1        1300 Block of STEVENSON ST    -122.421594519119    37.7707674171464
2           VALENCIA ST / DUBOCE AV    -122.422367409563    37.7698682392455
3          300 Block of WOODSIDE AV    -122.452716700987    37.7457451434135
4                 0 Block of RAE AV    -122.448127287476    37.7121636146229
...                             ...                  ...                 ...
2160948       300 Block of ELLIS ST  -122.41198764359528   37.78502266227863
2160949    200 Block of WILLIAMS AV  -122.39774442710336  37.729934693604356
2160950        FULTON ST / GOUGH ST  -122.42335514444734    37.7787466492059
2160951        MISSION ST / 18TH ST  -122.41936035276092  37.761835801237645
2160952   SHOTWELL ST / STONEMAN ST  -122.41492076300118   37.74504465100493

[2160953 rows x 3 columns]

In [12]:
import geopandas as gpd

## Creating a GeoDataframe file from LA_crime_df and then using it  
## to get tract and block ID points from the Illinois shape file from census 

SF_data_points = gpd.GeoDataFrame(SF_Crime_df, geometry=gpd.points_from_xy(SF_Crime_df.x, SF_Crime_df.y), crs='EPSG:4269')
SF_data_points

SF_shape = "cb_2018_06_tract_500k.shp"  # load California state code "06" for LA shape file 

SF_map = gpd.read_file(SF_shape)

SF_points_in_map = gpd.sjoin(SF_data_points.to_crs('EPSG:4269'), 
                         SF_map, 
                         how='inner', 
                         op='within')  ## doing inner because the census data is for whole of California and only LA crime data census tracts
print("I am done")

I am done

In [15]:
SF_points_in_map.head()

                          address                  x                 y                     geometry  index_right STATEFP COUNTYFP TRACTCE              AFFGEOID        GEOID NAME LSAD   ALAND  AWATER
1      1300 Block of STEVENSON ST  -122.421594519119  37.7707674171464  POINT (-122.42159 37.77077)         2123      06      075  020100  1400000US06075020100  06075020100  201   CT  445707       0
29       2000 Block of MISSION ST   -122.41965834371  37.7642205603745  POINT (-122.41966 37.76422)         2123      06      075  020100  1400000US06075020100  06075020100  201   CT  445707       0
51   0 Block of SOUTH VAN NESS AV  -122.419071200759   37.774047662207  POINT (-122.41907 37.77405)         2123      06      075  020100  1400000US06075020100  06075020100  201   CT  445707       0
110            0 Block of 12TH ST  -122.420001436964  37.7740948566882  POINT (-122.42000 37.77409)         2123      06      075  020100  1400000US06075020100  06075020100  201   CT  445707       0
268             16TH ST / CAPP ST  -122.418701003284  37.7651098786222  POINT (-122.41870 37.76511)         2123      06      075  020100  1400000US06075020100  06075020100  201   CT  445707       0

In [16]:
## Checking what county are listed in the crime data as this is what 
## is needed when extracting from census
list = SF_points_in_map['COUNTYFP'].unique() ## checking if leading zeros needed 
list[0:10,] ## so extracted from correct census counties as this shows only 075 and 081.

array(['075', '081'], dtype=object)

In [17]:
SF_points_in_map

                              address                    x                  y                     geometry  index_right STATEFP COUNTYFP TRACTCE              AFFGEOID        GEOID     NAME LSAD   ALAND  AWATER
1          1300 Block of STEVENSON ST    -122.421594519119   37.7707674171464  POINT (-122.42159 37.77077)         2123      06      075  020100  1400000US06075020100  06075020100      201   CT  445707       0
29           2000 Block of MISSION ST     -122.41965834371   37.7642205603745  POINT (-122.41966 37.76422)         2123      06      075  020100  1400000US06075020100  06075020100      201   CT  445707       0
51       0 Block of SOUTH VAN NESS AV    -122.419071200759    37.774047662207  POINT (-122.41907 37.77405)         2123      06      075  020100  1400000US06075020100  06075020100      201   CT  445707       0
110                0 Block of 12TH ST    -122.420001436964   37.7740948566882  POINT (-122.42000 37.77409)         2123      06      075  020100  1400000US06075020100  06075020100      201   CT  445707       0
268                 16TH ST / CAPP ST    -122.418701003284   37.7651098786222  POINT (-122.41870 37.76511)         2123      06      075  020100  1400000US06075020100  06075020100      201   CT  445707       0
...                               ...                  ...                ...                          ...          ...     ...      ...     ...                   ...          ...      ...  ...     ...     ...
1873388     800 Block of BRUNSWICK ST    -122.450482980088    37.708170291703  POINT (-122.45048 37.70817)          973      06      081  600402  1400000US06081600402  06081600402  6004.02   CT  402368       0
1895093     800 Block of BRUNSWICK ST    -122.450482980088    37.708170291703  POINT (-122.45048 37.70817)          973      06      081  600402  1400000US06081600402  06081600402  6004.02   CT  402368       0
1921096     800 Block of BRUNSWICK ST    -122.450482980088    37.708170291703  POINT (-122.45048 37.70817)          973      06      081  600402  1400000US06081600402  06081600402  6004.02   CT  402368       0
1968518     800 Block of BRUNSWICK ST    -122.450482980088    37.708170291703  POINT (-122.45048 37.70817)          973      06      081  600402  1400000US06081600402  06081600402  6004.02   CT  402368       0
2053120     800 Block of BRUNSWICK ST  -122.45048298008807  37.70817029170297  POINT (-122.45048 37.70817)          973      06      081  600402  1400000US06081600402  06081600402  6004.02   CT  402368       0

[2160811 rows x 14 columns]

In [18]:
import pandas as pd
## saved the dcb_2018_06_tract_500k.dbf file as a csv file to get access to the tract ID
## the index_right gives aligns with the tract ID in this file. 
census_tract_california = pd.read_csv("cb_2018_06_tract_500k.csv", header=0)
print("census tract info from LA dbf file saved as a csv file")
census_tract_california

census tract info from LA dbf file saved as a csv file

      STATEFP  COUNTYFP  TRACTCE              AFFGEOID       GEOID     NAME LSAD      ALAND   AWATER
0           6         9      300  1400000US06009000300  6009000300     3.00   CT  457009794   394122
1           6        11      300  1400000US06011000300  6011000300     3.00   CT  952744514   195376
2           6        13   303102  1400000US06013303102  6013303102  3031.02   CT    6507019        0
3           6        13   303202  1400000US06013303202  6013303202  3032.02   CT    3725528        0
4           6        13   303203  1400000US06013303203  6013303203  3032.03   CT    6354210        0
...       ...       ...      ...                   ...         ...      ...  ...        ...      ...
8036        6        75    22902  1400000US06075022902  6075022902   229.02   CT     161833        0
8037        6        65    44804  1400000US06065044804  6065044804   448.04   CT    2374766   248057
8038        6        99     3300  1400000US06099003300  6099003300    33.00   CT  640784444  2596432
8039        6        37   124400  1400000US06037124400  6037124400  1244.00   CT     961439    14163
8040        6       107     3901  1400000US06107003901  6107003901    39.01   CT    4993183    25643

[8041 rows x 9 columns]

In [21]:
census_tract_california['TRACTCE'] = census_tract_california['TRACTCE'].apply(lambda x: '{0:0>6}'.format(x)).astype(str)
census_tract_california['TRACTCE']

0       000300
1       000300
2       303102
3       303202
4       303203
         ...
8036    022902
8037    044804
8038    003300
8039    124400
8040    003901
Name: TRACTCE, Length: 8041, dtype: object

In [23]:
census_tract_california['COUNTYFP'] = census_tract_california['COUNTYFP'].apply(lambda x: '{0:0>3}'.format(x)).astype(str)
census_tract_california['COUNTYFP']

0       009
1       011
2       013
3       013
4       013
       ...
8036    075
8037    065
8038    099
8039    037
8040    107
Name: COUNTYFP, Length: 8041, dtype: object

In [24]:
##The points_in_map of crime data does not include the county or tract or land area, so using join to add these 
## fields from Shape dbf file to the crime data. 
#points_in_map = points_in_map.join(census_tract_df[['COUNTYFP']], on='index_right')
#points_in_map = points_in_map.join(census_tract_df[['TRACTCE']], on='index_right')
#points_in_map = points_in_map.join(census_tract_df[['ALAND']], on='index_right')
SF_points_in_map2 = SF_points_in_map.join(census_tract_california[['STATEFP','COUNTYFP','TRACTCE','ALAND']],on='index_right', lsuffix='_left', rsuffix='_right')

In [25]:
SF_points_in_map2

                              address                    x                  y                     geometry  index_right STATEFP_left COUNTYFP_left TRACTCE_left              AFFGEOID        GEOID     NAME LSAD  ALAND_left  AWATER  STATEFP_right COUNTYFP_right TRACTCE_right  ALAND_right
1          1300 Block of STEVENSON ST    -122.421594519119   37.7707674171464  POINT (-122.42159 37.77077)         2123           06           075       020100  1400000US06075020100  06075020100      201   CT      445707       0              6            075        020100       445707
29           2000 Block of MISSION ST     -122.41965834371   37.7642205603745  POINT (-122.41966 37.76422)         2123           06           075       020100  1400000US06075020100  06075020100      201   CT      445707       0              6            075        020100       445707
51       0 Block of SOUTH VAN NESS AV    -122.419071200759    37.774047662207  POINT (-122.41907 37.77405)         2123           06           075       020100  1400000US06075020100  06075020100      201   CT      445707       0              6            075        020100       445707
110                0 Block of 12TH ST    -122.420001436964   37.7740948566882  POINT (-122.42000 37.77409)         2123           06           075       020100  1400000US06075020100  06075020100      201   CT      445707       0              6            075        020100       445707
268                 16TH ST / CAPP ST    -122.418701003284   37.7651098786222  POINT (-122.41870 37.76511)         2123           06           075       020100  1400000US06075020100  06075020100      201   CT      445707       0              6            075        020100       445707
...                               ...                  ...                ...                          ...          ...          ...           ...          ...                   ...          ...      ...  ...         ...     ...            ...            ...           ...          ...
1873388     800 Block of BRUNSWICK ST    -122.450482980088    37.708170291703  POINT (-122.45048 37.70817)          973           06           081       600402  1400000US06081600402  06081600402  6004.02   CT      402368       0              6            081        600402       402368
1895093     800 Block of BRUNSWICK ST    -122.450482980088    37.708170291703  POINT (-122.45048 37.70817)          973           06           081       600402  1400000US06081600402  06081600402  6004.02   CT      402368       0              6            081        600402       402368
1921096     800 Block of BRUNSWICK ST    -122.450482980088    37.708170291703  POINT (-122.45048 37.70817)          973           06           081       600402  1400000US06081600402  06081600402  6004.02   CT      402368       0              6            081        600402       402368
1968518     800 Block of BRUNSWICK ST    -122.450482980088    37.708170291703  POINT (-122.45048 37.70817)          973           06           081       600402  1400000US06081600402  06081600402  6004.02   CT      402368       0              6            081        600402       402368
2053120     800 Block of BRUNSWICK ST  -122.45048298008807  37.70817029170297  POINT (-122.45048 37.70817)          973           06           081       600402  1400000US06081600402  06081600402  6004.02   CT      402368       0              6            081        600402       402368

[2160811 rows x 18 columns]

In [26]:
import pandas as pd
#'COUNTYFP_right', 'TRACTCE_right',, 'ALAND_right'
SF_points_in_map2.drop('STATEFP_right', inplace=True, axis=1)
SF_points_in_map2.drop('COUNTYFP_right', inplace=True, axis=1)
SF_points_in_map2.drop('TRACTCE_right', inplace=True, axis=1)
SF_points_in_map2.drop('ALAND_right', inplace=True, axis=1)
#LA_points_in_map.drop('STATEFP_left', inplace=True, axis=1)
#LA_points_in_map.drop('COUNTYFP_left', inplace=True, axis=1)
#LA_points_in_map.drop('TRACTCE_left', inplace=True, axis=1)
#LA_points_in_map.drop('ALAND_left', inplace=True, axis=1)

In [27]:
SF_points_in_map2.rename(columns={'STATEFP_left':'State', 'COUNTYFP_left': 'County', 'TRACTCE_left':'Tract', 'ALAND_left':'AreaLand'}, inplace=True)

In [28]:
SF_points_in_map2

                              address                    x                  y                     geometry  index_right State County   Tract              AFFGEOID        GEOID     NAME LSAD  AreaLand  AWATER
1          1300 Block of STEVENSON ST    -122.421594519119   37.7707674171464  POINT (-122.42159 37.77077)         2123    06    075  020100  1400000US06075020100  06075020100      201   CT    445707       0
29           2000 Block of MISSION ST     -122.41965834371   37.7642205603745  POINT (-122.41966 37.76422)         2123    06    075  020100  1400000US06075020100  06075020100      201   CT    445707       0
51       0 Block of SOUTH VAN NESS AV    -122.419071200759    37.774047662207  POINT (-122.41907 37.77405)         2123    06    075  020100  1400000US06075020100  06075020100      201   CT    445707       0
110                0 Block of 12TH ST    -122.420001436964   37.7740948566882  POINT (-122.42000 37.77409)         2123    06    075  020100  1400000US06075020100  06075020100      201   CT    445707       0
268                 16TH ST / CAPP ST    -122.418701003284   37.7651098786222  POINT (-122.41870 37.76511)         2123    06    075  020100  1400000US06075020100  06075020100      201   CT    445707       0
...                               ...                  ...                ...                          ...          ...   ...    ...     ...                   ...          ...      ...  ...       ...     ...
1873388     800 Block of BRUNSWICK ST    -122.450482980088    37.708170291703  POINT (-122.45048 37.70817)          973    06    081  600402  1400000US06081600402  06081600402  6004.02   CT    402368       0
1895093     800 Block of BRUNSWICK ST    -122.450482980088    37.708170291703  POINT (-122.45048 37.70817)          973    06    081  600402  1400000US06081600402  06081600402  6004.02   CT    402368       0
1921096     800 Block of BRUNSWICK ST    -122.450482980088    37.708170291703  POINT (-122.45048 37.70817)          973    06    081  600402  1400000US06081600402  06081600402  6004.02   CT    402368       0
1968518     800 Block of BRUNSWICK ST    -122.450482980088    37.708170291703  POINT (-122.45048 37.70817)          973    06    081  600402  1400000US06081600402  06081600402  6004.02   CT    402368       0
2053120     800 Block of BRUNSWICK ST  -122.45048298008807  37.70817029170297  POINT (-122.45048 37.70817)          973    06    081  600402  1400000US06081600402  06081600402  6004.02   CT    402368       0

[2160811 rows x 14 columns]

In [29]:
groupedTract_count = SF_points_in_map2.groupby(['County','Tract','AreaLand']).size().reset_index(name='crimeStats')
#df2 = df.rename({'a': 'X', 'b': 'Y'}, axis=1) 
## rename x to LON and y to LAT for later joining with other 
#groupedTract_count = groupedTract_count.rename({'x': 'LON', 'y':'LAT'}, axis = 1)
groupedTract_count

    County   Tract  AreaLand  crimeStats
0      075  010100    776490       32773
1      075  010200    515958       15427
2      075  010300    268266        5272
3      075  010400    335744        5902
4      075  010500    683606       20054
..     ...     ...       ...         ...
195    081  600200   1158757          54
196    081  600300   2183129          72
197    081  600402    402368          34
198    081  600700    804173         108
199    081  600900   2039502         143

[200 rows x 4 columns]

In [30]:
groupedTract_mean = groupedTract_count["crimeStats"].mean()
print("mean",groupedTract_mean)
groupedTract_min = groupedTract_count["crimeStats"].min()
print("min", groupedTract_min)
groupedTract_max = groupedTract_count["crimeStats"].max()
print("max", groupedTract_max)

mean 10804.055
min 34
max 116852

In [31]:
import numpy as np
groupedTract_count["crime"] = np.where(groupedTract_count.crimeStats < groupedTract_mean, "low", "high")
groupedTract_count

    County   Tract  AreaLand  crimeStats crime
0      075  010100    776490       32773  high
1      075  010200    515958       15427  high
2      075  010300    268266        5272   low
3      075  010400    335744        5902   low
4      075  010500    683606       20054  high
..     ...     ...       ...         ...   ...
195    081  600200   1158757          54   low
196    081  600300   2183129          72   low
197    081  600402    402368          34   low
198    081  600700    804173         108   low
199    081  600900   2039502         143   low

[200 rows x 5 columns]

In [32]:
## checking there are no crimeStats zero values
####dc_NYCAll_withCrime.loc[dc_NYCAll_withCrime.crime == 0, 'crime'].count()
groupedTract_count.loc[groupedTract_count.crimeStats == 0, 'crimeStats'].count()

0

In [33]:
## checking there are no AreaLand zero values
groupedTract_count.loc[groupedTract_count.AreaLand == 0, 'AreaLand'].count()

0

In [34]:
SF_All.dtypes

NAME                                            object
DP05_0001E-T Popo                               object
DP02_0001E-T HHs                                object
DP02_0002E-T Fam HHs                            object
DP02_0008PE-%F-led HHs No H                     object
DP02_0010PE-% Non-Fam HHs                       object
DP02_0015E-Avg HH Size                          object
DP02_0016E-Avg Fam Size                         object
DP02_0022PE-%Non Rel in Hs                      object
DP02_0038E-per1000-F-U-RecentPreg               object
DP02_0046PE-%GPwParent&Gc1-2yrs                 object
DP02_0048PE--%GPwParent&Gc>5yrs                 object
DP02_0060PE-%NoSchDiploma                       object
DP02_0063PE-%AssDeg                             object
DP02_0079PE-% SameHouse_1YrAgo                  object
DP02_0085PE-%LivAbroad1YrAgo                    object
DP02_0088PE-%BornUS                             object
DP02_0112PE-HomeLangNotEng                      object
DP02_0134PE-%IrishAnc                           object
DP03_0009PE-%Unemploy                           object
DP03_0027PE-%WorkingMgt,Bus,Sc,Arts             object
DP03_0028PE%WorkingService                      object
DP03_0037PE-Retail                              object
DP03_0040PE-%Fin&Ins                            object
DP03_0041PE-%ProfSc,Mgt,Admin                   object
DP03_0050PE-%UnpaidFamilyWk                     object
DP03_0052PE-Inc<10k                             object
DP03_0054PE-Inc15-24k                           object
DP03_0058PE-Inc75-99k                           object
DP03_0061PE-Inc200k>                            object
DP03_0065E-HH-MeanEarnings                      object
DP03_0066PE-%HHsWithSocSec                      object
DP03_0072PE-%HH Inc with Cash public Ass        object
DP03_0074PE-%HH Inc with Food Stamps SNAP       object
DP03_0085PE-%Families Inc>200k                  object
DP03_0092E-Median Earning Workers               object
DP03_0093E-Median Earnings Male FT Workers      object
DP03_0094E-Median Earnings Female FT Workers    object
DP03_0097PE-%PHI-Priv                           object
DP03_0098PE-%PHI-Pub                            object
DP03_0099PE-No PHI                              object
DP03_0119PE-% Fam <Pov                          object
DP03_0121PE-%Fam with child U18&U5 <pov         object
DP03_0126PE-%F-Led Families with u18 <pov       object
DP04_0001E-T H U                                object
DP04_0002PE-%Occ H U                            object
DP04_0004E-%Ow Vac Rate                         object
DP04_0005E-%Rn Vac Rate                         object
DP04_0006E-T HU                                 object
State                                           object
County                                          object
Tract                                           object
DP04_0013PE-%20+HU                              object
DP04_0017PE-%Built2014+                         object
DP04_0029PE-%2rooms_only_HU                     object
DP04_0039PE-Zero bedrooms                       object
DP04_0045PE-%Occup HU                           object
DP04_0046PE-%Owner Occup HU                     object
DP04_0048E-Owner Ave Household size             object
DP04_0049E-Renter Ave Household size            object
DP04_0051PE-%moved since 2017+                  object
DP04_0054PE-%moved 2000 to 2009                 object
DP04_0082PE-%Value 50-99k                       object
DP04_0083PE-%Value 100-149k                     object
DP04_0084PE-%Value 150-199k                     object
DP04_0087PE-%Value 500k-1m                      object
DP04_0101E-Med Onwer Monthly Mortgage           object
DP04_0134E-Median Gross Rent                    object
DP05_0005PE-%under 5 yrs                        object
DP05_0023PE-%62 yrs+                            object
DP05_0058PE-% w & B or AM                       object
DP05_0061PE-%White & Asian                      object
DP05_0064PE-%White with others                  object
DP05_0070PE-%H&L race                           object
dtype: object

In [35]:
## join crime data to census data 
## https://kodlogs.com/38097/len-left_on-must-equal-the-number-of-levels-in-the-index-of-right#:~:text=pages%20in%20html-,Len(left_on)%20must%20equal%20the%20number%20of%20levels%20in,the%20index%20of%20%22right%22.
SFAll_withCrime = pd.merge(left = SF_All, right = groupedTract_count, how = 'inner', on = ['County', 'Tract'] )

In [36]:
SFAll_withCrime.head()

,NAME,DP05_0001E-T Popo,DP02_0001E-T HHs,DP02_0002E-T Fam HHs,DP02_0008PE-%F-led HHs No H,DP02_0010PE-% Non-Fam HHs,DP02_0015E-Avg HH Size,DP02_0016E-Avg Fam Size,DP02_0022PE-%Non Rel in Hs,DP02_0038E-per1000-F-U-RecentPreg,DP02_0046PE-%GPwParent&Gc1-2yrs,DP02_0048PE--%GPwParent&Gc>5yrs,DP02_0060PE-%NoSchDiploma,DP02_0063PE-%AssDeg,DP02_0079PE-% SameHouse_1YrAgo,DP02_0085PE-%LivAbroad1YrAgo,DP02_0088PE-%BornUS,DP02_0112PE-HomeLangNotEng,DP02_0134PE-%IrishAnc,DP03_0009PE-%Unemploy,"DP03_0027PE-%WorkingMgt,Bus,Sc,Arts",DP03_0028PE%WorkingService,DP03_0037PE-Retail,DP03_0040PE-%Fin&Ins,"DP03_0041PE-%ProfSc,Mgt,Admin",DP03_0050PE-%UnpaidFamilyWk,DP03_0052PE-Inc<10k,DP03_0054PE-Inc15-24k,DP03_0058PE-Inc75-99k,DP03_0061PE-Inc200k>,DP03_0065E-HH-MeanEarnings,DP03_0066PE-%HHsWithSocSec,DP03_0072PE-%HH Inc with Cash public Ass,DP03_0074PE-%HH Inc with Food Stamps SNAP,DP03_0085PE-%Families Inc>200k,DP03_0092E-Median Earning Workers,DP03_0093E-Median Earnings Male FT Workers,DP03_0094E-Median Earnings Female FT Workers,DP03_0097PE-%PHI-Priv,DP03_0098PE-%PHI-Pub,DP03_0099PE-No PHI,DP03_0119PE-% Fam <Pov,DP03_0121PE-%Fam with child U18&U5 <pov,DP03_0126PE-%F-Led Families with u18 <pov,DP04_0001E-T H U,DP04_0002PE-%Occ H U,DP04_0004E-%Ow Vac Rate,DP04_0005E-%Rn Vac Rate,DP04_0006E-T HU,State,County,Tract,DP04_0013PE-%20+HU,DP04_0017PE-%Built2014+,DP04_0029PE-%2rooms_only_HU,DP04_0039PE-Zero bedrooms,DP04_0045PE-%Occup HU,DP04_0046PE-%Owner Occup HU,DP04_0048E-Owner Ave Household size,DP04_0049E-Renter Ave Household size,DP04_0051PE-%moved since 2017+,DP04_0054PE-%moved 2000 to 2009,DP04_0082PE-%Value 50-99k,DP04_0083PE-%Value 100-149k,DP04_0084PE-%Value 150-199k,DP04_0087PE-%Value 500k-1m,DP04_0101E-Med Onwer Monthly Mortgage,DP04_0134E-Median Gross Rent,DP05_0005PE-%under 5 yrs,DP05_0023PE-%62 yrs+,DP05_0058PE-% w & B or AM,DP05_0061PE-%White & Asian,DP05_0064PE-%White with others,DP05_0070PE-%H&L race,AreaLand,crimeStats,crime
0,"Census Tract 156, San Francisco County, Califo...",3432,1450,715,9.5,50.7,2.36,2.89,18.1,0,0.0,0.0,3.7,1.8,80.1,2.5,67.2,42.9,12.8,1.8,62.8,10.8,5.7,11.9,25.4,0.0,3.7,9.4,11.7,20.1,179775,25.7,0.0,0.6,22.5,67768,108295,70644,81.3,81.3,1.3,8.0,0.0,100.0,1570,92.4,0.0,0.0,1570,06,075,015600,16.8,0.0,12.4,5.0,1450,27.0,1058,2.49,4.3,15.5,0.0,0.0,0.0,21.4,3895,1798,5.7,22.3,0.0,5.1,63.2,3432,293930,4091,low
1,"Census Tract 102, San Francisco County, Califo...",4299,2541,813,2.8,68.0,1.69,2.38,14.7,0,-666666666.0,-666666666.0,1.5,2.4,80.7,3.0,76.5,8.8,10.3,0.7,71.1,5.5,10.9,17.1,36.3,0.0,2.3,3.0,4.7,29.9,202319,24.7,1.1,1.1,39.0,93125,126733,84512,87.2,87.2,3.5,3.7,0.0,0.0,3015,84.3,0.0,0.8,3015,06,075,010200,35.9,0.0,13.1,10.8,2541,35.8,1632,1.71,5.5,28.0,1.4,0.0,0.0,38.3,4001,2449,2.0,27.1,1.1,2.0,83.7,4299,515958,15427,high
2,"Census Tract 108, San Francisco County, Califo...",4860,2466,910,1.4,63.1,1.97,2.79,15.7,0,0.0,12.2,3.1,4.2,85.5,2.3,66.0,40.4,10.8,4.5,57.8,10.3,8.4,10.7,31.2,0.7,4.0,5.2,10.9,19.5,159806,29.0,0.5,4.7,27.8,76771,101324,100667,73.5,73.5,1.9,10.7,0.0,100.0,2754,89.5,0.0,0.8,2754,06,075,010800,12.8,0.0,10.6,12.6,2466,24.9,1852,2.05,9.6,16.0,0.0,0.0,0.0,31.4,3847,1779,4.8,25.6,0.0,1.8,54.9,4860,226078,3953,low
3,"Census Tract 331, San Francisco County, Califo...",3861,1416,993,9.8,29.9,2.71,3.03,10.5,0,0.0,0.0,0.5,11.6,92.0,0.6,55.1,47.9,12.1,5.2,62.8,10.2,6.7,9.2,23.9,0.0,2.8,3.7,8.7,25.6,146850,40.2,0.5,1.1,26.5,55139,95250,81339,85.7,85.7,0.8,3.4,9.1,0.0,1571,90.1,0.0,0.0,1571,06,075,033100,0.0,0.0,2.7,0.4,1416,83.1,239,2.69,3.0,25.7,0.0,0.0,0.0,25.8,4001,3313,4.1,29.9,1.0,4.9,47.1,3861,895560,4085,low
4,"Census Tract 402, San Francisco County, Califo...",5541,2319,1111,4.5,52.1,2.38,3.16,14.4,0,0.0,0.0,6.6,4.7,92.7,0.9,65.2,34.8,10.8,3.9,63.2,12.5,10.9,10.7,22.5,0.0,3.6,6.0,12.6,27.1,188381,23.2,0.9,1.7,46.3,66489,101944,76406,83.2,83.2,1.3,0.0,0.0,0.0,2587,89.6,5.0,0.0,2587,06,075,040200,1.4,0.0,5.3,5.9,2319,41.8,1349,2.45,5.0,14.3,0.0,0.0,0.0,26.4,4001,1891,5.5,22.8,0.4,2.9,65.3,5541,531470,6655,low

In [37]:
## remove rows with NaNs for Crime as it will not be possible to run ML on crime outcome for these
## rows using df.dropna() but there were none as same no of rows after running code
SF_AllNoNAs = SFAll_withCrime.dropna() ## returning to number of rows that agrees with groupedTract_count available crime data

In [38]:
SF_AllNoNAs.head()

,NAME,DP05_0001E-T Popo,DP02_0001E-T HHs,DP02_0002E-T Fam HHs,DP02_0008PE-%F-led HHs No H,DP02_0010PE-% Non-Fam HHs,DP02_0015E-Avg HH Size,DP02_0016E-Avg Fam Size,DP02_0022PE-%Non Rel in Hs,DP02_0038E-per1000-F-U-RecentPreg,DP02_0046PE-%GPwParent&Gc1-2yrs,DP02_0048PE--%GPwParent&Gc>5yrs,DP02_0060PE-%NoSchDiploma,DP02_0063PE-%AssDeg,DP02_0079PE-% SameHouse_1YrAgo,DP02_0085PE-%LivAbroad1YrAgo,DP02_0088PE-%BornUS,DP02_0112PE-HomeLangNotEng,DP02_0134PE-%IrishAnc,DP03_0009PE-%Unemploy,"DP03_0027PE-%WorkingMgt,Bus,Sc,Arts",DP03_0028PE%WorkingService,DP03_0037PE-Retail,DP03_0040PE-%Fin&Ins,"DP03_0041PE-%ProfSc,Mgt,Admin",DP03_0050PE-%UnpaidFamilyWk,DP03_0052PE-Inc<10k,DP03_0054PE-Inc15-24k,DP03_0058PE-Inc75-99k,DP03_0061PE-Inc200k>,DP03_0065E-HH-MeanEarnings,DP03_0066PE-%HHsWithSocSec,DP03_0072PE-%HH Inc with Cash public Ass,DP03_0074PE-%HH Inc with Food Stamps SNAP,DP03_0085PE-%Families Inc>200k,DP03_0092E-Median Earning Workers,DP03_0093E-Median Earnings Male FT Workers,DP03_0094E-Median Earnings Female FT Workers,DP03_0097PE-%PHI-Priv,DP03_0098PE-%PHI-Pub,DP03_0099PE-No PHI,DP03_0119PE-% Fam <Pov,DP03_0121PE-%Fam with child U18&U5 <pov,DP03_0126PE-%F-Led Families with u18 <pov,DP04_0001E-T H U,DP04_0002PE-%Occ H U,DP04_0004E-%Ow Vac Rate,DP04_0005E-%Rn Vac Rate,DP04_0006E-T HU,State,County,Tract,DP04_0013PE-%20+HU,DP04_0017PE-%Built2014+,DP04_0029PE-%2rooms_only_HU,DP04_0039PE-Zero bedrooms,DP04_0045PE-%Occup HU,DP04_0046PE-%Owner Occup HU,DP04_0048E-Owner Ave Household size,DP04_0049E-Renter Ave Household size,DP04_0051PE-%moved since 2017+,DP04_0054PE-%moved 2000 to 2009,DP04_0082PE-%Value 50-99k,DP04_0083PE-%Value 100-149k,DP04_0084PE-%Value 150-199k,DP04_0087PE-%Value 500k-1m,DP04_0101E-Med Onwer Monthly Mortgage,DP04_0134E-Median Gross Rent,DP05_0005PE-%under 5 yrs,DP05_0023PE-%62 yrs+,DP05_0058PE-% w & B or AM,DP05_0061PE-%White & Asian,DP05_0064PE-%White with others,DP05_0070PE-%H&L race,AreaLand,crimeStats,crime
0,"Census Tract 156, San Francisco County, Califo...",3432,1450,715,9.5,50.7,2.36,2.89,18.1,0,0.0,0.0,3.7,1.8,80.1,2.5,67.2,42.9,12.8,1.8,62.8,10.8,5.7,11.9,25.4,0.0,3.7,9.4,11.7,20.1,179775,25.7,0.0,0.6,22.5,67768,108295,70644,81.3,81.3,1.3,8.0,0.0,100.0,1570,92.4,0.0,0.0,1570,06,075,015600,16.8,0.0,12.4,5.0,1450,27.0,1058,2.49,4.3,15.5,0.0,0.0,0.0,21.4,3895,1798,5.7,22.3,0.0,5.1,63.2,3432,293930,4091,low
1,"Census Tract 102, San Francisco County, Califo...",4299,2541,813,2.8,68.0,1.69,2.38,14.7,0,-666666666.0,-666666666.0,1.5,2.4,80.7,3.0,76.5,8.8,10.3,0.7,71.1,5.5,10.9,17.1,36.3,0.0,2.3,3.0,4.7,29.9,202319,24.7,1.1,1.1,39.0,93125,126733,84512,87.2,87.2,3.5,3.7,0.0,0.0,3015,84.3,0.0,0.8,3015,06,075,010200,35.9,0.0,13.1,10.8,2541,35.8,1632,1.71,5.5,28.0,1.4,0.0,0.0,38.3,4001,2449,2.0,27.1,1.1,2.0,83.7,4299,515958,15427,high
2,"Census Tract 108, San Francisco County, Califo...",4860,2466,910,1.4,63.1,1.97,2.79,15.7,0,0.0,12.2,3.1,4.2,85.5,2.3,66.0,40.4,10.8,4.5,57.8,10.3,8.4,10.7,31.2,0.7,4.0,5.2,10.9,19.5,159806,29.0,0.5,4.7,27.8,76771,101324,100667,73.5,73.5,1.9,10.7,0.0,100.0,2754,89.5,0.0,0.8,2754,06,075,010800,12.8,0.0,10.6,12.6,2466,24.9,1852,2.05,9.6,16.0,0.0,0.0,0.0,31.4,3847,1779,4.8,25.6,0.0,1.8,54.9,4860,226078,3953,low
3,"Census Tract 331, San Francisco County, Califo...",3861,1416,993,9.8,29.9,2.71,3.03,10.5,0,0.0,0.0,0.5,11.6,92.0,0.6,55.1,47.9,12.1,5.2,62.8,10.2,6.7,9.2,23.9,0.0,2.8,3.7,8.7,25.6,146850,40.2,0.5,1.1,26.5,55139,95250,81339,85.7,85.7,0.8,3.4,9.1,0.0,1571,90.1,0.0,0.0,1571,06,075,033100,0.0,0.0,2.7,0.4,1416,83.1,239,2.69,3.0,25.7,0.0,0.0,0.0,25.8,4001,3313,4.1,29.9,1.0,4.9,47.1,3861,895560,4085,low
4,"Census Tract 402, San Francisco County, Califo...",5541,2319,1111,4.5,52.1,2.38,3.16,14.4,0,0.0,0.0,6.6,4.7,92.7,0.9,65.2,34.8,10.8,3.9,63.2,12.5,10.9,10.7,22.5,0.0,3.6,6.0,12.6,27.1,188381,23.2,0.9,1.7,46.3,66489,101944,76406,83.2,83.2,1.3,0.0,0.0,0.0,2587,89.6,5.0,0.0,2587,06,075,040200,1.4,0.0,5.3,5.9,2319,41.8,1349,2.45,5.0,14.3,0.0,0.0,0.0,26.4,4001,1891,5.5,22.8,0.4,2.9,65.3,5541,531470,6655,low

In [39]:
## checking if any rows with Popo == zero
SF_AllNoNAs[SF_AllNoNAs['DP05_0001E-T Popo']== 0]

Empty DataFrame
Columns: [NAME, DP05_0001E-T Popo, DP02_0001E-T HHs, DP02_0002E-T Fam HHs, DP02_0008PE-%F-led HHs No H, DP02_0010PE-% Non-Fam HHs, DP02_0015E-Avg HH Size, DP02_0016E-Avg Fam Size, DP02_0022PE-%Non Rel in Hs, DP02_0038E-per1000-F-U-RecentPreg, DP02_0046PE-%GPwParent&Gc1-2yrs, DP02_0048PE--%GPwParent&Gc>5yrs, DP02_0060PE-%NoSchDiploma, DP02_0063PE-%AssDeg, DP02_0079PE-% SameHouse_1YrAgo, DP02_0085PE-%LivAbroad1YrAgo, DP02_0088PE-%BornUS, DP02_0112PE-HomeLangNotEng, DP02_0134PE-%IrishAnc, DP03_0009PE-%Unemploy, DP03_0027PE-%WorkingMgt,Bus,Sc,Arts, DP03_0028PE%WorkingService, DP03_0037PE-Retail, DP03_0040PE-%Fin&Ins, DP03_0041PE-%ProfSc,Mgt,Admin, DP03_0050PE-%UnpaidFamilyWk, DP03_0052PE-Inc<10k, DP03_0054PE-Inc15-24k, DP03_0058PE-Inc75-99k, DP03_0061PE-Inc200k>, DP03_0065E-HH-MeanEarnings, DP03_0066PE-%HHsWithSocSec, DP03_0072PE-%HH Inc with Cash public Ass, DP03_0074PE-%HH Inc with Food Stamps SNAP, DP03_0085PE-%Families Inc>200k, DP03_0092E-Median Earning Workers, DP03_0093E-Median Earnings Male FT Workers, DP03_0094E-Median Earnings Female FT Workers, DP03_0097PE-%PHI-Priv, DP03_0098PE-%PHI-Pub, DP03_0099PE-No PHI, DP03_0119PE-% Fam <Pov, DP03_0121PE-%Fam with child U18&U5 <pov, DP03_0126PE-%F-Led Families with u18 <pov, DP04_0001E-T H U, DP04_0002PE-%Occ H U, DP04_0004E-%Ow Vac Rate, DP04_0005E-%Rn Vac Rate, DP04_0006E-T HU, State, County, Tract, DP04_0013PE-%20+HU, DP04_0017PE-%Built2014+, DP04_0029PE-%2rooms_only_HU, DP04_0039PE-Zero bedrooms, DP04_0045PE-%Occup HU, DP04_0046PE-%Owner Occup HU, DP04_0048E-Owner Ave Household size, DP04_0049E-Renter Ave Household size, DP04_0051PE-%moved since 2017+, DP04_0054PE-%moved 2000 to 2009, DP04_0082PE-%Value 50-99k, DP04_0083PE-%Value 100-149k, DP04_0084PE-%Value 150-199k, DP04_0087PE-%Value 500k-1m, DP04_0101E-Med Onwer Monthly Mortgage, DP04_0134E-Median Gross Rent, DP05_0005PE-%under 5 yrs, DP05_0023PE-%62 yrs+, DP05_0058PE-% w & B or AM, DP05_0061PE-%White & Asian, DP05_0064PE-%White with others, DP05_0070PE-%H&L race, AreaLand, crimeStats, crime]
Index: []

In [40]:
SF_AllNoNAs['ALAND'] = SF_AllNoNAs['AreaLand']
SF_AllNoNAs['AreaLand'] = (SF_AllNoNAs['AreaLand']/10000).astype(int)
SF_AllNoNAs['AreaLand']

0       29
1       51
2       22
3       89
4       53
      ...
195    203
196    115
197    218
198     80
199     40
Name: AreaLand, Length: 200, dtype: int32

In [41]:
SF_AllNoNAs['Popo_Density_Per_Hector'] = SF_AllNoNAs['AreaLand']/(SF_AllNoNAs['DP05_0001E-T Popo'].astype(int))
SF_AllNoNAs['Popo_Density_Per_Hector'] = SF_AllNoNAs['Popo_Density_Per_Hector'].round(4)

In [42]:
SF_AllNoNAs['Popo_Density_Per_Hector']

0      0.0084
1      0.0119
2      0.0045
3      0.0231
4      0.0096
        ...
195    0.0497
196    0.0276
197    0.0552
198    0.0105
199    0.0079
Name: Popo_Density_Per_Hector, Length: 200, dtype: float64

In [43]:
SF_AllNoNAs[SF_AllNoNAs['DP05_0001E-T Popo'] == '0']

Empty DataFrame
Columns: [NAME, DP05_0001E-T Popo, DP02_0001E-T HHs, DP02_0002E-T Fam HHs, DP02_0008PE-%F-led HHs No H, DP02_0010PE-% Non-Fam HHs, DP02_0015E-Avg HH Size, DP02_0016E-Avg Fam Size, DP02_0022PE-%Non Rel in Hs, DP02_0038E-per1000-F-U-RecentPreg, DP02_0046PE-%GPwParent&Gc1-2yrs, DP02_0048PE--%GPwParent&Gc>5yrs, DP02_0060PE-%NoSchDiploma, DP02_0063PE-%AssDeg, DP02_0079PE-% SameHouse_1YrAgo, DP02_0085PE-%LivAbroad1YrAgo, DP02_0088PE-%BornUS, DP02_0112PE-HomeLangNotEng, DP02_0134PE-%IrishAnc, DP03_0009PE-%Unemploy, DP03_0027PE-%WorkingMgt,Bus,Sc,Arts, DP03_0028PE%WorkingService, DP03_0037PE-Retail, DP03_0040PE-%Fin&Ins, DP03_0041PE-%ProfSc,Mgt,Admin, DP03_0050PE-%UnpaidFamilyWk, DP03_0052PE-Inc<10k, DP03_0054PE-Inc15-24k, DP03_0058PE-Inc75-99k, DP03_0061PE-Inc200k>, DP03_0065E-HH-MeanEarnings, DP03_0066PE-%HHsWithSocSec, DP03_0072PE-%HH Inc with Cash public Ass, DP03_0074PE-%HH Inc with Food Stamps SNAP, DP03_0085PE-%Families Inc>200k, DP03_0092E-Median Earning Workers, DP03_0093E-Median Earnings Male FT Workers, DP03_0094E-Median Earnings Female FT Workers, DP03_0097PE-%PHI-Priv, DP03_0098PE-%PHI-Pub, DP03_0099PE-No PHI, DP03_0119PE-% Fam <Pov, DP03_0121PE-%Fam with child U18&U5 <pov, DP03_0126PE-%F-Led Families with u18 <pov, DP04_0001E-T H U, DP04_0002PE-%Occ H U, DP04_0004E-%Ow Vac Rate, DP04_0005E-%Rn Vac Rate, DP04_0006E-T HU, State, County, Tract, DP04_0013PE-%20+HU, DP04_0017PE-%Built2014+, DP04_0029PE-%2rooms_only_HU, DP04_0039PE-Zero bedrooms, DP04_0045PE-%Occup HU, DP04_0046PE-%Owner Occup HU, DP04_0048E-Owner Ave Household size, DP04_0049E-Renter Ave Household size, DP04_0051PE-%moved since 2017+, DP04_0054PE-%moved 2000 to 2009, DP04_0082PE-%Value 50-99k, DP04_0083PE-%Value 100-149k, DP04_0084PE-%Value 150-199k, DP04_0087PE-%Value 500k-1m, DP04_0101E-Med Onwer Monthly Mortgage, DP04_0134E-Median Gross Rent, DP05_0005PE-%under 5 yrs, DP05_0023PE-%62 yrs+, DP05_0058PE-% w & B or AM, DP05_0061PE-%White & Asian, DP05_0064PE-%White with others, DP05_0070PE-%H&L race, AreaLand, crimeStats, crime, ALAND, Popo_Density_Per_Hector]
Index: []

In [44]:
## double checking that there are no rows with zero popo, and there are none
SF_AllNoNAs = SF_AllNoNAs[SF_AllNoNAs['DP05_0001E-T Popo'] != '0']

In [45]:
SF_AllNoNAs.head()

,NAME,DP05_0001E-T Popo,DP02_0001E-T HHs,DP02_0002E-T Fam HHs,DP02_0008PE-%F-led HHs No H,DP02_0010PE-% Non-Fam HHs,DP02_0015E-Avg HH Size,DP02_0016E-Avg Fam Size,DP02_0022PE-%Non Rel in Hs,DP02_0038E-per1000-F-U-RecentPreg,DP02_0046PE-%GPwParent&Gc1-2yrs,DP02_0048PE--%GPwParent&Gc>5yrs,DP02_0060PE-%NoSchDiploma,DP02_0063PE-%AssDeg,DP02_0079PE-% SameHouse_1YrAgo,DP02_0085PE-%LivAbroad1YrAgo,DP02_0088PE-%BornUS,DP02_0112PE-HomeLangNotEng,DP02_0134PE-%IrishAnc,DP03_0009PE-%Unemploy,"DP03_0027PE-%WorkingMgt,Bus,Sc,Arts",DP03_0028PE%WorkingService,DP03_0037PE-Retail,DP03_0040PE-%Fin&Ins,"DP03_0041PE-%ProfSc,Mgt,Admin",DP03_0050PE-%UnpaidFamilyWk,DP03_0052PE-Inc<10k,DP03_0054PE-Inc15-24k,DP03_0058PE-Inc75-99k,DP03_0061PE-Inc200k>,DP03_0065E-HH-MeanEarnings,DP03_0066PE-%HHsWithSocSec,DP03_0072PE-%HH Inc with Cash public Ass,DP03_0074PE-%HH Inc with Food Stamps SNAP,DP03_0085PE-%Families Inc>200k,DP03_0092E-Median Earning Workers,DP03_0093E-Median Earnings Male FT Workers,DP03_0094E-Median Earnings Female FT Workers,DP03_0097PE-%PHI-Priv,DP03_0098PE-%PHI-Pub,DP03_0099PE-No PHI,DP03_0119PE-% Fam <Pov,DP03_0121PE-%Fam with child U18&U5 <pov,DP03_0126PE-%F-Led Families with u18 <pov,DP04_0001E-T H U,DP04_0002PE-%Occ H U,DP04_0004E-%Ow Vac Rate,DP04_0005E-%Rn Vac Rate,DP04_0006E-T HU,State,County,Tract,DP04_0013PE-%20+HU,DP04_0017PE-%Built2014+,DP04_0029PE-%2rooms_only_HU,DP04_0039PE-Zero bedrooms,DP04_0045PE-%Occup HU,DP04_0046PE-%Owner Occup HU,DP04_0048E-Owner Ave Household size,DP04_0049E-Renter Ave Household size,DP04_0051PE-%moved since 2017+,DP04_0054PE-%moved 2000 to 2009,DP04_0082PE-%Value 50-99k,DP04_0083PE-%Value 100-149k,DP04_0084PE-%Value 150-199k,DP04_0087PE-%Value 500k-1m,DP04_0101E-Med Onwer Monthly Mortgage,DP04_0134E-Median Gross Rent,DP05_0005PE-%under 5 yrs,DP05_0023PE-%62 yrs+,DP05_0058PE-% w & B or AM,DP05_0061PE-%White & Asian,DP05_0064PE-%White with others,DP05_0070PE-%H&L race,AreaLand,crimeStats,crime,ALAND,Popo_Density_Per_Hector
0,"Census Tract 156, San Francisco County, Califo...",3432,1450,715,9.5,50.7,2.36,2.89,18.1,0,0.0,0.0,3.7,1.8,80.1,2.5,67.2,42.9,12.8,1.8,62.8,10.8,5.7,11.9,25.4,0.0,3.7,9.4,11.7,20.1,179775,25.7,0.0,0.6,22.5,67768,108295,70644,81.3,81.3,1.3,8.0,0.0,100.0,1570,92.4,0.0,0.0,1570,06,075,015600,16.8,0.0,12.4,5.0,1450,27.0,1058,2.49,4.3,15.5,0.0,0.0,0.0,21.4,3895,1798,5.7,22.3,0.0,5.1,63.2,3432,29,4091,low,293930,0.0084
1,"Census Tract 102, San Francisco County, Califo...",4299,2541,813,2.8,68.0,1.69,2.38,14.7,0,-666666666.0,-666666666.0,1.5,2.4,80.7,3.0,76.5,8.8,10.3,0.7,71.1,5.5,10.9,17.1,36.3,0.0,2.3,3.0,4.7,29.9,202319,24.7,1.1,1.1,39.0,93125,126733,84512,87.2,87.2,3.5,3.7,0.0,0.0,3015,84.3,0.0,0.8,3015,06,075,010200,35.9,0.0,13.1,10.8,2541,35.8,1632,1.71,5.5,28.0,1.4,0.0,0.0,38.3,4001,2449,2.0,27.1,1.1,2.0,83.7,4299,51,15427,high,515958,0.0119
2,"Census Tract 108, San Francisco County, Califo...",4860,2466,910,1.4,63.1,1.97,2.79,15.7,0,0.0,12.2,3.1,4.2,85.5,2.3,66.0,40.4,10.8,4.5,57.8,10.3,8.4,10.7,31.2,0.7,4.0,5.2,10.9,19.5,159806,29.0,0.5,4.7,27.8,76771,101324,100667,73.5,73.5,1.9,10.7,0.0,100.0,2754,89.5,0.0,0.8,2754,06,075,010800,12.8,0.0,10.6,12.6,2466,24.9,1852,2.05,9.6,16.0,0.0,0.0,0.0,31.4,3847,1779,4.8,25.6,0.0,1.8,54.9,4860,22,3953,low,226078,0.0045
3,"Census Tract 331, San Francisco County, Califo...",3861,1416,993,9.8,29.9,2.71,3.03,10.5,0,0.0,0.0,0.5,11.6,92.0,0.6,55.1,47.9,12.1,5.2,62.8,10.2,6.7,9.2,23.9,0.0,2.8,3.7,8.7,25.6,146850,40.2,0.5,1.1,26.5,55139,95250,81339,85.7,85.7,0.8,3.4,9.1,0.0,1571,90.1,0.0,0.0,1571,06,075,033100,0.0,0.0,2.7,0.4,1416,83.1,239,2.69,3.0,25.7,0.0,0.0,0.0,25.8,4001,3313,4.1,29.9,1.0,4.9,47.1,3861,89,4085,low,895560,0.0231
4,"Census Tract 402, San Francisco County, Califo...",5541,2319,1111,4.5,52.1,2.38,3.16,14.4,0,0.0,0.0,6.6,4.7,92.7,0.9,65.2,34.8,10.8,3.9,63.2,12.5,10.9,10.7,22.5,0.0,3.6,6.0,12.6,27.1,188381,23.2,0.9,1.7,46.3,66489,101944,76406,83.2,83.2,1.3,0.0,0.0,0.0,2587,89.6,5.0,0.0,2587,06,075,040200,1.4,0.0,5.3,5.9,2319,41.8,1349,2.45,5.0,14.3,0.0,0.0,0.0,26.4,4001,1891,5.5,22.8,0.4,2.9,65.3,5541,53,6655,low,531470,0.0096

In [46]:
## converting all data columns to numeric
for col in  SF_AllNoNAs.filter(like='DP').columns:
    SF_AllNoNAs[col] = pd.to_numeric(SF_AllNoNAs[col], errors='coerce')

#dc_NYCAll_withCrime[cols] = dc_NYCAll_withCrime[cols].apply(pd.to_numeric, errors='coerce', axis=1)

In [47]:
SF_AllNoNAs.describe()

,DP05_0001E-T Popo,DP02_0001E-T HHs,DP02_0002E-T Fam HHs,DP02_0008PE-%F-led HHs No H,DP02_0010PE-% Non-Fam HHs,DP02_0015E-Avg HH Size,DP02_0016E-Avg Fam Size,DP02_0022PE-%Non Rel in Hs,DP02_0038E-per1000-F-U-RecentPreg,DP02_0046PE-%GPwParent&Gc1-2yrs,DP02_0048PE--%GPwParent&Gc>5yrs,DP02_0060PE-%NoSchDiploma,DP02_0063PE-%AssDeg,DP02_0079PE-% SameHouse_1YrAgo,DP02_0085PE-%LivAbroad1YrAgo,DP02_0088PE-%BornUS,DP02_0112PE-HomeLangNotEng,DP02_0134PE-%IrishAnc,DP03_0009PE-%Unemploy,"DP03_0027PE-%WorkingMgt,Bus,Sc,Arts",DP03_0028PE%WorkingService,DP03_0037PE-Retail,DP03_0040PE-%Fin&Ins,"DP03_0041PE-%ProfSc,Mgt,Admin",DP03_0050PE-%UnpaidFamilyWk,DP03_0052PE-Inc<10k,DP03_0054PE-Inc15-24k,DP03_0058PE-Inc75-99k,DP03_0061PE-Inc200k>,DP03_0065E-HH-MeanEarnings,DP03_0066PE-%HHsWithSocSec,DP03_0072PE-%HH Inc with Cash public Ass,DP03_0074PE-%HH Inc with Food Stamps SNAP,DP03_0085PE-%Families Inc>200k,DP03_0092E-Median Earning Workers,DP03_0093E-Median Earnings Male FT Workers,DP03_0094E-Median Earnings Female FT Workers,DP03_0097PE-%PHI-Priv,DP03_0098PE-%PHI-Pub,DP03_0099PE-No PHI,DP03_0119PE-% Fam <Pov,DP03_0121PE-%Fam with child U18&U5 <pov,DP03_0126PE-%F-Led Families with u18 <pov,DP04_0001E-T H U,DP04_0002PE-%Occ H U,DP04_0004E-%Ow Vac Rate,DP04_0005E-%Rn Vac Rate,DP04_0006E-T HU,DP04_0013PE-%20+HU,DP04_0017PE-%Built2014+,DP04_0029PE-%2rooms_only_HU,DP04_0039PE-Zero bedrooms,DP04_0045PE-%Occup HU,DP04_0046PE-%Owner Occup HU,DP04_0048E-Owner Ave Household size,DP04_0049E-Renter Ave Household size,DP04_0051PE-%moved since 2017+,DP04_0054PE-%moved 2000 to 2009,DP04_0082PE-%Value 50-99k,DP04_0083PE-%Value 100-149k,DP04_0084PE-%Value 150-199k,DP04_0087PE-%Value 500k-1m,DP04_0101E-Med Onwer Monthly Mortgage,DP04_0134E-Median Gross Rent,DP05_0005PE-%under 5 yrs,DP05_0023PE-%62 yrs+,DP05_0058PE-% w & B or AM,DP05_0061PE-%White & Asian,DP05_0064PE-%White with others,DP05_0070PE-%H&L race,AreaLand,crimeStats,ALAND,Popo_Density_Per_Hector
count,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,2.000000e+02,200.000000,200.000000,2.000000e+02,2.000000e+02,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,2.000000e+02,200.000000,2.000000e+02,2.000000e+02,200.000000,200.000000,200.000000,2.000000e+02,2.000000e+02,2.000000e+02,200.00000,200.000000,2.000000e+02,200.000000,200.00000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,2.000000e+02,200.000000,200.000000,2.000000e+02,2.000000e+02,2.000000e+02,2.000000e+02,2.000000e+02,2.000000e+02,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,2.000000e+02,200.000000
mean,4474.425000,1834.760000,888.760000,9.028000,49.282000,2.482650,-3.333330e+06,14.530500,10.495000,-1.833333e+08,-1.833333e+08,4.661000,5.400000,85.846000,1.334500,63.752000,42.301500,8.031000,4.827000,54.626000,17.180500,9.120500,8.510000,23.307500,0.148500,5.132000,6.313000,9.784500,22.808500,149737.210000,24.777000,2.313000,5.093000,-3.333305e+06,62236.365000,-3.246817e+06,-9.927806e+06,74.908500,74.908500,4.356500,-3.333327e+06,-1.333333e+07,-7.333331e+07,2007.59500,91.928000,-2.000000e+07,2.282000,2007.59500,21.949500,0.965500,8.118500,12.635000,1834.760000,39.959000,1133.885000,-2.666666e+07,4.698000,25.211500,-2.000000e+07,-2.000000e+07,-2.000000e+07,-1.999996e+07,-4.333017e+07,-3.331468e+06,4.529000,18.978000,0.695500,2.476500,52.106500,4474.425000,63.275000,10804.055000,6.377214e+05,0.057895
std,1834.945073,848.166863,430.417295,7.326692,18.285886,0.678339,4.714045e+07,6.976358,21.638649,2.984232e+08,2.984232e+08,3.811854,2.722953,8.219054,1.306866,14.078966,18.420647,4.262603,3.159141,17.631234,11.022561,3.337126,4.740958,8.654385,0.322829,4.569197,4.750195,4.546898,12.839268,53399.395391,9.587841,2.632218,5.685948,4.714045e+07,26047.421951,4.714661e+07,8.124726e+07,14.933789,14.933789,2.980971,4.714045e+07,9.356755e+07,2.091166e+08,1009.55721,5.115688,1.140102e+08,3.092067,1009.55721,27.957363,3.127967,6.294602,16.693115,848.166863,23.733051,762.293189,1.309673e+08,3.286488,6.050617,1.140102e+08,1.140102e+08,1.140102e+08,1.140102e+08,1.647638e+08,4.714058e+07,2.282699,8.077471,0.905888,1.642892,22.456811,1834.945073,73.005468,14304.024448,7.302776e+05,0.474248
min,66.000000,49.000000,0.000000,0.000000,13.100000,1.350000,-6.666667e+08,0.000000,0.000000,-6.666667e+08,-6.666667e+08,0.000000,0.000000,28.100000,0.000000,20.800000,8.200000,0.100000,0.000000,13.700000,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,47450.000000,0.000000,0.000000,0.000000,-6.666667e+08,4262.000000,-6.666667e+08,-6.666667e+08,20.900000,20.900000,0.000000,-6.666667e+08,-6.666667e+08,-6.666667e+08,49.00000,72.700000,-6.666667e+08,0.000000,49.00000,0.000000,0.000000,0.000000,0.000000,49.000000,0.000000,22.000000,-6.666667e+08,0.000000,10.200000,-6.666667e+08,-6.666667e+08,-6.666667e+08,-6.666667e+08,-6.666667e+08,-6.666667e+08,0.000000,0.000000,0.000000,0.000000,3.900000,66.000000,5.000000,34.000000,5.656400e+04,0.001700
25%,3480.750000,1371.000000,637.750000,3.200000,33.275000,1.930000,2.680000e+00,9.550000,0.000000,-6.666667e+08,-6.666667e+08,1.500000,3.300000,82.300000,0.400000,53.900000,27.350000,4.675000,2.800000,40.750000,8.700000,6.900000,5.100000,15.325000,0.000000,2.000000,2.950000,6.900000,11.775000,108330.750000,16.800000,0.700000,1.375000,1.297500e+01,40879.500000,5.849225e+04,5.248200e+04,67.075000,67.075000,2.100000,1.575000e+00,0.000000e+00,0.000000e+00,1442.75000,89.300000,0.000000e+00,0.000000,1442.75000,2.100000,0.000000,2.900000,2.200000,1371.000000,21.300000,594.500000,2.017500e+00,2.100000,21.275000,0.000000e+00,0.000000e+00,0.000000e+00,2.207500e+01,2.802750e+03,1.610750e+03,2.900000,13.900000,0.000000,1.175000,36.300000,3480.750000,29.000000,4145.750000,2.948822e+05,0.006975
50%,4312.000000,1780.000000,838.500000,7.450000,50.050000,2.295000,2.945000e+00,13.600000,0.000000,0.000000e+00,0.000000e+00,3.850000,5.100000,86.800000,0.900000,64.400000,41.250000,8.100000,4.200000,58.450000,14.800000,8.750000,7.400000,23.800000,0.000000,3.650000,5.300000,9.000000,21.550000,146836.000000,24.550000,1.600000,3.250000,2.630000e+01,57091.000000,8.400500e+04,7.075150e+04,77.850000,77.850000,3.700000,3.950000e+00,0.000000e+00,0.000000e+00,1936.50000,92.800000,0.000000e+00,0.900000,1936.50000,10.300000,0.000000,6.800000,5.900000,1780.000000,38.350000,1002.500000,2.440000e+00,4.100000,25.100000,0.000000e+00,0.000000e+00,0.000000e+00,3.475000e+01,3.407000e+03,1.920000e+03,4.300000,18.600000,0.400000,2.200000,52.350000,4312.000000,41.000000,6133.000000,4.160935e+05,0.009600
75%,5218.250000,2281.250000,1067.750000,13.350000,64.075000,2.942500,3.430000e+00,18.150000,15.000000,0.000000e+00,5.000000e+00,6.850000,7.400000,91.825000,1.800000,76.125000,56.350000,10.800000,6.100000,68.700000,23.775000,11.000000,10.700000,30.100000,0.000000,6.700000,8.325000,11.925000,32.950000,185973.000000,32.750000,2.900000,7.050000,4.287500e+01,81800.000000,1.113098e+05,9.348225e+04,86.925000,86.925000,5.725000,8.025000e+00,0.000000e+00,3.107500e+01,2480.25000,95.800000,0.000000e+00,3.600000,2480.25000,31.750000,0.525000,11.700000,14.850000,2281.250000,59.350000,1513.000000,3.037500e+00,6.325000,28.600000,6.250000e-01,0.000000e+00,0.000000e+00,5.627500e+01,4.001000e+03,2.221000e+03,5.900000,23.300000,1.000000,3.500000,69.425000,5218.250000,68.000000,11862.000000,6.839468e+05,0.013200
max,14758.000000,7900.000000,2958.000000,45.400000,100.000000,4.230000,4.380000e+00,47.600000,167.000000,1.000000e+02,1.000000e+02,18.300000,15.100000,97.700000,6.800000,87.600000,89.100000,19.200000,24.400000,90.200000,58.300000,22.300000,27.900000,40.500000,1.700000,22.600000,28.900000,42.900000,49.700000,348506.000000,49.100000,19.700000,38.000000,7.550000e+01,154375.000000,1.970830e+05,1.596430e+05,100.000000,100.000000,18.100000,3.920000e+01,1.000000e+02,1.000000e+02,10230.00000,100.000000,2.280000e+01,16.500000,10230.00000,98.500000,33.300000,26.500000,77.400000,7900.000000,93.000000,5026.000000,5.160000e+00,18.300000,50.000000,4.460000e+01,1.000000e+02,3.130000e+01,8.510000e+01,4.001000e+03,3.352000e+03,13.200000,67.200000,5.100000,7.600000,93.300000,14758.000000,610.000000,116852.000000,6.108835e+06,6.575800

In [48]:
SF_AllNoNAs.isna().sum(0)

NAME                                            0
DP05_0001E-T Popo                               0
DP02_0001E-T HHs                                0
DP02_0002E-T Fam HHs                            0
DP02_0008PE-%F-led HHs No H                     0
DP02_0010PE-% Non-Fam HHs                       0
DP02_0015E-Avg HH Size                          0
DP02_0016E-Avg Fam Size                         0
DP02_0022PE-%Non Rel in Hs                      0
DP02_0038E-per1000-F-U-RecentPreg               0
DP02_0046PE-%GPwParent&Gc1-2yrs                 0
DP02_0048PE--%GPwParent&Gc>5yrs                 0
DP02_0060PE-%NoSchDiploma                       0
DP02_0063PE-%AssDeg                             0
DP02_0079PE-% SameHouse_1YrAgo                  0
DP02_0085PE-%LivAbroad1YrAgo                    0
DP02_0088PE-%BornUS                             0
DP02_0112PE-HomeLangNotEng                      0
DP02_0134PE-%IrishAnc                           0
DP03_0009PE-%Unemploy                           0
DP03_0027PE-%WorkingMgt,Bus,Sc,Arts             0
DP03_0028PE%WorkingService                      0
DP03_0037PE-Retail                              0
DP03_0040PE-%Fin&Ins                            0
DP03_0041PE-%ProfSc,Mgt,Admin                   0
DP03_0050PE-%UnpaidFamilyWk                     0
DP03_0052PE-Inc<10k                             0
DP03_0054PE-Inc15-24k                           0
DP03_0058PE-Inc75-99k                           0
DP03_0061PE-Inc200k>                            0
DP03_0065E-HH-MeanEarnings                      0
DP03_0066PE-%HHsWithSocSec                      0
DP03_0072PE-%HH Inc with Cash public Ass        0
DP03_0074PE-%HH Inc with Food Stamps SNAP       0
DP03_0085PE-%Families Inc>200k                  0
DP03_0092E-Median Earning Workers               0
DP03_0093E-Median Earnings Male FT Workers      0
DP03_0094E-Median Earnings Female FT Workers    0
DP03_0097PE-%PHI-Priv                           0
DP03_0098PE-%PHI-Pub                            0
DP03_0099PE-No PHI                              0
DP03_0119PE-% Fam <Pov                          0
DP03_0121PE-%Fam with child U18&U5 <pov         0
DP03_0126PE-%F-Led Families with u18 <pov       0
DP04_0001E-T H U                                0
DP04_0002PE-%Occ H U                            0
DP04_0004E-%Ow Vac Rate                         0
DP04_0005E-%Rn Vac Rate                         0
DP04_0006E-T HU                                 0
State                                           0
County                                          0
Tract                                           0
DP04_0013PE-%20+HU                              0
DP04_0017PE-%Built2014+                         0
DP04_0029PE-%2rooms_only_HU                     0
DP04_0039PE-Zero bedrooms                       0
DP04_0045PE-%Occup HU                           0
DP04_0046PE-%Owner Occup HU                     0
DP04_0048E-Owner Ave Household size             0
DP04_0049E-Renter Ave Household size            0
DP04_0051PE-%moved since 2017+                  0
DP04_0054PE-%moved 2000 to 2009                 0
DP04_0082PE-%Value 50-99k                       0
DP04_0083PE-%Value 100-149k                     0
DP04_0084PE-%Value 150-199k                     0
DP04_0087PE-%Value 500k-1m                      0
DP04_0101E-Med Onwer Monthly Mortgage           0
DP04_0134E-Median Gross Rent                    0
DP05_0005PE-%under 5 yrs                        0
DP05_0023PE-%62 yrs+                            0
DP05_0058PE-% w & B or AM                       0
DP05_0061PE-%White & Asian                      0
DP05_0064PE-%White with others                  0
DP05_0070PE-%H&L race                           0
AreaLand                                        0
crimeStats                                      0
crime                                           0
ALAND                                           0
Popo_Density_Per_Hector                         0
dtype: int64

In [49]:
SF_AllNoNAs.loc[SF_AllNoNAs.crimeStats == 0, 'crimeStats'].count()

0

In [50]:
#BaltimoreAllNoNAs.apply(lambda x: '%.5f' % x, axis=1)
#for col in  SF_AllNoNAs.filter(like='DP').columns:
#    SF_AllNoNAs[col] = SF_AllNoNAs[col].apply(lambda x: '%.2f' % x) 
#SF_AllNoNAs

In [51]:
SF_AllNoNAs.groupby('crime').count()

,NAME,DP05_0001E-T Popo,DP02_0001E-T HHs,DP02_0002E-T Fam HHs,DP02_0008PE-%F-led HHs No H,DP02_0010PE-% Non-Fam HHs,DP02_0015E-Avg HH Size,DP02_0016E-Avg Fam Size,DP02_0022PE-%Non Rel in Hs,DP02_0038E-per1000-F-U-RecentPreg,DP02_0046PE-%GPwParent&Gc1-2yrs,DP02_0048PE--%GPwParent&Gc>5yrs,DP02_0060PE-%NoSchDiploma,DP02_0063PE-%AssDeg,DP02_0079PE-% SameHouse_1YrAgo,DP02_0085PE-%LivAbroad1YrAgo,DP02_0088PE-%BornUS,DP02_0112PE-HomeLangNotEng,DP02_0134PE-%IrishAnc,DP03_0009PE-%Unemploy,"DP03_0027PE-%WorkingMgt,Bus,Sc,Arts",DP03_0028PE%WorkingService,DP03_0037PE-Retail,DP03_0040PE-%Fin&Ins,"DP03_0041PE-%ProfSc,Mgt,Admin",DP03_0050PE-%UnpaidFamilyWk,DP03_0052PE-Inc<10k,DP03_0054PE-Inc15-24k,DP03_0058PE-Inc75-99k,DP03_0061PE-Inc200k>,DP03_0065E-HH-MeanEarnings,DP03_0066PE-%HHsWithSocSec,DP03_0072PE-%HH Inc with Cash public Ass,DP03_0074PE-%HH Inc with Food Stamps SNAP,DP03_0085PE-%Families Inc>200k,DP03_0092E-Median Earning Workers,DP03_0093E-Median Earnings Male FT Workers,DP03_0094E-Median Earnings Female FT Workers,DP03_0097PE-%PHI-Priv,DP03_0098PE-%PHI-Pub,DP03_0099PE-No PHI,DP03_0119PE-% Fam <Pov,DP03_0121PE-%Fam with child U18&U5 <pov,DP03_0126PE-%F-Led Families with u18 <pov,DP04_0001E-T H U,DP04_0002PE-%Occ H U,DP04_0004E-%Ow Vac Rate,DP04_0005E-%Rn Vac Rate,DP04_0006E-T HU,State,County,Tract,DP04_0013PE-%20+HU,DP04_0017PE-%Built2014+,DP04_0029PE-%2rooms_only_HU,DP04_0039PE-Zero bedrooms,DP04_0045PE-%Occup HU,DP04_0046PE-%Owner Occup HU,DP04_0048E-Owner Ave Household size,DP04_0049E-Renter Ave Household size,DP04_0051PE-%moved since 2017+,DP04_0054PE-%moved 2000 to 2009,DP04_0082PE-%Value 50-99k,DP04_0083PE-%Value 100-149k,DP04_0084PE-%Value 150-199k,DP04_0087PE-%Value 500k-1m,DP04_0101E-Med Onwer Monthly Mortgage,DP04_0134E-Median Gross Rent,DP05_0005PE-%under 5 yrs,DP05_0023PE-%62 yrs+,DP05_0058PE-% w & B or AM,DP05_0061PE-%White & Asian,DP05_0064PE-%White with others,DP05_0070PE-%H&L race,AreaLand,crimeStats,ALAND,Popo_Density_Per_Hector
crime,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
high,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56,56
low,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144,144

In [52]:
## save file to local drive
##dc_NYCAll_withCrimeNoNAs.to_csv("dc_NYCAll_withCrimeNov30th.csv")
SF_AllNoNAs.to_csv("SF_CSV__Feb8th_before.csv") ## 245kB

In [53]:
SF_list_of_counties = ["075", "081"]
census_tract_california['COUNTYFP'] = census_tract_california['COUNTYFP'].apply(lambda x: '{0:0>3}'.format(x)).astype(str)
census_tracts_SF = census_tract_california[census_tract_california['COUNTYFP'].isin(SF_list_of_counties)]
census_tracts_SF

      STATEFP COUNTYFP TRACTCE              AFFGEOID       GEOID     NAME LSAD     ALAND   AWATER
415         6      081  603802  1400000US06081603802  6081603802  6038.02   CT   2601740        0
416         6      081  605800  1400000US06081605800  6081605800  6058.00   CT   1218794        0
417         6      081  607100  1400000US06081607100  6081607100  6071.00   CT   1241938        0
418         6      081  607702  1400000US06081607702  6081607702  6077.02   CT    612305        0
419         6      081  609201  1400000US06081609201  6081609201  6092.01   CT   1062819        0
...       ...      ...     ...                   ...         ...      ...  ...       ...      ...
7871        6      081  613300  1400000US06081613300  6081613300  6133.00   CT   9443851        0
7926        6      081  610302  1400000US06081610302  6081610302  6103.02   CT  24003630  9471206
7927        6      081  611000  1400000US06081611000  6081611000  6110.00   CT   1369440        0
8026        6      075  025100  1400000US06075025100  6075025100   251.00   CT    556958        0
8036        6      075  022902  1400000US06075022902  6075022902   229.02   CT    161833        0

[353 rows x 9 columns]

In [54]:
## save Dallas city tract file to local drive
##dc_NYCAll_withCrimeNoNAs.to_csv("dc_NYCAll_withCrimeNov30th.csv")
census_tracts_SF.to_csv("census_tracts_SFDec9th.csv")