In [ ]:
# Adding shape geoid details for each city 

## Starting with New York City

In [6]:
#NYC data 
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
url_NYC = 'https://raw.githubusercontent.com/maireadmanifold/files/main/NYC_CSV_Cleaned_and_no_shape_Mar8th.csv'
df_ML_NYC = pd.read_csv(url_NYC, error_bad_lines=False, index_col=0)

In [7]:
df_ML_NYC[1:2]

,NAME,DP02_0008PE-%F-led HHs No H,DP02_0010PE-% Non-Fam HHs,DP02_0022PE-%Non Rel in Hs,DP02_0038E-per1000-F-U-RecentPreg,DP02_0046PE-%GPwParent&Gc1-2yrs,DP02_0048PE--%GPwParent&Gc>5yrs,DP02_0060PE-%NoSchDiploma,DP02_0063PE-%AssDeg,DP02_0079PE-% SameHouse_1YrAgo,DP02_0085PE-%LivAbroad1YrAgo,DP02_0088PE-%BornUS,DP02_0112PE-HomeLangNotEng,DP02_0134PE-%IrishAnc,DP03_0009PE-%Unemploy,"DP03_0027PE-%WorkingMgt,Bus,Sc,Arts",DP03_0028PE%WorkingService,DP03_0037PE-Retail,DP03_0040PE-%Fin&Ins,"DP03_0041PE-%ProfSc,Mgt,Admin",DP03_0050PE-%UnpaidFamilyWk,DP03_0052PE-Inc<10k,DP03_0054PE-Inc15-24k,DP03_0058PE-Inc75-99k,DP03_0061PE-Inc200k>,DP03_0066PE-%HHsWithSocSec,DP03_0072PE-%HH Inc with Cash public Ass,DP03_0074PE-%HH Inc with Food Stamps SNAP,DP03_0085PE-%Families Inc>200k,DP03_0097PE-%PHI-Priv,DP03_0098PE-%PHI-Pub,DP03_0099PE-No PHI,DP03_0119PE-% Fam <Pov,DP03_0121PE-%Fam with child U18&U5 <pov,DP03_0126PE-%F-Led Families with u18 <pov,DP04_0002PE-%Occ H U,DP04_0004E-%Ow Vac Rate,DP04_0005E-%Rn Vac Rate,DP04_0013PE-%20+HU,DP04_0017PE-%Built2014+,DP04_0029PE-%2rooms_only_HU,DP04_0039PE-Zero bedrooms,DP04_0046PE-%Owner Occup HU,DP04_0049E-Renter Ave Household size,DP04_0051PE-%moved since 2017+,DP04_0054PE-%moved 2000 to 2009,DP04_0082PE-%Value 50-99k,DP04_0083PE-%Value 100-149k,DP04_0084PE-%Value 150-199k,DP04_0087PE-%Value 500k-1m,DP05_0005PE-%under 5 yrs,DP05_0023PE-%62 yrs+,DP05_0058PE-% w & B or AM,DP05_0061PE-%White & Asian,DP05_0064PE-%White with others,crimeStats,crime,%DP03_0065E-HH-MeanEarnings,%DP03_0092E-Median Earning Workers,%DP03_0093E-Median Earnings Male FT Workers,%DP03_0094E-Median Earnings Female FT Workers,%DP04_0101E-Med Onwer Monthly Mortgage,%DP04_0134E-Median Gross Rent,%DP05_0070PE-%H&L race,meanCountyStateAvgNoHU,%DP04_0045PE-%Occup HU,%DP02_0015E-Avg HH Size,%DP02_0016E-Avg Fam Size,Countyfp,Tractce,Statefp
1,"Census Tract 330, Bronx County, New York",12.3,32.7,4.6,104.0,0.0,0.0,6.4,7.7,90.4,0.0,45.5,73.8,1.7,14.7,23.4,26.5,17.7,6.6,9.3,0.0,10.1,12.8,7.9,0.0,18.0,5.1,35.5,0.0,38.0,38.0,17.3,18.1,11.5,76.0,95.1,0.0,3.5,66.9,0.9,1.2,10.0,4.9,3.32,1.6,46.6,18.1,0.0,0.0,5.7,6.9,15.8,0.0,0.0,50.0,2490,high,82.128499,91.666243,87.352318,80.463775,NaN,99.841471,137.37776,1496.191617,142.294608,97.118208,97.748479,5,33000,36

In [8]:
print("shape NYC: ", df_ML_NYC.shape)

shape NYC:  (2140, 71)

In [9]:
df_ML_NYC['COUNTYFP'] = df_ML_NYC['Countyfp'].apply(lambda x: '{0:0>3}'.format(x)).astype(str)
df_ML_NYC['TRACTCE'] = df_ML_NYC['Tractce'].apply(lambda x: '{0:0>6}'.format(x)).astype(str)
df_ML_NYC['STATEFP'] = df_ML_NYC['Statefp'].apply(lambda x: '{0:0>2}'.format(x)).astype(str)
df_ML_NYC.drop('Statefp', inplace = True,  axis=1)
df_ML_NYC.drop('Countyfp', inplace = True,  axis=1)
df_ML_NYC.drop('Tractce', inplace = True,  axis=1)

In [10]:
df_ML_NYC[1:2]

,NAME,DP02_0008PE-%F-led HHs No H,DP02_0010PE-% Non-Fam HHs,DP02_0022PE-%Non Rel in Hs,DP02_0038E-per1000-F-U-RecentPreg,DP02_0046PE-%GPwParent&Gc1-2yrs,DP02_0048PE--%GPwParent&Gc>5yrs,DP02_0060PE-%NoSchDiploma,DP02_0063PE-%AssDeg,DP02_0079PE-% SameHouse_1YrAgo,DP02_0085PE-%LivAbroad1YrAgo,DP02_0088PE-%BornUS,DP02_0112PE-HomeLangNotEng,DP02_0134PE-%IrishAnc,DP03_0009PE-%Unemploy,"DP03_0027PE-%WorkingMgt,Bus,Sc,Arts",DP03_0028PE%WorkingService,DP03_0037PE-Retail,DP03_0040PE-%Fin&Ins,"DP03_0041PE-%ProfSc,Mgt,Admin",DP03_0050PE-%UnpaidFamilyWk,DP03_0052PE-Inc<10k,DP03_0054PE-Inc15-24k,DP03_0058PE-Inc75-99k,DP03_0061PE-Inc200k>,DP03_0066PE-%HHsWithSocSec,DP03_0072PE-%HH Inc with Cash public Ass,DP03_0074PE-%HH Inc with Food Stamps SNAP,DP03_0085PE-%Families Inc>200k,DP03_0097PE-%PHI-Priv,DP03_0098PE-%PHI-Pub,DP03_0099PE-No PHI,DP03_0119PE-% Fam <Pov,DP03_0121PE-%Fam with child U18&U5 <pov,DP03_0126PE-%F-Led Families with u18 <pov,DP04_0002PE-%Occ H U,DP04_0004E-%Ow Vac Rate,DP04_0005E-%Rn Vac Rate,DP04_0013PE-%20+HU,DP04_0017PE-%Built2014+,DP04_0029PE-%2rooms_only_HU,DP04_0039PE-Zero bedrooms,DP04_0046PE-%Owner Occup HU,DP04_0049E-Renter Ave Household size,DP04_0051PE-%moved since 2017+,DP04_0054PE-%moved 2000 to 2009,DP04_0082PE-%Value 50-99k,DP04_0083PE-%Value 100-149k,DP04_0084PE-%Value 150-199k,DP04_0087PE-%Value 500k-1m,DP05_0005PE-%under 5 yrs,DP05_0023PE-%62 yrs+,DP05_0058PE-% w & B or AM,DP05_0061PE-%White & Asian,DP05_0064PE-%White with others,crimeStats,crime,%DP03_0065E-HH-MeanEarnings,%DP03_0092E-Median Earning Workers,%DP03_0093E-Median Earnings Male FT Workers,%DP03_0094E-Median Earnings Female FT Workers,%DP04_0101E-Med Onwer Monthly Mortgage,%DP04_0134E-Median Gross Rent,%DP05_0070PE-%H&L race,meanCountyStateAvgNoHU,%DP04_0045PE-%Occup HU,%DP02_0015E-Avg HH Size,%DP02_0016E-Avg Fam Size,COUNTYFP,TRACTCE,STATEFP
1,"Census Tract 330, Bronx County, New York",12.3,32.7,4.6,104.0,0.0,0.0,6.4,7.7,90.4,0.0,45.5,73.8,1.7,14.7,23.4,26.5,17.7,6.6,9.3,0.0,10.1,12.8,7.9,0.0,18.0,5.1,35.5,0.0,38.0,38.0,17.3,18.1,11.5,76.0,95.1,0.0,3.5,66.9,0.9,1.2,10.0,4.9,3.32,1.6,46.6,18.1,0.0,0.0,5.7,6.9,15.8,0.0,0.0,50.0,2490,high,82.128499,91.666243,87.352318,80.463775,NaN,99.841471,137.37776,1496.191617,142.294608,97.118208,97.748479,005,033000,36

In [11]:
## opened a copy of cb_2018_36_tract_500k.dbf in Excel and save as a csv file. (36 is code for New York)
## the index_right gives aligns with index in csv file. 
import pandas as pd
census_tract_NYC = pd.read_csv("cb_2018_36_tract_500k.csv", header=0)
print("census tract info from New York dbf file saved as a csv file")
census_tract_NYC[1:2]

census tract info from New York dbf file saved as a csv file

   STATEFP  COUNTYFP  TRACTCE              AFFGEOID        GEOID  NAME LSAD     ALAND   AWATER
1       36        21      402  1400000US36021000402  36021000402  4.02   CT  42294908  1437327

In [12]:
census_tract_NYC['COUNTYFP'] = census_tract_NYC['COUNTYFP'].apply(lambda x: '{0:0>3}'.format(x)).astype(str)
census_tract_NYC['TRACTCE'] = census_tract_NYC['TRACTCE'].apply(lambda x: '{0:0>6}'.format(x)).astype(str)
census_tract_NYC['STATEFP'] = census_tract_NYC['STATEFP'].apply(lambda x: '{0:0>2}'.format(x)).astype(str)

In [13]:
#myDataFrame.set_index('column_name')
census_tract_NYC.reset_index(inplace=True)
census_tract_NYC[1:2]

   index STATEFP COUNTYFP TRACTCE              AFFGEOID        GEOID  NAME LSAD     ALAND   AWATER
1      1      36      021  000402  1400000US36021000402  36021000402  4.02   CT  42294908  1437327

In [14]:
##points_in_map_withTrees = pd.merge(left = points_in_map, right = groupedTract_count, how = 'inner', on = ['COUNTYFP', 'TRACTCE', 'ALAND'] )
df_ML_NYC_with_index_right = pd.merge(left = df_ML_NYC, right = census_tract_NYC, on=['STATEFP','COUNTYFP','TRACTCE'])

In [15]:
df_ML_NYC_with_index_right[1:3]  ## with index from shape file included

,NAME_x,DP02_0008PE-%F-led HHs No H,DP02_0010PE-% Non-Fam HHs,DP02_0022PE-%Non Rel in Hs,DP02_0038E-per1000-F-U-RecentPreg,DP02_0046PE-%GPwParent&Gc1-2yrs,DP02_0048PE--%GPwParent&Gc>5yrs,DP02_0060PE-%NoSchDiploma,DP02_0063PE-%AssDeg,DP02_0079PE-% SameHouse_1YrAgo,DP02_0085PE-%LivAbroad1YrAgo,DP02_0088PE-%BornUS,DP02_0112PE-HomeLangNotEng,DP02_0134PE-%IrishAnc,DP03_0009PE-%Unemploy,"DP03_0027PE-%WorkingMgt,Bus,Sc,Arts",DP03_0028PE%WorkingService,DP03_0037PE-Retail,DP03_0040PE-%Fin&Ins,"DP03_0041PE-%ProfSc,Mgt,Admin",DP03_0050PE-%UnpaidFamilyWk,DP03_0052PE-Inc<10k,DP03_0054PE-Inc15-24k,DP03_0058PE-Inc75-99k,DP03_0061PE-Inc200k>,DP03_0066PE-%HHsWithSocSec,DP03_0072PE-%HH Inc with Cash public Ass,DP03_0074PE-%HH Inc with Food Stamps SNAP,DP03_0085PE-%Families Inc>200k,DP03_0097PE-%PHI-Priv,DP03_0098PE-%PHI-Pub,DP03_0099PE-No PHI,DP03_0119PE-% Fam <Pov,DP03_0121PE-%Fam with child U18&U5 <pov,DP03_0126PE-%F-Led Families with u18 <pov,DP04_0002PE-%Occ H U,DP04_0004E-%Ow Vac Rate,DP04_0005E-%Rn Vac Rate,DP04_0013PE-%20+HU,DP04_0017PE-%Built2014+,DP04_0029PE-%2rooms_only_HU,DP04_0039PE-Zero bedrooms,DP04_0046PE-%Owner Occup HU,DP04_0049E-Renter Ave Household size,DP04_0051PE-%moved since 2017+,DP04_0054PE-%moved 2000 to 2009,DP04_0082PE-%Value 50-99k,DP04_0083PE-%Value 100-149k,DP04_0084PE-%Value 150-199k,DP04_0087PE-%Value 500k-1m,DP05_0005PE-%under 5 yrs,DP05_0023PE-%62 yrs+,DP05_0058PE-% w & B or AM,DP05_0061PE-%White & Asian,DP05_0064PE-%White with others,crimeStats,crime,%DP03_0065E-HH-MeanEarnings,%DP03_0092E-Median Earning Workers,%DP03_0093E-Median Earnings Male FT Workers,%DP03_0094E-Median Earnings Female FT Workers,%DP04_0101E-Med Onwer Monthly Mortgage,%DP04_0134E-Median Gross Rent,%DP05_0070PE-%H&L race,meanCountyStateAvgNoHU,%DP04_0045PE-%Occup HU,%DP02_0015E-Avg HH Size,%DP02_0016E-Avg Fam Size,COUNTYFP,TRACTCE,STATEFP,index,AFFGEOID,GEOID,NAME_y,LSAD,ALAND,AWATER
1,"Census Tract 330, Bronx County, New York",12.3,32.7,4.6,104.0,0.0,0.0,6.4,7.7,90.4,0.0,45.5,73.8,1.7,14.7,23.4,26.5,17.7,6.6,9.3,0.0,10.1,12.8,7.9,0.0,18.0,5.1,35.5,0.0,38.0,38.0,17.3,18.1,11.5,76.0,95.1,0.0,3.5,66.9,0.9,1.2,10.0,4.9,3.32,1.6,46.6,18.1,0.0,0.0,5.7,6.9,15.8,0.0,0.0,50.0,2490,high,82.128499,91.666243,87.352318,80.463775,NaN,99.841471,137.377760,1496.191617,142.294608,97.118208,97.748479,005,033000,36,1667,1400000US36005033000,36005033000,330.0,CT,206129,0
2,"Census Tract 358, Bronx County, New York",23.1,22.8,6.6,84.0,0.0,5.7,6.0,11.0,89.6,0.4,53.1,30.0,0.0,11.1,38.7,24.6,11.7,6.9,5.6,0.0,2.0,7.6,16.2,7.1,35.2,0.0,15.5,8.4,70.1,70.1,4.3,5.5,9.8,0.0,95.8,1.6,3.5,3.1,0.0,0.9,2.9,65.9,3.34,1.9,30.7,1.1,0.0,0.0,18.6,5.4,19.0,0.0,0.0,10.4,1667,low,141.872662,109.079761,105.321965,105.806697,115.169251,118.468611,188.010277,1496.191617,163.281225,115.063963,104.303041,005,035800,36,4048,1400000US36005035800,36005035800,358.0,CT,651471,0

In [16]:
df_ML_NYC_with_index_right.drop('NAME_y', inplace = True,  axis=1)
df_ML_NYC_with_index_right.drop('AWATER', inplace = True,  axis=1)
df_ML_NYC_with_index_right.drop('LSAD', inplace = True,  axis=1)
df_ML_NYC_with_index_right.drop('ALAND', inplace = True,  axis=1)
#df2 = df.rename({'a': 'X', 'b': 'Y'}, axis=1)

In [17]:
df_ML_NYC_with_index_right.rename({'NAME_x': 'NAME'}, axis = 1, inplace = True) 
df_ML_NYC_with_index_right[1:2]

,NAME,DP02_0008PE-%F-led HHs No H,DP02_0010PE-% Non-Fam HHs,DP02_0022PE-%Non Rel in Hs,DP02_0038E-per1000-F-U-RecentPreg,DP02_0046PE-%GPwParent&Gc1-2yrs,DP02_0048PE--%GPwParent&Gc>5yrs,DP02_0060PE-%NoSchDiploma,DP02_0063PE-%AssDeg,DP02_0079PE-% SameHouse_1YrAgo,DP02_0085PE-%LivAbroad1YrAgo,DP02_0088PE-%BornUS,DP02_0112PE-HomeLangNotEng,DP02_0134PE-%IrishAnc,DP03_0009PE-%Unemploy,"DP03_0027PE-%WorkingMgt,Bus,Sc,Arts",DP03_0028PE%WorkingService,DP03_0037PE-Retail,DP03_0040PE-%Fin&Ins,"DP03_0041PE-%ProfSc,Mgt,Admin",DP03_0050PE-%UnpaidFamilyWk,DP03_0052PE-Inc<10k,DP03_0054PE-Inc15-24k,DP03_0058PE-Inc75-99k,DP03_0061PE-Inc200k>,DP03_0066PE-%HHsWithSocSec,DP03_0072PE-%HH Inc with Cash public Ass,DP03_0074PE-%HH Inc with Food Stamps SNAP,DP03_0085PE-%Families Inc>200k,DP03_0097PE-%PHI-Priv,DP03_0098PE-%PHI-Pub,DP03_0099PE-No PHI,DP03_0119PE-% Fam <Pov,DP03_0121PE-%Fam with child U18&U5 <pov,DP03_0126PE-%F-Led Families with u18 <pov,DP04_0002PE-%Occ H U,DP04_0004E-%Ow Vac Rate,DP04_0005E-%Rn Vac Rate,DP04_0013PE-%20+HU,DP04_0017PE-%Built2014+,DP04_0029PE-%2rooms_only_HU,DP04_0039PE-Zero bedrooms,DP04_0046PE-%Owner Occup HU,DP04_0049E-Renter Ave Household size,DP04_0051PE-%moved since 2017+,DP04_0054PE-%moved 2000 to 2009,DP04_0082PE-%Value 50-99k,DP04_0083PE-%Value 100-149k,DP04_0084PE-%Value 150-199k,DP04_0087PE-%Value 500k-1m,DP05_0005PE-%under 5 yrs,DP05_0023PE-%62 yrs+,DP05_0058PE-% w & B or AM,DP05_0061PE-%White & Asian,DP05_0064PE-%White with others,crimeStats,crime,%DP03_0065E-HH-MeanEarnings,%DP03_0092E-Median Earning Workers,%DP03_0093E-Median Earnings Male FT Workers,%DP03_0094E-Median Earnings Female FT Workers,%DP04_0101E-Med Onwer Monthly Mortgage,%DP04_0134E-Median Gross Rent,%DP05_0070PE-%H&L race,meanCountyStateAvgNoHU,%DP04_0045PE-%Occup HU,%DP02_0015E-Avg HH Size,%DP02_0016E-Avg Fam Size,COUNTYFP,TRACTCE,STATEFP,index,AFFGEOID,GEOID
1,"Census Tract 330, Bronx County, New York",12.3,32.7,4.6,104.0,0.0,0.0,6.4,7.7,90.4,0.0,45.5,73.8,1.7,14.7,23.4,26.5,17.7,6.6,9.3,0.0,10.1,12.8,7.9,0.0,18.0,5.1,35.5,0.0,38.0,38.0,17.3,18.1,11.5,76.0,95.1,0.0,3.5,66.9,0.9,1.2,10.0,4.9,3.32,1.6,46.6,18.1,0.0,0.0,5.7,6.9,15.8,0.0,0.0,50.0,2490,high,82.128499,91.666243,87.352318,80.463775,NaN,99.841471,137.37776,1496.191617,142.294608,97.118208,97.748479,005,033000,36,1667,1400000US36005033000,36005033000

In [19]:
df_ML_NYC_with_index_right.to_csv("NYC_CSV_Mar8th_after_shape.csv") ## for use in Stage 5 for use Tableau
df_ML_NYC_with_index_right.to_excel("NYC_CSV_Mar8th_after_shape.xlsx") ## for use in Stage 5 for use in Tableau

In [74]:
##START DALLAS, TEXAS

In [75]:
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
url_Dallas = 'https://raw.githubusercontent.com/maireadmanifold/files/main/Dallas_CSV_Cleaned_and_no_shape_Mar6th.csv'
df_ML_Dallas = pd.read_csv(url_Dallas, error_bad_lines=False, index_col=0)

In [76]:
df_ML_Dallas[1:2]

,NAME,DP02_0008PE-%F-led HHs No H,DP02_0010PE-% Non-Fam HHs,DP02_0022PE-%Non Rel in Hs,DP02_0038E-per1000-F-U-RecentPreg,DP02_0046PE-%GPwParent&Gc1-2yrs,DP02_0048PE--%GPwParent&Gc>5yrs,DP02_0060PE-%NoSchDiploma,DP02_0063PE-%AssDeg,DP02_0079PE-% SameHouse_1YrAgo,DP02_0085PE-%LivAbroad1YrAgo,DP02_0088PE-%BornUS,DP02_0112PE-HomeLangNotEng,DP02_0134PE-%IrishAnc,DP03_0009PE-%Unemploy,"DP03_0027PE-%WorkingMgt,Bus,Sc,Arts",DP03_0028PE%WorkingService,DP03_0037PE-Retail,DP03_0040PE-%Fin&Ins,"DP03_0041PE-%ProfSc,Mgt,Admin",DP03_0050PE-%UnpaidFamilyWk,DP03_0052PE-Inc<10k,DP03_0054PE-Inc15-24k,DP03_0058PE-Inc75-99k,DP03_0061PE-Inc200k>,DP03_0066PE-%HHsWithSocSec,DP03_0072PE-%HH Inc with Cash public Ass,DP03_0074PE-%HH Inc with Food Stamps SNAP,DP03_0085PE-%Families Inc>200k,DP03_0097PE-%PHI-Priv,DP03_0098PE-%PHI-Pub,DP03_0099PE-No PHI,DP03_0119PE-% Fam <Pov,DP03_0121PE-%Fam with child U18&U5 <pov,DP03_0126PE-%F-Led Families with u18 <pov,DP04_0002PE-%Occ H U,DP04_0004E-%Ow Vac Rate,DP04_0005E-%Rn Vac Rate,DP04_0013PE-%20+HU,DP04_0017PE-%Built2014+,DP04_0029PE-%2rooms_only_HU,DP04_0039PE-Zero bedrooms,DP04_0046PE-%Owner Occup HU,DP04_0049E-Renter Ave Household size,DP04_0051PE-%moved since 2017+,DP04_0054PE-%moved 2000 to 2009,DP04_0082PE-%Value 50-99k,DP04_0083PE-%Value 100-149k,DP04_0084PE-%Value 150-199k,DP04_0087PE-%Value 500k-1m,DP05_0005PE-%under 5 yrs,DP05_0023PE-%62 yrs+,DP05_0058PE-% w & B or AM,DP05_0061PE-%White & Asian,DP05_0064PE-%White with others,crimeStats,crime,%DP03_0065E-HH-MeanEarnings,%DP03_0092E-Median Earning Workers,%DP03_0093E-Median Earnings Male FT Workers,%DP03_0094E-Median Earnings Female FT Workers,%DP04_0101E-Med Onwer Monthly Mortgage,%DP04_0134E-Median Gross Rent,%DP05_0070PE-%H&L race,%DP04_0045PE-%Occup HU,%DP02_0016E-Avg Fam Size,Countyfp,Tractce,Statefp
4774,"Census Tract 178.13, Dallas County, Texas",23.9,29.0,8.1,160.0,0.0,0.0,12.4,6.8,71.5,1.2,77.8,38.2,3.3,5.4,26.1,12.7,16.7,7.3,13.3,0.0,1.9,7.7,12.0,1.4,10.7,1.2,16.8,1.9,53.0,53.0,26.5,7.1,12.8,6.8,88.7,12.7,9.0,16.7,0.4,2.7,4.6,19.5,3.06,11.1,9.6,25.0,53.4,19.3,0.0,9.1,7.2,1.2,1.4,52.4,1,low,67.301566,82.371861,70.770297,79.141912,73.756212,91.566075,141.579924,100.0,94.082194,113,17813,48

In [77]:
df_ML_Dallas['COUNTYFP'] = df_ML_Dallas['Countyfp'].apply(lambda x: '{0:0>3}'.format(x)).astype(str)
df_ML_Dallas['STATEFP'] = df_ML_Dallas['Statefp'].apply(lambda x: '{0:0>2}'.format(x)).astype(str)
df_ML_Dallas['TRACTCE'] = df_ML_Dallas['Tractce'].apply(lambda x: '{0:0>6}'.format(x)).astype(str)
df_ML_Dallas.drop('Statefp', inplace = True,  axis=1)
df_ML_Dallas.drop('Countyfp', inplace = True,  axis=1)
df_ML_Dallas.drop('Tractce', inplace = True,  axis=1)

In [78]:
df_ML_Dallas[1:3]

,NAME,DP02_0008PE-%F-led HHs No H,DP02_0010PE-% Non-Fam HHs,DP02_0022PE-%Non Rel in Hs,DP02_0038E-per1000-F-U-RecentPreg,DP02_0046PE-%GPwParent&Gc1-2yrs,DP02_0048PE--%GPwParent&Gc>5yrs,DP02_0060PE-%NoSchDiploma,DP02_0063PE-%AssDeg,DP02_0079PE-% SameHouse_1YrAgo,DP02_0085PE-%LivAbroad1YrAgo,DP02_0088PE-%BornUS,DP02_0112PE-HomeLangNotEng,DP02_0134PE-%IrishAnc,DP03_0009PE-%Unemploy,"DP03_0027PE-%WorkingMgt,Bus,Sc,Arts",DP03_0028PE%WorkingService,DP03_0037PE-Retail,DP03_0040PE-%Fin&Ins,"DP03_0041PE-%ProfSc,Mgt,Admin",DP03_0050PE-%UnpaidFamilyWk,DP03_0052PE-Inc<10k,DP03_0054PE-Inc15-24k,DP03_0058PE-Inc75-99k,DP03_0061PE-Inc200k>,DP03_0066PE-%HHsWithSocSec,DP03_0072PE-%HH Inc with Cash public Ass,DP03_0074PE-%HH Inc with Food Stamps SNAP,DP03_0085PE-%Families Inc>200k,DP03_0097PE-%PHI-Priv,DP03_0098PE-%PHI-Pub,DP03_0099PE-No PHI,DP03_0119PE-% Fam <Pov,DP03_0121PE-%Fam with child U18&U5 <pov,DP03_0126PE-%F-Led Families with u18 <pov,DP04_0002PE-%Occ H U,DP04_0004E-%Ow Vac Rate,DP04_0005E-%Rn Vac Rate,DP04_0013PE-%20+HU,DP04_0017PE-%Built2014+,DP04_0029PE-%2rooms_only_HU,DP04_0039PE-Zero bedrooms,DP04_0046PE-%Owner Occup HU,DP04_0049E-Renter Ave Household size,DP04_0051PE-%moved since 2017+,DP04_0054PE-%moved 2000 to 2009,DP04_0082PE-%Value 50-99k,DP04_0083PE-%Value 100-149k,DP04_0084PE-%Value 150-199k,DP04_0087PE-%Value 500k-1m,DP05_0005PE-%under 5 yrs,DP05_0023PE-%62 yrs+,DP05_0058PE-% w & B or AM,DP05_0061PE-%White & Asian,DP05_0064PE-%White with others,crimeStats,crime,%DP03_0065E-HH-MeanEarnings,%DP03_0092E-Median Earning Workers,%DP03_0093E-Median Earnings Male FT Workers,%DP03_0094E-Median Earnings Female FT Workers,%DP04_0101E-Med Onwer Monthly Mortgage,%DP04_0134E-Median Gross Rent,%DP05_0070PE-%H&L race,%DP04_0045PE-%Occup HU,%DP02_0016E-Avg Fam Size,COUNTYFP,STATEFP,TRACTCE
4774,"Census Tract 178.13, Dallas County, Texas",23.9,29.0,8.1,160.0,0.0,0.0,12.4,6.8,71.5,1.2,77.8,38.2,3.3,5.4,26.1,12.7,16.7,7.3,13.3,0.0,1.9,7.7,12.0,1.4,10.7,1.2,16.8,1.9,53.0,53.0,26.5,7.1,12.8,6.8,88.7,12.7,9.0,16.7,0.4,2.7,4.6,19.5,3.06,11.1,9.6,25.0,53.4,19.3,0.0,9.1,7.2,1.2,1.4,52.4,1,low,67.301566,82.371861,70.770297,79.141912,73.756212,91.566075,141.579924,100.0,94.082194,113,48,017813
4775,"Census Tract 184.01, Dallas County, Texas",16.4,27.0,2.8,133.0,1.9,16.8,22.3,5.2,85.1,0.3,71.7,55.6,3.3,3.6,22.0,11.9,9.8,6.3,10.2,0.0,2.5,12.5,14.4,5.8,25.8,0.7,18.6,5.3,46.4,46.4,30.4,21.9,78.6,64.9,95.7,2.9,6.5,3.2,0.0,3.2,0.0,61.9,3.11,3.7,21.9,17.6,37.5,33.7,0.8,8.1,11.9,2.9,0.2,73.5,2,low,80.077017,64.166907,74.141088,61.458103,77.641170,79.513344,103.166925,100.0,118.398823,113,48,018401

In [79]:
import pandas as pd
## saved the dcb_2018_48_tract_500k.dbf file as a csv file to get access to the tract ID
## the index_right gives aligns with the tract ID in this file. 
census_tract_Texas = pd.read_csv("cb_2018_48_tract_500k.csv", header=0)
print("census tract info from Texas dbf file saved as a csv file")
census_tract_Texas[1:2]

census tract info from Texas dbf file saved as a csv file

   STATEFP  COUNTYFP  TRACTCE              AFFGEOID        GEOID    NAME LSAD    ALAND  AWATER
1       48       113    14129  1400000US48113014129  48113014129  141.29   CT  2478837    4984

In [80]:
census_tract_Texas['COUNTYFP'] = census_tract_Texas['COUNTYFP'].apply(lambda x: '{0:0>3}'.format(x)).astype(str)
census_tract_Texas['STATEFP'] = census_tract_Texas['STATEFP'].apply(lambda x: '{0:0>2}'.format(x)).astype(str)
census_tract_Texas['TRACTCE'] = census_tract_Texas['TRACTCE'].apply(lambda x: '{0:0>6}'.format(x)).astype(str)

In [81]:
#myDataFrame.set_index('column_name')
census_tract_Texas.reset_index(inplace=True)
census_tract_Texas[1:5]

   index STATEFP COUNTYFP TRACTCE              AFFGEOID        GEOID    NAME LSAD    ALAND  AWATER
1      1      48      113  014129  1400000US48113014129  48113014129  141.29   CT  2478837    4984
2      2      48      113  014311  1400000US48113014311  48113014311  143.11   CT   903480       0
3      3      48      113  014601  1400000US48113014601  48113014601  146.01   CT  1159772       0
4      4      48      113  014902  1400000US48113014902  48113014902  149.02   CT  1786032       0

In [82]:
##points_in_map_withTrees = pd.merge(left = points_in_map, right = groupedTract_count, how = 'inner', on = ['COUNTYFP', 'TRACTCE', 'ALAND'] )
df_ML_Dallas_with_index_right = pd.merge(left = df_ML_Dallas, right = census_tract_Texas, on=['STATEFP','COUNTYFP','TRACTCE'])

In [83]:
df_ML_Dallas_with_index_right[1:3]

,NAME_x,DP02_0008PE-%F-led HHs No H,DP02_0010PE-% Non-Fam HHs,DP02_0022PE-%Non Rel in Hs,DP02_0038E-per1000-F-U-RecentPreg,DP02_0046PE-%GPwParent&Gc1-2yrs,DP02_0048PE--%GPwParent&Gc>5yrs,DP02_0060PE-%NoSchDiploma,DP02_0063PE-%AssDeg,DP02_0079PE-% SameHouse_1YrAgo,DP02_0085PE-%LivAbroad1YrAgo,DP02_0088PE-%BornUS,DP02_0112PE-HomeLangNotEng,DP02_0134PE-%IrishAnc,DP03_0009PE-%Unemploy,"DP03_0027PE-%WorkingMgt,Bus,Sc,Arts",DP03_0028PE%WorkingService,DP03_0037PE-Retail,DP03_0040PE-%Fin&Ins,"DP03_0041PE-%ProfSc,Mgt,Admin",DP03_0050PE-%UnpaidFamilyWk,DP03_0052PE-Inc<10k,DP03_0054PE-Inc15-24k,DP03_0058PE-Inc75-99k,DP03_0061PE-Inc200k>,DP03_0066PE-%HHsWithSocSec,DP03_0072PE-%HH Inc with Cash public Ass,DP03_0074PE-%HH Inc with Food Stamps SNAP,DP03_0085PE-%Families Inc>200k,DP03_0097PE-%PHI-Priv,DP03_0098PE-%PHI-Pub,DP03_0099PE-No PHI,DP03_0119PE-% Fam <Pov,DP03_0121PE-%Fam with child U18&U5 <pov,DP03_0126PE-%F-Led Families with u18 <pov,DP04_0002PE-%Occ H U,DP04_0004E-%Ow Vac Rate,DP04_0005E-%Rn Vac Rate,DP04_0013PE-%20+HU,DP04_0017PE-%Built2014+,DP04_0029PE-%2rooms_only_HU,DP04_0039PE-Zero bedrooms,DP04_0046PE-%Owner Occup HU,DP04_0049E-Renter Ave Household size,DP04_0051PE-%moved since 2017+,DP04_0054PE-%moved 2000 to 2009,DP04_0082PE-%Value 50-99k,DP04_0083PE-%Value 100-149k,DP04_0084PE-%Value 150-199k,DP04_0087PE-%Value 500k-1m,DP05_0005PE-%under 5 yrs,DP05_0023PE-%62 yrs+,DP05_0058PE-% w & B or AM,DP05_0061PE-%White & Asian,DP05_0064PE-%White with others,crimeStats,crime,%DP03_0065E-HH-MeanEarnings,%DP03_0092E-Median Earning Workers,%DP03_0093E-Median Earnings Male FT Workers,%DP03_0094E-Median Earnings Female FT Workers,%DP04_0101E-Med Onwer Monthly Mortgage,%DP04_0134E-Median Gross Rent,%DP05_0070PE-%H&L race,%DP04_0045PE-%Occup HU,%DP02_0016E-Avg Fam Size,COUNTYFP,STATEFP,TRACTCE,index,AFFGEOID,GEOID,NAME_y,LSAD,ALAND,AWATER
1,"Census Tract 178.13, Dallas County, Texas",23.9,29.0,8.1,160.0,0.0,0.0,12.4,6.8,71.5,1.2,77.8,38.2,3.3,5.4,26.1,12.7,16.7,7.3,13.3,0.0,1.9,7.7,12.0,1.4,10.7,1.2,16.8,1.9,53.0,53.0,26.5,7.1,12.8,6.8,88.7,12.7,9.0,16.7,0.4,2.7,4.6,19.5,3.06,11.1,9.6,25.0,53.4,19.3,0.0,9.1,7.2,1.2,1.4,52.4,1,low,67.301566,82.371861,70.770297,79.141912,73.756212,91.566075,141.579924,100.0,94.082194,113,48,017813,458,1400000US48113017813,48113017813,178.13,CT,2817901,0
2,"Census Tract 184.01, Dallas County, Texas",16.4,27.0,2.8,133.0,1.9,16.8,22.3,5.2,85.1,0.3,71.7,55.6,3.3,3.6,22.0,11.9,9.8,6.3,10.2,0.0,2.5,12.5,14.4,5.8,25.8,0.7,18.6,5.3,46.4,46.4,30.4,21.9,78.6,64.9,95.7,2.9,6.5,3.2,0.0,3.2,0.0,61.9,3.11,3.7,21.9,17.6,37.5,33.7,0.8,8.1,11.9,2.9,0.2,73.5,2,low,80.077017,64.166907,74.141088,61.458103,77.641170,79.513344,103.166925,100.0,118.398823,113,48,018401,4205,1400000US48113018401,48113018401,184.01,CT,2458951,0

In [84]:
df_ML_Dallas_with_index_right.drop('NAME_y', inplace = True,  axis=1)
df_ML_Dallas_with_index_right.drop('AWATER', inplace = True,  axis=1)
df_ML_Dallas_with_index_right.drop('LSAD', inplace = True,  axis=1)
df_ML_Dallas_with_index_right.drop('ALAND', inplace = True,  axis=1)
#df2 = df.rename({'a': 'X', 'b': 'Y'}, axis=1) 
df_ML_Dallas_with_index_right.rename({'NAME_x': 'NAME'}, axis = 1, inplace = True) 
df_ML_Dallas_with_index_right[1:2]

,NAME,DP02_0008PE-%F-led HHs No H,DP02_0010PE-% Non-Fam HHs,DP02_0022PE-%Non Rel in Hs,DP02_0038E-per1000-F-U-RecentPreg,DP02_0046PE-%GPwParent&Gc1-2yrs,DP02_0048PE--%GPwParent&Gc>5yrs,DP02_0060PE-%NoSchDiploma,DP02_0063PE-%AssDeg,DP02_0079PE-% SameHouse_1YrAgo,DP02_0085PE-%LivAbroad1YrAgo,DP02_0088PE-%BornUS,DP02_0112PE-HomeLangNotEng,DP02_0134PE-%IrishAnc,DP03_0009PE-%Unemploy,"DP03_0027PE-%WorkingMgt,Bus,Sc,Arts",DP03_0028PE%WorkingService,DP03_0037PE-Retail,DP03_0040PE-%Fin&Ins,"DP03_0041PE-%ProfSc,Mgt,Admin",DP03_0050PE-%UnpaidFamilyWk,DP03_0052PE-Inc<10k,DP03_0054PE-Inc15-24k,DP03_0058PE-Inc75-99k,DP03_0061PE-Inc200k>,DP03_0066PE-%HHsWithSocSec,DP03_0072PE-%HH Inc with Cash public Ass,DP03_0074PE-%HH Inc with Food Stamps SNAP,DP03_0085PE-%Families Inc>200k,DP03_0097PE-%PHI-Priv,DP03_0098PE-%PHI-Pub,DP03_0099PE-No PHI,DP03_0119PE-% Fam <Pov,DP03_0121PE-%Fam with child U18&U5 <pov,DP03_0126PE-%F-Led Families with u18 <pov,DP04_0002PE-%Occ H U,DP04_0004E-%Ow Vac Rate,DP04_0005E-%Rn Vac Rate,DP04_0013PE-%20+HU,DP04_0017PE-%Built2014+,DP04_0029PE-%2rooms_only_HU,DP04_0039PE-Zero bedrooms,DP04_0046PE-%Owner Occup HU,DP04_0049E-Renter Ave Household size,DP04_0051PE-%moved since 2017+,DP04_0054PE-%moved 2000 to 2009,DP04_0082PE-%Value 50-99k,DP04_0083PE-%Value 100-149k,DP04_0084PE-%Value 150-199k,DP04_0087PE-%Value 500k-1m,DP05_0005PE-%under 5 yrs,DP05_0023PE-%62 yrs+,DP05_0058PE-% w & B or AM,DP05_0061PE-%White & Asian,DP05_0064PE-%White with others,crimeStats,crime,%DP03_0065E-HH-MeanEarnings,%DP03_0092E-Median Earning Workers,%DP03_0093E-Median Earnings Male FT Workers,%DP03_0094E-Median Earnings Female FT Workers,%DP04_0101E-Med Onwer Monthly Mortgage,%DP04_0134E-Median Gross Rent,%DP05_0070PE-%H&L race,%DP04_0045PE-%Occup HU,%DP02_0016E-Avg Fam Size,COUNTYFP,STATEFP,TRACTCE,index,AFFGEOID,GEOID
1,"Census Tract 178.13, Dallas County, Texas",23.9,29.0,8.1,160.0,0.0,0.0,12.4,6.8,71.5,1.2,77.8,38.2,3.3,5.4,26.1,12.7,16.7,7.3,13.3,0.0,1.9,7.7,12.0,1.4,10.7,1.2,16.8,1.9,53.0,53.0,26.5,7.1,12.8,6.8,88.7,12.7,9.0,16.7,0.4,2.7,4.6,19.5,3.06,11.1,9.6,25.0,53.4,19.3,0.0,9.1,7.2,1.2,1.4,52.4,1,low,67.301566,82.371861,70.770297,79.141912,73.756212,91.566075,141.579924,100.0,94.082194,113,48,017813,458,1400000US48113017813,48113017813

In [85]:
df_ML_Dallas_with_index_right['COUNTYFP'].unique()

array(['113', '085', '121', '251', '201', '397', '439', '231', '257',
       '061', '139', '029', '309'], dtype=object)

In [86]:
Dallas_list = ['113', '085', '121', '183', '251', '201', '397', '439', '231', '491']
df_ML_Dallas_with_index_right2 = df_ML_Dallas_with_index_right[df_ML_Dallas_with_index_right.COUNTYFP.isin(Dallas_list)]
df_ML_Dallas_with_index_right2[1:3]

,NAME,DP02_0008PE-%F-led HHs No H,DP02_0010PE-% Non-Fam HHs,DP02_0022PE-%Non Rel in Hs,DP02_0038E-per1000-F-U-RecentPreg,DP02_0046PE-%GPwParent&Gc1-2yrs,DP02_0048PE--%GPwParent&Gc>5yrs,DP02_0060PE-%NoSchDiploma,DP02_0063PE-%AssDeg,DP02_0079PE-% SameHouse_1YrAgo,DP02_0085PE-%LivAbroad1YrAgo,DP02_0088PE-%BornUS,DP02_0112PE-HomeLangNotEng,DP02_0134PE-%IrishAnc,DP03_0009PE-%Unemploy,"DP03_0027PE-%WorkingMgt,Bus,Sc,Arts",DP03_0028PE%WorkingService,DP03_0037PE-Retail,DP03_0040PE-%Fin&Ins,"DP03_0041PE-%ProfSc,Mgt,Admin",DP03_0050PE-%UnpaidFamilyWk,DP03_0052PE-Inc<10k,DP03_0054PE-Inc15-24k,DP03_0058PE-Inc75-99k,DP03_0061PE-Inc200k>,DP03_0066PE-%HHsWithSocSec,DP03_0072PE-%HH Inc with Cash public Ass,DP03_0074PE-%HH Inc with Food Stamps SNAP,DP03_0085PE-%Families Inc>200k,DP03_0097PE-%PHI-Priv,DP03_0098PE-%PHI-Pub,DP03_0099PE-No PHI,DP03_0119PE-% Fam <Pov,DP03_0121PE-%Fam with child U18&U5 <pov,DP03_0126PE-%F-Led Families with u18 <pov,DP04_0002PE-%Occ H U,DP04_0004E-%Ow Vac Rate,DP04_0005E-%Rn Vac Rate,DP04_0013PE-%20+HU,DP04_0017PE-%Built2014+,DP04_0029PE-%2rooms_only_HU,DP04_0039PE-Zero bedrooms,DP04_0046PE-%Owner Occup HU,DP04_0049E-Renter Ave Household size,DP04_0051PE-%moved since 2017+,DP04_0054PE-%moved 2000 to 2009,DP04_0082PE-%Value 50-99k,DP04_0083PE-%Value 100-149k,DP04_0084PE-%Value 150-199k,DP04_0087PE-%Value 500k-1m,DP05_0005PE-%under 5 yrs,DP05_0023PE-%62 yrs+,DP05_0058PE-% w & B or AM,DP05_0061PE-%White & Asian,DP05_0064PE-%White with others,crimeStats,crime,%DP03_0065E-HH-MeanEarnings,%DP03_0092E-Median Earning Workers,%DP03_0093E-Median Earnings Male FT Workers,%DP03_0094E-Median Earnings Female FT Workers,%DP04_0101E-Med Onwer Monthly Mortgage,%DP04_0134E-Median Gross Rent,%DP05_0070PE-%H&L race,%DP04_0045PE-%Occup HU,%DP02_0016E-Avg Fam Size,COUNTYFP,STATEFP,TRACTCE,index,AFFGEOID,GEOID
1,"Census Tract 178.13, Dallas County, Texas",23.9,29.0,8.1,160.0,0.0,0.0,12.4,6.8,71.5,1.2,77.8,38.2,3.3,5.4,26.1,12.7,16.7,7.3,13.3,0.0,1.9,7.7,12.0,1.4,10.7,1.2,16.8,1.9,53.0,53.0,26.5,7.1,12.8,6.8,88.7,12.7,9.0,16.7,0.4,2.7,4.6,19.5,3.06,11.1,9.6,25.0,53.4,19.3,0.0,9.1,7.2,1.2,1.4,52.4,1,low,67.301566,82.371861,70.770297,79.141912,73.756212,91.566075,141.579924,100.0,94.082194,113,48,017813,458,1400000US48113017813,48113017813
2,"Census Tract 184.01, Dallas County, Texas",16.4,27.0,2.8,133.0,1.9,16.8,22.3,5.2,85.1,0.3,71.7,55.6,3.3,3.6,22.0,11.9,9.8,6.3,10.2,0.0,2.5,12.5,14.4,5.8,25.8,0.7,18.6,5.3,46.4,46.4,30.4,21.9,78.6,64.9,95.7,2.9,6.5,3.2,0.0,3.2,0.0,61.9,3.11,3.7,21.9,17.6,37.5,33.7,0.8,8.1,11.9,2.9,0.2,73.5,2,low,80.077017,64.166907,74.141088,61.458103,77.641170,79.513344,103.166925,100.0,118.398823,113,48,018401,4205,1400000US48113018401,48113018401

In [87]:
df_ML_Dallas_with_index_right2['COUNTYFP'].unique()

array(['113', '085', '121', '251', '201', '397', '439', '231'],
      dtype=object)

In [88]:
df_ML_Dallas_with_index_right.to_excel("Dallas_CSV_Mar6th_after_shape.xlsx")

In [89]:
## START LA AND SF

In [90]:
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
url_LAandSF = 'https://raw.githubusercontent.com/maireadmanifold/files/main/LA_and_SF_CSV_Cleaned_and_no_shape_Mar6th.csv'
df_ML_LAandSF = pd.read_csv(url_LAandSF, error_bad_lines=False, index_col=0)

In [91]:
df_ML_LAandSF[1:2]

,NAME,DP02_0008PE-%F-led HHs No H,DP02_0010PE-% Non-Fam HHs,DP02_0022PE-%Non Rel in Hs,DP02_0038E-per1000-F-U-RecentPreg,DP02_0046PE-%GPwParent&Gc1-2yrs,DP02_0048PE--%GPwParent&Gc>5yrs,DP02_0060PE-%NoSchDiploma,DP02_0063PE-%AssDeg,DP02_0079PE-% SameHouse_1YrAgo,DP02_0085PE-%LivAbroad1YrAgo,DP02_0088PE-%BornUS,DP02_0112PE-HomeLangNotEng,DP02_0134PE-%IrishAnc,DP03_0009PE-%Unemploy,"DP03_0027PE-%WorkingMgt,Bus,Sc,Arts",DP03_0028PE%WorkingService,DP03_0037PE-Retail,DP03_0040PE-%Fin&Ins,"DP03_0041PE-%ProfSc,Mgt,Admin",DP03_0050PE-%UnpaidFamilyWk,DP03_0052PE-Inc<10k,DP03_0054PE-Inc15-24k,DP03_0058PE-Inc75-99k,DP03_0061PE-Inc200k>,DP03_0066PE-%HHsWithSocSec,DP03_0072PE-%HH Inc with Cash public Ass,DP03_0074PE-%HH Inc with Food Stamps SNAP,DP03_0085PE-%Families Inc>200k,DP03_0097PE-%PHI-Priv,DP03_0098PE-%PHI-Pub,DP03_0099PE-No PHI,DP03_0119PE-% Fam <Pov,DP03_0121PE-%Fam with child U18&U5 <pov,DP03_0126PE-%F-Led Families with u18 <pov,DP04_0002PE-%Occ H U,DP04_0004E-%Ow Vac Rate,DP04_0005E-%Rn Vac Rate,DP04_0013PE-%20+HU,DP04_0017PE-%Built2014+,DP04_0029PE-%2rooms_only_HU,DP04_0039PE-Zero bedrooms,DP04_0046PE-%Owner Occup HU,DP04_0049E-Renter Ave Household size,DP04_0051PE-%moved since 2017+,DP04_0054PE-%moved 2000 to 2009,DP04_0082PE-%Value 50-99k,DP04_0083PE-%Value 100-149k,DP04_0084PE-%Value 150-199k,DP04_0087PE-%Value 500k-1m,DP05_0005PE-%under 5 yrs,DP05_0023PE-%62 yrs+,DP05_0058PE-% w & B or AM,DP05_0061PE-%White & Asian,DP05_0064PE-%White with others,crimeStats,crime,%DP03_0065E-HH-MeanEarnings,%DP03_0092E-Median Earning Workers,%DP03_0093E-Median Earnings Male FT Workers,%DP03_0094E-Median Earnings Female FT Workers,%DP04_0101E-Med Onwer Monthly Mortgage,%DP04_0134E-Median Gross Rent,%DP05_0070PE-%H&L race,%DP04_0045PE-%Occup HU,%DP02_0016E-Avg Fam Size,Countyfp,Tractce,Statefp
3242,"Census Tract 5501, Los Angeles County, California",12.6,15.9,4.9,46.0,2.0,3.3,10.1,7.3,97.5,0.2,64.1,74.0,0.8,4.6,28.7,20.0,12.4,5.8,4.2,0.0,3.8,5.4,17.0,5.6,23.8,2.7,5.5,4.2,73.6,73.6,3.0,7.5,5.4,6.3,96.5,3.7,0.0,3.5,0.0,0.4,2.1,81.8,3.89,0.5,29.5,0.0,0.0,0.0,9.4,6.6,14.9,0.0,0.9,49.0,1,low,91.633449,85.201482,76.66487,72.735944,74.119037,81.583207,177.63878,100.0,119.101258,37,550100,6

In [92]:
df_ML_LAandSF['COUNTYFP'] = df_ML_LAandSF['Countyfp'].apply(lambda x: '{0:0>3}'.format(x)).astype(str)
df_ML_LAandSF['TRACTCE'] = df_ML_LAandSF['Tractce'].apply(lambda x: '{0:0>6}'.format(x)).astype(str)
df_ML_LAandSF['STATEFP'] = df_ML_LAandSF['Statefp'].apply(lambda x: '{0:0>2}'.format(x)).astype(str)
df_ML_LAandSF.drop('Statefp', inplace = True,  axis=1)
df_ML_LAandSF.drop('Countyfp', inplace = True,  axis=1)
df_ML_LAandSF.drop('Tractce', inplace = True,  axis=1)

In [93]:
df_ML_LAandSF[1:2]

,NAME,DP02_0008PE-%F-led HHs No H,DP02_0010PE-% Non-Fam HHs,DP02_0022PE-%Non Rel in Hs,DP02_0038E-per1000-F-U-RecentPreg,DP02_0046PE-%GPwParent&Gc1-2yrs,DP02_0048PE--%GPwParent&Gc>5yrs,DP02_0060PE-%NoSchDiploma,DP02_0063PE-%AssDeg,DP02_0079PE-% SameHouse_1YrAgo,DP02_0085PE-%LivAbroad1YrAgo,DP02_0088PE-%BornUS,DP02_0112PE-HomeLangNotEng,DP02_0134PE-%IrishAnc,DP03_0009PE-%Unemploy,"DP03_0027PE-%WorkingMgt,Bus,Sc,Arts",DP03_0028PE%WorkingService,DP03_0037PE-Retail,DP03_0040PE-%Fin&Ins,"DP03_0041PE-%ProfSc,Mgt,Admin",DP03_0050PE-%UnpaidFamilyWk,DP03_0052PE-Inc<10k,DP03_0054PE-Inc15-24k,DP03_0058PE-Inc75-99k,DP03_0061PE-Inc200k>,DP03_0066PE-%HHsWithSocSec,DP03_0072PE-%HH Inc with Cash public Ass,DP03_0074PE-%HH Inc with Food Stamps SNAP,DP03_0085PE-%Families Inc>200k,DP03_0097PE-%PHI-Priv,DP03_0098PE-%PHI-Pub,DP03_0099PE-No PHI,DP03_0119PE-% Fam <Pov,DP03_0121PE-%Fam with child U18&U5 <pov,DP03_0126PE-%F-Led Families with u18 <pov,DP04_0002PE-%Occ H U,DP04_0004E-%Ow Vac Rate,DP04_0005E-%Rn Vac Rate,DP04_0013PE-%20+HU,DP04_0017PE-%Built2014+,DP04_0029PE-%2rooms_only_HU,DP04_0039PE-Zero bedrooms,DP04_0046PE-%Owner Occup HU,DP04_0049E-Renter Ave Household size,DP04_0051PE-%moved since 2017+,DP04_0054PE-%moved 2000 to 2009,DP04_0082PE-%Value 50-99k,DP04_0083PE-%Value 100-149k,DP04_0084PE-%Value 150-199k,DP04_0087PE-%Value 500k-1m,DP05_0005PE-%under 5 yrs,DP05_0023PE-%62 yrs+,DP05_0058PE-% w & B or AM,DP05_0061PE-%White & Asian,DP05_0064PE-%White with others,crimeStats,crime,%DP03_0065E-HH-MeanEarnings,%DP03_0092E-Median Earning Workers,%DP03_0093E-Median Earnings Male FT Workers,%DP03_0094E-Median Earnings Female FT Workers,%DP04_0101E-Med Onwer Monthly Mortgage,%DP04_0134E-Median Gross Rent,%DP05_0070PE-%H&L race,%DP04_0045PE-%Occup HU,%DP02_0016E-Avg Fam Size,COUNTYFP,TRACTCE,STATEFP
3242,"Census Tract 5501, Los Angeles County, California",12.6,15.9,4.9,46.0,2.0,3.3,10.1,7.3,97.5,0.2,64.1,74.0,0.8,4.6,28.7,20.0,12.4,5.8,4.2,0.0,3.8,5.4,17.0,5.6,23.8,2.7,5.5,4.2,73.6,73.6,3.0,7.5,5.4,6.3,96.5,3.7,0.0,3.5,0.0,0.4,2.1,81.8,3.89,0.5,29.5,0.0,0.0,0.0,9.4,6.6,14.9,0.0,0.9,49.0,1,low,91.633449,85.201482,76.66487,72.735944,74.119037,81.583207,177.63878,100.0,119.101258,037,550100,06

In [94]:
census_tract_california = pd.read_csv("cb_2018_06_tract_500k.csv", header=0)
print("census tract info from California (which has LA) dbf file saved as a csv file")
census_tract_california[1:2]

census tract info from California (which has LA) dbf file saved as a csv file

   STATEFP  COUNTYFP  TRACTCE              AFFGEOID       GEOID  NAME LSAD      ALAND  AWATER
1        6        11      300  1400000US06011000300  6011000300   3.0   CT  952744514  195376

In [95]:
census_tract_california['COUNTYFP'] = census_tract_california['COUNTYFP'].apply(lambda x: '{0:0>3}'.format(x)).astype(str)
census_tract_california['TRACTCE'] = census_tract_california['TRACTCE'].apply(lambda x: '{0:0>6}'.format(x)).astype(str)
census_tract_california['STATEFP'] = census_tract_california['STATEFP'].apply(lambda x: '{0:0>2}'.format(x)).astype(str)
census_tract_california[1:2]

  STATEFP COUNTYFP TRACTCE              AFFGEOID       GEOID  NAME LSAD      ALAND  AWATER
1      06      011  000300  1400000US06011000300  6011000300   3.0   CT  952744514  195376

In [96]:
#myDataFrame.set_index('column_name')
census_tract_california.reset_index(inplace=True)
census_tract_california[1:2]

   index STATEFP COUNTYFP TRACTCE              AFFGEOID       GEOID  NAME LSAD      ALAND  AWATER
1      1      06      011  000300  1400000US06011000300  6011000300   3.0   CT  952744514  195376

In [97]:
##points_in_map_withTrees = pd.merge(left = points_in_map, right = groupedTract_count, how = 'inner', on = ['COUNTYFP', 'TRACTCE', 'ALAND'] )
df_ML_LAandSF_with_index_right = pd.merge(left = df_ML_LAandSF, right = census_tract_california, on=['STATEFP','COUNTYFP','TRACTCE'])
df_ML_LAandSF_with_index_right[1:2]

,NAME_x,DP02_0008PE-%F-led HHs No H,DP02_0010PE-% Non-Fam HHs,DP02_0022PE-%Non Rel in Hs,DP02_0038E-per1000-F-U-RecentPreg,DP02_0046PE-%GPwParent&Gc1-2yrs,DP02_0048PE--%GPwParent&Gc>5yrs,DP02_0060PE-%NoSchDiploma,DP02_0063PE-%AssDeg,DP02_0079PE-% SameHouse_1YrAgo,DP02_0085PE-%LivAbroad1YrAgo,DP02_0088PE-%BornUS,DP02_0112PE-HomeLangNotEng,DP02_0134PE-%IrishAnc,DP03_0009PE-%Unemploy,"DP03_0027PE-%WorkingMgt,Bus,Sc,Arts",DP03_0028PE%WorkingService,DP03_0037PE-Retail,DP03_0040PE-%Fin&Ins,"DP03_0041PE-%ProfSc,Mgt,Admin",DP03_0050PE-%UnpaidFamilyWk,DP03_0052PE-Inc<10k,DP03_0054PE-Inc15-24k,DP03_0058PE-Inc75-99k,DP03_0061PE-Inc200k>,DP03_0066PE-%HHsWithSocSec,DP03_0072PE-%HH Inc with Cash public Ass,DP03_0074PE-%HH Inc with Food Stamps SNAP,DP03_0085PE-%Families Inc>200k,DP03_0097PE-%PHI-Priv,DP03_0098PE-%PHI-Pub,DP03_0099PE-No PHI,DP03_0119PE-% Fam <Pov,DP03_0121PE-%Fam with child U18&U5 <pov,DP03_0126PE-%F-Led Families with u18 <pov,DP04_0002PE-%Occ H U,DP04_0004E-%Ow Vac Rate,DP04_0005E-%Rn Vac Rate,DP04_0013PE-%20+HU,DP04_0017PE-%Built2014+,DP04_0029PE-%2rooms_only_HU,DP04_0039PE-Zero bedrooms,DP04_0046PE-%Owner Occup HU,DP04_0049E-Renter Ave Household size,DP04_0051PE-%moved since 2017+,DP04_0054PE-%moved 2000 to 2009,DP04_0082PE-%Value 50-99k,DP04_0083PE-%Value 100-149k,DP04_0084PE-%Value 150-199k,DP04_0087PE-%Value 500k-1m,DP05_0005PE-%under 5 yrs,DP05_0023PE-%62 yrs+,DP05_0058PE-% w & B or AM,DP05_0061PE-%White & Asian,DP05_0064PE-%White with others,crimeStats,crime,%DP03_0065E-HH-MeanEarnings,%DP03_0092E-Median Earning Workers,%DP03_0093E-Median Earnings Male FT Workers,%DP03_0094E-Median Earnings Female FT Workers,%DP04_0101E-Med Onwer Monthly Mortgage,%DP04_0134E-Median Gross Rent,%DP05_0070PE-%H&L race,%DP04_0045PE-%Occup HU,%DP02_0016E-Avg Fam Size,COUNTYFP,TRACTCE,STATEFP,index,AFFGEOID,GEOID,NAME_y,LSAD,ALAND,AWATER
1,"Census Tract 5501, Los Angeles County, California",12.6,15.9,4.9,46.0,2.0,3.3,10.1,7.3,97.5,0.2,64.1,74.0,0.8,4.6,28.7,20.0,12.4,5.8,4.2,0.0,3.8,5.4,17.0,5.6,23.8,2.7,5.5,4.2,73.6,73.6,3.0,7.5,5.4,6.3,96.5,3.7,0.0,3.5,0.0,0.4,2.1,81.8,3.89,0.5,29.5,0.0,0.0,0.0,9.4,6.6,14.9,0.0,0.9,49.0,1,low,91.633449,85.201482,76.66487,72.735944,74.119037,81.583207,177.63878,100.0,119.101258,037,550100,06,3661,1400000US06037550100,6037550100,5501.0,CT,1648945,0

In [98]:
df_ML_LAandSF_with_index_right.drop('NAME_y', inplace = True,  axis=1)
df_ML_LAandSF_with_index_right.drop('AWATER', inplace = True,  axis=1)
df_ML_LAandSF_with_index_right.drop('LSAD', inplace = True,  axis=1)
df_ML_LAandSF_with_index_right.drop('ALAND', inplace = True,  axis=1)
#df2 = df.rename({'a': 'X', 'b': 'Y'}, axis

In [99]:
df_ML_LAandSF_with_index_right.rename({'NAME_x': 'NAME'}, axis = 1, inplace = True) 
df_ML_LAandSF_with_index_right[1:2]

,NAME,DP02_0008PE-%F-led HHs No H,DP02_0010PE-% Non-Fam HHs,DP02_0022PE-%Non Rel in Hs,DP02_0038E-per1000-F-U-RecentPreg,DP02_0046PE-%GPwParent&Gc1-2yrs,DP02_0048PE--%GPwParent&Gc>5yrs,DP02_0060PE-%NoSchDiploma,DP02_0063PE-%AssDeg,DP02_0079PE-% SameHouse_1YrAgo,DP02_0085PE-%LivAbroad1YrAgo,DP02_0088PE-%BornUS,DP02_0112PE-HomeLangNotEng,DP02_0134PE-%IrishAnc,DP03_0009PE-%Unemploy,"DP03_0027PE-%WorkingMgt,Bus,Sc,Arts",DP03_0028PE%WorkingService,DP03_0037PE-Retail,DP03_0040PE-%Fin&Ins,"DP03_0041PE-%ProfSc,Mgt,Admin",DP03_0050PE-%UnpaidFamilyWk,DP03_0052PE-Inc<10k,DP03_0054PE-Inc15-24k,DP03_0058PE-Inc75-99k,DP03_0061PE-Inc200k>,DP03_0066PE-%HHsWithSocSec,DP03_0072PE-%HH Inc with Cash public Ass,DP03_0074PE-%HH Inc with Food Stamps SNAP,DP03_0085PE-%Families Inc>200k,DP03_0097PE-%PHI-Priv,DP03_0098PE-%PHI-Pub,DP03_0099PE-No PHI,DP03_0119PE-% Fam <Pov,DP03_0121PE-%Fam with child U18&U5 <pov,DP03_0126PE-%F-Led Families with u18 <pov,DP04_0002PE-%Occ H U,DP04_0004E-%Ow Vac Rate,DP04_0005E-%Rn Vac Rate,DP04_0013PE-%20+HU,DP04_0017PE-%Built2014+,DP04_0029PE-%2rooms_only_HU,DP04_0039PE-Zero bedrooms,DP04_0046PE-%Owner Occup HU,DP04_0049E-Renter Ave Household size,DP04_0051PE-%moved since 2017+,DP04_0054PE-%moved 2000 to 2009,DP04_0082PE-%Value 50-99k,DP04_0083PE-%Value 100-149k,DP04_0084PE-%Value 150-199k,DP04_0087PE-%Value 500k-1m,DP05_0005PE-%under 5 yrs,DP05_0023PE-%62 yrs+,DP05_0058PE-% w & B or AM,DP05_0061PE-%White & Asian,DP05_0064PE-%White with others,crimeStats,crime,%DP03_0065E-HH-MeanEarnings,%DP03_0092E-Median Earning Workers,%DP03_0093E-Median Earnings Male FT Workers,%DP03_0094E-Median Earnings Female FT Workers,%DP04_0101E-Med Onwer Monthly Mortgage,%DP04_0134E-Median Gross Rent,%DP05_0070PE-%H&L race,%DP04_0045PE-%Occup HU,%DP02_0016E-Avg Fam Size,COUNTYFP,TRACTCE,STATEFP,index,AFFGEOID,GEOID
1,"Census Tract 5501, Los Angeles County, California",12.6,15.9,4.9,46.0,2.0,3.3,10.1,7.3,97.5,0.2,64.1,74.0,0.8,4.6,28.7,20.0,12.4,5.8,4.2,0.0,3.8,5.4,17.0,5.6,23.8,2.7,5.5,4.2,73.6,73.6,3.0,7.5,5.4,6.3,96.5,3.7,0.0,3.5,0.0,0.4,2.1,81.8,3.89,0.5,29.5,0.0,0.0,0.0,9.4,6.6,14.9,0.0,0.9,49.0,1,low,91.633449,85.201482,76.66487,72.735944,74.119037,81.583207,177.63878,100.0,119.101258,037,550100,06,3661,1400000US06037550100,6037550100

In [100]:
df_ML_LAandSF_with_index_right.to_excel("LAandSF_CSV_Mar6th_after_shape.xlsx")

In [101]:
#filtered_df = df[df.Sales.isin(values_1)&~df.Price.isin(values_2)]
SF_Counties = ["075", "081"]

In [102]:
SF_with_index_right = df_ML_LAandSF_with_index_right[df_ML_LAandSF_with_index_right.COUNTYFP.isin(SF_Counties)]
SF_with_index_right[1:3]

,NAME,DP02_0008PE-%F-led HHs No H,DP02_0010PE-% Non-Fam HHs,DP02_0022PE-%Non Rel in Hs,DP02_0038E-per1000-F-U-RecentPreg,DP02_0046PE-%GPwParent&Gc1-2yrs,DP02_0048PE--%GPwParent&Gc>5yrs,DP02_0060PE-%NoSchDiploma,DP02_0063PE-%AssDeg,DP02_0079PE-% SameHouse_1YrAgo,DP02_0085PE-%LivAbroad1YrAgo,DP02_0088PE-%BornUS,DP02_0112PE-HomeLangNotEng,DP02_0134PE-%IrishAnc,DP03_0009PE-%Unemploy,"DP03_0027PE-%WorkingMgt,Bus,Sc,Arts",DP03_0028PE%WorkingService,DP03_0037PE-Retail,DP03_0040PE-%Fin&Ins,"DP03_0041PE-%ProfSc,Mgt,Admin",DP03_0050PE-%UnpaidFamilyWk,DP03_0052PE-Inc<10k,DP03_0054PE-Inc15-24k,DP03_0058PE-Inc75-99k,DP03_0061PE-Inc200k>,DP03_0066PE-%HHsWithSocSec,DP03_0072PE-%HH Inc with Cash public Ass,DP03_0074PE-%HH Inc with Food Stamps SNAP,DP03_0085PE-%Families Inc>200k,DP03_0097PE-%PHI-Priv,DP03_0098PE-%PHI-Pub,DP03_0099PE-No PHI,DP03_0119PE-% Fam <Pov,DP03_0121PE-%Fam with child U18&U5 <pov,DP03_0126PE-%F-Led Families with u18 <pov,DP04_0002PE-%Occ H U,DP04_0004E-%Ow Vac Rate,DP04_0005E-%Rn Vac Rate,DP04_0013PE-%20+HU,DP04_0017PE-%Built2014+,DP04_0029PE-%2rooms_only_HU,DP04_0039PE-Zero bedrooms,DP04_0046PE-%Owner Occup HU,DP04_0049E-Renter Ave Household size,DP04_0051PE-%moved since 2017+,DP04_0054PE-%moved 2000 to 2009,DP04_0082PE-%Value 50-99k,DP04_0083PE-%Value 100-149k,DP04_0084PE-%Value 150-199k,DP04_0087PE-%Value 500k-1m,DP05_0005PE-%under 5 yrs,DP05_0023PE-%62 yrs+,DP05_0058PE-% w & B or AM,DP05_0061PE-%White & Asian,DP05_0064PE-%White with others,crimeStats,crime,%DP03_0065E-HH-MeanEarnings,%DP03_0092E-Median Earning Workers,%DP03_0093E-Median Earnings Male FT Workers,%DP03_0094E-Median Earnings Female FT Workers,%DP04_0101E-Med Onwer Monthly Mortgage,%DP04_0134E-Median Gross Rent,%DP05_0070PE-%H&L race,%DP04_0045PE-%Occup HU,%DP02_0016E-Avg Fam Size,COUNTYFP,TRACTCE,STATEFP,index,AFFGEOID,GEOID
1333,"Census Tract 102, San Francisco County, Califo...",2.8,68.0,14.7,0.0,NaN,NaN,1.5,2.4,80.7,3.0,76.5,8.8,10.3,0.7,71.1,5.5,10.9,17.1,36.3,0.0,2.3,3.0,4.7,29.9,24.7,1.1,1.1,39.0,87.2,87.2,3.5,3.7,0.0,0.0,84.3,0.0,0.8,35.9,0.0,13.1,10.8,35.8,1.71,5.5,28.0,1.4,0.0,0.0,38.3,2.0,27.1,1.1,2.0,83.7,15427,high,134.197609,148.321791,144.433216,114.331324,117.683507,130.765399,96.352024,100.0,77.657427,075,010200,06,526,1400000US06075010200,6075010200
1334,"Census Tract 108, San Francisco County, Califo...",1.4,63.1,15.7,0.0,0.0,12.2,3.1,4.2,85.5,2.3,66.0,40.4,10.8,4.5,57.8,10.3,8.4,10.7,31.2,0.7,4.0,5.2,10.9,19.5,29.0,0.5,4.7,27.8,73.5,73.5,1.9,10.7,0.0,100.0,89.5,0.0,0.8,12.8,0.0,10.6,12.6,24.9,2.05,9.6,16.0,0.0,0.0,0.0,31.4,4.8,25.6,0.0,1.8,54.9,3953,low,105.998859,122.274493,115.475458,136.186476,113.153825,94.990463,108.925526,100.0,91.035388,075,010800,06,6295,1400000US06075010800,6075010800

In [103]:
#filtered_df = df[df.Sales.isin(values_1)&~df.Price.isin(values_2)]
LA_Counties = ["037", "059", "071", "111"]

In [104]:
LA_with_index_right = df_ML_LAandSF_with_index_right[df_ML_LAandSF_with_index_right.COUNTYFP.isin(LA_Counties)]
LA_with_index_right[1:3]

,NAME,DP02_0008PE-%F-led HHs No H,DP02_0010PE-% Non-Fam HHs,DP02_0022PE-%Non Rel in Hs,DP02_0038E-per1000-F-U-RecentPreg,DP02_0046PE-%GPwParent&Gc1-2yrs,DP02_0048PE--%GPwParent&Gc>5yrs,DP02_0060PE-%NoSchDiploma,DP02_0063PE-%AssDeg,DP02_0079PE-% SameHouse_1YrAgo,DP02_0085PE-%LivAbroad1YrAgo,DP02_0088PE-%BornUS,DP02_0112PE-HomeLangNotEng,DP02_0134PE-%IrishAnc,DP03_0009PE-%Unemploy,"DP03_0027PE-%WorkingMgt,Bus,Sc,Arts",DP03_0028PE%WorkingService,DP03_0037PE-Retail,DP03_0040PE-%Fin&Ins,"DP03_0041PE-%ProfSc,Mgt,Admin",DP03_0050PE-%UnpaidFamilyWk,DP03_0052PE-Inc<10k,DP03_0054PE-Inc15-24k,DP03_0058PE-Inc75-99k,DP03_0061PE-Inc200k>,DP03_0066PE-%HHsWithSocSec,DP03_0072PE-%HH Inc with Cash public Ass,DP03_0074PE-%HH Inc with Food Stamps SNAP,DP03_0085PE-%Families Inc>200k,DP03_0097PE-%PHI-Priv,DP03_0098PE-%PHI-Pub,DP03_0099PE-No PHI,DP03_0119PE-% Fam <Pov,DP03_0121PE-%Fam with child U18&U5 <pov,DP03_0126PE-%F-Led Families with u18 <pov,DP04_0002PE-%Occ H U,DP04_0004E-%Ow Vac Rate,DP04_0005E-%Rn Vac Rate,DP04_0013PE-%20+HU,DP04_0017PE-%Built2014+,DP04_0029PE-%2rooms_only_HU,DP04_0039PE-Zero bedrooms,DP04_0046PE-%Owner Occup HU,DP04_0049E-Renter Ave Household size,DP04_0051PE-%moved since 2017+,DP04_0054PE-%moved 2000 to 2009,DP04_0082PE-%Value 50-99k,DP04_0083PE-%Value 100-149k,DP04_0084PE-%Value 150-199k,DP04_0087PE-%Value 500k-1m,DP05_0005PE-%under 5 yrs,DP05_0023PE-%62 yrs+,DP05_0058PE-% w & B or AM,DP05_0061PE-%White & Asian,DP05_0064PE-%White with others,crimeStats,crime,%DP03_0065E-HH-MeanEarnings,%DP03_0092E-Median Earning Workers,%DP03_0093E-Median Earnings Male FT Workers,%DP03_0094E-Median Earnings Female FT Workers,%DP04_0101E-Med Onwer Monthly Mortgage,%DP04_0134E-Median Gross Rent,%DP05_0070PE-%H&L race,%DP04_0045PE-%Occup HU,%DP02_0016E-Avg Fam Size,COUNTYFP,TRACTCE,STATEFP,index,AFFGEOID,GEOID
1,"Census Tract 5501, Los Angeles County, California",12.6,15.9,4.9,46.0,2.0,3.3,10.1,7.3,97.5,0.2,64.1,74.0,0.8,4.6,28.7,20.0,12.4,5.8,4.2,0.0,3.8,5.4,17.0,5.6,23.8,2.7,5.5,4.2,73.6,73.6,3.0,7.5,5.4,6.3,96.5,3.7,0.0,3.5,0.0,0.4,2.1,81.8,3.89,0.5,29.5,0.0,0.0,0.0,9.4,6.6,14.9,0.0,0.9,49.0,1,low,91.633449,85.201482,76.664870,72.735944,74.119037,81.583207,177.638780,100.0,119.101258,037,550100,06,3661,1400000US06037550100,6037550100
2,"Census Tract 6031.02, Los Angeles County, Cali...",11.1,37.9,6.6,54.0,0.0,22.2,9.1,9.3,94.6,0.0,59.7,62.9,0.8,6.2,33.7,11.5,10.6,4.2,21.4,0.0,6.3,10.6,13.8,2.7,39.3,4.2,9.2,4.3,54.2,54.2,6.4,15.6,0.0,26.5,91.9,0.0,6.0,14.2,1.2,2.1,6.1,33.6,3.07,2.7,40.6,0.0,0.0,3.8,37.1,5.4,22.5,0.0,1.8,30.7,45,low,76.666059,97.379285,84.590828,78.719490,90.499577,82.169200,89.332659,100.0,100.134313,037,603102,06,7256,1400000US06037603102,6037603102

In [105]:
SF_with_index_right.to_excel("SF_CSV_Mar6th_after_shape.xlsx")
LA_with_index_right.to_excel("LA_CSV_Mar6th_after_shape.xlsx")

In [106]:
## START BALTIMORE, MARYLAND

In [107]:
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
url_Baltimore = 'https://raw.githubusercontent.com/maireadmanifold/files/main/Baltimore_CSV_Cleaned_and_no_shape_Mar6th.csv'
df_ML_Baltimore = pd.read_csv(url_Baltimore, error_bad_lines=False, index_col=0)

In [108]:
df_ML_Baltimore[1:2]

,NAME,DP02_0008PE-%F-led HHs No H,DP02_0010PE-% Non-Fam HHs,DP02_0022PE-%Non Rel in Hs,DP02_0038E-per1000-F-U-RecentPreg,DP02_0046PE-%GPwParent&Gc1-2yrs,DP02_0048PE--%GPwParent&Gc>5yrs,DP02_0060PE-%NoSchDiploma,DP02_0063PE-%AssDeg,DP02_0079PE-% SameHouse_1YrAgo,DP02_0085PE-%LivAbroad1YrAgo,DP02_0088PE-%BornUS,DP02_0112PE-HomeLangNotEng,DP02_0134PE-%IrishAnc,DP03_0009PE-%Unemploy,"DP03_0027PE-%WorkingMgt,Bus,Sc,Arts",DP03_0028PE%WorkingService,DP03_0037PE-Retail,DP03_0040PE-%Fin&Ins,"DP03_0041PE-%ProfSc,Mgt,Admin",DP03_0050PE-%UnpaidFamilyWk,DP03_0052PE-Inc<10k,DP03_0054PE-Inc15-24k,DP03_0058PE-Inc75-99k,DP03_0061PE-Inc200k>,DP03_0066PE-%HHsWithSocSec,DP03_0072PE-%HH Inc with Cash public Ass,DP03_0074PE-%HH Inc with Food Stamps SNAP,DP03_0085PE-%Families Inc>200k,DP03_0097PE-%PHI-Priv,DP03_0098PE-%PHI-Pub,DP03_0099PE-No PHI,DP03_0119PE-% Fam <Pov,DP03_0121PE-%Fam with child U18&U5 <pov,DP03_0126PE-%F-Led Families with u18 <pov,DP04_0002PE-%Occ H U,DP04_0004E-%Ow Vac Rate,DP04_0005E-%Rn Vac Rate,DP04_0013PE-%20+HU,DP04_0017PE-%Built2014+,DP04_0029PE-%2rooms_only_HU,DP04_0039PE-Zero bedrooms,DP04_0046PE-%Owner Occup HU,DP04_0049E-Renter Ave Household size,DP04_0051PE-%moved since 2017+,DP04_0054PE-%moved 2000 to 2009,DP04_0082PE-%Value 50-99k,DP04_0083PE-%Value 100-149k,DP04_0084PE-%Value 150-199k,DP04_0087PE-%Value 500k-1m,DP05_0005PE-%under 5 yrs,DP05_0023PE-%62 yrs+,DP05_0058PE-% w & B or AM,DP05_0061PE-%White & Asian,DP05_0064PE-%White with others,crimeStats,crime,%DP03_0065E-HH-MeanEarnings,%DP03_0092E-Median Earning Workers,%DP03_0093E-Median Earnings Male FT Workers,%DP03_0094E-Median Earnings Female FT Workers,%DP04_0101E-Med Onwer Monthly Mortgage,%DP04_0134E-Median Gross Rent,%DP05_0070PE-%H&L race,%DP04_0045PE-%Occup HU,%DP02_0016E-Avg Fam Size,Countyfp,Tractce,Statefp
2141,"Census Tract 7501.01, Anne Arundel County, Mar...",18.4,40.1,8.3,18.0,0.0,21.0,8.1,6.9,92.3,1.4,90.3,10.7,6.7,6.9,26.3,25.8,11.3,3.1,14.8,0.0,6.9,9.6,15.6,2.0,32.6,3.1,16.7,1.1,60.2,60.2,6.2,12.3,0.0,25.4,95.2,0.6,5.3,0.0,0.0,0.4,1.4,72.3,2.75,1.3,38.8,13.1,11.1,18.6,0.8,7.0,13.7,4.8,0.9,72.3,26,low,76.097192,82.166132,88.315312,72.666925,80.672269,79.921154,89.867749,100.0,107.320813,3,750101,24

In [109]:
df_ML_Baltimore['COUNTYFP'] = df_ML_Baltimore['Countyfp'].apply(lambda x: '{0:0>3}'.format(x)).astype(str)
df_ML_Baltimore['TRACTCE'] = df_ML_Baltimore['Tractce'].apply(lambda x: '{0:0>6}'.format(x)).astype(str)
df_ML_Baltimore['STATEFP'] = df_ML_Baltimore['Statefp'].apply(lambda x: '{0:0>2}'.format(x)).astype(str)
df_ML_Baltimore.drop('Statefp', inplace = True,  axis=1)
df_ML_Baltimore.drop('Countyfp', inplace = True,  axis=1)
df_ML_Baltimore.drop('Tractce', inplace = True,  axis=1)

In [110]:
df_ML_Baltimore[1:2]

,NAME,DP02_0008PE-%F-led HHs No H,DP02_0010PE-% Non-Fam HHs,DP02_0022PE-%Non Rel in Hs,DP02_0038E-per1000-F-U-RecentPreg,DP02_0046PE-%GPwParent&Gc1-2yrs,DP02_0048PE--%GPwParent&Gc>5yrs,DP02_0060PE-%NoSchDiploma,DP02_0063PE-%AssDeg,DP02_0079PE-% SameHouse_1YrAgo,DP02_0085PE-%LivAbroad1YrAgo,DP02_0088PE-%BornUS,DP02_0112PE-HomeLangNotEng,DP02_0134PE-%IrishAnc,DP03_0009PE-%Unemploy,"DP03_0027PE-%WorkingMgt,Bus,Sc,Arts",DP03_0028PE%WorkingService,DP03_0037PE-Retail,DP03_0040PE-%Fin&Ins,"DP03_0041PE-%ProfSc,Mgt,Admin",DP03_0050PE-%UnpaidFamilyWk,DP03_0052PE-Inc<10k,DP03_0054PE-Inc15-24k,DP03_0058PE-Inc75-99k,DP03_0061PE-Inc200k>,DP03_0066PE-%HHsWithSocSec,DP03_0072PE-%HH Inc with Cash public Ass,DP03_0074PE-%HH Inc with Food Stamps SNAP,DP03_0085PE-%Families Inc>200k,DP03_0097PE-%PHI-Priv,DP03_0098PE-%PHI-Pub,DP03_0099PE-No PHI,DP03_0119PE-% Fam <Pov,DP03_0121PE-%Fam with child U18&U5 <pov,DP03_0126PE-%F-Led Families with u18 <pov,DP04_0002PE-%Occ H U,DP04_0004E-%Ow Vac Rate,DP04_0005E-%Rn Vac Rate,DP04_0013PE-%20+HU,DP04_0017PE-%Built2014+,DP04_0029PE-%2rooms_only_HU,DP04_0039PE-Zero bedrooms,DP04_0046PE-%Owner Occup HU,DP04_0049E-Renter Ave Household size,DP04_0051PE-%moved since 2017+,DP04_0054PE-%moved 2000 to 2009,DP04_0082PE-%Value 50-99k,DP04_0083PE-%Value 100-149k,DP04_0084PE-%Value 150-199k,DP04_0087PE-%Value 500k-1m,DP05_0005PE-%under 5 yrs,DP05_0023PE-%62 yrs+,DP05_0058PE-% w & B or AM,DP05_0061PE-%White & Asian,DP05_0064PE-%White with others,crimeStats,crime,%DP03_0065E-HH-MeanEarnings,%DP03_0092E-Median Earning Workers,%DP03_0093E-Median Earnings Male FT Workers,%DP03_0094E-Median Earnings Female FT Workers,%DP04_0101E-Med Onwer Monthly Mortgage,%DP04_0134E-Median Gross Rent,%DP05_0070PE-%H&L race,%DP04_0045PE-%Occup HU,%DP02_0016E-Avg Fam Size,COUNTYFP,TRACTCE,STATEFP
2141,"Census Tract 7501.01, Anne Arundel County, Mar...",18.4,40.1,8.3,18.0,0.0,21.0,8.1,6.9,92.3,1.4,90.3,10.7,6.7,6.9,26.3,25.8,11.3,3.1,14.8,0.0,6.9,9.6,15.6,2.0,32.6,3.1,16.7,1.1,60.2,60.2,6.2,12.3,0.0,25.4,95.2,0.6,5.3,0.0,0.0,0.4,1.4,72.3,2.75,1.3,38.8,13.1,11.1,18.6,0.8,7.0,13.7,4.8,0.9,72.3,26,low,76.097192,82.166132,88.315312,72.666925,80.672269,79.921154,89.867749,100.0,107.320813,003,750101,24

In [111]:
import pandas as pd
## saved the dcb_2018_tract_500k.dbf file as a csv file to get access to the tract ID
## the index_right gives aligns with the tract ID in this file. 
## Remember that Maryland state ID = "24"
census_tract_df_Maryland = pd.read_csv("cb_2018_24_tract_500k.csv", header=0)
print("census tract info from Maryland (Baltimore) dbf file saved as a csv file")
census_tract_df_Maryland[1:2]

census tract info from Maryland (Baltimore) dbf file saved as a csv file

   STATEFP  COUNTYFP  TRACTCE              AFFGEOID        GEOID     NAME LSAD      ALAND    AWATER
1       24        39   930102  1400000US24039930102  24039930102  9301.02   CT  130639398  12766465

In [112]:
census_tract_df_Maryland['COUNTYFP'] = census_tract_df_Maryland['COUNTYFP'].apply(lambda x: '{0:0>3}'.format(x)).astype(str)
census_tract_df_Maryland['TRACTCE'] = census_tract_df_Maryland['TRACTCE'].apply(lambda x: '{0:0>6}'.format(x)).astype(str)
census_tract_df_Maryland['STATEFP'] = census_tract_df_Maryland['STATEFP'].apply(lambda x: '{0:0>2}'.format(x)).astype(str)
census_tract_df_Maryland[1:2]

  STATEFP COUNTYFP TRACTCE              AFFGEOID        GEOID     NAME LSAD      ALAND    AWATER
1      24      039  930102  1400000US24039930102  24039930102  9301.02   CT  130639398  12766465

In [113]:
#myDataFrame.set_index('column_name')
census_tract_df_Maryland.reset_index(inplace=True)
census_tract_df_Maryland[1:2]

   index STATEFP COUNTYFP TRACTCE              AFFGEOID        GEOID     NAME LSAD      ALAND    AWATER
1      1      24      039  930102  1400000US24039930102  24039930102  9301.02   CT  130639398  12766465

In [114]:
##points_in_map_withTrees = pd.merge(left = points_in_map, right = groupedTract_count, how = 'inner', on = ['COUNTYFP', 'TRACTCE', 'ALAND'] )
df_ML_Baltimore_with_index_right = pd.merge(left = df_ML_Baltimore, right = census_tract_df_Maryland, on=['STATEFP','COUNTYFP','TRACTCE'])

In [115]:
df_ML_Baltimore_with_index_right[1:3]

,NAME_x,DP02_0008PE-%F-led HHs No H,DP02_0010PE-% Non-Fam HHs,DP02_0022PE-%Non Rel in Hs,DP02_0038E-per1000-F-U-RecentPreg,DP02_0046PE-%GPwParent&Gc1-2yrs,DP02_0048PE--%GPwParent&Gc>5yrs,DP02_0060PE-%NoSchDiploma,DP02_0063PE-%AssDeg,DP02_0079PE-% SameHouse_1YrAgo,DP02_0085PE-%LivAbroad1YrAgo,DP02_0088PE-%BornUS,DP02_0112PE-HomeLangNotEng,DP02_0134PE-%IrishAnc,DP03_0009PE-%Unemploy,"DP03_0027PE-%WorkingMgt,Bus,Sc,Arts",DP03_0028PE%WorkingService,DP03_0037PE-Retail,DP03_0040PE-%Fin&Ins,"DP03_0041PE-%ProfSc,Mgt,Admin",DP03_0050PE-%UnpaidFamilyWk,DP03_0052PE-Inc<10k,DP03_0054PE-Inc15-24k,DP03_0058PE-Inc75-99k,DP03_0061PE-Inc200k>,DP03_0066PE-%HHsWithSocSec,DP03_0072PE-%HH Inc with Cash public Ass,DP03_0074PE-%HH Inc with Food Stamps SNAP,DP03_0085PE-%Families Inc>200k,DP03_0097PE-%PHI-Priv,DP03_0098PE-%PHI-Pub,DP03_0099PE-No PHI,DP03_0119PE-% Fam <Pov,DP03_0121PE-%Fam with child U18&U5 <pov,DP03_0126PE-%F-Led Families with u18 <pov,DP04_0002PE-%Occ H U,DP04_0004E-%Ow Vac Rate,DP04_0005E-%Rn Vac Rate,DP04_0013PE-%20+HU,DP04_0017PE-%Built2014+,DP04_0029PE-%2rooms_only_HU,DP04_0039PE-Zero bedrooms,DP04_0046PE-%Owner Occup HU,DP04_0049E-Renter Ave Household size,DP04_0051PE-%moved since 2017+,DP04_0054PE-%moved 2000 to 2009,DP04_0082PE-%Value 50-99k,DP04_0083PE-%Value 100-149k,DP04_0084PE-%Value 150-199k,DP04_0087PE-%Value 500k-1m,DP05_0005PE-%under 5 yrs,DP05_0023PE-%62 yrs+,DP05_0058PE-% w & B or AM,DP05_0061PE-%White & Asian,DP05_0064PE-%White with others,crimeStats,crime,%DP03_0065E-HH-MeanEarnings,%DP03_0092E-Median Earning Workers,%DP03_0093E-Median Earnings Male FT Workers,%DP03_0094E-Median Earnings Female FT Workers,%DP04_0101E-Med Onwer Monthly Mortgage,%DP04_0134E-Median Gross Rent,%DP05_0070PE-%H&L race,%DP04_0045PE-%Occup HU,%DP02_0016E-Avg Fam Size,COUNTYFP,TRACTCE,STATEFP,index,AFFGEOID,GEOID,NAME_y,LSAD,ALAND,AWATER
1,"Census Tract 7501.01, Anne Arundel County, Mar...",18.4,40.1,8.3,18.0,0.0,21.0,8.1,6.9,92.3,1.4,90.3,10.7,6.7,6.9,26.3,25.8,11.3,3.1,14.8,0.0,6.9,9.6,15.6,2.0,32.6,3.1,16.7,1.1,60.2,60.2,6.2,12.3,0.0,25.4,95.2,0.6,5.3,0.0,0.0,0.4,1.4,72.3,2.75,1.3,38.8,13.1,11.1,18.6,0.8,7.0,13.7,4.8,0.9,72.3,26,low,76.097192,82.166132,88.315312,72.666925,80.672269,79.921154,89.867749,100.0,107.320813,003,750101,24,67,1400000US24003750101,24003750101,7501.01,CT,1345542,0
2,"Census Tract 7502.01, Anne Arundel County, Mar...",20.0,26.5,6.9,146.0,10.8,10.8,12.3,5.6,80.4,0.0,89.0,14.6,5.8,7.7,28.8,26.5,10.3,3.7,15.5,0.0,7.8,9.2,14.9,3.5,37.5,3.0,28.5,2.5,48.9,48.9,16.2,10.6,0.0,0.0,95.7,0.0,7.0,6.4,0.6,2.6,0.0,76.0,2.86,5.6,20.0,2.0,7.6,13.2,0.0,9.2,23.7,0.0,0.0,55.3,2,low,76.291792,75.745174,86.649551,72.108569,93.832787,66.445659,72.416882,100.0,94.748946,003,750201,24,386,1400000US24003750201,24003750201,7502.01,CT,3287938,136642

In [116]:
df_ML_Baltimore_with_index_right.drop('NAME_y', inplace = True,  axis=1)
df_ML_Baltimore_with_index_right.drop('AWATER', inplace = True,  axis=1)
df_ML_Baltimore_with_index_right.drop('LSAD', inplace = True,  axis=1)
df_ML_Baltimore_with_index_right.drop('ALAND', inplace = True,  axis=1)
#df2 = df.rename({'a': 'X', 'b': 'Y'}, axis

In [117]:
df_ML_Baltimore_with_index_right.rename({'NAME_x': 'NAME'}, axis = 1, inplace = True) 
df_ML_Baltimore_with_index_right[1:2]

,NAME,DP02_0008PE-%F-led HHs No H,DP02_0010PE-% Non-Fam HHs,DP02_0022PE-%Non Rel in Hs,DP02_0038E-per1000-F-U-RecentPreg,DP02_0046PE-%GPwParent&Gc1-2yrs,DP02_0048PE--%GPwParent&Gc>5yrs,DP02_0060PE-%NoSchDiploma,DP02_0063PE-%AssDeg,DP02_0079PE-% SameHouse_1YrAgo,DP02_0085PE-%LivAbroad1YrAgo,DP02_0088PE-%BornUS,DP02_0112PE-HomeLangNotEng,DP02_0134PE-%IrishAnc,DP03_0009PE-%Unemploy,"DP03_0027PE-%WorkingMgt,Bus,Sc,Arts",DP03_0028PE%WorkingService,DP03_0037PE-Retail,DP03_0040PE-%Fin&Ins,"DP03_0041PE-%ProfSc,Mgt,Admin",DP03_0050PE-%UnpaidFamilyWk,DP03_0052PE-Inc<10k,DP03_0054PE-Inc15-24k,DP03_0058PE-Inc75-99k,DP03_0061PE-Inc200k>,DP03_0066PE-%HHsWithSocSec,DP03_0072PE-%HH Inc with Cash public Ass,DP03_0074PE-%HH Inc with Food Stamps SNAP,DP03_0085PE-%Families Inc>200k,DP03_0097PE-%PHI-Priv,DP03_0098PE-%PHI-Pub,DP03_0099PE-No PHI,DP03_0119PE-% Fam <Pov,DP03_0121PE-%Fam with child U18&U5 <pov,DP03_0126PE-%F-Led Families with u18 <pov,DP04_0002PE-%Occ H U,DP04_0004E-%Ow Vac Rate,DP04_0005E-%Rn Vac Rate,DP04_0013PE-%20+HU,DP04_0017PE-%Built2014+,DP04_0029PE-%2rooms_only_HU,DP04_0039PE-Zero bedrooms,DP04_0046PE-%Owner Occup HU,DP04_0049E-Renter Ave Household size,DP04_0051PE-%moved since 2017+,DP04_0054PE-%moved 2000 to 2009,DP04_0082PE-%Value 50-99k,DP04_0083PE-%Value 100-149k,DP04_0084PE-%Value 150-199k,DP04_0087PE-%Value 500k-1m,DP05_0005PE-%under 5 yrs,DP05_0023PE-%62 yrs+,DP05_0058PE-% w & B or AM,DP05_0061PE-%White & Asian,DP05_0064PE-%White with others,crimeStats,crime,%DP03_0065E-HH-MeanEarnings,%DP03_0092E-Median Earning Workers,%DP03_0093E-Median Earnings Male FT Workers,%DP03_0094E-Median Earnings Female FT Workers,%DP04_0101E-Med Onwer Monthly Mortgage,%DP04_0134E-Median Gross Rent,%DP05_0070PE-%H&L race,%DP04_0045PE-%Occup HU,%DP02_0016E-Avg Fam Size,COUNTYFP,TRACTCE,STATEFP,index,AFFGEOID,GEOID
1,"Census Tract 7501.01, Anne Arundel County, Mar...",18.4,40.1,8.3,18.0,0.0,21.0,8.1,6.9,92.3,1.4,90.3,10.7,6.7,6.9,26.3,25.8,11.3,3.1,14.8,0.0,6.9,9.6,15.6,2.0,32.6,3.1,16.7,1.1,60.2,60.2,6.2,12.3,0.0,25.4,95.2,0.6,5.3,0.0,0.0,0.4,1.4,72.3,2.75,1.3,38.8,13.1,11.1,18.6,0.8,7.0,13.7,4.8,0.9,72.3,26,low,76.097192,82.166132,88.315312,72.666925,80.672269,79.921154,89.867749,100.0,107.320813,003,750101,24,67,1400000US24003750101,24003750101

In [118]:
df_ML_Baltimore_with_index_right.to_excel("Baltimore_CSV_Mar6th_after_shape.xlsx")

In [119]:
## START CHICAGO

In [120]:
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
url_Chicago = 'https://raw.githubusercontent.com/maireadmanifold/files/main//Chicago_CSV_Cleaned_and_no_shape_Mar6th.csv'
df_ML_Chicago = pd.read_csv(url_Chicago, error_bad_lines=False, index_col=0)

In [121]:
df_ML_Chicago[1:2]

,NAME,DP02_0008PE-%F-led HHs No H,DP02_0010PE-% Non-Fam HHs,DP02_0022PE-%Non Rel in Hs,DP02_0038E-per1000-F-U-RecentPreg,DP02_0046PE-%GPwParent&Gc1-2yrs,DP02_0048PE--%GPwParent&Gc>5yrs,DP02_0060PE-%NoSchDiploma,DP02_0063PE-%AssDeg,DP02_0079PE-% SameHouse_1YrAgo,DP02_0085PE-%LivAbroad1YrAgo,DP02_0088PE-%BornUS,DP02_0112PE-HomeLangNotEng,DP02_0134PE-%IrishAnc,DP03_0009PE-%Unemploy,"DP03_0027PE-%WorkingMgt,Bus,Sc,Arts",DP03_0028PE%WorkingService,DP03_0037PE-Retail,DP03_0040PE-%Fin&Ins,"DP03_0041PE-%ProfSc,Mgt,Admin",DP03_0050PE-%UnpaidFamilyWk,DP03_0052PE-Inc<10k,DP03_0054PE-Inc15-24k,DP03_0058PE-Inc75-99k,DP03_0061PE-Inc200k>,DP03_0066PE-%HHsWithSocSec,DP03_0072PE-%HH Inc with Cash public Ass,DP03_0074PE-%HH Inc with Food Stamps SNAP,DP03_0085PE-%Families Inc>200k,DP03_0097PE-%PHI-Priv,DP03_0098PE-%PHI-Pub,DP03_0099PE-No PHI,DP03_0119PE-% Fam <Pov,DP03_0121PE-%Fam with child U18&U5 <pov,DP03_0126PE-%F-Led Families with u18 <pov,DP04_0002PE-%Occ H U,DP04_0004E-%Ow Vac Rate,DP04_0005E-%Rn Vac Rate,DP04_0013PE-%20+HU,DP04_0017PE-%Built2014+,DP04_0029PE-%2rooms_only_HU,DP04_0039PE-Zero bedrooms,DP04_0046PE-%Owner Occup HU,DP04_0049E-Renter Ave Household size,DP04_0051PE-%moved since 2017+,DP04_0054PE-%moved 2000 to 2009,DP04_0082PE-%Value 50-99k,DP04_0083PE-%Value 100-149k,DP04_0084PE-%Value 150-199k,DP04_0087PE-%Value 500k-1m,DP05_0005PE-%under 5 yrs,DP05_0023PE-%62 yrs+,DP05_0058PE-% w & B or AM,DP05_0061PE-%White & Asian,DP05_0064PE-%White with others,crimeStats,crime,%DP03_0065E-HH-MeanEarnings,%DP03_0092E-Median Earning Workers,%DP03_0093E-Median Earnings Male FT Workers,%DP03_0094E-Median Earnings Female FT Workers,%DP04_0101E-Med Onwer Monthly Mortgage,%DP04_0134E-Median Gross Rent,%DP05_0070PE-%H&L race,%DP04_0045PE-%Occup HU,%DP02_0016E-Avg Fam Size,Countyfp,Tractce,Statefp
2396,"Census Tract 4205, Cook County, Illinois",23.8,53.8,4.0,0.0,0.0,23.5,10.1,14.4,92.9,0.0,93.5,14.4,0.0,25.8,41.1,30.8,9.0,3.3,22.9,1.0,16.8,15.4,15.4,0.0,41.3,6.1,30.4,0.0,45.0,45.0,7.5,11.4,25.8,25.3,70.3,14.7,12.5,37.1,4.5,2.2,2.5,18.9,1.8,1.3,24.0,2.6,21.2,39.1,0.0,5.2,24.2,1.0,0.0,1.0,245,high,54.747378,79.208915,91.896614,63.978582,61.826654,85.345923,47.465449,100.0,91.529148,31,420500,17

In [122]:
df_ML_Chicago['COUNTYFP'] = df_ML_Chicago['Countyfp'].apply(lambda x: '{0:0>3}'.format(x)).astype(str)
df_ML_Chicago['TRACTCE'] = df_ML_Chicago['Tractce'].apply(lambda x: '{0:0>6}'.format(x)).astype(str)
df_ML_Chicago['STATEFP'] = df_ML_Chicago['Statefp'].apply(lambda x: '{0:0>2}'.format(x)).astype(str)
df_ML_Chicago.drop('Statefp', inplace = True,  axis=1)
df_ML_Chicago.drop('Countyfp', inplace = True,  axis=1)
df_ML_Chicago.drop('Tractce', inplace = True,  axis=1)

In [123]:
df_ML_Chicago[1:2]

,NAME,DP02_0008PE-%F-led HHs No H,DP02_0010PE-% Non-Fam HHs,DP02_0022PE-%Non Rel in Hs,DP02_0038E-per1000-F-U-RecentPreg,DP02_0046PE-%GPwParent&Gc1-2yrs,DP02_0048PE--%GPwParent&Gc>5yrs,DP02_0060PE-%NoSchDiploma,DP02_0063PE-%AssDeg,DP02_0079PE-% SameHouse_1YrAgo,DP02_0085PE-%LivAbroad1YrAgo,DP02_0088PE-%BornUS,DP02_0112PE-HomeLangNotEng,DP02_0134PE-%IrishAnc,DP03_0009PE-%Unemploy,"DP03_0027PE-%WorkingMgt,Bus,Sc,Arts",DP03_0028PE%WorkingService,DP03_0037PE-Retail,DP03_0040PE-%Fin&Ins,"DP03_0041PE-%ProfSc,Mgt,Admin",DP03_0050PE-%UnpaidFamilyWk,DP03_0052PE-Inc<10k,DP03_0054PE-Inc15-24k,DP03_0058PE-Inc75-99k,DP03_0061PE-Inc200k>,DP03_0066PE-%HHsWithSocSec,DP03_0072PE-%HH Inc with Cash public Ass,DP03_0074PE-%HH Inc with Food Stamps SNAP,DP03_0085PE-%Families Inc>200k,DP03_0097PE-%PHI-Priv,DP03_0098PE-%PHI-Pub,DP03_0099PE-No PHI,DP03_0119PE-% Fam <Pov,DP03_0121PE-%Fam with child U18&U5 <pov,DP03_0126PE-%F-Led Families with u18 <pov,DP04_0002PE-%Occ H U,DP04_0004E-%Ow Vac Rate,DP04_0005E-%Rn Vac Rate,DP04_0013PE-%20+HU,DP04_0017PE-%Built2014+,DP04_0029PE-%2rooms_only_HU,DP04_0039PE-Zero bedrooms,DP04_0046PE-%Owner Occup HU,DP04_0049E-Renter Ave Household size,DP04_0051PE-%moved since 2017+,DP04_0054PE-%moved 2000 to 2009,DP04_0082PE-%Value 50-99k,DP04_0083PE-%Value 100-149k,DP04_0084PE-%Value 150-199k,DP04_0087PE-%Value 500k-1m,DP05_0005PE-%under 5 yrs,DP05_0023PE-%62 yrs+,DP05_0058PE-% w & B or AM,DP05_0061PE-%White & Asian,DP05_0064PE-%White with others,crimeStats,crime,%DP03_0065E-HH-MeanEarnings,%DP03_0092E-Median Earning Workers,%DP03_0093E-Median Earnings Male FT Workers,%DP03_0094E-Median Earnings Female FT Workers,%DP04_0101E-Med Onwer Monthly Mortgage,%DP04_0134E-Median Gross Rent,%DP05_0070PE-%H&L race,%DP04_0045PE-%Occup HU,%DP02_0016E-Avg Fam Size,COUNTYFP,TRACTCE,STATEFP
2396,"Census Tract 4205, Cook County, Illinois",23.8,53.8,4.0,0.0,0.0,23.5,10.1,14.4,92.9,0.0,93.5,14.4,0.0,25.8,41.1,30.8,9.0,3.3,22.9,1.0,16.8,15.4,15.4,0.0,41.3,6.1,30.4,0.0,45.0,45.0,7.5,11.4,25.8,25.3,70.3,14.7,12.5,37.1,4.5,2.2,2.5,18.9,1.8,1.3,24.0,2.6,21.2,39.1,0.0,5.2,24.2,1.0,0.0,1.0,245,high,54.747378,79.208915,91.896614,63.978582,61.826654,85.345923,47.465449,100.0,91.529148,031,420500,17

In [124]:
import pandas as pd
## saved the dcb_2018_tract_500k.dbf file as a csv file to get access to the tract ID
## the index_right gives aligns with the tract ID in this file. 
## Remember that Maryland state ID = "24"
census_tract_Illinois = pd.read_csv("cb_2018_17_tract_500k.csv", header=0)
print("census tract info from Illinois (which has Chicago) dbf file saved as a csv file")
census_tract_Illinois[1:2]

census tract info from Illinois (which has Chicago) dbf file saved as a csv file

   STATEFP  COUNTYFP  TRACTCE              AFFGEOID        GEOID   NAME LSAD    ALAND  AWATER
1       17        37     1002  1400000US17037001002  17037001002  10.02   CT  3477252   16983

In [125]:
census_tract_Illinois['COUNTYFP'] = census_tract_Illinois['COUNTYFP'].apply(lambda x: '{0:0>3}'.format(x)).astype(str)
census_tract_Illinois['TRACTCE'] = census_tract_Illinois['TRACTCE'].apply(lambda x: '{0:0>6}'.format(x)).astype(str)
census_tract_Illinois['STATEFP'] = census_tract_Illinois['STATEFP'].apply(lambda x: '{0:0>2}'.format(x)).astype(str)

In [126]:
census_tract_Illinois.reset_index(inplace=True)
census_tract_Illinois[1:2]

   index STATEFP COUNTYFP TRACTCE              AFFGEOID        GEOID   NAME LSAD    ALAND  AWATER
1      1      17      037  001002  1400000US17037001002  17037001002  10.02   CT  3477252   16983

In [127]:
df_ML_Chicago_with_index_right = pd.merge(left = df_ML_Chicago, right = census_tract_Illinois, on=['STATEFP','COUNTYFP','TRACTCE'])

In [128]:
df_ML_Chicago_with_index_right[1:2]

,NAME_x,DP02_0008PE-%F-led HHs No H,DP02_0010PE-% Non-Fam HHs,DP02_0022PE-%Non Rel in Hs,DP02_0038E-per1000-F-U-RecentPreg,DP02_0046PE-%GPwParent&Gc1-2yrs,DP02_0048PE--%GPwParent&Gc>5yrs,DP02_0060PE-%NoSchDiploma,DP02_0063PE-%AssDeg,DP02_0079PE-% SameHouse_1YrAgo,DP02_0085PE-%LivAbroad1YrAgo,DP02_0088PE-%BornUS,DP02_0112PE-HomeLangNotEng,DP02_0134PE-%IrishAnc,DP03_0009PE-%Unemploy,"DP03_0027PE-%WorkingMgt,Bus,Sc,Arts",DP03_0028PE%WorkingService,DP03_0037PE-Retail,DP03_0040PE-%Fin&Ins,"DP03_0041PE-%ProfSc,Mgt,Admin",DP03_0050PE-%UnpaidFamilyWk,DP03_0052PE-Inc<10k,DP03_0054PE-Inc15-24k,DP03_0058PE-Inc75-99k,DP03_0061PE-Inc200k>,DP03_0066PE-%HHsWithSocSec,DP03_0072PE-%HH Inc with Cash public Ass,DP03_0074PE-%HH Inc with Food Stamps SNAP,DP03_0085PE-%Families Inc>200k,DP03_0097PE-%PHI-Priv,DP03_0098PE-%PHI-Pub,DP03_0099PE-No PHI,DP03_0119PE-% Fam <Pov,DP03_0121PE-%Fam with child U18&U5 <pov,DP03_0126PE-%F-Led Families with u18 <pov,DP04_0002PE-%Occ H U,DP04_0004E-%Ow Vac Rate,DP04_0005E-%Rn Vac Rate,DP04_0013PE-%20+HU,DP04_0017PE-%Built2014+,DP04_0029PE-%2rooms_only_HU,DP04_0039PE-Zero bedrooms,DP04_0046PE-%Owner Occup HU,DP04_0049E-Renter Ave Household size,DP04_0051PE-%moved since 2017+,DP04_0054PE-%moved 2000 to 2009,DP04_0082PE-%Value 50-99k,DP04_0083PE-%Value 100-149k,DP04_0084PE-%Value 150-199k,DP04_0087PE-%Value 500k-1m,DP05_0005PE-%under 5 yrs,DP05_0023PE-%62 yrs+,DP05_0058PE-% w & B or AM,DP05_0061PE-%White & Asian,DP05_0064PE-%White with others,crimeStats,crime,%DP03_0065E-HH-MeanEarnings,%DP03_0092E-Median Earning Workers,%DP03_0093E-Median Earnings Male FT Workers,%DP03_0094E-Median Earnings Female FT Workers,%DP04_0101E-Med Onwer Monthly Mortgage,%DP04_0134E-Median Gross Rent,%DP05_0070PE-%H&L race,%DP04_0045PE-%Occup HU,%DP02_0016E-Avg Fam Size,COUNTYFP,TRACTCE,STATEFP,index,AFFGEOID,GEOID,NAME_y,LSAD,ALAND,AWATER
1,"Census Tract 4205, Cook County, Illinois",23.8,53.8,4.0,0.0,0.0,23.5,10.1,14.4,92.9,0.0,93.5,14.4,0.0,25.8,41.1,30.8,9.0,3.3,22.9,1.0,16.8,15.4,15.4,0.0,41.3,6.1,30.4,0.0,45.0,45.0,7.5,11.4,25.8,25.3,70.3,14.7,12.5,37.1,4.5,2.2,2.5,18.9,1.8,1.3,24.0,2.6,21.2,39.1,0.0,5.2,24.2,1.0,0.0,1.0,245,high,54.747378,79.208915,91.896614,63.978582,61.826654,85.345923,47.465449,100.0,91.529148,031,420500,17,1520,1400000US17031420500,17031420500,4205.0,CT,245980,0

In [129]:
df_ML_Chicago_with_index_right.drop('NAME_y', inplace = True,  axis=1)
df_ML_Chicago_with_index_right.drop('AWATER', inplace = True,  axis=1)
df_ML_Chicago_with_index_right.drop('LSAD', inplace = True,  axis=1)
df_ML_Chicago_with_index_right.drop('ALAND', inplace = True,  axis=1)
#df2 = df.rename({'a': 'X', 'b': 'Y'}, axis

In [130]:
df_ML_Chicago_with_index_right.rename({'NAME_x': 'NAME'}, axis = 1, inplace = True) 
df_ML_Chicago_with_index_right[1:2]

,NAME,DP02_0008PE-%F-led HHs No H,DP02_0010PE-% Non-Fam HHs,DP02_0022PE-%Non Rel in Hs,DP02_0038E-per1000-F-U-RecentPreg,DP02_0046PE-%GPwParent&Gc1-2yrs,DP02_0048PE--%GPwParent&Gc>5yrs,DP02_0060PE-%NoSchDiploma,DP02_0063PE-%AssDeg,DP02_0079PE-% SameHouse_1YrAgo,DP02_0085PE-%LivAbroad1YrAgo,DP02_0088PE-%BornUS,DP02_0112PE-HomeLangNotEng,DP02_0134PE-%IrishAnc,DP03_0009PE-%Unemploy,"DP03_0027PE-%WorkingMgt,Bus,Sc,Arts",DP03_0028PE%WorkingService,DP03_0037PE-Retail,DP03_0040PE-%Fin&Ins,"DP03_0041PE-%ProfSc,Mgt,Admin",DP03_0050PE-%UnpaidFamilyWk,DP03_0052PE-Inc<10k,DP03_0054PE-Inc15-24k,DP03_0058PE-Inc75-99k,DP03_0061PE-Inc200k>,DP03_0066PE-%HHsWithSocSec,DP03_0072PE-%HH Inc with Cash public Ass,DP03_0074PE-%HH Inc with Food Stamps SNAP,DP03_0085PE-%Families Inc>200k,DP03_0097PE-%PHI-Priv,DP03_0098PE-%PHI-Pub,DP03_0099PE-No PHI,DP03_0119PE-% Fam <Pov,DP03_0121PE-%Fam with child U18&U5 <pov,DP03_0126PE-%F-Led Families with u18 <pov,DP04_0002PE-%Occ H U,DP04_0004E-%Ow Vac Rate,DP04_0005E-%Rn Vac Rate,DP04_0013PE-%20+HU,DP04_0017PE-%Built2014+,DP04_0029PE-%2rooms_only_HU,DP04_0039PE-Zero bedrooms,DP04_0046PE-%Owner Occup HU,DP04_0049E-Renter Ave Household size,DP04_0051PE-%moved since 2017+,DP04_0054PE-%moved 2000 to 2009,DP04_0082PE-%Value 50-99k,DP04_0083PE-%Value 100-149k,DP04_0084PE-%Value 150-199k,DP04_0087PE-%Value 500k-1m,DP05_0005PE-%under 5 yrs,DP05_0023PE-%62 yrs+,DP05_0058PE-% w & B or AM,DP05_0061PE-%White & Asian,DP05_0064PE-%White with others,crimeStats,crime,%DP03_0065E-HH-MeanEarnings,%DP03_0092E-Median Earning Workers,%DP03_0093E-Median Earnings Male FT Workers,%DP03_0094E-Median Earnings Female FT Workers,%DP04_0101E-Med Onwer Monthly Mortgage,%DP04_0134E-Median Gross Rent,%DP05_0070PE-%H&L race,%DP04_0045PE-%Occup HU,%DP02_0016E-Avg Fam Size,COUNTYFP,TRACTCE,STATEFP,index,AFFGEOID,GEOID
1,"Census Tract 4205, Cook County, Illinois",23.8,53.8,4.0,0.0,0.0,23.5,10.1,14.4,92.9,0.0,93.5,14.4,0.0,25.8,41.1,30.8,9.0,3.3,22.9,1.0,16.8,15.4,15.4,0.0,41.3,6.1,30.4,0.0,45.0,45.0,7.5,11.4,25.8,25.3,70.3,14.7,12.5,37.1,4.5,2.2,2.5,18.9,1.8,1.3,24.0,2.6,21.2,39.1,0.0,5.2,24.2,1.0,0.0,1.0,245,high,54.747378,79.208915,91.896614,63.978582,61.826654,85.345923,47.465449,100.0,91.529148,031,420500,17,1520,1400000US17031420500,17031420500

In [131]:
df_ML_Chicago_with_index_right.to_excel("Chicago_CSV_Mar6th_after_shape.xlsx")

In [132]:
### ADDING ALL CLEANED AND SHAPED TOGETHER

In [133]:
data_frames = [df_ML_NYC_with_index_right, df_ML_Baltimore_with_index_right, df_ML_Chicago_with_index_right, df_ML_LAandSF_with_index_right, df_ML_Dallas_with_index_right]
AllCleanedandShapedCSV = pd.concat(data_frames)
AllCleanedandShapedCSV[1:3]

,NAME,DP02_0008PE-%F-led HHs No H,DP02_0010PE-% Non-Fam HHs,DP02_0022PE-%Non Rel in Hs,DP02_0038E-per1000-F-U-RecentPreg,DP02_0046PE-%GPwParent&Gc1-2yrs,DP02_0048PE--%GPwParent&Gc>5yrs,DP02_0060PE-%NoSchDiploma,DP02_0063PE-%AssDeg,DP02_0079PE-% SameHouse_1YrAgo,DP02_0085PE-%LivAbroad1YrAgo,DP02_0088PE-%BornUS,DP02_0112PE-HomeLangNotEng,DP02_0134PE-%IrishAnc,DP03_0009PE-%Unemploy,"DP03_0027PE-%WorkingMgt,Bus,Sc,Arts",DP03_0028PE%WorkingService,DP03_0037PE-Retail,DP03_0040PE-%Fin&Ins,"DP03_0041PE-%ProfSc,Mgt,Admin",DP03_0050PE-%UnpaidFamilyWk,DP03_0052PE-Inc<10k,DP03_0054PE-Inc15-24k,DP03_0058PE-Inc75-99k,DP03_0061PE-Inc200k>,DP03_0066PE-%HHsWithSocSec,DP03_0072PE-%HH Inc with Cash public Ass,DP03_0074PE-%HH Inc with Food Stamps SNAP,DP03_0085PE-%Families Inc>200k,DP03_0097PE-%PHI-Priv,DP03_0098PE-%PHI-Pub,DP03_0099PE-No PHI,DP03_0119PE-% Fam <Pov,DP03_0121PE-%Fam with child U18&U5 <pov,DP03_0126PE-%F-Led Families with u18 <pov,DP04_0002PE-%Occ H U,DP04_0004E-%Ow Vac Rate,DP04_0005E-%Rn Vac Rate,DP04_0013PE-%20+HU,DP04_0017PE-%Built2014+,DP04_0029PE-%2rooms_only_HU,DP04_0039PE-Zero bedrooms,DP04_0046PE-%Owner Occup HU,DP04_0049E-Renter Ave Household size,DP04_0051PE-%moved since 2017+,DP04_0054PE-%moved 2000 to 2009,DP04_0082PE-%Value 50-99k,DP04_0083PE-%Value 100-149k,DP04_0084PE-%Value 150-199k,DP04_0087PE-%Value 500k-1m,DP05_0005PE-%under 5 yrs,DP05_0023PE-%62 yrs+,DP05_0058PE-% w & B or AM,DP05_0061PE-%White & Asian,DP05_0064PE-%White with others,crimeStats,crime,%DP03_0065E-HH-MeanEarnings,%DP03_0092E-Median Earning Workers,%DP03_0093E-Median Earnings Male FT Workers,%DP03_0094E-Median Earnings Female FT Workers,%DP04_0101E-Med Onwer Monthly Mortgage,%DP04_0134E-Median Gross Rent,%DP05_0070PE-%H&L race,%DP04_0045PE-%Occup HU,%DP02_0016E-Avg Fam Size,COUNTYFP,TRACTCE,STATEFP,index,AFFGEOID,GEOID
1,"Census Tract 330, Bronx County, New York",12.3,32.7,4.6,104.0,0.0,0.0,6.4,7.7,90.4,0.0,45.5,73.8,1.7,14.7,23.4,26.5,17.7,6.6,9.3,0.0,10.1,12.8,7.9,0.0,18.0,5.1,35.5,0.0,38.0,38.0,17.3,18.1,11.5,76.0,95.1,0.0,3.5,66.9,0.9,1.2,10.0,4.9,3.32,1.6,46.6,18.1,0.0,0.0,5.7,6.9,15.8,0.0,0.0,50.0,2490,high,82.128499,91.666243,87.352318,80.463775,NaN,99.841471,137.377760,100.0,97.748479,005,033000,36,1667,1400000US36005033000,36005033000
2,"Census Tract 358, Bronx County, New York",23.1,22.8,6.6,84.0,0.0,5.7,6.0,11.0,89.6,0.4,53.1,30.0,0.0,11.1,38.7,24.6,11.7,6.9,5.6,0.0,2.0,7.6,16.2,7.1,35.2,0.0,15.5,8.4,70.1,70.1,4.3,5.5,9.8,0.0,95.8,1.6,3.5,3.1,0.0,0.9,2.9,65.9,3.34,1.9,30.7,1.1,0.0,0.0,18.6,5.4,19.0,0.0,0.0,10.4,1667,low,141.872662,109.079761,105.321965,105.806697,115.169251,118.468611,188.010277,100.0,104.303041,005,035800,36,4048,1400000US36005035800,36005035800

In [137]:
AllCleanedandShapedCSV.to_excel("AllCleanedandShapedCSV_Mar6th.xlsx")

In [138]:
print("no of rows in AllCleanedandShapedCSV",AllCleanedandShapedCSV.shape)

no of rows in AllCleanedandShapedCSV (5287, 72)